<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,948},{87,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,56}}</string>
                <key>sourceSize</key>
                <string>{87,56}</string>
            </dict>
            <key>allySelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,380},{400,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,187}}</string>
                <key>sourceSize</key>
                <string>{400,187}</string>
            </dict>
            <key>allySelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,801},{359,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,170}}</string>
                <key>sourceSize</key>
                <string>{359,170}</string>
            </dict>
            <key>allySelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,973},{305,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,147}}</string>
                <key>sourceSize</key>
                <string>{305,147}</string>
            </dict>
            <key>allySelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,1330},{258,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,128}}</string>
                <key>sourceSize</key>
                <string>{258,128}</string>
            </dict>
            <key>allySelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1557},{214,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,110}}</string>
                <key>sourceSize</key>
                <string>{214,110}</string>
            </dict>
            <key>allySelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,1309},{171,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,92}}</string>
                <key>sourceSize</key>
                <string>{171,92}</string>
            </dict>
            <key>allySelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1752},{127,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,72}}</string>
                <key>sourceSize</key>
                <string>{127,72}</string>
            </dict>
            <key>allySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1752},{127,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,72}}</string>
                <key>sourceSize</key>
                <string>{127,72}</string>
            </dict>
            <key>allySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,1309},{171,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,92}}</string>
                <key>sourceSize</key>
                <string>{171,92}</string>
            </dict>
            <key>allySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1557},{214,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,110}}</string>
                <key>sourceSize</key>
                <string>{214,110}</string>
            </dict>
            <key>allySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,1330},{258,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,128}}</string>
                <key>sourceSize</key>
                <string>{258,128}</string>
            </dict>
            <key>allySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,973},{305,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,147}}</string>
                <key>sourceSize</key>
                <string>{305,147}</string>
            </dict>
            <key>allySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,801},{359,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,170}}</string>
                <key>sourceSize</key>
                <string>{359,170}</string>
            </dict>
            <key>allySelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,380},{400,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,187}}</string>
                <key>sourceSize</key>
                <string>{400,187}</string>
            </dict>
            <key>allySelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,420},{448,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,207}}</string>
                <key>sourceSize</key>
                <string>{448,207}</string>
            </dict>
            <key>buttonBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1582},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>buttonBackPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1512},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>buttonStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,1669},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>buttonStorePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1572},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>buttonSummon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1416},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>buttonSummonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1245},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>characterSelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1399},{88,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,77},{88,57}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,191},{400,187}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{400,187}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,569},{360,171}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,20},{360,171}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,821},{306,147}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,32},{306,147}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,860},{258,129}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,41},{258,129}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1399},{214,111}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,50},{214,111}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1120},{172,93}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,59},{172,93}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,1512},{128,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,69},{128,73}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,1512},{128,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,69},{128,73}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1120},{172,93}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,59},{172,93}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1399},{214,111}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,50},{214,111}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,860},{258,129}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,41},{258,129}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,821},{306,147}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,32},{306,147}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,569},{360,171}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,20},{360,171}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,191},{400,187}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{400,187}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>characterSelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,211},{448,207}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{448,207}}</string>
                <key>sourceSize</key>
                <string>{458,213}</string>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,2},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>enemySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,890},{87,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,56}}</string>
                <key>sourceSize</key>
                <string>{87,56}</string>
            </dict>
            <key>enemySelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{400,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,187}}</string>
                <key>sourceSize</key>
                <string>{400,187}</string>
            </dict>
            <key>enemySelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,629},{359,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,170}}</string>
                <key>sourceSize</key>
                <string>{359,170}</string>
            </dict>
            <key>enemySelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,970},{305,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,147}}</string>
                <key>sourceSize</key>
                <string>{305,147}</string>
            </dict>
            <key>enemySelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1200},{258,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,128}}</string>
                <key>sourceSize</key>
                <string>{258,128}</string>
            </dict>
            <key>enemySelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1460},{214,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,110}}</string>
                <key>sourceSize</key>
                <string>{214,110}</string>
            </dict>
            <key>enemySelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,1215},{171,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,92}}</string>
                <key>sourceSize</key>
                <string>{171,92}</string>
            </dict>
            <key>enemySelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1678},{127,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,72}}</string>
                <key>sourceSize</key>
                <string>{127,72}</string>
            </dict>
            <key>enemySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,1642},{127,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,72}}</string>
                <key>sourceSize</key>
                <string>{127,72}</string>
            </dict>
            <key>enemySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,1215},{171,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,92}}</string>
                <key>sourceSize</key>
                <string>{171,92}</string>
            </dict>
            <key>enemySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1460},{214,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,110}}</string>
                <key>sourceSize</key>
                <string>{214,110}</string>
            </dict>
            <key>enemySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1200},{258,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,128}}</string>
                <key>sourceSize</key>
                <string>{258,128}</string>
            </dict>
            <key>enemySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,970},{305,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,147}}</string>
                <key>sourceSize</key>
                <string>{305,147}</string>
            </dict>
            <key>enemySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,629},{359,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,170}}</string>
                <key>sourceSize</key>
                <string>{359,170}</string>
            </dict>
            <key>enemySelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{400,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,187}}</string>
                <key>sourceSize</key>
                <string>{400,187}</string>
            </dict>
            <key>enemySelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{448,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,207}}</string>
                <key>sourceSize</key>
                <string>{448,207}</string>
            </dict>
            <key>flagAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1785},{92,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,114}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>flagComplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1669},{92,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,114}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>map2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1154}}</string>
                <key>sourceSize</key>
                <string>{2048,1154}</string>
            </dict>
            <key>movement.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,742},{315,77}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{315,77}}</string>
                <key>sourceSize</key>
                <string>{329,149}</string>
            </dict>
            <key>movement.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1122},{297,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{297,79}}</string>
                <key>sourceSize</key>
                <string>{329,149}</string>
            </dict>
            <key>movement.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1203},{279,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{279,79}}</string>
                <key>sourceSize</key>
                <string>{329,149}</string>
            </dict>
            <key>movement.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,629},{259,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,31},{259,87}}</string>
                <key>sourceSize</key>
                <string>{329,149}</string>
            </dict>
            <key>movement.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1284},{239,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{239,113}}</string>
                <key>sourceSize</key>
                <string>{329,149}</string>
            </dict>
            <key>movement.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,1006},{237,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,5},{237,139}}</string>
                <key>sourceSize</key>
                <string>{329,149}</string>
            </dict>
            <key>movement.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1119},{259,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{259,79}}</string>
                <key>sourceSize</key>
                <string>{329,149}</string>
            </dict>
            <key>movement.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,569},{289,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,36},{289,75}}</string>
                <key>sourceSize</key>
                <string>{329,149}</string>
            </dict>
            <key>swordsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,1403},{152,181}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{152,181}}</string>
                <key>sourceSize</key>
                <string>{176,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touch-ipadhd.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c714634efd44225cc331c965f1fc67a9:8d4ea784a7b37a45e184a201893f23fe:fc1c0ddf19f69c9ab4c1a68386da6921$</string>
            <key>textureFileName</key>
            <string>touch-ipadhd.png</string>
        </dict>
    </dict>
</plist>
