<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonVoid.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{246,186}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{246,186}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{246,144}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,122},{246,144}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,392},{242,128}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,144},{242,128}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{240,128}}</string>
                <key>offset</key>
                <string>{-10,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,209},{240,128}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,688},{238,178}}</string>
                <key>offset</key>
                <string>{-9,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,206},{238,178}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,994},{236,164}}</string>
                <key>offset</key>
                <string>{-9,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,205},{236,164}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,858},{238,154}}</string>
                <key>offset</key>
                <string>{-10,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,207},{238,154}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,522},{240,142}}</string>
                <key>offset</key>
                <string>{-12,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,211},{240,142}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{244,160}}</string>
                <key>offset</key>
                <string>{-14,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,209},{244,160}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{244,162}}</string>
                <key>offset</key>
                <string>{-14,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,198},{244,162}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,386},{244,162}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,105},{244,162}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1014},{234,220}}</string>
                <key>offset</key>
                <string>{-8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,47},{234,220}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1160},{234,194}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,74},{234,194}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,962},{236,148}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,120},{236,148}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,278},{244,126}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,142},{244,126}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,550},{240,136}}</string>
                <key>offset</key>
                <string>{-10,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,202},{240,136}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{232,178}}</string>
                <key>offset</key>
                <string>{-10,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,206},{232,178}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{226,168}}</string>
                <key>offset</key>
                <string>{-8,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,204},{226,168}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1418},{224,158}}</string>
                <key>offset</key>
                <string>{-7,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,207},{224,158}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1266},{226,150}}</string>
                <key>offset</key>
                <string>{-6,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,210},{226,150}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1368},{226,178}}</string>
                <key>offset</key>
                <string>{-5,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,197},{226,178}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1384},{224,180}}</string>
                <key>offset</key>
                <string>{-4,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,194},{224,180}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1236},{230,146}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,121},{230,146}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,568},{238,220}}</string>
                <key>offset</key>
                <string>{-11,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,47},{238,220}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{246,198}}</string>
                <key>offset</key>
                <string>{-15,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,69},{246,198}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,150}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,120},{248,150}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,148},{246,128}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,144},{246,128}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,868},{238,124}}</string>
                <key>offset</key>
                <string>{-14,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,204},{238,124}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{238,178}}</string>
                <key>offset</key>
                <string>{-13,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,206},{238,178}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,790},{238,170}}</string>
                <key>offset</key>
                <string>{-12,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,205},{238,170}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,406},{240,160}}</string>
                <key>offset</key>
                <string>{-12,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,206},{240,160}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{246,150}}</string>
                <key>offset</key>
                <string>{-14,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,210},{246,150}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,202},{244,182}}</string>
                <key>offset</key>
                <string>{-13,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,192},{244,182}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,666},{238,190}}</string>
                <key>offset</key>
                <string>{-10,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,181},{238,190}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1112},{230,152}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,115},{230,152}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1356},{228,220}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,47},{228,220}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,154},{244,236}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,31},{244,236}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{236,208}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,68},{236,208}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1664},{174,178}}</string>
                <key>offset</key>
                <string>{-28,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,131},{174,178}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1840},{146,164}}</string>
                <key>offset</key>
                <string>{-28,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,146},{146,164}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1664},{144,146}}</string>
                <key>offset</key>
                <string>{-15,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,165},{144,146}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1718},{118,166}}</string>
                <key>offset</key>
                <string>{-12,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,153},{118,166}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1578},{84,190}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,158},{84,190}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1266},{84,216}}</string>
                <key>offset</key>
                <string>{-6,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,168},{84,216}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1652},{84,190}}</string>
                <key>offset</key>
                <string>{-3,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,173},{84,190}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1840},{142,152}}</string>
                <key>offset</key>
                <string>{-23,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,205},{142,152}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1840},{178,122}}</string>
                <key>offset</key>
                <string>{-10,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,262},{178,122}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1566},{212,84}}</string>
                <key>offset</key>
                <string>{-6,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,300},{212,84}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1484},{212,84}}</string>
                <key>offset</key>
                <string>{-7,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,300},{212,84}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>dragonVoid.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1578},{212,84}}</string>
                <key>offset</key>
                <string>{-5,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,300},{212,84}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonVoidSheet-iphone5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f06c8ce051ecbaa4314059a9be3c6b0c:35c0a7d82bcc05655a82756cd7164a5b:fed432a9b89193e8f160d813eead9104$</string>
            <key>textureFileName</key>
            <string>dragonVoidSheet-iphone5.png</string>
        </dict>
    </dict>
</plist>
