<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfLife.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{34,52}}</string>
                <key>offset</key>
                <string>{-1,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,172},{34,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{40,54}}</string>
                <key>offset</key>
                <string>{-5,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,172},{40,54}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,280},{42,56}}</string>
                <key>offset</key>
                <string>{-3,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,173},{42,56}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,324},{30,54}}</string>
                <key>offset</key>
                <string>{2,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,176},{30,54}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,310},{36,54}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,174},{36,54}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,356},{40,50}}</string>
                <key>offset</key>
                <string>{-4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,174},{40,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,332},{30,52}}</string>
                <key>offset</key>
                <string>{-2,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,173},{30,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,332},{34,52}}</string>
                <key>offset</key>
                <string>{-1,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,172},{34,52}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,304},{26,56}}</string>
                <key>offset</key>
                <string>{1,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,174},{26,56}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{18,58}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,172},{18,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,348},{26,54}}</string>
                <key>offset</key>
                <string>{0,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,176},{26,54}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,376},{28,50}}</string>
                <key>offset</key>
                <string>{2,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,180},{28,50}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,140},{30,46}}</string>
                <key>offset</key>
                <string>{3,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,183},{30,46}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,368},{28,42}}</string>
                <key>offset</key>
                <string>{6,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,188},{28,42}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,386},{32,40}}</string>
                <key>offset</key>
                <string>{10,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,190},{32,40}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{36,38}}</string>
                <key>offset</key>
                <string>{16,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,192},{36,38}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{48,32}}</string>
                <key>offset</key>
                <string>{22,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,198},{48,32}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,280},{58,28}}</string>
                <key>offset</key>
                <string>{28,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,202},{58,28}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{66,22}}</string>
                <key>offset</key>
                <string>{32,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,208},{66,22}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{66,14}}</string>
                <key>offset</key>
                <string>{32,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,216},{66,14}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,184},{30,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,172},{30,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{30,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,172},{30,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,216},{30,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,172},{30,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{30,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,172},{30,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,216},{30,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,172},{30,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,240},{30,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,172},{30,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,248},{30,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,172},{30,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,148},{32,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,172},{32,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,172},{32,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,172},{32,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,182},{32,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,172},{32,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,206},{32,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,172},{32,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{30,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,172},{30,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{34,58}}</string>
                <key>offset</key>
                <string>{8,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,172},{34,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,148},{34,60}}</string>
                <key>offset</key>
                <string>{9,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,170},{34,60}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{34,70}}</string>
                <key>offset</key>
                <string>{6,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,160},{34,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{36,68}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,162},{36,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,38},{36,68}}</string>
                <key>offset</key>
                <string>{5,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,162},{36,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,76},{34,68}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,162},{34,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{34,70}}</string>
                <key>offset</key>
                <string>{6,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,160},{34,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,38},{34,70}}</string>
                <key>offset</key>
                <string>{6,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,160},{34,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,70}}</string>
                <key>offset</key>
                <string>{5,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,160},{36,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,74},{36,68}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,162},{36,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{36,68}}</string>
                <key>offset</key>
                <string>{5,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,162},{36,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,112},{34,68}}</string>
                <key>offset</key>
                <string>{4,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,162},{34,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{38,68}}</string>
                <key>offset</key>
                <string>{3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,162},{38,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,72},{38,66}}</string>
                <key>offset</key>
                <string>{5,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,164},{38,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,112},{34,64}}</string>
                <key>offset</key>
                <string>{6,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,166},{34,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,248},{30,58}}</string>
                <key>offset</key>
                <string>{6,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,172},{30,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>elfLife.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,272},{30,58}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,172},{30,58}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfLifeSheet-iphone4.0.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f266cafd5a3e87d77bf13bc9f4f5876d:1786bb9ecbcb8c14d9b290913ee8a65c:520d5d49e5e1f476c446ed3327598d31$</string>
            <key>textureFileName</key>
            <string>elfLifeSheet-iphone4.0.png</string>
        </dict>
    </dict>
</plist>
