<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,774},{72,112}}</string>
                <key>offset</key>
                <string>{-2,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,385},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,538},{86,118}}</string>
                <key>offset</key>
                <string>{-10,-188}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,385},{86,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,770},{92,122}}</string>
                <key>offset</key>
                <string>{-6,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,387},{92,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,706},{62,120}}</string>
                <key>offset</key>
                <string>{5,-195}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,391},{62,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,626},{78,118}}</string>
                <key>offset</key>
                <string>{-1,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,389},{78,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{86,110}}</string>
                <key>offset</key>
                <string>{-8,-186}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,387},{86,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{66,112}}</string>
                <key>offset</key>
                <string>{-5,-189}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,389},{66,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{76,112}}</string>
                <key>offset</key>
                <string>{-2,-186}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,386},{76,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,278},{54,124}}</string>
                <key>offset</key>
                <string>{3,-193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,387},{54,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,148},{40,128}}</string>
                <key>offset</key>
                <string>{-1,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,384},{40,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,718},{54,118}}</string>
                <key>offset</key>
                <string>{1,-197}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,394},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,876},{62,110}}</string>
                <key>offset</key>
                <string>{4,-201}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,402},{62,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,470},{66,98}}</string>
                <key>offset</key>
                <string>{7,-204}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,411},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,404},{64,94}}</string>
                <key>offset</key>
                <string>{13,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,418},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,848},{70,86}}</string>
                <key>offset</key>
                <string>{23,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,426},{70,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,936},{78,84}}</string>
                <key>offset</key>
                <string>{35,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,428},{78,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,776},{104,72}}</string>
                <key>offset</key>
                <string>{50,-220}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,440},{104,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,588},{128,60}}</string>
                <key>offset</key>
                <string>{63,-226}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,452},{128,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,244},{142,48}}</string>
                <key>offset</key>
                <string>{72,-232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,464},{142,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{144,32}}</string>
                <key>offset</key>
                <string>{72,-240}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,480},{144,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,390},{64,128}}</string>
                <key>offset</key>
                <string>{15,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,384},{64,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,442},{64,128}}</string>
                <key>offset</key>
                <string>{15,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,384},{64,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{64,128}}</string>
                <key>offset</key>
                <string>{16,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,384},{64,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,456},{64,128}}</string>
                <key>offset</key>
                <string>{16,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,384},{64,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{64,128}}</string>
                <key>offset</key>
                <string>{16,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,384},{64,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,508},{64,128}}</string>
                <key>offset</key>
                <string>{16,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,384},{64,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,640},{66,126}}</string>
                <key>offset</key>
                <string>{16,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,386},{66,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{66,126}}</string>
                <key>offset</key>
                <string>{16,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,386},{66,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,650},{66,126}}</string>
                <key>offset</key>
                <string>{16,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,386},{66,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{66,126}}</string>
                <key>offset</key>
                <string>{16,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,386},{66,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,708},{66,126}}</string>
                <key>offset</key>
                <string>{16,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,386},{66,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,522},{64,128}}</string>
                <key>offset</key>
                <string>{15,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,384},{64,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,370},{70,128}}</string>
                <key>offset</key>
                <string>{19,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,384},{70,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,314},{74,132}}</string>
                <key>offset</key>
                <string>{19,-190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,380},{74,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{76,154}}</string>
                <key>offset</key>
                <string>{13,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,358},{76,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,80},{78,152}}</string>
                <key>offset</key>
                <string>{13,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,360},{78,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{78,152}}</string>
                <key>offset</key>
                <string>{12,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,360},{78,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,160},{76,152}}</string>
                <key>offset</key>
                <string>{13,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,360},{76,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{74,154}}</string>
                <key>offset</key>
                <string>{13,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,358},{74,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,156}}</string>
                <key>offset</key>
                <string>{14,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,356},{72,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{76,154}}</string>
                <key>offset</key>
                <string>{13,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,358},{76,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,78},{80,152}}</string>
                <key>offset</key>
                <string>{13,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,360},{80,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{76,152}}</string>
                <key>offset</key>
                <string>{13,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,360},{76,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,238},{74,150}}</string>
                <key>offset</key>
                <string>{9,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,362},{74,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,160},{82,150}}</string>
                <key>offset</key>
                <string>{6,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,362},{82,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{82,148}}</string>
                <key>offset</key>
                <string>{11,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,364},{82,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,294},{74,140}}</string>
                <key>offset</key>
                <string>{12,-186}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,372},{74,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,574},{64,128}}</string>
                <key>offset</key>
                <string>{13,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,384},{64,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{64,128}}</string>
                <key>offset</key>
                <string>{15,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,384},{64,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfVoidSheet-ipad.0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30c80239db4401a936ddb4961003a27f:79e831ab3f2e7a4337b8b390e1232c5d:f8d197ca3d2ae9b2a1687bcdcd8ec289$</string>
            <key>textureFileName</key>
            <string>elfVoidSheet-ipad.0.png</string>
        </dict>
    </dict>
</plist>
