<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,222}}</string>
                <key>offset</key>
                <string>{-25,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,247},{82,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{106,212}}</string>
                <key>offset</key>
                <string>{-37,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,255},{106,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,644},{128,186}}</string>
                <key>offset</key>
                <string>{-46,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,279},{128,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{86,218}}</string>
                <key>offset</key>
                <string>{-27,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,249},{86,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,664},{134,206}}</string>
                <key>offset</key>
                <string>{-38,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,262},{134,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,380},{158,166}}</string>
                <key>offset</key>
                <string>{-41,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,300},{158,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{128,164}}</string>
                <key>offset</key>
                <string>{-9,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,347},{128,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,296},{92,134}}</string>
                <key>offset</key>
                <string>{-1,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,345},{92,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,154},{110,140}}</string>
                <key>offset</key>
                <string>{-5,-160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,346},{110,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,714},{94,162}}</string>
                <key>offset</key>
                <string>{-28,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,350},{94,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,774},{128,164}}</string>
                <key>offset</key>
                <string>{-10,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,323},{128,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,222},{126,214}}</string>
                <key>offset</key>
                <string>{-10,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,256},{126,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{142,216}}</string>
                <key>offset</key>
                <string>{-21,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,254},{142,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,438},{158,204}}</string>
                <key>offset</key>
                <string>{-33,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,266},{158,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{154,168}}</string>
                <key>offset</key>
                <string>{-33,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,299},{154,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,548},{108,164}}</string>
                <key>offset</key>
                <string>{-9,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,348},{108,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,696},{84,142}}</string>
                <key>offset</key>
                <string>{0,-160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,345},{84,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,940},{80,142}}</string>
                <key>offset</key>
                <string>{-13,-161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,346},{80,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,338},{72,156}}</string>
                <key>offset</key>
                <string>{-21,-148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,326},{72,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{72,210}}</string>
                <key>offset</key>
                <string>{-20,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,256},{72,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,476},{68,150}}</string>
                <key>offset</key>
                <string>{-15,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,348},{68,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{76,218}}</string>
                <key>offset</key>
                <string>{-22,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,249},{76,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,216},{114,200}}</string>
                <key>offset</key>
                <string>{-5,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,266},{114,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{72,138}}</string>
                <key>offset</key>
                <string>{-18,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,348},{72,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{142,144}}</string>
                <key>offset</key>
                <string>{-13,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,320},{142,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,872},{140,150}}</string>
                <key>offset</key>
                <string>{-7,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,330},{140,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,548},{124,158}}</string>
                <key>offset</key>
                <string>{-35,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,354},{124,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,832},{184,98}}</string>
                <key>offset</key>
                <string>{-68,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,335},{184,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,172},{140,164}}</string>
                <key>offset</key>
                <string>{-43,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,273},{140,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,324},{120,150}}</string>
                <key>offset</key>
                <string>{-25,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,290},{120,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,168},{84,154}}</string>
                <key>offset</key>
                <string>{-20,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,283},{84,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,708},{88,156}}</string>
                <key>offset</key>
                <string>{-2,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,277},{88,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{122,150}}</string>
                <key>offset</key>
                <string>{8,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,293},{122,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,878},{118,144}}</string>
                <key>offset</key>
                <string>{12,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,331},{118,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,866},{78,156}}</string>
                <key>offset</key>
                <string>{-23,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,334},{78,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,546},{112,148}}</string>
                <key>offset</key>
                <string>{5,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,364},{112,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,418},{184,86}}</string>
                <key>offset</key>
                <string>{5,-213}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,426},{184,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,604},{168,90}}</string>
                <key>offset</key>
                <string>{1,-211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,422},{168,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,204},{174,92}}</string>
                <key>offset</key>
                <string>{-1,-210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,420},{174,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{72,200}}</string>
                <key>offset</key>
                <string>{-20,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,266},{72,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleFireSheet-ipad.0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:070f6225456e0f0ef00c7895c13a81ea:1394b9d9d20fa8769e549679d901e310:2b05f03d1d4eea5faecce22e67c1666a$</string>
            <key>textureFileName</key>
            <string>gargoyleFireSheet-ipad.0.png</string>
        </dict>
    </dict>
</plist>
