<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scowerer.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,466},{98,80}}</string>
                <key>offset</key>
                <string>{17,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,429},{98,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{112,76}}</string>
                <key>offset</key>
                <string>{21,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,430},{112,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,164},{108,74}}</string>
                <key>offset</key>
                <string>{20,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,431},{108,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,390},{100,80}}</string>
                <key>offset</key>
                <string>{20,-209}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,425},{100,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,520},{96,90}}</string>
                <key>offset</key>
                <string>{20,-207}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,418},{96,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,390},{98,98}}</string>
                <key>offset</key>
                <string>{17,-204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,411},{98,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{96,102}}</string>
                <key>offset</key>
                <string>{15,-202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,407},{96,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,188},{90,106}}</string>
                <key>offset</key>
                <string>{15,-201}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,404},{90,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,72},{82,108}}</string>
                <key>offset</key>
                <string>{17,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,404},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,80},{74,108}}</string>
                <key>offset</key>
                <string>{19,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,404},{74,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,152},{70,106}}</string>
                <key>offset</key>
                <string>{22,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,405},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,240},{70,102}}</string>
                <key>offset</key>
                <string>{23,-199}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,404},{70,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,644},{78,92}}</string>
                <key>offset</key>
                <string>{22,-199}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,409},{78,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,722},{88,86}}</string>
                <key>offset</key>
                <string>{21,-200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,413},{88,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,560},{94,82}}</string>
                <key>offset</key>
                <string>{20,-203}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,418},{94,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,280},{100,82}}</string>
                <key>offset</key>
                <string>{19,-204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,419},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,154},{104,80}}</string>
                <key>offset</key>
                <string>{18,-207}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,423},{104,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,76},{108,80}}</string>
                <key>offset</key>
                <string>{17,-210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,426},{108,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,82},{108,80}}</string>
                <key>offset</key>
                <string>{17,-211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,427},{108,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{110,78}}</string>
                <key>offset</key>
                <string>{19,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,429},{110,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,74},{112,76}}</string>
                <key>offset</key>
                <string>{21,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,430},{112,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,398},{100,80}}</string>
                <key>offset</key>
                <string>{17,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,430},{100,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,396},{98,80}}</string>
                <key>offset</key>
                <string>{17,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,430},{98,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,478},{96,80}}</string>
                <key>offset</key>
                <string>{16,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,430},{96,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,478},{94,84}}</string>
                <key>offset</key>
                <string>{15,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,427},{94,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,536},{90,88}}</string>
                <key>offset</key>
                <string>{16,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,424},{90,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,566},{86,92}}</string>
                <key>offset</key>
                <string>{16,-210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,420},{86,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,624},{82,94}}</string>
                <key>offset</key>
                <string>{16,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,418},{82,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{78,94}}</string>
                <key>offset</key>
                <string>{16,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,418},{78,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,548},{76,94}}</string>
                <key>offset</key>
                <string>{14,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,418},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,564},{74,94}}</string>
                <key>offset</key>
                <string>{12,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,418},{74,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,442},{72,92}}</string>
                <key>offset</key>
                <string>{11,-210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,420},{72,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,708},{72,92}}</string>
                <key>offset</key>
                <string>{12,-210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,420},{72,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{76,88}}</string>
                <key>offset</key>
                <string>{15,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,421},{76,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,612},{84,86}}</string>
                <key>offset</key>
                <string>{18,-210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,423},{84,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,626},{92,82}}</string>
                <key>offset</key>
                <string>{22,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,427},{92,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,394},{98,82}}</string>
                <key>offset</key>
                <string>{24,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,427},{98,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,310},{100,82}}</string>
                <key>offset</key>
                <string>{25,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,427},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,312},{100,82}}</string>
                <key>offset</key>
                <string>{25,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,427},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,378},{100,82}}</string>
                <key>offset</key>
                <string>{25,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,427},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{114,84}}</string>
                <key>offset</key>
                <string>{30,-211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,425},{114,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,82}}</string>
                <key>offset</key>
                <string>{33,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,427},{120,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{114,82}}</string>
                <key>offset</key>
                <string>{30,-211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,426},{114,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,156},{108,80}}</string>
                <key>offset</key>
                <string>{26,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,428},{108,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,156},{102,78}}</string>
                <key>offset</key>
                <string>{22,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,430},{102,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,312},{100,76}}</string>
                <key>offset</key>
                <string>{21,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,432},{100,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,158},{102,74}}</string>
                <key>offset</key>
                <string>{20,-215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,434},{102,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,234},{102,74}}</string>
                <key>offset</key>
                <string>{20,-215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,434},{102,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,304},{102,72}}</string>
                <key>offset</key>
                <string>{19,-216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,436},{102,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,316},{102,72}}</string>
                <key>offset</key>
                <string>{19,-216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,436},{102,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{104,70}}</string>
                <key>offset</key>
                <string>{18,-217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,438},{104,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{104,70}}</string>
                <key>offset</key>
                <string>{18,-217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,438},{104,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,238},{102,70}}</string>
                <key>offset</key>
                <string>{18,-217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,438},{102,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,324},{102,72}}</string>
                <key>offset</key>
                <string>{18,-216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,436},{102,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{102,72}}</string>
                <key>offset</key>
                <string>{17,-216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,436},{102,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,390},{100,74}}</string>
                <key>offset</key>
                <string>{17,-215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,434},{100,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,442},{98,76}}</string>
                <key>offset</key>
                <string>{17,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,432},{98,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{98,78}}</string>
                <key>offset</key>
                <string>{17,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,430},{98,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,544},{96,78}}</string>
                <key>offset</key>
                <string>{17,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,431},{96,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,462},{98,80}}</string>
                <key>offset</key>
                <string>{17,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,430},{98,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,554},{96,78}}</string>
                <key>offset</key>
                <string>{18,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,431},{96,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,562},{96,78}}</string>
                <key>offset</key>
                <string>{18,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,431},{96,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,472},{98,80}}</string>
                <key>offset</key>
                <string>{17,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,430},{98,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,480},{98,80}}</string>
                <key>offset</key>
                <string>{17,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,429},{98,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{100,80}}</string>
                <key>offset</key>
                <string>{16,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,429},{100,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.75.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,224},{102,78}}</string>
                <key>offset</key>
                <string>{16,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,430},{102,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.76.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,164},{104,78}}</string>
                <key>offset</key>
                <string>{15,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,430},{104,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.77.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,236},{102,78}}</string>
                <key>offset</key>
                <string>{14,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,430},{102,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.78.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,244},{102,78}}</string>
                <key>offset</key>
                <string>{13,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,430},{102,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.79.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,310},{100,78}}</string>
                <key>offset</key>
                <string>{11,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,430},{100,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{96,78}}</string>
                <key>offset</key>
                <string>{11,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,430},{96,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.81.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,634},{94,80}}</string>
                <key>offset</key>
                <string>{10,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,428},{94,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.82.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,640},{92,82}}</string>
                <key>offset</key>
                <string>{9,-211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,426},{92,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.83.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,716},{90,82}}</string>
                <key>offset</key>
                <string>{9,-211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,426},{90,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.84.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,642},{94,78}}</string>
                <key>offset</key>
                <string>{10,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,430},{94,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.85.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,490},{98,74}}</string>
                <key>offset</key>
                <string>{15,-215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,434},{98,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.86.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,236},{102,74}}</string>
                <key>offset</key>
                <string>{20,-215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,434},{102,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.87.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{102,76}}</string>
                <key>offset</key>
                <string>{24,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,431},{102,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.88.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,364},{100,76}}</string>
                <key>offset</key>
                <string>{26,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,430},{100,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.89.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,106},{102,80}}</string>
                <key>offset</key>
                <string>{26,-216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,432},{102,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.90.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,76},{112,76}}</string>
                <key>offset</key>
                <string>{22,-218}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,436},{112,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.91.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,88},{112,74}}</string>
                <key>offset</key>
                <string>{19,-219}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,438},{112,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.92.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{114,72}}</string>
                <key>offset</key>
                <string>{18,-220}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,440},{114,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.93.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{112,72}}</string>
                <key>offset</key>
                <string>{19,-220}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,440},{112,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.94.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{114,70}}</string>
                <key>offset</key>
                <string>{21,-221}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,442},{114,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>scowerer.95.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{112,68}}</string>
                <key>offset</key>
                <string>{22,-222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,444},{112,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scowererSheet-ipad.0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8599b39f74c6fb1ad0fb9dfd3b57451:ba578c55205632492ff03e5a0b436d41:f447d78d6a5492f89cf8ce088193e867$</string>
            <key>textureFileName</key>
            <string>scowererSheet-ipad.0.png</string>
        </dict>
    </dict>
</plist>
