<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coinsLeft.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,446},{42,42}}</string>
                <key>offset</key>
                <string>{-134,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{42,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsLeft.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,319},{40,42}}</string>
                <key>offset</key>
                <string>{137,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,8},{40,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsLeft.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,402},{42,42}}</string>
                <key>offset</key>
                <string>{137,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,8},{42,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsLeft.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,358},{42,42}}</string>
                <key>offset</key>
                <string>{136,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,7},{42,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsLeft.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,310},{42,42}}</string>
                <key>offset</key>
                <string>{-120,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,46},{42,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsLeft.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,454},{42,42}}</string>
                <key>offset</key>
                <string>{-93,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,74},{42,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsLeft.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,446},{40,42}}</string>
                <key>offset</key>
                <string>{-56,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,91},{40,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsLeft.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,319},{24,42}}</string>
                <key>offset</key>
                <string>{-18,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,97},{24,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsLeft.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,319},{36,42}}</string>
                <key>offset</key>
                <string>{24,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,97},{36,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsLeft.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,48},{44,44}}</string>
                <key>offset</key>
                <string>{66,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,82},{44,44}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsLeft.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,319},{34,42}}</string>
                <key>offset</key>
                <string>{103,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,61},{34,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsLeft.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,314},{24,42}}</string>
                <key>offset</key>
                <string>{131,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,32},{24,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsRight.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,454},{42,42}}</string>
                <key>offset</key>
                <string>{134,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,9},{42,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsRight.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,402},{40,42}}</string>
                <key>offset</key>
                <string>{-137,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{40,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsRight.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,454},{42,42}}</string>
                <key>offset</key>
                <string>{-137,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{42,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsRight.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,182},{42,42}}</string>
                <key>offset</key>
                <string>{-137,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{42,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsRight.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,138},{42,42}}</string>
                <key>offset</key>
                <string>{120,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,46},{42,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsRight.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,94},{42,42}}</string>
                <key>offset</key>
                <string>{93,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,74},{42,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsRight.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,358},{40,42}}</string>
                <key>offset</key>
                <string>{55,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,91},{40,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsRight.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,270},{24,42}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,97},{24,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsRight.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,319},{36,42}}</string>
                <key>offset</key>
                <string>{-25,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,97},{36,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsRight.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{44,44}}</string>
                <key>offset</key>
                <string>{-67,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,82},{44,44}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsRight.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,319},{34,42}}</string>
                <key>offset</key>
                <string>{-103,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,61},{34,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>coinsRight.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,226},{24,42}}</string>
                <key>offset</key>
                <string>{-131,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{24,42}}</string>
                <key>sourceSize</key>
                <string>{334,144}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,358},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>pauseButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,226},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>powerFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,211},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>powerFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,211},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>powersBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{459,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,113}}</string>
                <key>sourceSize</key>
                <string>{459,113}</string>
            </dict>
            <key>powersBackgroundPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{459,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,92}}</string>
                <key>sourceSize</key>
                <string>{459,92}</string>
            </dict>
            <key>theirCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,226},{266,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,87}}</string>
                <key>sourceSize</key>
                <string>{266,87}</string>
            </dict>
            <key>yourCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{266,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,88}}</string>
                <key>sourceSize</key>
                <string>{266,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arenaHud-iphone5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dda2efe02943d2c3a5241eb23974aea:33ccd067202274d84591f4feec252085:efba965c8ce951f589f1e0f72654bfe4$</string>
            <key>textureFileName</key>
            <string>arenaHud-iphone5.png</string>
        </dict>
    </dict>
</plist>
