<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coinsLeft.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,255},{37,35}}</string>
                <key>offset</key>
                <string>{-114,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{37,35}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsLeft.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,462},{35,35}}</string>
                <key>offset</key>
                <string>{115,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,7},{35,35}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsLeft.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,349},{37,35}}</string>
                <key>offset</key>
                <string>{115,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,7},{37,35}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsLeft.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,425},{35,35}}</string>
                <key>offset</key>
                <string>{115,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,6},{35,35}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsLeft.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,236},{37,37}}</string>
                <key>offset</key>
                <string>{-102,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,37},{37,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsLeft.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,197},{37,37}}</string>
                <key>offset</key>
                <string>{-79,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,61},{37,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsLeft.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,41},{33,37}}</string>
                <key>offset</key>
                <string>{-47,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,75},{33,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsLeft.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,138},{21,35}}</string>
                <key>offset</key>
                <string>{-15,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,82},{21,35}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsLeft.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,99},{31,37}}</string>
                <key>offset</key>
                <string>{20,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,80},{31,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsLeft.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,216},{37,37}}</string>
                <key>offset</key>
                <string>{56,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,69},{37,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsLeft.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,158},{31,37}}</string>
                <key>offset</key>
                <string>{87,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,50},{31,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsLeft.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,489},{21,37}}</string>
                <key>offset</key>
                <string>{111,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,26},{21,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsRight.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,312},{37,35}}</string>
                <key>offset</key>
                <string>{113,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,8},{37,35}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsRight.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,388},{35,35}}</string>
                <key>offset</key>
                <string>{-116,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{35,35}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsRight.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,275},{37,35}}</string>
                <key>offset</key>
                <string>{-116,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{37,35}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsRight.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,294},{35,35}}</string>
                <key>offset</key>
                <string>{-115,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{35,35}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsRight.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,177},{37,37}}</string>
                <key>offset</key>
                <string>{101,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,37},{37,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsRight.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,138},{37,37}}</string>
                <key>offset</key>
                <string>{78,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,61},{37,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsRight.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{33,37}}</string>
                <key>offset</key>
                <string>{47,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,75},{33,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsRight.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,489},{21,35}}</string>
                <key>offset</key>
                <string>{14,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,82},{21,35}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsRight.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,119},{31,37}}</string>
                <key>offset</key>
                <string>{-21,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,80},{31,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsRight.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,99},{37,37}}</string>
                <key>offset</key>
                <string>{-57,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{37,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsRight.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,80},{31,37}}</string>
                <key>offset</key>
                <string>{-88,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,50},{31,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>coinsRight.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{21,37}}</string>
                <key>offset</key>
                <string>{-111,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{21,37}}</string>
                <key>sourceSize</key>
                <string>{283,121}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,249},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>pauseButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,170},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>powerFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,86},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>powerFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>powersBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,95}}</string>
                <key>sourceSize</key>
                <string>{388,95}</string>
            </dict>
            <key>powersBackgroundPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{388,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,77}}</string>
                <key>sourceSize</key>
                <string>{388,77}</string>
            </dict>
            <key>theirCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,176},{225,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,74}}</string>
                <key>sourceSize</key>
                <string>{225,74}</string>
            </dict>
            <key>yourCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,99},{225,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,75}}</string>
                <key>sourceSize</key>
                <string>{225,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arenaHud-iphone4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dda2efe02943d2c3a5241eb23974aea:33ccd067202274d84591f4feec252085:efba965c8ce951f589f1e0f72654bfe4$</string>
            <key>textureFileName</key>
            <string>arenaHud-iphone4.png</string>
        </dict>
    </dict>
</plist>
