<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,881},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>dragonVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,588},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>dwarvenKnightEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,532},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>dwarvenKnightFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,532},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>dwarvenKnightLife_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,532},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>dwarvenKnightVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1760},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>dwarvenKnightWater_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1467},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>elementalEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1174},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>elementalFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,881},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>elementalWater_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,588},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>elementalWind_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,295},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>elfEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,267},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>elfFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,267},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>elfLife_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,267},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>elfVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,267},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>gargoyleFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1760},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>gargoyleVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1467},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>goblinKnightBile_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1174},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>goblinKnightBlood_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,881},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>goblinKnightFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,588},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>goblinKnightNormal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,295},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>goblin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>knightEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,2},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>knightFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>knightVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>knightWater_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>ogre_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>orc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>scowerer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1467},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>shellBack_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>snakeThing_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>spider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>troll_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>wizard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards-iphone4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:146a59479e357f17369bc85e64ac7f73:ee2898bba377989c7913b708062777db:0afd5d88c1d04885828391deeb2050d9$</string>
            <key>textureFileName</key>
            <string>cards-iphone4.png</string>
        </dict>
    </dict>
</plist>
