<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfAssassin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,281}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{215,281}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards2-iphone4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b161e266bc8df95f1cc0e606bd1cf6c:5bfb80b7011b37de66630c0b13604d65:2bf29494edb8a9d3ce28b3a75b1b2187$</string>
            <key>textureFileName</key>
            <string>cards2-iphone4.png</string>
        </dict>
    </dict>
</plist>
