<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blackGargoyle_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>blueKnight_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dragonBlack_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,262},{125,135}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{125,135}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dragonRed_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{125,145}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{125,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dwarvenKnightEarth_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,369},{125,113}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{125,113}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dwarvenKnightFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dwarvenKnightFire_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,260},{123,137}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{123,137}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dwarvenKnightLife_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,256},{113,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{113,131}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dwarvenKnightVoid_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,385},{115,133}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{115,133}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dwarvenKnightWater_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,135},{119,143}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{119,143}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elementalFire_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elementalStone_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elementalWater_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,484},{117,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{117,111}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elementalWind_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,365},{125,117}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{125,117}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elfFire_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{125,145}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{125,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>fireKnight_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>forestElf_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{119,145}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{119,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>goblinKnightBile_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,135},{117,141}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{117,141}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>goblinKnightBlood_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,250},{117,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{117,139}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>goblinKnightFire_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,387},{131,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{131,129}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>goblinKnightNormal_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,133},{125,141}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{125,141}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>goldElf_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>goldKnight_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{129,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{129,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>orc_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,485},{83,79}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,48},{83,79}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>orge_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{131,137}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{131,137}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>redGargoyle_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,129},{131,141}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,141}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>scowerer_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,129},{119,139}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{119,139}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>shadowKnight_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{131,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{131,143}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>shellBack_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,371},{117,113}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{117,113}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>snakeThing_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,389},{94,120}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>spider_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,254},{131,139}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{131,139}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>troll_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,371},{61,45}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{61,45}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>voidElf_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,123},{129,143}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{129,143}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>wizard_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,254},{109,137}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{109,137}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:486720223feb78ce2a6012aec8857f31:33ba208abba1c9a7a4385c821ab58fad:0afd5d88c1d04885828391deeb2050d9$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
