<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfAssassin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,620}}</string>
                <key>sourceSize</key>
                <string>{560,620}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards2-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dd725ecfc573858155a2e232ce2fa44:0b2c50e9509d45c208ee2eb39eafc43f:5dd7d3c6870a0b6da142c0a80e3dfd9a$</string>
            <key>textureFileName</key>
            <string>cards2-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
