<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfArcherEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>elfAssassin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,545},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>map2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,541}}</string>
                <key>sourceSize</key>
                <string>{960,541}</string>
            </dict>
            <key>skeletonArcher_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,545},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>skeletonSwordsman_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards2-iphone4.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:246be006097807293a0ca53e60a5ce7f:5bb38e02db1698eb7a45a5531b3883f5:5dd7d3c6870a0b6da142c0a80e3dfd9a$</string>
            <key>textureFileName</key>
            <string>cards2-iphone4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
