<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,1386},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>dragonVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1732},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>dwarvenKnightEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1386},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>dwarvenKnightFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1040},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>dwarvenKnightLife_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,941},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>dwarvenKnightVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1732},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>dwarvenKnightWater_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1386},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>elementalEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1040},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>elementalFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,694},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>elementalWater_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,628},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>elementalWind_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,628},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>elfEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1732},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>elfFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1386},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>elfLife_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1040},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>elfVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,694},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>gargoyleFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,348},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>gargoyleVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,315},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>goblinKnightBile_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,315},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>goblinKnightBlood_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,315},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>goblinKnightFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1732},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>goblinKnightNormal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1386},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>goblin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1040},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>knightEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,694},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>knightFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,348},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>knightVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,2},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>knightWater_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>ogre_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>orc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>priestessEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>scowerer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>shellback_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>snakeThing_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>spider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>troll_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>wizard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{311,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,344}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards-iphone5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62d650540ad1dab72c2c9eda73aba094:34f5b14a28e0379239e5aa6e01227713:0afd5d88c1d04885828391deeb2050d9$</string>
            <key>textureFileName</key>
            <string>cards-iphone5.png</string>
        </dict>
    </dict>
</plist>
