<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonVoid.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1196},{214,248}}</string>
                <key>offset</key>
                <string>{-13,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,104},{214,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1412},{214,192}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,162},{214,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1380},{212,170}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,193},{212,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,714},{210,172}}</string>
                <key>offset</key>
                <string>{-11,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,278},{210,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,844},{206,236}}</string>
                <key>offset</key>
                <string>{-9,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,276},{206,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1196},{206,218}}</string>
                <key>offset</key>
                <string>{-9,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,274},{206,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,450},{206,204}}</string>
                <key>offset</key>
                <string>{-10,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,277},{206,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,238},{210,186}}</string>
                <key>offset</key>
                <string>{-12,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,284},{210,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1166},{212,212}}</string>
                <key>offset</key>
                <string>{-14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,279},{212,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1416},{212,216}}</string>
                <key>offset</key>
                <string>{-14,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,264},{212,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,832},{212,216}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,140},{212,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{204,292}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,63},{204,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{204,258}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,99},{204,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,658},{206,196}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,161},{206,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1594},{212,168}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,189},{212,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{210,182}}</string>
                <key>offset</key>
                <string>{-11,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,269},{210,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,594},{202,236}}</string>
                <key>offset</key>
                <string>{-10,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,276},{202,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1446},{196,222}}</string>
                <key>offset</key>
                <string>{-8,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,274},{196,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1850},{196,208}}</string>
                <key>offset</key>
                <string>{-7,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,278},{196,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1068},{196,196}}</string>
                <key>offset</key>
                <string>{-6,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,283},{196,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{196,234}}</string>
                <key>offset</key>
                <string>{-6,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,266},{196,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1446},{196,238}}</string>
                <key>offset</key>
                <string>{-5,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,260},{196,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,866},{200,194}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,162},{200,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{206,290}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,64},{206,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{214,262}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,93},{214,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1194},{216,198}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,160},{216,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1628},{214,170}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,192},{214,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,926},{208,168}}</string>
                <key>offset</key>
                <string>{-13,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,270},{208,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,266},{208,234}}</string>
                <key>offset</key>
                <string>{-13,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,278},{208,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1686},{206,224}}</string>
                <key>offset</key>
                <string>{-11,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,275},{206,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,502},{210,210}}</string>
                <key>offset</key>
                <string>{-12,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,278},{210,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1634},{214,196}}</string>
                <key>offset</key>
                <string>{-14,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,283},{214,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1708},{214,238}}</string>
                <key>offset</key>
                <string>{-13,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,260},{214,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{210,250}}</string>
                <key>offset</key>
                <string>{-11,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,244},{210,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1844},{202,202}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,154},{202,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{200,292}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,63},{200,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,312}}</string>
                <key>offset</key>
                <string>{-13,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,43},{212,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,316},{206,276}}</string>
                <key>offset</key>
                <string>{-14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,92},{206,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1686},{152,234}}</string>
                <key>offset</key>
                <string>{-25,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,175},{152,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1912},{128,216}}</string>
                <key>offset</key>
                <string>{-24,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,195},{128,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1892},{126,194}}</string>
                <key>offset</key>
                <string>{-13,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,221},{126,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1670},{104,220}}</string>
                <key>offset</key>
                <string>{-10,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,205},{104,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,594},{74,248}}</string>
                <key>offset</key>
                <string>{-1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,214},{74,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,610},{76,288}}</string>
                <key>offset</key>
                <string>{-6,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,224},{76,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,900},{76,248}}</string>
                <key>offset</key>
                <string>{-3,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,232},{76,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1922},{124,200}}</string>
                <key>offset</key>
                <string>{-20,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,275},{124,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1266},{158,160}}</string>
                <key>offset</key>
                <string>{-10,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,352},{158,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1082},{184,112}}</string>
                <key>offset</key>
                <string>{-5,-200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,400},{184,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1050},{186,114}}</string>
                <key>offset</key>
                <string>{-7,-199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,398},{186,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1082},{186,110}}</string>
                <key>offset</key>
                <string>{-6,-201}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,402},{186,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonVoidSheet-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d5a526e63d7fb20e3c4172a54c83800:f5bc05ec74048c7087615eef3fca0134:634fd274d538498381655f3f54ddf30f$</string>
            <key>textureFileName</key>
            <string>dragonVoidSheet-ipadhd.png</string>
        </dict>
    </dict>
</plist>
