<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonFire.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{182,138}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,58},{182,138}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,142},{182,108}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,89},{182,108}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,246},{180,94}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,107},{180,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{178,96}}</string>
                <key>offset</key>
                <string>{-8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,153},{178,96}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,468},{176,132}}</string>
                <key>offset</key>
                <string>{-7,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,152},{176,132}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{176,122}}</string>
                <key>offset</key>
                <string>{-7,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,151},{176,122}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,274},{178,114}}</string>
                <key>offset</key>
                <string>{-8,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,153},{178,114}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{178,104}}</string>
                <key>offset</key>
                <string>{-9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,157},{178,104}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{180,120}}</string>
                <key>offset</key>
                <string>{-10,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,153},{180,120}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,124},{182,120}}</string>
                <key>offset</key>
                <string>{-11,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,146},{182,120}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{182,120}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,78},{182,120}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,446},{174,162}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,35},{174,162}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,526},{174,144}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,54},{174,144}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,602},{174,110}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,89},{174,110}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,182},{180,94}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,104},{180,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,342},{178,102}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,148},{178,102}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,682},{172,132}}</string>
                <key>offset</key>
                <string>{-7,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,152},{172,132}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,674},{168,126}}</string>
                <key>offset</key>
                <string>{-6,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,150},{168,126}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,714},{166,118}}</string>
                <key>offset</key>
                <string>{-5,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,152},{166,118}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,902},{168,110}}</string>
                <key>offset</key>
                <string>{-5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,156},{168,110}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,888},{168,132}}</string>
                <key>offset</key>
                <string>{-4,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,146},{168,132}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{166,134}}</string>
                <key>offset</key>
                <string>{-3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,143},{166,134}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,844},{170,108}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,90},{170,108}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,390},{176,162}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,35},{176,162}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{182,148}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,50},{182,148}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,112}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,88},{184,112}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,178},{182,94}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,107},{182,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,372},{178,94}}</string>
                <key>offset</key>
                <string>{-11,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,149},{178,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,250},{178,132}}</string>
                <key>offset</key>
                <string>{-10,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,152},{178,132}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,554},{176,126}}</string>
                <key>offset</key>
                <string>{-9,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,151},{176,126}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,252},{178,118}}</string>
                <key>offset</key>
                <string>{-9,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,153},{178,118}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,138},{182,110}}</string>
                <key>offset</key>
                <string>{-10,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,156},{182,110}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{182,134}}</string>
                <key>offset</key>
                <string>{-10,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,142},{182,134}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,384},{176,140}}</string>
                <key>offset</key>
                <string>{-7,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,134},{176,140}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{172,112}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,85},{172,112}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,610},{170,162}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,35},{170,162}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{182,174}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,23},{182,174}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{176,154}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,51},{176,154}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,882},{130,132}}</string>
                <key>offset</key>
                <string>{-21,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,96},{130,132}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,564},{108,122}}</string>
                <key>offset</key>
                <string>{-21,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,108},{108,122}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,364},{106,108}}</string>
                <key>offset</key>
                <string>{-11,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,122},{106,108}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,474},{88,124}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,112},{88,124}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,882},{64,140}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,118},{64,140}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,816},{64,160}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,124},{64,160}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,882},{62,140}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,128},{62,140}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,902},{104,112}}</string>
                <key>offset</key>
                <string>{-17,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,152},{104,112}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,714},{132,90}}</string>
                <key>offset</key>
                <string>{-8,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,194},{132,90}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,838},{158,62}}</string>
                <key>offset</key>
                <string>{-5,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,222},{158,62}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,816},{156,64}}</string>
                <key>offset</key>
                <string>{-5,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,220},{156,64}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonFire.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,774},{158,62}}</string>
                <key>offset</key>
                <string>{-4,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,222},{158,62}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonFireSheet-iphone5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3cced4f3afe28b986646d8160b2ba86:62d196d42d382f1408de19b5492b0eea:c1ac0aa67ceb1968c5c186f6388b6250$</string>
            <key>textureFileName</key>
            <string>dragonFireSheet-iphone5.png</string>
        </dict>
    </dict>
</plist>
