<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonVoid.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{214,248}}</string>
                <key>offset</key>
                <string>{-12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,105},{214,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{214,192}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,163},{214,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1640},{214,168}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,193},{214,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,828},{210,170}}</string>
                <key>offset</key>
                <string>{-10,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,279},{210,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1712},{208,236}}</string>
                <key>offset</key>
                <string>{-9,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,276},{208,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,504},{206,218}}</string>
                <key>offset</key>
                <string>{-8,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,274},{206,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1622},{206,204}}</string>
                <key>offset</key>
                <string>{-9,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,278},{206,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1856},{210,188}}</string>
                <key>offset</key>
                <string>{-11,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,283},{210,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,220},{212,214}}</string>
                <key>offset</key>
                <string>{-13,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,277},{212,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,228},{214,216}}</string>
                <key>offset</key>
                <string>{-13,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,263},{214,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,832},{214,218}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,139},{214,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{204,294}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,62},{204,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{206,258}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,99},{206,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,822},{208,198}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,160},{208,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1640},{214,168}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,189},{214,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1856},{210,182}}</string>
                <key>offset</key>
                <string>{-10,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,268},{210,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1452},{202,236}}</string>
                <key>offset</key>
                <string>{-9,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,276},{202,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1200},{198,222}}</string>
                <key>offset</key>
                <string>{-7,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,274},{198,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1410},{196,210}}</string>
                <key>offset</key>
                <string>{-6,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,277},{196,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1166},{196,198}}</string>
                <key>offset</key>
                <string>{-5,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,282},{196,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,268},{196,234}}</string>
                <key>offset</key>
                <string>{-5,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,266},{196,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,846},{196,236}}</string>
                <key>offset</key>
                <string>{-4,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,262},{196,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1392},{200,196}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,161},{200,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{208,290}}</string>
                <key>offset</key>
                <string>{-10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,65},{208,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,264}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,92},{214,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{216,200}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,159},{216,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1424},{214,170}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,191},{214,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1180},{210,166}}</string>
                <key>offset</key>
                <string>{-13,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,271},{210,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{208,236}}</string>
                <key>offset</key>
                <string>{-12,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,276},{208,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{208,224}}</string>
                <key>offset</key>
                <string>{-11,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,275},{208,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1198},{210,210}}</string>
                <key>offset</key>
                <string>{-11,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,278},{210,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,446},{216,196}}</string>
                <key>offset</key>
                <string>{-13,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,283},{216,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,596},{214,234}}</string>
                <key>offset</key>
                <string>{-12,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,263},{214,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1202},{210,248}}</string>
                <key>offset</key>
                <string>{-10,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,245},{210,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1830},{204,204}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,153},{204,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{202,294}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,62},{202,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,314}}</string>
                <key>offset</key>
                <string>{-12,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,42},{214,314}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,318},{208,276}}</string>
                <key>offset</key>
                <string>{-13,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,93},{208,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{152,234}}</string>
                <key>offset</key>
                <string>{-24,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,176},{152,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1424},{128,214}}</string>
                <key>offset</key>
                <string>{-23,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,197},{128,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1052},{126,194}}</string>
                <key>offset</key>
                <string>{-12,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,221},{126,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,724},{102,218}}</string>
                <key>offset</key>
                <string>{-9,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,207},{102,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,596},{74,248}}</string>
                <key>offset</key>
                <string>{-1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,214},{74,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,614},{78,288}}</string>
                <key>offset</key>
                <string>{-6,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,224},{78,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,904},{78,248}}</string>
                <key>offset</key>
                <string>{-3,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,232},{78,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1040},{124,200}}</string>
                <key>offset</key>
                <string>{-19,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,275},{124,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,664},{156,156}}</string>
                <key>offset</key>
                <string>{-9,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,356},{156,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1856},{184,112}}</string>
                <key>offset</key>
                <string>{-4,-200}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,400},{184,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1084},{188,114}}</string>
                <key>offset</key>
                <string>{-7,-199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,398},{188,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1084},{188,112}}</string>
                <key>offset</key>
                <string>{-6,-200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,400},{188,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonVoidSheet-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53e8b2fd5343f89e7d0f10a609788add:d47cbe17cd7297ff1e806c1501a26fbf:634fd274d538498381655f3f54ddf30f$</string>
            <key>textureFileName</key>
            <string>dragonVoidSheet-ipadhd.png</string>
        </dict>
    </dict>
</plist>
