<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonFire.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{154,116}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{154,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,120},{154,90}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,76},{154,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,156},{152,80}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,90},{152,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{152,82}}</string>
                <key>offset</key>
                <string>{-7,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,129},{152,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,214},{150,112}}</string>
                <key>offset</key>
                <string>{-6,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,128},{150,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,346},{148,104}}</string>
                <key>offset</key>
                <string>{-6,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,127},{148,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,328},{150,96}}</string>
                <key>offset</key>
                <string>{-7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,130},{150,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,208},{152,90}}</string>
                <key>offset</key>
                <string>{-8,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,131},{152,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,106},{154,100}}</string>
                <key>offset</key>
                <string>{-9,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,130},{154,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{154,102}}</string>
                <key>offset</key>
                <string>{-9,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,123},{154,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{154,102}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,65},{154,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,452},{146,138}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,29},{146,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{146,122}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,46},{146,122}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{148,94}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,74},{148,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,152},{152,78}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,89},{152,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,290},{152,86}}</string>
                <key>offset</key>
                <string>{-7,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,125},{152,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{146,112}}</string>
                <key>offset</key>
                <string>{-6,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,128},{146,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,462},{142,106}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,127},{142,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,582},{140,100}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,128},{140,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,520},{142,94}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,131},{142,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,506},{142,112}}</string>
                <key>offset</key>
                <string>{-3,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,123},{142,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,466},{142,114}}</string>
                <key>offset</key>
                <string>{-3,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,120},{142,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,426},{144,92}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,75},{144,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{150,138}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{150,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{154,124}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,43},{154,124}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,94}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,75},{156,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,106},{154,80}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,90},{154,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,310},{150,78}}</string>
                <key>offset</key>
                <string>{-9,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,127},{150,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,232},{150,112}}</string>
                <key>offset</key>
                <string>{-8,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,128},{150,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,300},{150,106}}</string>
                <key>offset</key>
                <string>{-8,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,128},{150,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,188},{152,100}}</string>
                <key>offset</key>
                <string>{-8,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,129},{152,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,118},{154,94}}</string>
                <key>offset</key>
                <string>{-9,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,131},{154,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{154,114}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,120},{154,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,212},{150,120}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,112},{150,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,408},{144,96}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,71},{144,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,378},{144,138}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{144,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{154,148}}</string>
                <key>offset</key>
                <string>{-9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,19},{154,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,334},{148,130}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,43},{148,130}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,606},{110,112}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,81},{110,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,684},{92,102}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{92,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{90,92}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,103},{90,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,672},{74,106}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,94},{74,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,518},{54,120}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,98},{54,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,592},{54,136}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,104},{54,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,574},{54,118}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,109},{54,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,702},{88,96}}</string>
                <key>offset</key>
                <string>{-14,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,127},{88,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,620},{110,76}}</string>
                <key>offset</key>
                <string>{-6,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,164},{110,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{134,52}}</string>
                <key>offset</key>
                <string>{-4,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,188},{134,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,616},{132,54}}</string>
                <key>offset</key>
                <string>{-4,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,186},{132,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,648},{134,52}}</string>
                <key>offset</key>
                <string>{-4,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,188},{134,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonFireSheet-iphone4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3cced4f3afe28b986646d8160b2ba86:62d196d42d382f1408de19b5492b0eea:c1ac0aa67ceb1968c5c186f6388b6250$</string>
            <key>textureFileName</key>
            <string>dragonFireSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
