<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonFire.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,288},{104,116}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,49},{104,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,490},{104,90}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,76},{104,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,754},{102,80}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,90},{102,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,688},{102,82}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,129},{102,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,350},{100,112}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,128},{100,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,482},{100,104}}</string>
                <key>offset</key>
                <string>{-4,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,127},{100,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,772},{100,96}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,130},{100,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,634},{102,88}}</string>
                <key>offset</key>
                <string>{-6,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,133},{102,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{102,100}}</string>
                <key>offset</key>
                <string>{-6,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,130},{102,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,650},{102,102}}</string>
                <key>offset</key>
                <string>{-6,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,123},{102,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,584},{102,102}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,65},{102,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{98,138}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,29},{98,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{98,122}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,46},{98,122}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,872},{98,94}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,74},{98,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{102,78}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,89},{102,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,672},{100,86}}</string>
                <key>offset</key>
                <string>{-4,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,125},{100,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{98,112}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,128},{98,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{94,106}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,127},{94,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,836},{96,100}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,128},{96,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,924},{96,94}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,131},{96,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,394},{94,112}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,123},{94,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{94,114}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,120},{94,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,774},{96,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,75},{96,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,100},{100,136}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,30},{100,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,140},{102,124}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,43},{102,124}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{104,94}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,75},{104,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,106},{104,80}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,90},{104,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{102,78}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,127},{102,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,304},{100,112}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,128},{100,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,452},{100,106}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,128},{100,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,724},{100,100}}</string>
                <key>offset</key>
                <string>{-5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,129},{100,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,554},{104,94}}</string>
                <key>offset</key>
                <string>{-6,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,131},{104,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,244},{104,114}}</string>
                <key>offset</key>
                <string>{-6,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,120},{104,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,202},{100,120}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,112},{100,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,826},{98,96}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,71},{98,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{96,138}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,29},{96,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,148}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,19},{104,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{100,130}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{100,130}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,406},{74,110}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,83},{74,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,568},{62,102}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,92},{62,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,934},{62,92}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,103},{62,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,582},{50,104}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,96},{50,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,212},{36,120}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,98},{36,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,102},{36,136}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,104},{36,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,250},{36,118}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,109},{36,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,924},{60,96}}</string>
                <key>offset</key>
                <string>{-10,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,127},{60,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,490},{74,76}}</string>
                <key>offset</key>
                <string>{-4,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,164},{74,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,870},{90,52}}</string>
                <key>offset</key>
                <string>{-3,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,188},{90,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{88,54}}</string>
                <key>offset</key>
                <string>{-3,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,186},{88,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonFire.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{90,52}}</string>
                <key>offset</key>
                <string>{-3,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,188},{90,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonFireSheet-iphone4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82884db8b1886b9a7a3dc6546b741117:f0c36bc2bf6671c907a8cbe215075aa6:c1ac0aa67ceb1968c5c186f6388b6250$</string>
            <key>textureFileName</key>
            <string>dragonFireSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
