<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonVoid.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{279,211}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,89},{279,211}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{279,163}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,138},{279,163}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{275,145}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,163},{275,145}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,185},{273,145}}</string>
                <key>offset</key>
                <string>{-12,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,237},{273,145}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,376},{271,201}}</string>
                <key>offset</key>
                <string>{-11,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,234},{271,201}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,488},{269,187}}</string>
                <key>offset</key>
                <string>{-11,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,231},{269,187}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{271,173}}</string>
                <key>offset</key>
                <string>{-12,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,236},{271,173}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,2},{273,161}}</string>
                <key>offset</key>
                <string>{-14,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,239},{273,161}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,402},{275,181}}</string>
                <key>offset</key>
                <string>{-16,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,237},{275,181}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{277,183}}</string>
                <key>offset</key>
                <string>{-17,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,225},{277,183}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,215},{277,185}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{277,185}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,780},{265,249}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,53},{265,249}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{263,219}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,85},{263,219}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,722},{267,169}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,135},{267,169}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,374},{277,143}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,161},{277,143}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,165},{273,155}}</string>
                <key>offset</key>
                <string>{-12,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,228},{273,155}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,465},{263,203}}</string>
                <key>offset</key>
                <string>{-11,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,232},{263,203}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{255,191}}</string>
                <key>offset</key>
                <string>{-9,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,231},{255,191}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,670},{255,179}}</string>
                <key>offset</key>
                <string>{-8,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,234},{255,179}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,893},{257,169}}</string>
                <key>offset</key>
                <string>{-7,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,238},{257,169}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1031},{255,203}}</string>
                <key>offset</key>
                <string>{-6,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,222},{255,203}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,754},{253,205}}</string>
                <key>offset</key>
                <string>{-5,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,219},{253,205}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,677},{261,165}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,138},{261,165}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,332},{269,247}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,55},{269,247}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,149},{277,225}}</string>
                <key>offset</key>
                <string>{-17,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,78},{277,225}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,171}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,135},{283,171}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{279,145}}</string>
                <key>offset</key>
                <string>{-19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,163},{279,145}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,322},{271,141}}</string>
                <key>offset</key>
                <string>{-16,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,231},{271,141}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,519},{271,201}}</string>
                <key>offset</key>
                <string>{-15,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,234},{271,201}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,585},{271,193}}</string>
                <key>offset</key>
                <string>{-14,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,231},{271,193}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,2},{273,181}}</string>
                <key>offset</key>
                <string>{-14,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,234},{273,181}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{279,169}}</string>
                <key>offset</key>
                <string>{-16,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,238},{279,169}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,167},{277,205}}</string>
                <key>offset</key>
                <string>{-15,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,218},{277,205}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,271},{271,215}}</string>
                <key>offset</key>
                <string>{-12,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,205},{271,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,581},{261,171}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,131},{261,171}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,816},{259,249}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,53},{259,249}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{277,267}}</string>
                <key>offset</key>
                <string>{-15,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,35},{277,267}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,579},{267,235}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,78},{267,235}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1038},{197,201}}</string>
                <key>offset</key>
                <string>{-32,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,149},{197,201}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,913},{165,185}}</string>
                <key>offset</key>
                <string>{-32,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,166},{165,185}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1058},{163,167}}</string>
                <key>offset</key>
                <string>{-17,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,186},{163,167}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1064},{135,189}}</string>
                <key>offset</key>
                <string>{-14,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,173},{135,189}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,950},{97,215}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,180},{97,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,465},{97,245}}</string>
                <key>offset</key>
                <string>{-7,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,190},{97,245}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,961},{95,215}}</string>
                <key>offset</key>
                <string>{-3,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,196},{95,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1049},{159,173}}</string>
                <key>offset</key>
                <string>{-25,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,231},{159,173}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,712},{199,139}}</string>
                <key>offset</key>
                <string>{-11,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,296},{199,139}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,844},{241,95}}</string>
                <key>offset</key>
                <string>{-7,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,340},{241,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,851},{239,97}}</string>
                <key>offset</key>
                <string>{-8,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,338},{239,97}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>dragonVoid.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,941},{241,95}}</string>
                <key>offset</key>
                <string>{-6,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,340},{241,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonVoidSheet-iphone5.0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e9de18495f125312e15c40829c1d919:e823f693a17af9e55b9d1b560124ec1c:52a6615bc2ec52c69871416a0d6ee533$</string>
            <key>textureFileName</key>
            <string>dragonVoidSheet-iphone5.0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
