<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonFire.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{52,60}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{52,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,206},{52,46}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,37},{52,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,58},{52,40}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,45},{52,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,160},{50,42}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{50,42}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,206},{50,56}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{50,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,378},{50,52}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{50,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,56},{50,48}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,65},{50,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,124},{52,46}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{52,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,432},{52,50}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{52,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,264},{52,52}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,61},{52,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,324},{52,52}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{52,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{50,70}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{50,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{50,62}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{50,62}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,258},{50,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,36},{50,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,314},{52,40}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,44},{52,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,108},{50,44}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,62},{50,44}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,266},{50,56}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{50,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,400},{48,54}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,63},{48,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,112},{48,50}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,64},{48,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,204},{48,48}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,65},{48,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,206},{48,58}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,60},{48,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,282},{48,58}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,59},{48,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{50,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,38},{50,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{50,68}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,15},{50,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,62}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{52,62}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,456},{54,48}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,37},{54,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,260},{52,40}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,45},{52,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,164},{50,40}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,63},{50,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,342},{52,56}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,64},{52,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{52,54}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,63},{52,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,318},{52,50}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{52,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,372},{52,48}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{52,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,146},{52,58}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,59},{52,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{50,60}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,56},{50,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,206},{50,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,36},{50,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{48,70}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{48,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,74}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{52,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,78},{50,66}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{50,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,66},{38,56}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,41},{38,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{32,52}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,45},{32,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,480},{30,46}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,51},{30,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,178},{26,52}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,48},{26,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,220},{18,60}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{18,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,150},{18,68}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,52},{18,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,418},{20,60}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,53},{20,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{30,48}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,64},{30,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{38,38}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,82},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,50},{46,26}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,94},{46,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,54},{46,28}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,92},{46,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonFire.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{46,26}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,94},{46,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonFireSheet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82884db8b1886b9a7a3dc6546b741117:f0c36bc2bf6671c907a8cbe215075aa6:c1ac0aa67ceb1968c5c186f6388b6250$</string>
            <key>textureFileName</key>
            <string>dragonFireSheet.png</string>
        </dict>
    </dict>
</plist>
