<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonVoid.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,240},{102,116}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,49},{102,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,614},{102,90}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,76},{102,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{100,80}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,90},{100,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,706},{100,82}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,129},{100,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,300},{98,112}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,128},{98,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,500},{98,104}}</string>
                <key>offset</key>
                <string>{-4,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,127},{98,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{98,96}}</string>
                <key>offset</key>
                <string>{-5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,130},{98,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,684},{100,88}}</string>
                <key>offset</key>
                <string>{-6,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,133},{100,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{100,100}}</string>
                <key>offset</key>
                <string>{-6,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,130},{100,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,512},{100,102}}</string>
                <key>offset</key>
                <string>{-6,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,123},{100,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,582},{100,102}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,65},{100,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{96,138}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,29},{96,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{96,122}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,46},{96,122}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{98,94}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,74},{98,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{100,78}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,89},{100,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,696},{100,86}}</string>
                <key>offset</key>
                <string>{-5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,125},{100,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,320},{96,112}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,128},{96,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,434},{94,106}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,127},{94,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,924},{92,98}}</string>
                <key>offset</key>
                <string>{-3,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,130},{92,98}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,888},{94,94}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,131},{94,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,344},{92,112}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,123},{92,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,206},{92,112}}</string>
                <key>offset</key>
                <string>{-2,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,122},{92,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,786},{94,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{94,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,98},{98,136}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,30},{98,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,138},{100,124}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{100,124}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,600},{102,94}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,74},{102,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,104},{100,80}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,90},{100,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,824},{98,78}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,127},{98,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,400},{98,110}}</string>
                <key>offset</key>
                <string>{-6,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,130},{98,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{98,106}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,128},{98,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,684},{98,100}}</string>
                <key>offset</key>
                <string>{-5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,129},{98,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{102,94}}</string>
                <key>offset</key>
                <string>{-7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,131},{102,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{102,112}}</string>
                <key>offset</key>
                <string>{-6,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,122},{102,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,198},{100,118}}</string>
                <key>offset</key>
                <string>{-5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,114},{100,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,790},{96,96}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,71},{96,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{94,138}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,29},{94,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,148}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,19},{100,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{98,130}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{98,130}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,438},{72,110}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,82},{72,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,408},{60,102}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,91},{60,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,786},{60,92}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,103},{60,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,530},{50,104}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,96},{50,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,198},{36,118}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,99},{36,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,100},{36,136}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,104},{36,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{36,116}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,109},{36,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,512},{60,94}}</string>
                <key>offset</key>
                <string>{-10,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,129},{60,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,608},{74,76}}</string>
                <key>offset</key>
                <string>{-4,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,164},{74,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,882},{88,52}}</string>
                <key>offset</key>
                <string>{-3,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,188},{88,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,318},{88,54}}</string>
                <key>offset</key>
                <string>{-3,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,186},{88,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>dragonVoid.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,848},{88,52}}</string>
                <key>offset</key>
                <string>{-3,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,188},{88,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonVoidSheet-iphone4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d5a526e63d7fb20e3c4172a54c83800:f5bc05ec74048c7087615eef3fca0134:634fd274d538498381655f3f54ddf30f$</string>
            <key>textureFileName</key>
            <string>dragonVoidSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
