<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonVoid.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,144},{122,138}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,58},{122,138}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,126},{122,108}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,89},{122,108}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,602},{122,94}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,107},{122,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,126},{120,96}}</string>
                <key>offset</key>
                <string>{-6,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,154},{120,96}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,484},{118,132}}</string>
                <key>offset</key>
                <string>{-5,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,152},{118,132}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{118,122}}</string>
                <key>offset</key>
                <string>{-5,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,151},{118,122}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,584},{118,114}}</string>
                <key>offset</key>
                <string>{-5,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,153},{118,114}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,250},{120,104}}</string>
                <key>offset</key>
                <string>{-6,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,157},{120,104}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,126},{122,120}}</string>
                <key>offset</key>
                <string>{-7,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,153},{122,120}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,264},{122,120}}</string>
                <key>offset</key>
                <string>{-7,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,146},{122,120}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{122,120}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,78},{122,120}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{116,162}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,35},{116,162}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,506},{116,144}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,54},{116,144}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,848},{116,110}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,89},{116,110}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,726},{120,94}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,104},{120,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,920},{118,102}}</string>
                <key>offset</key>
                <string>{-5,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,148},{118,102}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,786},{116,132}}</string>
                <key>offset</key>
                <string>{-5,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,152},{116,132}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,476},{112,124}}</string>
                <key>offset</key>
                <string>{-4,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,152},{112,124}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,448},{112,118}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,152},{112,118}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,248},{112,110}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,156},{112,110}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,618},{112,132}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,146},{112,132}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,820},{112,134}}</string>
                <key>offset</key>
                <string>{-2,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,143},{112,134}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,568},{114,108}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,90},{114,108}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{118,162}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,35},{118,162}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,670},{122,148}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,50},{122,148}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,138},{124,112}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,88},{124,112}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{122,96}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,105},{122,96}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{120,94}}</string>
                <key>offset</key>
                <string>{-7,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,149},{120,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,652},{118,132}}</string>
                <key>offset</key>
                <string>{-6,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,152},{118,132}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,284},{118,126}}</string>
                <key>offset</key>
                <string>{-6,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,151},{118,126}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,462},{120,118}}</string>
                <key>offset</key>
                <string>{-6,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,153},{120,118}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,250},{122,110}}</string>
                <key>offset</key>
                <string>{-7,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,156},{122,110}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{122,134}}</string>
                <key>offset</key>
                <string>{-7,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,142},{122,134}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,342},{118,140}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,134},{118,140}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,704},{114,112}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,86},{114,112}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{114,162}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,35},{114,162}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,174}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,23},{122,174}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{118,154}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,51},{118,154}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,752},{86,130}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,98},{86,130}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,388},{72,122}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,108},{72,122}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,374},{72,108}}</string>
                <key>offset</key>
                <string>{-8,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,122},{72,108}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{58,124}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,112},{58,124}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{42,140}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,118},{42,140}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{42,160}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,124},{42,160}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,178},{42,140}}</string>
                <key>offset</key>
                <string>{-1,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,128},{42,140}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,412},{70,112}}</string>
                <key>offset</key>
                <string>{-11,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,152},{70,112}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,124},{88,90}}</string>
                <key>offset</key>
                <string>{-5,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,194},{88,90}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,412},{106,62}}</string>
                <key>offset</key>
                <string>{-3,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,222},{106,62}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,956},{104,64}}</string>
                <key>offset</key>
                <string>{-3,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,220},{104,64}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>dragonVoid.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,956},{106,62}}</string>
                <key>offset</key>
                <string>{-3,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,222},{106,62}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonVoidSheet-iphone5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25a30d6c999f88662ea54256d5d8d095:0a5ea81900883aef9331e3d52fdd4daa:3806b373374cefb9530d398b2988b74e$</string>
            <key>textureFileName</key>
            <string>dragonVoidSheet-iphone5.png</string>
        </dict>
    </dict>
</plist>
