<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonVoid.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{328,248}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,104},{328,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{326,192}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,162},{326,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,390},{322,168}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,194},{322,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{320,170}}</string>
                <key>offset</key>
                <string>{-14,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,279},{320,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{318,236}}</string>
                <key>offset</key>
                <string>{-13,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,276},{318,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{316,218}}</string>
                <key>offset</key>
                <string>{-13,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,274},{316,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,410},{318,204}}</string>
                <key>offset</key>
                <string>{-14,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,277},{318,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,316},{322,188}}</string>
                <key>offset</key>
                <string>{-17,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,282},{322,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,196},{324,212}}</string>
                <key>offset</key>
                <string>{-19,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,279},{324,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,174},{324,216}}</string>
                <key>offset</key>
                <string>{-19,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,264},{324,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{326,216}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,140},{326,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,630},{312,292}}</string>
                <key>offset</key>
                <string>{-11,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,63},{312,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,894},{310,258}}</string>
                <key>offset</key>
                <string>{-12,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,99},{310,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,730},{314,196}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,161},{314,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,220},{324,168}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,189},{324,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,518},{320,182}}</string>
                <key>offset</key>
                <string>{-14,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,269},{320,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,928},{308,238}}</string>
                <key>offset</key>
                <string>{-13,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,274},{308,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1154},{300,222}}</string>
                <key>offset</key>
                <string>{-11,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,274},{300,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1216},{298,210}}</string>
                <key>offset</key>
                <string>{-9,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,276},{298,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,924},{302,198}}</string>
                <key>offset</key>
                <string>{-9,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,281},{302,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1124},{300,238}}</string>
                <key>offset</key>
                <string>{-7,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,262},{300,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1168},{298,240}}</string>
                <key>offset</key>
                <string>{-6,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,258},{298,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1184},{306,194}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,162},{306,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,720},{316,290}}</string>
                <key>offset</key>
                <string>{-14,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,65},{316,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,252},{326,264}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,92},{326,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,200}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,159},{330,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2},{326,170}}</string>
                <key>offset</key>
                <string>{-22,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,192},{326,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,560},{318,168}}</string>
                <key>offset</key>
                <string>{-19,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,270},{318,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,392},{318,236}}</string>
                <key>offset</key>
                <string>{-18,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,276},{318,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,956},{316,226}}</string>
                <key>offset</key>
                <string>{-16,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,273},{316,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,506},{320,212}}</string>
                <key>offset</key>
                <string>{-16,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,276},{320,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{328,198}}</string>
                <key>offset</key>
                <string>{-19,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,281},{328,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{326,240}}</string>
                <key>offset</key>
                <string>{-18,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,258},{326,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,702},{318,252}}</string>
                <key>offset</key>
                <string>{-14,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,242},{318,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1012},{306,202}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,153},{306,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{304,292}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,63},{304,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{326,312}}</string>
                <key>offset</key>
                <string>{-18,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,43},{326,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,616},{314,276}}</string>
                <key>offset</key>
                <string>{-19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,92},{314,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1410},{232,236}}</string>
                <key>offset</key>
                <string>{-38,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,175},{232,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{194,218}}</string>
                <key>offset</key>
                <string>{-38,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,195},{194,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1766},{192,196}}</string>
                <key>offset</key>
                <string>{-21,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,219},{192,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1492},{158,222}}</string>
                <key>offset</key>
                <string>{-17,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,203},{158,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1364},{112,252}}</string>
                <key>offset</key>
                <string>{0,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,212},{112,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,630},{112,288}}</string>
                <key>offset</key>
                <string>{-8,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,224},{112,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1378},{112,252}}</string>
                <key>offset</key>
                <string>{-4,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,231},{112,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1766},{188,202}}</string>
                <key>offset</key>
                <string>{-30,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,273},{188,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1428},{236,164}}</string>
                <key>offset</key>
                <string>{-13,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,348},{236,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,920},{284,112}}</string>
                <key>offset</key>
                <string>{-9,-200}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,400},{284,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,1206},{280,112}}</string>
                <key>offset</key>
                <string>{-9,-200}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,400},{280,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dragonVoid.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1380},{282,110}}</string>
                <key>offset</key>
                <string>{-7,-201}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,402},{282,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonVoidSheet-ipad.0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:103c948ce1e5402dea9ab086846f37fb:35c0a7d82bcc05655a82756cd7164a5b:189998bf515a7316bdcedfd2dce9c997$</string>
            <key>textureFileName</key>
            <string>dragonVoidSheet-ipad.0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
