<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonFire.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{182,136}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,58},{182,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,140},{182,106}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,89},{182,106}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{178,94}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,106},{178,94}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,744},{178,96}}</string>
                <key>offset</key>
                <string>{-8,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,152},{178,96}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,936},{176,130}}</string>
                <key>offset</key>
                <string>{-7,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,152},{176,130}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1314},{174,122}}</string>
                <key>offset</key>
                <string>{-7,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,149},{174,122}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1200},{176,112}}</string>
                <key>offset</key>
                <string>{-8,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,153},{176,112}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,638},{178,104}}</string>
                <key>offset</key>
                <string>{-9,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,155},{178,104}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{180,118}}</string>
                <key>offset</key>
                <string>{-11,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,153},{180,118}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,518},{180,118}}</string>
                <key>offset</key>
                <string>{-11,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,146},{180,118}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,396},{180,120}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,77},{180,120}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1434},{172,162}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{172,162}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,248},{172,142}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,55},{172,142}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{174,110}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,87},{174,110}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,842},{178,92}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,105},{178,92}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{178,100}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,148},{178,100}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,830},{170,132}}</string>
                <key>offset</key>
                <string>{-7,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,150},{170,132}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1662},{166,124}}</string>
                <key>offset</key>
                <string>{-6,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,150},{166,124}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{166,116}}</string>
                <key>offset</key>
                <string>{-5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,152},{166,116}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{168,110}}</string>
                <key>offset</key>
                <string>{-5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,154},{168,110}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1178},{166,132}}</string>
                <key>offset</key>
                <string>{-4,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,144},{166,132}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,664},{164,134}}</string>
                <key>offset</key>
                <string>{-3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,141},{164,134}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1552},{170,108}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,89},{170,108}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{176,162}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{176,162}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,248},{180,146}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{180,146}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,110}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,88},{184,110}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{180,94}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,106},{180,94}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{176,92}}</string>
                <key>offset</key>
                <string>{-10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,149},{176,92}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1068},{176,130}}</string>
                <key>offset</key>
                <string>{-10,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,152},{176,130}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{176,126}}</string>
                <key>offset</key>
                <string>{-9,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,149},{176,126}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{178,118}}</string>
                <key>offset</key>
                <string>{-9,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,151},{178,118}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{182,110}}</string>
                <key>offset</key>
                <string>{-11,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,154},{182,110}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,66},{180,134}}</string>
                <key>offset</key>
                <string>{-10,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,141},{180,134}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,422},{176,140}}</string>
                <key>offset</key>
                <string>{-8,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,132},{176,140}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1438},{170,112}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,84},{170,112}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1476},{168,162}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,34},{168,162}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{180,174}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,22},{180,174}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1002},{174,152}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,51},{174,152}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1346},{128,130}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,97},{128,130}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1920},{108,120}}</string>
                <key>offset</key>
                <string>{-21,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,108},{108,120}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1852},{106,108}}</string>
                <key>offset</key>
                <string>{-11,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,121},{106,108}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1920},{88,124}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,111},{88,124}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,600},{62,140}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,116},{62,140}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1646},{64,158}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,124},{64,158}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{62,138}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,128},{62,138}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1840},{104,112}}</string>
                <key>offset</key>
                <string>{-17,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,150},{104,112}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1828},{130,90}}</string>
                <key>offset</key>
                <string>{-7,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,192},{130,90}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1712},{156,62}}</string>
                <key>offset</key>
                <string>{-4,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,220},{156,62}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1776},{156,62}}</string>
                <key>offset</key>
                <string>{-5,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,220},{156,62}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>dragonFire.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1788},{156,62}}</string>
                <key>offset</key>
                <string>{-4,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,220},{156,62}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonFireSheet-iphone4.pvr.ccz</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca1db613a31ef2db117a1c1b9c97dc89:f7af4289bf4659002555db8fda112993:92768079b72394c3fc9e8393bbfc0361$</string>
            <key>textureFileName</key>
            <string>dragonFireSheet-iphone4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
