<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonVoid.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{52,60}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{52,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,418},{52,46}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,38},{52,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,260},{52,40}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,45},{52,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,412},{50,40}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,65},{50,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{50,56}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{50,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,60},{50,52}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{50,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,198},{50,48}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,65},{50,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,250},{50,46}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,65},{50,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,366},{50,50}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{50,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,314},{50,50}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,62},{50,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,124},{50,52}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{50,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{50,70}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{50,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{48,62}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{48,62}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,256},{50,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,36},{50,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,418},{52,40}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,44},{52,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,360},{50,44}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,62},{50,44}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{48,56}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,64},{48,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{48,52}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,64},{48,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,308},{46,50}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,64},{46,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,412},{46,48}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,65},{46,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,204},{46,54}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,63},{46,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,418},{46,56}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,61},{46,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,464},{48,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{48,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{50,68}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{50,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{50,62}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{50,62}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,336},{52,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{52,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,302},{50,40}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,45},{50,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,470},{50,40}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,63},{50,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,66},{50,56}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,64},{50,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,280},{50,54}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,63},{50,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,204},{50,50}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{50,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,114},{52,48}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{52,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,146},{52,56}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,61},{52,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,220},{50,58}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,58},{50,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,418},{50,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,36},{50,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{48,70}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{48,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,74}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{52,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,78},{50,66}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{50,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,354},{36,56}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{36,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{30,52}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,45},{30,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,472},{30,46}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,51},{30,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,178},{24,52}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,48},{24,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,292},{18,60}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{18,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,150},{20,68}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,52},{20,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,146},{20,58}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,55},{20,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,476},{30,48}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,64},{30,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,472},{38,36}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,84},{38,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,390},{44,26}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,94},{44,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,168},{46,28}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,92},{46,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dragonVoid.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,390},{46,26}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,94},{46,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonVoidSheet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53e8b2fd5343f89e7d0f10a609788add:d47cbe17cd7297ff1e806c1501a26fbf:634fd274d538498381655f3f54ddf30f$</string>
            <key>textureFileName</key>
            <string>dragonVoidSheet.png</string>
        </dict>
    </dict>
</plist>
