<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonFire.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,62}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{84,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,54},{82,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{82,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,54},{82,44}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,47},{82,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,82},{82,44}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,69},{82,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,150},{80,60}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,68},{80,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,178},{80,56}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,67},{80,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,236},{80,52}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,69},{80,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,290},{80,48}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,70},{80,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,66},{82,54}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,69},{82,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,70},{82,54}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,66},{82,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,122},{82,54}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,35},{82,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{80,74}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{80,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,212},{78,64}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{78,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,258},{80,50}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,40},{80,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,106},{82,42}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{82,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{82,46}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,67},{82,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,256},{78,60}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,68},{78,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,310},{76,56}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,68},{76,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,314},{76,54}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,68},{76,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,330},{76,50}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,70},{76,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{76,60}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,65},{76,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,318},{76,62}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,63},{76,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,278},{78,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{78,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,126},{80,74}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{80,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{82,66}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{82,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,50}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{84,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,100},{82,44}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{82,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,212},{80,42}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,68},{80,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{80,60}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,68},{80,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,200},{80,58}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,67},{80,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,202},{80,54}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,68},{80,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,50}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,70},{84,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{82,62}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,63},{82,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,146},{80,64}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{80,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,260},{78,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{78,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{78,74}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{78,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{82,78}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{82,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,128},{80,70}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{80,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{58,60}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,43},{58,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,428},{50,56}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,48},{50,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,432},{48,50}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,54},{48,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,382},{40,56}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,51},{40,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,370},{28,64}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,52},{28,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,340},{28,72}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,56},{28,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,398},{28,64}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,57},{28,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,382},{48,52}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,67},{48,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,428},{60,42}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,86},{60,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,340},{72,28}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,100},{72,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,370},{70,28}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,100},{70,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dragonFire.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,368},{72,28}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,100},{72,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonFireSheet.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca1db613a31ef2db117a1c1b9c97dc89:f7af4289bf4659002555db8fda112993:92768079b72394c3fc9e8393bbfc0361$</string>
            <key>textureFileName</key>
            <string>dragonFireSheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
