<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elementalWater.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,578},{138,146}}</string>
                <key>offset</key>
                <string>{1,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,362},{138,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,442},{148,138}}</string>
                <key>offset</key>
                <string>{-4,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,361},{148,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,148},{150,138}}</string>
                <key>offset</key>
                <string>{-5,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,361},{150,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,288},{150,138}}</string>
                <key>offset</key>
                <string>{-5,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,362},{150,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.124.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{150,142}}</string>
                <key>offset</key>
                <string>{-6,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,363},{150,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{146,144}}</string>
                <key>offset</key>
                <string>{-3,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,362},{146,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.126.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1426},{142,142}}</string>
                <key>offset</key>
                <string>{-1,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,363},{142,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,146},{150,140}}</string>
                <key>offset</key>
                <string>{-5,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,361},{150,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.132.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1282},{142,140}}</string>
                <key>offset</key>
                <string>{-2,-174}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,360},{142,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.133.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,582},{146,146}}</string>
                <key>offset</key>
                <string>{-8,-168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,351},{146,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,288},{150,140}}</string>
                <key>offset</key>
                <string>{-5,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,361},{150,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,148},{150,140}}</string>
                <key>offset</key>
                <string>{-5,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,362},{150,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{150,142}}</string>
                <key>offset</key>
                <string>{-5,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,361},{150,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,146},{150,142}}</string>
                <key>offset</key>
                <string>{-5,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,362},{150,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{148,144}}</string>
                <key>offset</key>
                <string>{-4,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,362},{148,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.190.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,580},{138,146}}</string>
                <key>offset</key>
                <string>{2,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,362},{138,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1624},{140,140}}</string>
                <key>offset</key>
                <string>{0,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,363},{140,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,430},{148,146}}</string>
                <key>offset</key>
                <string>{-4,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,361},{148,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,290},{148,148}}</string>
                <key>offset</key>
                <string>{-4,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,361},{148,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,150},{146,148}}</string>
                <key>offset</key>
                <string>{-3,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,362},{146,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{146,150}}</string>
                <key>offset</key>
                <string>{-3,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,361},{146,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{146,150}}</string>
                <key>offset</key>
                <string>{-3,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,362},{146,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{144,150}}</string>
                <key>offset</key>
                <string>{-2,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,362},{144,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{144,150}}</string>
                <key>offset</key>
                <string>{-2,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,362},{144,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.271.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1396},{138,142}}</string>
                <key>offset</key>
                <string>{1,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,363},{138,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.272.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1480},{142,142}}</string>
                <key>offset</key>
                <string>{-2,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,361},{142,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,278},{90,138}}</string>
                <key>offset</key>
                <string>{-22,-187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,374},{90,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{92,126}}</string>
                <key>offset</key>
                <string>{-16,-193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,386},{92,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1526},{140,138}}</string>
                <key>offset</key>
                <string>{0,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,363},{140,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,290},{142,148}}</string>
                <key>offset</key>
                <string>{-1,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,364},{142,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,76}}</string>
                <key>offset</key>
                <string>{0,-218}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,436},{152,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,298},{142,148}}</string>
                <key>offset</key>
                <string>{-1,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,364},{142,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.311.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,418},{148,88}}</string>
                <key>offset</key>
                <string>{0,-212}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,424},{148,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.312.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,130},{146,90}}</string>
                <key>offset</key>
                <string>{0,-211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,422},{146,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{140,148}}</string>
                <key>offset</key>
                <string>{0,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,364},{140,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.320.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,568},{122,78}}</string>
                <key>offset</key>
                <string>{0,-217}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,434},{122,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,428},{140,148}}</string>
                <key>offset</key>
                <string>{0,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,364},{140,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,434},{140,148}}</string>
                <key>offset</key>
                <string>{0,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,364},{140,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{138,148}}</string>
                <key>offset</key>
                <string>{1,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,364},{138,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,440},{138,148}}</string>
                <key>offset</key>
                <string>{1,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,364},{138,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,708},{138,146}}</string>
                <key>offset</key>
                <string>{1,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,366},{138,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{136,146}}</string>
                <key>offset</key>
                <string>{2,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,366},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,718},{136,146}}</string>
                <key>offset</key>
                <string>{2,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,366},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1138},{142,136}}</string>
                <key>offset</key>
                <string>{-1,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,363},{142,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,868},{134,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,366},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{134,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,366},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,848},{134,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,366},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{134,144}}</string>
                <key>offset</key>
                <string>{3,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,368},{134,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1126},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1140},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,994},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1262},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1264},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1540},{142,136}}</string>
                <key>offset</key>
                <string>{-1,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,362},{142,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1394},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1390},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1394},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1408},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1004},{144,134}}</string>
                <key>offset</key>
                <string>{-2,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,363},{144,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1128},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1130},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1256},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1260},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1274},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,994},{134,144}}</string>
                <key>offset</key>
                <string>{3,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,368},{134,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,858},{134,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,366},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,984},{134,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,366},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,710},{146,136}}</string>
                <key>offset</key>
                <string>{-3,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,361},{146,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,720},{136,146}}</string>
                <key>offset</key>
                <string>{2,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,366},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,856},{136,146}}</string>
                <key>offset</key>
                <string>{2,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,365},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,848},{136,146}}</string>
                <key>offset</key>
                <string>{2,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,364},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.74.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,986},{138,144}}</string>
                <key>offset</key>
                <string>{1,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,364},{138,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.75.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1522},{138,142}}</string>
                <key>offset</key>
                <string>{1,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,365},{138,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,730},{146,136}}</string>
                <key>offset</key>
                <string>{-3,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,362},{146,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,570},{148,136}}</string>
                <key>offset</key>
                <string>{-4,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,362},{148,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.91.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1526},{138,142}}</string>
                <key>offset</key>
                <string>{1,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,363},{138,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.92.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,994},{136,142}}</string>
                <key>offset</key>
                <string>{2,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,363},{136,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.93.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1120},{134,144}}</string>
                <key>offset</key>
                <string>{3,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,362},{134,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWater.94.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,576},{132,148}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,361},{132,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elementalWaterSheet-ipad1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40d0655774d3ad9348f468d1d93bb6ce:703a3d7e5b1d2559a0bab9c0c3f8c40a:45ac2cb5214f15f2b2fb37bf57c55b18$</string>
            <key>textureFileName</key>
            <string>elementalWaterSheet-ipad1.png</string>
        </dict>
    </dict>
</plist>
