<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elementalFire.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{136,178}}</string>
                <key>offset</key>
                <string>{-8,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,333},{136,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalFire.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,182},{136,178}}</string>
                <key>offset</key>
                <string>{-7,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,333},{136,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalFire.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{134,178}}</string>
                <key>offset</key>
                <string>{-6,-166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,333},{134,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalFire.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,128},{130,180}}</string>
                <key>offset</key>
                <string>{-3,-165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,331},{130,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalFire.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,182}}</string>
                <key>offset</key>
                <string>{0,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,329},{124,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalFire.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,362},{134,178}}</string>
                <key>offset</key>
                <string>{1,-167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,334},{134,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalFire.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{134,180}}</string>
                <key>offset</key>
                <string>{1,-166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,332},{134,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalFire.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,260},{130,180}}</string>
                <key>offset</key>
                <string>{2,-166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,332},{130,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalFire.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,392},{130,178}}</string>
                <key>offset</key>
                <string>{2,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,334},{130,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalFire.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{124,182}}</string>
                <key>offset</key>
                <string>{5,-165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,330},{124,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elementalFireSheet-ipadhd.1.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c54c4224cbd7fb21777adc13edbdb4c3:4749e54ef510b5228cc43777188d5580:db3cf1ee66072feea0595f28940a6316$</string>
            <key>textureFileName</key>
            <string>elementalFireSheet-ipadhd.1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
