<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfEarth.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,382},{34,60}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,172},{34,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,254},{38,64}}</string>
                <key>offset</key>
                <string>{-6,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,173},{38,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,314},{34,64}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,176},{34,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,382},{30,64}}</string>
                <key>offset</key>
                <string>{2,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,176},{30,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,314},{38,60}}</string>
                <key>offset</key>
                <string>{-2,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,175},{38,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,320},{38,60}}</string>
                <key>offset</key>
                <string>{-4,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,174},{38,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,354},{26,60}}</string>
                <key>offset</key>
                <string>{-1,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,174},{26,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,448},{34,60}}</string>
                <key>offset</key>
                <string>{-2,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,173},{34,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,382},{18,68}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,172},{18,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{18,66}}</string>
                <key>offset</key>
                <string>{-1,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,174},{18,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,382},{22,60}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{26,56}}</string>
                <key>offset</key>
                <string>{2,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,184},{26,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,452},{28,52}}</string>
                <key>offset</key>
                <string>{2,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,188},{28,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,444},{28,46}}</string>
                <key>offset</key>
                <string>{8,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,194},{28,46}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,376},{34,44}}</string>
                <key>offset</key>
                <string>{12,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,196},{34,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,214},{38,42}}</string>
                <key>offset</key>
                <string>{18,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,198},{38,42}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,340},{50,34}}</string>
                <key>offset</key>
                <string>{25,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,206},{50,34}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,444},{60,28}}</string>
                <key>offset</key>
                <string>{30,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,212},{60,28}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,314},{64,20}}</string>
                <key>offset</key>
                <string>{32,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,220},{64,20}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,148},{64,16}}</string>
                <key>offset</key>
                <string>{31,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,224},{64,16}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,278},{30,68}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{30,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{30,68}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{30,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,252},{30,68}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{30,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,246},{30,68}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{30,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{30,68}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{30,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,220},{30,68}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{30,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,214},{30,68}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{30,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{30,68}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{30,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,188},{30,68}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{30,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,182},{30,68}}</string>
                <key>offset</key>
                <string>{8,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,172},{30,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{30,68}}</string>
                <key>offset</key>
                <string>{8,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,172},{30,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{28,68}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,172},{28,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,154},{32,68}}</string>
                <key>offset</key>
                <string>{9,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,172},{32,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{34,76}}</string>
                <key>offset</key>
                <string>{7,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,164},{34,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{34,82}}</string>
                <key>offset</key>
                <string>{6,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,158},{34,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,38},{34,82}}</string>
                <key>offset</key>
                <string>{6,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,158},{34,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{34,80}}</string>
                <key>offset</key>
                <string>{6,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,160},{34,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{34,82}}</string>
                <key>offset</key>
                <string>{6,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,158},{34,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,40},{32,82}}</string>
                <key>offset</key>
                <string>{6,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,158},{32,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{36,82}}</string>
                <key>offset</key>
                <string>{5,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,158},{36,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,82}}</string>
                <key>offset</key>
                <string>{5,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,158},{36,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,74},{36,80}}</string>
                <key>offset</key>
                <string>{6,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,160},{36,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,112},{34,80}}</string>
                <key>offset</key>
                <string>{5,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,160},{34,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{36,80}}</string>
                <key>offset</key>
                <string>{3,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,160},{36,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,74},{38,80}}</string>
                <key>offset</key>
                <string>{3,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,160},{38,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,114},{38,78}}</string>
                <key>offset</key>
                <string>{4,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,162},{38,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,148},{32,72}}</string>
                <key>offset</key>
                <string>{5,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,168},{32,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,310},{28,68}}</string>
                <key>offset</key>
                <string>{6,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{28,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,284},{28,68}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,172},{28,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfEarthSheet-iphone4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e1dd8426a15814db83e458c138020cd:110be21c4adac64b7f70d74d4238b05a:722a63b15cab3423217ae036ea7bbfe2$</string>
            <key>textureFileName</key>
            <string>elfEarthSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
