<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfEarth.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,114},{18,28}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,89},{18,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,42},{22,28}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,90},{22,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,40},{22,30}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,90},{22,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,238},{16,30}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,112},{20,28}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,91},{20,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,84},{22,26}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,91},{22,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,112},{16,28}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,90},{16,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,150},{20,28}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,89},{20,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,42},{14,30}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,90},{14,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,72},{10,30}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,90},{10,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,176},{14,28}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,92},{14,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,212},{16,26}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,94},{16,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,110},{16,24}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,96},{16,24}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,214},{16,22}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,98},{16,22}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,232},{18,20}}</string>
                <key>offset</key>
                <string>{5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,100},{18,20}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,192},{20,20}}</string>
                <key>offset</key>
                <string>{8,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,100},{20,20}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,192},{26,18}}</string>
                <key>offset</key>
                <string>{11,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,102},{26,18}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,144},{30,14}}</string>
                <key>offset</key>
                <string>{15,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,106},{30,14}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,144},{34,12}}</string>
                <key>offset</key>
                <string>{17,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,108},{34,12}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,180},{34,8}}</string>
                <key>offset</key>
                <string>{17,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,112},{34,8}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,206},{16,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,174},{16,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,222},{16,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,190},{16,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,224},{16,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,192},{16,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,160},{16,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,128},{16,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,142},{16,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,142},{16,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,92},{16,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,74},{16,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,118},{18,30}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,90},{18,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{18,32}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{18,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,40},{18,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{18,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,40},{20,36}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,84},{20,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,22},{18,36}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,84},{18,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{18,36}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,84},{18,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{18,36}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,84},{18,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{18,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{18,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{18,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{18,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{20,36}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,84},{20,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,80},{18,36}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,84},{18,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{18,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,84},{18,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{20,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,84},{20,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,84},{22,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,78},{18,34}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,86},{18,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{16,30}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{16,30}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfEarthSheet.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:887096d8b3f02d9d1ba71a9d2f87bfdd:b1641493ecc4071b7cd93d407833dfa0:308dc54cc42fecdb73a91fe14322f554$</string>
            <key>textureFileName</key>
            <string>elfEarthSheet.png</string>
        </dict>
    </dict>
</plist>
