<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfEarth.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,54},{22,32}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,106},{22,32}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,228},{26,34}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,106},{26,34}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,228},{26,36}}</string>
                <key>offset</key>
                <string>{-2,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,106},{26,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,98},{18,34}}</string>
                <key>offset</key>
                <string>{1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,108},{18,34}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,172},{22,34}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,107},{22,34}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{26,32}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,106},{26,32}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,70},{20,32}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,107},{20,32}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,30},{22,32}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,107},{22,32}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,210},{16,36}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,106},{16,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,172},{12,36}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,106},{12,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,210},{16,34}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,108},{16,34}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,208},{18,30}}</string>
                <key>offset</key>
                <string>{1,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,112},{18,30}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,104},{20,28}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,114},{20,28}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,228},{18,26}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,116},{18,26}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,228},{20,24}}</string>
                <key>offset</key>
                <string>{7,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,118},{20,24}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,78},{24,24}}</string>
                <key>offset</key>
                <string>{9,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,118},{24,24}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,70},{30,20}}</string>
                <key>offset</key>
                <string>{13,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,122},{30,20}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,60},{36,18}}</string>
                <key>offset</key>
                <string>{17,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,124},{36,18}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{40,14}}</string>
                <key>offset</key>
                <string>{20,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,128},{40,14}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{40,10}}</string>
                <key>offset</key>
                <string>{20,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,132},{40,10}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,134},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,172},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,134},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,172},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,134},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,82},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,62},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,48},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,48},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,60},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,40},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,26},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,26},{20,36}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,14},{22,36}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,106},{22,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{22,44}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,98},{22,44}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{22,42}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,100},{22,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,140},{24,42}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,100},{24,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,90},{22,42}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,100},{22,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{22,44}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,98},{22,44}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{20,44}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,98},{20,44}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,44}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,98},{22,44}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,46},{22,42}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,100},{22,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{22,42}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,100},{22,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,184},{22,42}}</string>
                <key>offset</key>
                <string>{2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,100},{22,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{24,42}}</string>
                <key>offset</key>
                <string>{2,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,100},{24,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{24,42}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,100},{24,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{22,40}}</string>
                <key>offset</key>
                <string>{3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,102},{22,40}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,38},{20,36}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>elfEarth.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,18},{20,36}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,106},{20,36}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfEarthSheet-iphone5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a5a12bce65140e56b7e9683841486c1:c72faf39c46d5849da9b529201934986:308dc54cc42fecdb73a91fe14322f554$</string>
            <key>textureFileName</key>
            <string>elfEarthSheet-iphone5.png</string>
        </dict>
    </dict>
</plist>
