<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfEarth.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,274},{24,54}}</string>
                <key>offset</key>
                <string>{-1,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,179},{24,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,136},{28,56}}</string>
                <key>offset</key>
                <string>{-3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,180},{28,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,76},{30,58}}</string>
                <key>offset</key>
                <string>{-2,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,181},{30,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{20,58}}</string>
                <key>offset</key>
                <string>{2,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,182},{20,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,246},{26,56}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,182},{26,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,194},{28,52}}</string>
                <key>offset</key>
                <string>{-2,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,181},{28,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{22,54}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,181},{22,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,248},{26,54}}</string>
                <key>offset</key>
                <string>{-1,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,180},{26,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,228},{18,60}}</string>
                <key>offset</key>
                <string>{1,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,180},{18,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,230},{14,60}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,180},{14,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{18,56}}</string>
                <key>offset</key>
                <string>{0,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,184},{18,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,248},{22,52}}</string>
                <key>offset</key>
                <string>{1,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,188},{22,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,272},{22,48}}</string>
                <key>offset</key>
                <string>{2,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,191},{22,48}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,300},{22,44}}</string>
                <key>offset</key>
                <string>{4,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,196},{22,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,248},{24,40}}</string>
                <key>offset</key>
                <string>{7,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,200},{24,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,290},{26,40}}</string>
                <key>offset</key>
                <string>{11,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,200},{26,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,170},{34,34}}</string>
                <key>offset</key>
                <string>{15,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,206},{34,34}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,206},{40,28}}</string>
                <key>offset</key>
                <string>{20,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,212},{40,28}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,276},{46,22}}</string>
                <key>offset</key>
                <string>{22,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,218},{46,22}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,296},{46,16}}</string>
                <key>offset</key>
                <string>{22,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,224},{46,16}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{22,60}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,206},{22,60}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{22,60}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,204},{22,60}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,182},{22,60}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{22,60}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,180},{22,60}}</string>
                <key>offset</key>
                <string>{5,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,158},{22,60}}</string>
                <key>offset</key>
                <string>{5,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,156},{22,60}}</string>
                <key>offset</key>
                <string>{5,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{22,60}}</string>
                <key>offset</key>
                <string>{5,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,134},{22,60}}</string>
                <key>offset</key>
                <string>{5,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,132},{22,60}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{24,60}}</string>
                <key>offset</key>
                <string>{5,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,180},{24,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,108},{24,62}}</string>
                <key>offset</key>
                <string>{6,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,178},{24,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{24,74}}</string>
                <key>offset</key>
                <string>{4,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,166},{24,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{26,72}}</string>
                <key>offset</key>
                <string>{4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,168},{26,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,28},{26,72}}</string>
                <key>offset</key>
                <string>{3,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,168},{26,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,82},{24,72}}</string>
                <key>offset</key>
                <string>{4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,168},{24,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,56},{24,72}}</string>
                <key>offset</key>
                <string>{4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,168},{24,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{24,74}}</string>
                <key>offset</key>
                <string>{4,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,166},{24,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,74}}</string>
                <key>offset</key>
                <string>{4,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,166},{24,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,28},{26,72}}</string>
                <key>offset</key>
                <string>{4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,168},{26,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,56},{24,72}}</string>
                <key>offset</key>
                <string>{4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,168},{24,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{24,72}}</string>
                <key>offset</key>
                <string>{3,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,168},{24,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{26,72}}</string>
                <key>offset</key>
                <string>{2,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,168},{26,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{28,70}}</string>
                <key>offset</key>
                <string>{3,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,170},{28,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,82},{24,66}}</string>
                <key>offset</key>
                <string>{4,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,174},{24,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,108},{22,60}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,108},{22,60}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfEarthSheet-iphone4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cd83c2c414f83c9ca54b5af90f9f98e:a0addeaf8a2c4015ae4046125397a472:308dc54cc42fecdb73a91fe14322f554$</string>
            <key>textureFileName</key>
            <string>elfEarthSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
