<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfEarth.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{12,26}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,91},{12,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,36},{14,28}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,91},{14,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,100},{12,28}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,126},{10,28}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{10,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{14,24}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,93},{14,24}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,148},{14,24}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,93},{14,24}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,132},{10,26}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,91},{10,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,134},{12,26}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,91},{12,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,72},{8,28}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,92},{8,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,126},{6,28}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{6,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,138},{8,26}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,94},{8,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,148},{10,24}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,96},{10,24}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,78},{10,22}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,98},{10,22}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,114},{10,20}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,100},{10,20}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,158},{12,18}}</string>
                <key>offset</key>
                <string>{4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,102},{12,18}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,142},{14,18}}</string>
                <key>offset</key>
                <string>{5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,102},{14,18}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,126},{18,14}}</string>
                <key>offset</key>
                <string>{8,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,106},{18,14}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,100},{20,12}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,108},{20,12}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,66},{22,10}}</string>
                <key>offset</key>
                <string>{11,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,110},{22,10}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,90},{22,8}}</string>
                <key>offset</key>
                <string>{11,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,112},{22,8}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{10,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{10,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,114},{10,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{10,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,114},{10,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{10,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,100},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,86},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,86},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,72},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,72},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{10,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,90},{10,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,58},{12,30}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,46},{12,32}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,88},{12,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,84},{12,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,44},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,32},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,30},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,18},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,16},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{12,34}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{14,34}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,86},{14,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{14,32}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,88},{14,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{12,30}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,60},{10,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,90},{10,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfEarth.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,102},{10,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,92},{10,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfEarthSheet.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a2b4faccc48c39a1e8aefc79c0e07bb:1b4177b39a7bb50f5eafcbfc8f1296bc:722a63b15cab3423217ae036ea7bbfe2$</string>
            <key>textureFileName</key>
            <string>elfEarthSheet.png</string>
        </dict>
    </dict>
</plist>
