<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfEarth.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{24,50}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,183},{24,50}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,192},{26,54}}</string>
                <key>offset</key>
                <string>{-4,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,183},{26,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,198},{24,54}}</string>
                <key>offset</key>
                <string>{-2,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,186},{24,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,206},{20,52}}</string>
                <key>offset</key>
                <string>{1,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,187},{20,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,220},{26,50}}</string>
                <key>offset</key>
                <string>{-2,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,185},{26,50}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,98},{26,50}}</string>
                <key>offset</key>
                <string>{-2,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,184},{26,50}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,224},{18,50}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,184},{18,50}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,216},{24,50}}</string>
                <key>offset</key>
                <string>{-2,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,184},{24,50}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{14,58}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,182},{14,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,148},{12,56}}</string>
                <key>offset</key>
                <string>{0,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,184},{12,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,242},{16,50}}</string>
                <key>offset</key>
                <string>{0,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,190},{16,50}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,244},{18,46}}</string>
                <key>offset</key>
                <string>{1,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,194},{18,46}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,244},{18,42}}</string>
                <key>offset</key>
                <string>{2,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,197},{18,42}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{20,38}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,202},{20,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{24,36}}</string>
                <key>offset</key>
                <string>{8,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,204},{24,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,24},{26,36}}</string>
                <key>offset</key>
                <string>{11,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,204},{26,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,264},{34,28}}</string>
                <key>offset</key>
                <string>{16,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,212},{34,28}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,52},{40,24}}</string>
                <key>offset</key>
                <string>{20,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,216},{40,24}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,78},{44,18}}</string>
                <key>offset</key>
                <string>{21,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,222},{44,18}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,260},{44,14}}</string>
                <key>offset</key>
                <string>{22,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,226},{44,14}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,150},{20,58}}</string>
                <key>offset</key>
                <string>{4,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,182},{20,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,132},{20,58}}</string>
                <key>offset</key>
                <string>{5,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,182},{20,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{20,56}}</string>
                <key>offset</key>
                <string>{5,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,184},{20,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,194},{20,56}}</string>
                <key>offset</key>
                <string>{5,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,184},{20,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,176},{20,56}}</string>
                <key>offset</key>
                <string>{5,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,184},{20,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,170},{20,56}}</string>
                <key>offset</key>
                <string>{5,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,184},{20,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{20,56}}</string>
                <key>offset</key>
                <string>{5,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,184},{20,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,172},{20,56}}</string>
                <key>offset</key>
                <string>{5,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,184},{20,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,154},{20,56}}</string>
                <key>offset</key>
                <string>{5,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,184},{20,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,148},{20,56}}</string>
                <key>offset</key>
                <string>{5,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,184},{20,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{20,56}}</string>
                <key>offset</key>
                <string>{5,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,184},{20,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{20,58}}</string>
                <key>offset</key>
                <string>{4,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,182},{20,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,108},{22,58}}</string>
                <key>offset</key>
                <string>{6,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,182},{22,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,102},{24,62}}</string>
                <key>offset</key>
                <string>{5,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{24,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,70}}</string>
                <key>offset</key>
                <string>{4,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,170},{24,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,28},{24,68}}</string>
                <key>offset</key>
                <string>{4,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{24,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{24,68}}</string>
                <key>offset</key>
                <string>{4,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{24,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,52},{22,68}}</string>
                <key>offset</key>
                <string>{4,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,172},{22,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{22,70}}</string>
                <key>offset</key>
                <string>{4,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,170},{22,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,26},{24,68}}</string>
                <key>offset</key>
                <string>{3,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,172},{24,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{24,68}}</string>
                <key>offset</key>
                <string>{4,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,172},{24,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{24,66}}</string>
                <key>offset</key>
                <string>{4,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,174},{24,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,76},{24,66}}</string>
                <key>offset</key>
                <string>{3,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,174},{24,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,54},{24,66}}</string>
                <key>offset</key>
                <string>{2,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,174},{24,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{26,66}}</string>
                <key>offset</key>
                <string>{2,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,174},{26,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,80},{26,64}}</string>
                <key>offset</key>
                <string>{3,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,176},{26,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{22,60}}</string>
                <key>offset</key>
                <string>{4,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,180},{22,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,128},{20,58}}</string>
                <key>offset</key>
                <string>{4,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,182},{20,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfEarth.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,126},{20,58}}</string>
                <key>offset</key>
                <string>{4,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,182},{20,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfEarthSheet-iphone4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a2b4faccc48c39a1e8aefc79c0e07bb:1b4177b39a7bb50f5eafcbfc8f1296bc:722a63b15cab3423217ae036ea7bbfe2$</string>
            <key>textureFileName</key>
            <string>elfEarthSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
