<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfFire.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,438},{48,108}}</string>
                <key>offset</key>
                <string>{-3,-194}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,396},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{56,116}}</string>
                <key>offset</key>
                <string>{-9,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,396},{56,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,456},{50,112}}</string>
                <key>offset</key>
                <string>{-3,-200}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,400},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,508},{42,110}}</string>
                <key>offset</key>
                <string>{3,-201}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,402},{42,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,438},{56,108}}</string>
                <key>offset</key>
                <string>{-3,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,400},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{56,108}}</string>
                <key>offset</key>
                <string>{-5,-197}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,399},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,488},{38,108}}</string>
                <key>offset</key>
                <string>{0,-197}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,399},{38,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,252},{50,106}}</string>
                <key>offset</key>
                <string>{-3,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,399},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{26,116}}</string>
                <key>offset</key>
                <string>{1,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,396},{26,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{26,112}}</string>
                <key>offset</key>
                <string>{-1,-200}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,400},{26,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,314},{32,102}}</string>
                <key>offset</key>
                <string>{0,-205}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,410},{32,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,496},{38,94}}</string>
                <key>offset</key>
                <string>{3,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,418},{38,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,210},{40,86}}</string>
                <key>offset</key>
                <string>{4,-213}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,426},{40,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,110},{42,76}}</string>
                <key>offset</key>
                <string>{12,-218}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,436},{42,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,60},{48,72}}</string>
                <key>offset</key>
                <string>{18,-220}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,440},{48,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{56,70}}</string>
                <key>offset</key>
                <string>{25,-221}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,442},{56,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,154},{74,54}}</string>
                <key>offset</key>
                <string>{36,-229}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,458},{74,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,528},{88,44}}</string>
                <key>offset</key>
                <string>{43,-234}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,468},{88,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,418},{92,30}}</string>
                <key>offset</key>
                <string>{45,-241}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,482},{92,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,222},{90,22}}</string>
                <key>offset</key>
                <string>{45,-245}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,490},{90,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,394},{42,116}}</string>
                <key>offset</key>
                <string>{10,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,396},{42,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,394},{42,116}}</string>
                <key>offset</key>
                <string>{10,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,396},{42,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,410},{44,116}}</string>
                <key>offset</key>
                <string>{10,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,396},{44,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{44,116}}</string>
                <key>offset</key>
                <string>{10,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,396},{44,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,364},{44,116}}</string>
                <key>offset</key>
                <string>{10,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,396},{44,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{44,116}}</string>
                <key>offset</key>
                <string>{10,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,396},{44,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,318},{44,116}}</string>
                <key>offset</key>
                <string>{10,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,396},{44,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{44,116}}</string>
                <key>offset</key>
                <string>{10,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,396},{44,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,304},{44,116}}</string>
                <key>offset</key>
                <string>{10,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,396},{44,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,304},{44,116}}</string>
                <key>offset</key>
                <string>{11,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,396},{44,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,272},{44,116}}</string>
                <key>offset</key>
                <string>{11,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,396},{44,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,350},{42,116}}</string>
                <key>offset</key>
                <string>{10,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,396},{42,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,222},{48,118}}</string>
                <key>offset</key>
                <string>{13,-197}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,394},{48,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{50,128}}</string>
                <key>offset</key>
                <string>{11,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,384},{50,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{50,144}}</string>
                <key>offset</key>
                <string>{9,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,368},{50,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,50},{50,142}}</string>
                <key>offset</key>
                <string>{9,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,370},{50,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{50,140}}</string>
                <key>offset</key>
                <string>{9,-186}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,372},{50,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{48,142}}</string>
                <key>offset</key>
                <string>{10,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,370},{48,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{46,144}}</string>
                <key>offset</key>
                <string>{9,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,368},{46,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,144}}</string>
                <key>offset</key>
                <string>{8,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,368},{50,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,54},{52,140}}</string>
                <key>offset</key>
                <string>{8,-186}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,372},{52,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,108},{54,138}}</string>
                <key>offset</key>
                <string>{8,-187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,374},{54,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,160},{50,138}}</string>
                <key>offset</key>
                <string>{7,-187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,374},{50,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{50,138}}</string>
                <key>offset</key>
                <string>{5,-187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,374},{50,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,102},{56,138}}</string>
                <key>offset</key>
                <string>{4,-187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,374},{56,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,164},{56,134}}</string>
                <key>offset</key>
                <string>{6,-189}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,378},{56,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,212},{46,124}}</string>
                <key>offset</key>
                <string>{8,-194}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,388},{46,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,260},{42,118}}</string>
                <key>offset</key>
                <string>{8,-197}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,394},{42,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfFire.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,350},{42,116}}</string>
                <key>offset</key>
                <string>{10,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,396},{42,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfFireSheet-ipadhd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:381848921504625dbdf36032fed5962c:dc22030243b20c0686dfb0ff997e2ff8:e54f40e811965532193b6369543a5084$</string>
            <key>textureFileName</key>
            <string>elfFireSheet-ipadhd.png</string>
        </dict>
    </dict>
</plist>
