<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfFire.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{36,56}}</string>
                <key>offset</key>
                <string>{-3,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,180},{36,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,190},{42,60}}</string>
                <key>offset</key>
                <string>{-7,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,180},{42,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,310},{38,58}}</string>
                <key>offset</key>
                <string>{-3,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,182},{38,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,350},{32,56}}</string>
                <key>offset</key>
                <string>{2,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,184},{32,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,252},{42,56}}</string>
                <key>offset</key>
                <string>{-2,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,183},{42,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,338},{40,56}}</string>
                <key>offset</key>
                <string>{-4,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,182},{40,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,380},{28,56}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,181},{28,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,368},{38,56}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,181},{38,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{20,60}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,180},{20,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,236},{20,58}}</string>
                <key>offset</key>
                <string>{-1,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,182},{20,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{24,52}}</string>
                <key>offset</key>
                <string>{0,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,188},{24,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,414},{28,50}}</string>
                <key>offset</key>
                <string>{2,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,190},{28,50}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,408},{30,46}}</string>
                <key>offset</key>
                <string>{2,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,194},{30,46}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,466},{30,40}}</string>
                <key>offset</key>
                <string>{9,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,200},{30,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,410},{36,38}}</string>
                <key>offset</key>
                <string>{13,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,202},{36,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{42,36}}</string>
                <key>offset</key>
                <string>{19,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,204},{42,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,384},{54,28}}</string>
                <key>offset</key>
                <string>{27,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,212},{54,28}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,64},{62,24}}</string>
                <key>offset</key>
                <string>{30,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,216},{62,24}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,176},{66,16}}</string>
                <key>offset</key>
                <string>{32,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,224},{66,16}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,162},{68,12}}</string>
                <key>offset</key>
                <string>{34,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,228},{68,12}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,334},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,304},{32,60}}</string>
                <key>offset</key>
                <string>{8,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{32,60}}</string>
                <key>offset</key>
                <string>{8,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,300},{32,60}}</string>
                <key>offset</key>
                <string>{8,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,270},{32,60}}</string>
                <key>offset</key>
                <string>{8,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{32,60}}</string>
                <key>offset</key>
                <string>{8,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,266},{32,60}}</string>
                <key>offset</key>
                <string>{8,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,236},{32,60}}</string>
                <key>offset</key>
                <string>{8,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{32,60}}</string>
                <key>offset</key>
                <string>{8,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,232},{32,60}}</string>
                <key>offset</key>
                <string>{8,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,202},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,194},{36,62}}</string>
                <key>offset</key>
                <string>{9,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,178},{36,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{36,68}}</string>
                <key>offset</key>
                <string>{9,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,172},{36,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{38,76}}</string>
                <key>offset</key>
                <string>{6,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,164},{38,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{38,74}}</string>
                <key>offset</key>
                <string>{6,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,166},{38,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,122},{38,72}}</string>
                <key>offset</key>
                <string>{6,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,168},{38,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,42},{36,74}}</string>
                <key>offset</key>
                <string>{7,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,166},{36,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,42},{34,74}}</string>
                <key>offset</key>
                <string>{7,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,166},{34,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,76}}</string>
                <key>offset</key>
                <string>{5,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,164},{38,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{38,74}}</string>
                <key>offset</key>
                <string>{6,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,166},{38,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,80},{40,72}}</string>
                <key>offset</key>
                <string>{6,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,168},{40,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{38,72}}</string>
                <key>offset</key>
                <string>{5,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,168},{38,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{38,72}}</string>
                <key>offset</key>
                <string>{3,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,168},{38,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,78},{42,72}}</string>
                <key>offset</key>
                <string>{3,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,168},{42,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,122},{42,70}}</string>
                <key>offset</key>
                <string>{5,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,170},{42,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,166},{34,66}}</string>
                <key>offset</key>
                <string>{6,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,174},{34,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{32,60}}</string>
                <key>offset</key>
                <string>{6,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfFire.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,128},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfFireSheet-iphone4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22405d9cf66e2b76191a8bbdbf72a607:e92b5511c8a355ade085f3b5995e82f9:e54f40e811965532193b6369543a5084$</string>
            <key>textureFileName</key>
            <string>elfFireSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
