<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfLife.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,378},{34,54}}</string>
                <key>offset</key>
                <string>{-1,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,179},{34,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,288},{42,56}}</string>
                <key>offset</key>
                <string>{-5,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,180},{42,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,196},{44,58}}</string>
                <key>offset</key>
                <string>{-3,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,181},{44,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,346},{30,58}}</string>
                <key>offset</key>
                <string>{2,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,182},{30,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{38,56}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,182},{38,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{42,52}}</string>
                <key>offset</key>
                <string>{-4,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,181},{42,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{32,54}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,181},{32,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,364},{36,54}}</string>
                <key>offset</key>
                <string>{-1,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,180},{36,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,72},{26,60}}</string>
                <key>offset</key>
                <string>{2,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,180},{26,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,232},{20,60}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,180},{20,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,346},{26,56}}</string>
                <key>offset</key>
                <string>{1,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,184},{26,56}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,438},{30,52}}</string>
                <key>offset</key>
                <string>{2,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,188},{30,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,402},{32,48}}</string>
                <key>offset</key>
                <string>{3,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,191},{32,48}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,256},{30,44}}</string>
                <key>offset</key>
                <string>{6,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,196},{30,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,414},{34,40}}</string>
                <key>offset</key>
                <string>{11,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,200},{34,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,456},{38,40}}</string>
                <key>offset</key>
                <string>{16,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,200},{38,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,374},{50,34}}</string>
                <key>offset</key>
                <string>{23,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,206},{50,34}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,334},{60,28}}</string>
                <key>offset</key>
                <string>{30,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,212},{60,28}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{68,22}}</string>
                <key>offset</key>
                <string>{33,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,218},{68,22}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,156},{68,16}}</string>
                <key>offset</key>
                <string>{34,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,224},{68,16}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,312},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,300},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,278},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,266},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,244},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,232},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,210},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,198},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,174},{34,60}}</string>
                <key>offset</key>
                <string>{9,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,180},{34,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,160},{36,62}}</string>
                <key>offset</key>
                <string>{9,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,178},{36,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{36,74}}</string>
                <key>offset</key>
                <string>{6,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,166},{36,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{38,72}}</string>
                <key>offset</key>
                <string>{6,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,168},{38,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,40},{38,72}}</string>
                <key>offset</key>
                <string>{5,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,168},{38,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{36,72}}</string>
                <key>offset</key>
                <string>{6,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,168},{36,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,118},{36,72}}</string>
                <key>offset</key>
                <string>{6,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,168},{36,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{34,74}}</string>
                <key>offset</key>
                <string>{7,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,166},{34,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,74}}</string>
                <key>offset</key>
                <string>{6,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,166},{36,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{38,72}}</string>
                <key>offset</key>
                <string>{6,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,168},{38,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,80},{36,72}}</string>
                <key>offset</key>
                <string>{6,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,168},{36,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,80},{36,72}}</string>
                <key>offset</key>
                <string>{4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,168},{36,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,38},{40,72}}</string>
                <key>offset</key>
                <string>{3,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,168},{40,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,118},{40,70}}</string>
                <key>offset</key>
                <string>{5,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,170},{40,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{36,66}}</string>
                <key>offset</key>
                <string>{5,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,174},{36,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{30,60}}</string>
                <key>offset</key>
                <string>{6,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,180},{30,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfLife.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,134},{32,60}}</string>
                <key>offset</key>
                <string>{7,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,180},{32,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfLifeSheet-iphone4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54391e7ca45e80d83410263e8c5e83b3:034b4e9d3a2754d7745379ddf5beb30e:47ba99ddd9c9f3fca0fa5bf9a60b432e$</string>
            <key>textureFileName</key>
            <string>elfLifeSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
