<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfLife.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{72,114}}</string>
                <key>offset</key>
                <string>{-6,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,381},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,678},{84,124}}</string>
                <key>offset</key>
                <string>{-14,-187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,381},{84,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{76,126}}</string>
                <key>offset</key>
                <string>{-5,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,386},{76,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,714},{64,122}}</string>
                <key>offset</key>
                <string>{5,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,388},{64,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,698},{82,116}}</string>
                <key>offset</key>
                <string>{-3,-188}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,386},{82,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,764},{82,114}}</string>
                <key>offset</key>
                <string>{-8,-186}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,385},{82,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,902},{56,114}}</string>
                <key>offset</key>
                <string>{-1,-185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,384},{56,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,780},{76,114}}</string>
                <key>offset</key>
                <string>{-6,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,384},{76,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,240},{38,132}}</string>
                <key>offset</key>
                <string>{1,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,380},{38,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,482},{38,128}}</string>
                <key>offset</key>
                <string>{-1,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,384},{38,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{48,116}}</string>
                <key>offset</key>
                <string>{0,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,396},{48,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,640},{56,108}}</string>
                <key>offset</key>
                <string>{4,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,404},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,782},{60,100}}</string>
                <key>offset</key>
                <string>{6,-206}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,412},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,844},{64,92}}</string>
                <key>offset</key>
                <string>{18,-210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,420},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,910},{72,86}}</string>
                <key>offset</key>
                <string>{28,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,426},{72,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,910},{84,82}}</string>
                <key>offset</key>
                <string>{40,-215}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,430},{84,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{114,64}}</string>
                <key>offset</key>
                <string>{56,-224}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,448},{114,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,360},{136,54}}</string>
                <key>offset</key>
                <string>{68,-229}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,458},{136,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{144,40}}</string>
                <key>offset</key>
                <string>{73,-236}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,472},{144,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,326},{140,32}}</string>
                <key>offset</key>
                <string>{71,-240}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,480},{140,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,518},{62,132}}</string>
                <key>offset</key>
                <string>{16,-190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,380},{62,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,452},{64,132}}</string>
                <key>offset</key>
                <string>{16,-190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,380},{64,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,416},{64,132}}</string>
                <key>offset</key>
                <string>{16,-190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,380},{64,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{64,132}}</string>
                <key>offset</key>
                <string>{16,-190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,380},{64,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,648},{64,130}}</string>
                <key>offset</key>
                <string>{17,-191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,382},{64,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,612},{64,130}}</string>
                <key>offset</key>
                <string>{17,-191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,382},{64,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{64,130}}</string>
                <key>offset</key>
                <string>{17,-191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,382},{64,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,582},{64,130}}</string>
                <key>offset</key>
                <string>{17,-191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,382},{64,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,546},{64,130}}</string>
                <key>offset</key>
                <string>{17,-191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,382},{64,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,508},{66,130}}</string>
                <key>offset</key>
                <string>{17,-191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,382},{66,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{66,130}}</string>
                <key>offset</key>
                <string>{17,-191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,382},{66,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,482},{62,132}}</string>
                <key>offset</key>
                <string>{16,-190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,380},{62,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,378},{72,132}}</string>
                <key>offset</key>
                <string>{20,-190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,380},{72,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,302},{74,148}}</string>
                <key>offset</key>
                <string>{17,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,364},{74,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{74,162}}</string>
                <key>offset</key>
                <string>{14,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,350},{74,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,80},{76,158}}</string>
                <key>offset</key>
                <string>{13,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,354},{76,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,158}}</string>
                <key>offset</key>
                <string>{13,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,354},{76,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,150},{72,158}}</string>
                <key>offset</key>
                <string>{15,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,354},{72,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,78},{70,160}}</string>
                <key>offset</key>
                <string>{14,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,352},{70,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,162}}</string>
                <key>offset</key>
                <string>{12,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,350},{76,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{76,160}}</string>
                <key>offset</key>
                <string>{13,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,352},{76,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,158},{80,156}}</string>
                <key>offset</key>
                <string>{13,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,356},{80,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{76,156}}</string>
                <key>offset</key>
                <string>{11,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,356},{76,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,224},{76,156}}</string>
                <key>offset</key>
                <string>{7,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,356},{76,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{84,156}}</string>
                <key>offset</key>
                <string>{7,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,356},{84,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,240},{84,152}}</string>
                <key>offset</key>
                <string>{10,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,360},{84,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{70,142}}</string>
                <key>offset</key>
                <string>{12,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,370},{70,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{62,132}}</string>
                <key>offset</key>
                <string>{14,-190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,380},{62,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfLife.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,374},{62,132}}</string>
                <key>offset</key>
                <string>{16,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,380},{62,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfLifeSheet-ipadhd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecac32127dc2cbb5793716634d85e651:b0d1f69b3053fedc99fa6c92ac579fd4:edc8cc8292493da3e0a15f0a6b093a31$</string>
            <key>textureFileName</key>
            <string>elfLifeSheet-ipadhd.png</string>
        </dict>
    </dict>
</plist>
