<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfLife.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{12,26}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,91},{12,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,36},{14,28}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,91},{14,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,100},{12,28}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,126},{10,28}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{10,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{14,24}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,93},{14,24}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,148},{14,24}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,93},{14,24}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,132},{10,26}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,91},{10,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,134},{12,26}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,91},{12,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,72},{8,28}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,92},{8,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,126},{6,28}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{6,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,138},{8,26}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,94},{8,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,148},{10,24}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,96},{10,24}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,78},{10,22}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,98},{10,22}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,114},{10,20}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,100},{10,20}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,158},{12,18}}</string>
                <key>offset</key>
                <string>{4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,102},{12,18}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,142},{14,18}}</string>
                <key>offset</key>
                <string>{5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,102},{14,18}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,126},{18,14}}</string>
                <key>offset</key>
                <string>{8,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,106},{18,14}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,100},{20,12}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,108},{20,12}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,66},{22,10}}</string>
                <key>offset</key>
                <string>{11,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,110},{22,10}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,90},{22,8}}</string>
                <key>offset</key>
                <string>{11,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,112},{22,8}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{10,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{10,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,114},{10,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{10,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,114},{10,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{10,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,100},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,86},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,86},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,72},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,72},{12,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{10,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,90},{10,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,58},{12,30}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,46},{12,32}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,88},{12,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,84},{12,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,44},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,32},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,30},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,18},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,16},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{12,34}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{14,34}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,86},{14,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{14,32}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,88},{14,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{12,30}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,60},{10,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,90},{10,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfLife.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,102},{10,28}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,92},{10,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfLifeSheet.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6219d2776e0abbd0ed24175e6a55a3ac:baa2ea6bc8f63264bb8dd9e414e4c806:edc8cc8292493da3e0a15f0a6b093a31$</string>
            <key>textureFileName</key>
            <string>elfLifeSheet.png</string>
        </dict>
    </dict>
</plist>
