<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,210},{54,84}}</string>
                <key>offset</key>
                <string>{-1,-139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,289},{54,84}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,396},{64,90}}</string>
                <key>offset</key>
                <string>{-7,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,288},{64,90}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,392},{68,92}}</string>
                <key>offset</key>
                <string>{-4,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,290},{68,92}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{46,90}}</string>
                <key>offset</key>
                <string>{4,-147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,294},{46,90}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,414},{60,90}}</string>
                <key>offset</key>
                <string>{-1,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,291},{60,90}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,266},{66,82}}</string>
                <key>offset</key>
                <string>{-6,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,291},{66,82}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,476},{50,86}}</string>
                <key>offset</key>
                <string>{-4,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,290},{50,86}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,462},{58,86}}</string>
                <key>offset</key>
                <string>{-2,-139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,288},{58,86}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,386},{42,94}}</string>
                <key>offset</key>
                <string>{2,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,290},{42,94}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,112},{32,96}}</string>
                <key>offset</key>
                <string>{-1,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,288},{32,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,430},{42,88}}</string>
                <key>offset</key>
                <string>{0,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,296},{42,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{48,82}}</string>
                <key>offset</key>
                <string>{3,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,302},{48,82}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,474},{50,74}}</string>
                <key>offset</key>
                <string>{5,-153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,308},{50,74}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,474},{48,70}}</string>
                <key>offset</key>
                <string>{10,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,314},{48,70}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,518},{54,64}}</string>
                <key>offset</key>
                <string>{17,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,320},{54,64}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,524},{60,64}}</string>
                <key>offset</key>
                <string>{26,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,320},{60,64}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,462},{78,54}}</string>
                <key>offset</key>
                <string>{38,-165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,330},{78,54}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{96,46}}</string>
                <key>offset</key>
                <string>{48,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,338},{96,46}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{108,36}}</string>
                <key>offset</key>
                <string>{54,-174}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,348},{108,36}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,182},{108,24}}</string>
                <key>offset</key>
                <string>{54,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,360},{108,24}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,264},{48,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,288},{48,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{48,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,288},{48,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,296},{48,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,288},{48,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,314},{48,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,288},{48,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{48,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,288},{48,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,342},{48,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,288},{48,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{50,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,288},{50,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,186},{50,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,288},{50,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,238},{50,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,288},{50,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,244},{50,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,288},{50,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,290},{50,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,288},{50,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,346},{48,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,288},{48,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,208},{54,96}}</string>
                <key>offset</key>
                <string>{14,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,288},{54,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,186},{56,98}}</string>
                <key>offset</key>
                <string>{14,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,286},{56,98}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{58,116}}</string>
                <key>offset</key>
                <string>{10,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,268},{58,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,62},{58,114}}</string>
                <key>offset</key>
                <string>{10,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,270},{58,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,60},{60,114}}</string>
                <key>offset</key>
                <string>{9,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,270},{60,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{58,114}}</string>
                <key>offset</key>
                <string>{10,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,270},{58,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{56,116}}</string>
                <key>offset</key>
                <string>{10,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,268},{56,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,118}}</string>
                <key>offset</key>
                <string>{11,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,266},{54,118}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{58,116}}</string>
                <key>offset</key>
                <string>{10,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,268},{58,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,66},{60,114}}</string>
                <key>offset</key>
                <string>{10,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,270},{60,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,122},{58,114}}</string>
                <key>offset</key>
                <string>{10,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,270},{58,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{56,114}}</string>
                <key>offset</key>
                <string>{7,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,270},{56,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{62,114}}</string>
                <key>offset</key>
                <string>{5,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,270},{62,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,122},{62,110}}</string>
                <key>offset</key>
                <string>{8,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,274},{62,110}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,128},{56,106}}</string>
                <key>offset</key>
                <string>{9,-139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,278},{56,106}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,334},{50,96}}</string>
                <key>offset</key>
                <string>{9,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,288},{50,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>elfVoid.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,364},{48,96}}</string>
                <key>offset</key>
                <string>{12,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,288},{48,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfVoidSheet-ipad.0.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0d607c8ddda03bd6ddef58ef1a419fe:79e831ab3f2e7a4337b8b390e1232c5d:76966fa3cf295abe55a8feef89d0a368$</string>
            <key>textureFileName</key>
            <string>elfVoidSheet-ipad.0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
