<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,490},{48,104}}</string>
                <key>offset</key>
                <string>{-4,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,393},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,76},{56,114}}</string>
                <key>offset</key>
                <string>{-9,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,391},{56,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,332},{50,114}}</string>
                <key>offset</key>
                <string>{-4,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,397},{50,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,434},{42,110}}</string>
                <key>offset</key>
                <string>{3,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,399},{42,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{54,104}}</string>
                <key>offset</key>
                <string>{-3,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,396},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,478},{54,104}}</string>
                <key>offset</key>
                <string>{-5,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,396},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{36,106}}</string>
                <key>offset</key>
                <string>{0,-191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,394},{36,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,490},{48,104}}</string>
                <key>offset</key>
                <string>{-3,-190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,394},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,210},{26,120}}</string>
                <key>offset</key>
                <string>{1,-196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,392},{26,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{26,116}}</string>
                <key>offset</key>
                <string>{-1,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,396},{26,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,470},{32,106}}</string>
                <key>offset</key>
                <string>{0,-203}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,406},{32,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,504},{38,98}}</string>
                <key>offset</key>
                <string>{2,-206}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,413},{38,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,540},{40,90}}</string>
                <key>offset</key>
                <string>{3,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,420},{40,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,244},{40,82}}</string>
                <key>offset</key>
                <string>{12,-215}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,430},{40,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,286},{46,78}}</string>
                <key>offset</key>
                <string>{18,-217}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,434},{46,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,334},{54,76}}</string>
                <key>offset</key>
                <string>{25,-218}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,436},{54,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{72,60}}</string>
                <key>offset</key>
                <string>{34,-226}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,452},{72,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,192},{86,50}}</string>
                <key>offset</key>
                <string>{42,-231}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,462},{86,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{92,38}}</string>
                <key>offset</key>
                <string>{45,-237}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,474},{92,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,534},{94,30}}</string>
                <key>offset</key>
                <string>{46,-241}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,482},{94,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,448},{40,120}}</string>
                <key>offset</key>
                <string>{10,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,392},{40,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,390},{42,120}}</string>
                <key>offset</key>
                <string>{10,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,392},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,384},{42,120}}</string>
                <key>offset</key>
                <string>{10,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,392},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{42,120}}</string>
                <key>offset</key>
                <string>{10,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,392},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,346},{42,120}}</string>
                <key>offset</key>
                <string>{10,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,392},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{42,120}}</string>
                <key>offset</key>
                <string>{10,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,392},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,340},{42,120}}</string>
                <key>offset</key>
                <string>{10,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,392},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,302},{42,120}}</string>
                <key>offset</key>
                <string>{10,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,392},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,296},{42,120}}</string>
                <key>offset</key>
                <string>{11,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,392},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,258},{42,120}}</string>
                <key>offset</key>
                <string>{11,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,392},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,252},{42,120}}</string>
                <key>offset</key>
                <string>{11,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,392},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,428},{40,120}}</string>
                <key>offset</key>
                <string>{10,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,392},{40,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{46,122}}</string>
                <key>offset</key>
                <string>{13,-195}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,390},{46,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,160},{48,132}}</string>
                <key>offset</key>
                <string>{11,-190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,380},{48,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,148}}</string>
                <key>offset</key>
                <string>{9,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,364},{48,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,54},{50,144}}</string>
                <key>offset</key>
                <string>{8,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,368},{50,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,54},{48,144}}</string>
                <key>offset</key>
                <string>{9,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,368},{48,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{48,144}}</string>
                <key>offset</key>
                <string>{9,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,368},{48,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{44,146}}</string>
                <key>offset</key>
                <string>{9,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,366},{44,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{50,146}}</string>
                <key>offset</key>
                <string>{7,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,366},{50,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{50,144}}</string>
                <key>offset</key>
                <string>{8,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,368},{50,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,106},{52,142}}</string>
                <key>offset</key>
                <string>{8,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,370},{52,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,160},{48,142}}</string>
                <key>offset</key>
                <string>{7,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,370},{48,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{50,142}}</string>
                <key>offset</key>
                <string>{4,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,370},{50,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,104},{54,142}}</string>
                <key>offset</key>
                <string>{5,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,370},{54,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{54,138}}</string>
                <key>offset</key>
                <string>{6,-187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,374},{54,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,210},{46,128}}</string>
                <key>offset</key>
                <string>{7,-192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,384},{46,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,210},{40,122}}</string>
                <key>offset</key>
                <string>{8,-195}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,390},{40,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elfVoid.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{40,120}}</string>
                <key>offset</key>
                <string>{10,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,392},{40,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfVoidSheet-ipadhd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee0454bbef2d0cea41ad9eb16d74e76b:2b50e85b54671ac0ba87b03539bde187:ade165753f199e87c3a4e0cf8e108474$</string>
            <key>textureFileName</key>
            <string>elfVoidSheet-ipadhd.png</string>
        </dict>
    </dict>
</plist>
