<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,396},{36,54}}</string>
                <key>offset</key>
                <string>{-3,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,179},{36,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,276},{42,60}}</string>
                <key>offset</key>
                <string>{-7,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,177},{42,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,320},{36,60}}</string>
                <key>offset</key>
                <string>{-2,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,180},{36,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{32,58}}</string>
                <key>offset</key>
                <string>{2,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,182},{32,58}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{40,54}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,181},{40,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,354},{40,54}}</string>
                <key>offset</key>
                <string>{-4,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,180},{40,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,190},{26,54}}</string>
                <key>offset</key>
                <string>{0,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,180},{26,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,374},{36,54}}</string>
                <key>offset</key>
                <string>{-3,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,180},{36,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,352},{20,62}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,178},{20,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,358},{20,60}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,180},{20,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,140},{24,54}}</string>
                <key>offset</key>
                <string>{0,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,186},{24,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,246},{28,52}}</string>
                <key>offset</key>
                <string>{1,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,188},{28,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{30,48}}</string>
                <key>offset</key>
                <string>{2,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,192},{30,48}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,462},{30,44}}</string>
                <key>offset</key>
                <string>{9,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,196},{30,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,476},{34,40}}</string>
                <key>offset</key>
                <string>{13,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,200},{34,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,434},{40,40}}</string>
                <key>offset</key>
                <string>{19,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,200},{40,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{54,30}}</string>
                <key>offset</key>
                <string>{26,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,210},{54,30}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,162},{64,26}}</string>
                <key>offset</key>
                <string>{32,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,214},{64,26}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,70},{68,20}}</string>
                <key>offset</key>
                <string>{34,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,220},{68,20}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{66,16}}</string>
                <key>offset</key>
                <string>{33,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,224},{66,16}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,322},{30,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{30,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,320},{30,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,290},{30,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{30,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,288},{30,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,258},{30,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{30,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,256},{30,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,190},{32,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,178},{32,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{32,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,178},{32,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,226},{30,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,190},{34,62}}</string>
                <key>offset</key>
                <string>{10,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{34,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{36,70}}</string>
                <key>offset</key>
                <string>{8,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,170},{36,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{36,76}}</string>
                <key>offset</key>
                <string>{6,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,164},{36,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{36,74}}</string>
                <key>offset</key>
                <string>{6,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,166},{36,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,82},{36,74}}</string>
                <key>offset</key>
                <string>{6,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,166},{36,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,118},{34,74}}</string>
                <key>offset</key>
                <string>{7,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,166},{34,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{34,76}}</string>
                <key>offset</key>
                <string>{6,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,164},{34,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{36,76}}</string>
                <key>offset</key>
                <string>{6,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,164},{36,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,76}}</string>
                <key>offset</key>
                <string>{6,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,164},{36,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,40},{38,74}}</string>
                <key>offset</key>
                <string>{6,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,166},{38,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,80},{36,74}}</string>
                <key>offset</key>
                <string>{5,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,166},{36,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{38,74}}</string>
                <key>offset</key>
                <string>{3,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,166},{38,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,40},{40,74}}</string>
                <key>offset</key>
                <string>{3,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,166},{40,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,120},{40,72}}</string>
                <key>offset</key>
                <string>{5,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,168},{40,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,154},{34,68}}</string>
                <key>offset</key>
                <string>{6,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,172},{34,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{30,62}}</string>
                <key>offset</key>
                <string>{6,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,178},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>elfVoid.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,224},{30,62}}</string>
                <key>offset</key>
                <string>{8,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,178},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfVoidSheet-iphone4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed514d95f2c9f524029b958e759c9c9d:3b8742e709553141099dc6f8e30925d3:ade165753f199e87c3a4e0cf8e108474$</string>
            <key>textureFileName</key>
            <string>elfVoidSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
