<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,186},{18,28}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,88},{18,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,190},{22,30}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,89},{22,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,222},{18,30}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,90},{18,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,156},{16,30}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,104},{20,28}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,90},{20,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,156},{20,28}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,89},{20,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,100},{14,28}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,89},{14,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,70},{18,28}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,89},{18,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,144},{10,32}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,88},{10,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,242},{10,30}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,90},{10,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{12,28}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,92},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,156},{14,26}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,94},{14,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,130},{16,24}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,96},{16,24}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,184},{16,22}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,98},{16,22}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,208},{18,20}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,100},{18,20}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,216},{22,20}}</string>
                <key>offset</key>
                <string>{9,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,100},{22,20}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,138},{28,16}}</string>
                <key>offset</key>
                <string>{13,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,104},{28,16}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,190},{32,14}}</string>
                <key>offset</key>
                <string>{16,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,106},{32,14}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,242},{34,10}}</string>
                <key>offset</key>
                <string>{17,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,110},{34,10}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,120},{34,8}}</string>
                <key>offset</key>
                <string>{16,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,112},{34,8}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,156},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,36},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,70},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,36},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,224},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,190},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,104},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,70},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,110},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,156},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,76},{18,32}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{18,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{18,36}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,84},{18,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,42},{18,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{18,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{18,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{18,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,202},{18,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{18,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,162},{18,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{18,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,122},{18,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{18,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{18,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{18,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{18,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{18,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{20,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,82},{20,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{18,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,82},{18,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{20,38}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,82},{20,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,38}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,82},{20,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,82},{22,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,84},{22,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,40},{18,34}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,86},{18,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,36},{16,32}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{16,32}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,88},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfVoidSheet.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed514d95f2c9f524029b958e759c9c9d:3b8742e709553141099dc6f8e30925d3:ade165753f199e87c3a4e0cf8e108474$</string>
            <key>textureFileName</key>
            <string>elfVoidSheet.png</string>
        </dict>
    </dict>
</plist>
