<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfVoid.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,156},{12,28}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,89},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,110},{16,28}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,90},{16,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,62},{16,30}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,90},{16,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,50},{10,30}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,90},{10,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,140},{14,28}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,91},{14,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{14,26}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,91},{14,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,150},{12,28}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,90},{12,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,80},{14,28}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,89},{14,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.287.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,18},{10,30}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,90},{10,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.288.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,144},{8,30}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,90},{8,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.289.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,82},{10,28}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,92},{10,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.290.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,154},{12,26}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,94},{12,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.291.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,164},{12,24}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,96},{12,24}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.292.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,112},{10,22}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,98},{10,22}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.293.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,178},{12,20}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,100},{12,20}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.294.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{14,20}}</string>
                <key>offset</key>
                <string>{5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,100},{14,20}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.295.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,184},{18,18}}</string>
                <key>offset</key>
                <string>{7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,102},{18,18}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.296.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,168},{20,14}}</string>
                <key>offset</key>
                <string>{10,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,106},{20,14}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.297.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{24,12}}</string>
                <key>offset</key>
                <string>{11,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,108},{24,12}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.298.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,164},{24,8}}</string>
                <key>offset</key>
                <string>{11,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,112},{24,8}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,136},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,130},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,122},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,116},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,108},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,102},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,94},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,88},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,80},{12,30}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{12,32}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,88},{12,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,48},{12,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,84},{12,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{14,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,84},{14,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{12,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,84},{12,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,46},{12,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,84},{12,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,34},{12,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,84},{12,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{12,38}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,82},{12,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,38}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,82},{12,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,18},{14,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,84},{14,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,32},{12,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,84},{12,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,16},{14,36}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,84},{14,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{14,36}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,84},{14,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{14,36}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,84},{14,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,60},{12,34}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>elfVoid.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,74},{12,30}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{12,30}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elfVoidSheet.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c1be066b3aef216bc328f0927789c29:ce45fe7c0fb342d06a0a11caf51e10ca:cc7b4fcb995d4fcea14ce529b1af174e$</string>
            <key>textureFileName</key>
            <string>elfVoidSheet.png</string>
        </dict>
    </dict>
</plist>
