<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,202},{54,70}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,58},{54,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,376},{58,78}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,50},{58,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,296},{56,82}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,46},{56,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,208},{54,82}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,46},{54,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,382},{54,86}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,42},{54,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,292},{54,88}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,40},{54,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,240},{54,90}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,38},{54,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,60},{56,94}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,34},{56,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{56,98}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,30},{56,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{56,100}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{56,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{56,100}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{56,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,456},{54,74}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,54},{54,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,178},{56,92}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,36},{56,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,182},{56,92}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,36},{56,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,118},{58,94}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{58,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,60},{56,96}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{56,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,242},{56,90}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,38},{56,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,184},{56,90}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,38},{56,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,236},{54,92}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,36},{54,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,104},{54,96}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{54,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{56,98}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{56,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,104},{54,102}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{54,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,456},{54,76}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,52},{54,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,114},{56,106}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{56,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{56,108}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{56,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{56,110}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{56,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{58,112}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{58,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,114}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{58,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,292},{58,82}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,46},{58,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,300},{58,80}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,48},{58,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,296},{58,82}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{58,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,296},{60,84}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{60,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,316},{60,88}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{60,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,360},{56,80}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,48},{56,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{62,90}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,38},{62,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,118},{62,92}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,36},{62,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{62,94}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{62,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,120},{62,88}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,40},{62,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,418},{62,76}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,52},{62,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,232},{58,82}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,46},{58,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,438},{58,70}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{58,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,438},{56,72}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,56},{56,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,60},{58,74}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,54},{58,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fire.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,380},{58,76}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,52},{58,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fbffd7a7a261e11b8d788a375ef0aa6:1/1$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
