<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{110,140}}</string>
                <key>offset</key>
                <string>{-6,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,116},{110,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,502},{116,158}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,98},{116,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{112,162}}</string>
                <key>offset</key>
                <string>{-6,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,94},{112,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,224},{112,164}}</string>
                <key>offset</key>
                <string>{-7,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,92},{112,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,172}}</string>
                <key>offset</key>
                <string>{-6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,84},{108,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{108,178}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,78},{108,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{108,182}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,74},{108,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,112},{110,190}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,66},{110,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,224},{112,194}}</string>
                <key>offset</key>
                <string>{-9,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,62},{112,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,226},{112,198}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,58},{112,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,340},{114,200}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,56},{114,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{110,146}}</string>
                <key>offset</key>
                <string>{-6,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,110},{110,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{116,184}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,72},{116,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,386},{114,186}}</string>
                <key>offset</key>
                <string>{-10,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,70},{114,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,570},{116,188}}</string>
                <key>offset</key>
                <string>{-9,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,68},{116,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{114,192}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,64},{114,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,226},{112,180}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,76},{112,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{112,182}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,74},{112,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{110,186}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,70},{110,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{110,190}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,66},{110,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,114},{110,196}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,60},{110,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,114},{110,204}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,52},{110,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,112},{110,152}}</string>
                <key>offset</key>
                <string>{-6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,104},{110,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,338},{112,212}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,44},{112,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,340},{112,216}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,40},{112,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,454},{114,220}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,36},{114,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,620},{116,224}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,32},{116,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,688},{116,226}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,30},{116,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{116,164}}</string>
                <key>offset</key>
                <string>{-8,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,92},{116,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,690},{118,160}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,96},{118,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,738},{120,166}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,90},{120,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,738},{120,170}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,86},{120,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{122,174}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,82},{122,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,226},{112,158}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,98},{112,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,806},{124,180}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,76},{124,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,810},{124,186}}</string>
                <key>offset</key>
                <string>{-4,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,70},{124,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,860},{124,190}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,66},{124,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,860},{124,178}}</string>
                <key>offset</key>
                <string>{-2,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,78},{124,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,690},{124,154}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,102},{124,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,570},{116,164}}</string>
                <key>offset</key>
                <string>{-7,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,92},{116,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,452},{114,140}}</string>
                <key>offset</key>
                <string>{-7,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,116},{114,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,456},{114,144}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,112},{114,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,502},{116,148}}</string>
                <key>offset</key>
                <string>{-7,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,108},{116,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,572},{116,152}}</string>
                <key>offset</key>
                <string>{-6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,104},{116,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9161459ed23a102d90041aeccff9b093:1/1$</string>
            <key>textureFileName</key>
            <string>fire-hd.png</string>
        </dict>
    </dict>
</plist>
