<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{1132,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1132,1280}}</string>
                <key>sourceSize</key>
                <string>{1132,1280}</string>
            </dict>
            <key>board2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,1280}}</string>
                <key>sourceSize</key>
                <string>{1136,1280}</string>
            </dict>
            <key>board3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{1136,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,1280}}</string>
                <key>sourceSize</key>
                <string>{1136,1280}</string>
            </dict>
            <key>board4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2566},{1136,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,1280}}</string>
                <key>sourceSize</key>
                <string>{1136,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameboard-ipadhd0.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a822f7e643d7f26efada2c205a684c8:ab65b5d6db310d35afdb29153ce6a491:bbd2b5601fe66734d3d2bb35918c1dfe$</string>
            <key>textureFileName</key>
            <string>gameboard-ipadhd0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
