<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,1280}}</string>
                <key>sourceSize</key>
                <string>{1136,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameboard-iphone44.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74c111797f1f47ebf0801f92cd59aa3e:1e03f2df9f5670346a04b636438db0ec:a9343a8fcb294b49d47cacb70133720a$</string>
            <key>textureFileName</key>
            <string>gameboard-iphone44.pvr.ccz</string>
        </dict>
    </dict>
</plist>
