<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{14,52}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,58},{14,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{18,50}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,60},{18,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{20,44}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,65},{20,44}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{14,52}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,58},{14,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,56},{22,50}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,60},{22,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,214},{26,40}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,70},{26,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,214},{22,40}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{22,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,102},{16,32}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,80},{16,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{18,34}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,80},{18,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,48},{16,38}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,82},{16,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,146},{22,38}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,76},{22,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{22,52}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,59},{22,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,52}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,59},{24,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,164},{26,48}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,62},{26,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,158},{24,40}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,70},{24,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,104},{18,40}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,80},{18,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{14,34}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,80},{14,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,38},{14,34}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,81},{14,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,200},{12,38}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,75},{12,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{12,50}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,60},{12,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,186},{12,36}}</string>
                <key>offset</key>
                <string>{-2,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,81},{12,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,110},{12,52}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,58},{12,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,108},{20,48}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,61},{20,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,200},{12,34}}</string>
                <key>offset</key>
                <string>{-3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,80},{12,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,40},{22,34}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,75},{22,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{22,36}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,77},{22,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,214},{20,38}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,82},{20,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,76},{30,24}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,78},{30,24}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,214},{22,40}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,63},{22,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{20,36}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,68},{20,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,104},{14,38}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,65},{14,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,48},{14,38}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,64},{14,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,142},{20,36}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,68},{20,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,104},{20,36}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,76},{20,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,88},{14,38}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,77},{14,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,180},{18,36}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,84},{18,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,136},{30,20}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,100},{30,20}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,74},{28,22}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,98},{28,22}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,102},{28,22}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,98},{28,22}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleFire.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,54},{12,48}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,61},{12,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleFireSheet.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03d611de8fff67e12014647957b07515:03274fa3a7ff75237ab16f4e3b5f1e4c:2e7ecb4f3bd4479ae4c1ce0e9ae98ea3$</string>
            <key>textureFileName</key>
            <string>gargoyleFireSheet.png</string>
        </dict>
    </dict>
</plist>
