<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{24,62}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,68},{24,62}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{30,60}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,70},{30,60}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,86},{36,52}}</string>
                <key>offset</key>
                <string>{-13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,77},{36,52}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{24,62}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,68},{24,62}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,52},{38,58}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,72},{38,58}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{44,48}}</string>
                <key>offset</key>
                <string>{-11,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,82},{44,48}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{36,46}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,96},{36,46}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,164},{26,38}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,95},{26,38}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{32,40}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,95},{32,40}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,156},{28,46}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,96},{28,46}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,164},{36,46}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,89},{36,46}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{36,60}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,71},{36,60}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,62}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,69},{40,62}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,40},{44,58}}</string>
                <key>offset</key>
                <string>{-9,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,73},{44,58}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,118},{44,48}}</string>
                <key>offset</key>
                <string>{-9,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,82},{44,48}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,124},{30,46}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,96},{30,46}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,212},{24,40}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,95},{24,40}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,170},{24,40}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,96},{24,40}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,202},{22,44}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,90},{22,44}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,28},{22,60}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,70},{22,60}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{20,42}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,96},{20,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,28},{22,62}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,68},{22,62}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,52},{34,56}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,73},{34,56}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,248},{20,40}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,95},{20,40}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,226},{40,40}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,89},{40,40}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,186},{40,44}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,90},{40,44}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,188},{36,44}}</string>
                <key>offset</key>
                <string>{-10,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,98},{36,44}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,88},{52,28}}</string>
                <key>offset</key>
                <string>{-19,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,92},{52,28}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,146},{40,46}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,76},{40,46}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,226},{34,42}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,81},{34,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,124},{24,44}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,78},{24,44}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,118},{26,44}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,77},{26,44}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{36,42}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,81},{36,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,262},{34,40}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{34,40}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,228},{22,44}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,92},{22,44}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,204},{32,42}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,100},{32,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,92},{52,24}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,118},{52,24}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,118},{48,26}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,116},{48,26}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{50,26}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,116},{50,26}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gargoyleFire.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{22,58}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,72},{22,58}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleFireSheet-iphone5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c1b58ee0cf31b164750cee72026d5c8:251ef6741023f40aec0bdaec662e33c4:697181fffac48c928e81c77c2cf6c486$</string>
            <key>textureFileName</key>
            <string>gargoyleFireSheet-iphone5.png</string>
        </dict>
    </dict>
</plist>
