<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,30},{24,102}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,117},{24,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{32,100}}</string>
                <key>offset</key>
                <string>{-11,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,119},{32,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{40,86}}</string>
                <key>offset</key>
                <string>{-15,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,132},{40,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{26,102}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,117},{26,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,74},{42,96}}</string>
                <key>offset</key>
                <string>{-12,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,123},{42,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,184},{50,78}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,140},{50,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{40,74}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,165},{40,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,172},{30,60}}</string>
                <key>offset</key>
                <string>{-1,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,165},{30,60}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,356},{34,64}}</string>
                <key>offset</key>
                <string>{-2,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,164},{34,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,254},{30,74}}</string>
                <key>offset</key>
                <string>{-10,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,166},{30,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,272},{40,74}}</string>
                <key>offset</key>
                <string>{-4,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,152},{40,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,56},{40,100}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,120},{40,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,102}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,118},{44,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{50,96}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,124},{50,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{48,78}}</string>
                <key>offset</key>
                <string>{-10,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,141},{48,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,236},{34,76}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,164},{34,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,420},{26,64}}</string>
                <key>offset</key>
                <string>{0,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,165},{26,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,392},{26,64}}</string>
                <key>offset</key>
                <string>{-4,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,165},{26,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{24,72}}</string>
                <key>offset</key>
                <string>{-8,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,152},{24,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,98},{22,98}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,121},{22,98}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,184},{22,68}}</string>
                <key>offset</key>
                <string>{-5,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,165},{22,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{22,102}}</string>
                <key>offset</key>
                <string>{-7,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,117},{22,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,146},{36,92}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,126},{36,92}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,288},{22,62}}</string>
                <key>offset</key>
                <string>{-6,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,166},{22,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{42,68}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,150},{42,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{44,70}}</string>
                <key>offset</key>
                <string>{-2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,155},{44,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,314},{38,74}}</string>
                <key>offset</key>
                <string>{-11,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,166},{38,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,204},{58,42}}</string>
                <key>offset</key>
                <string>{-21,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,159},{58,42}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{42,74}}</string>
                <key>offset</key>
                <string>{-14,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,129},{42,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,470},{38,68}}</string>
                <key>offset</key>
                <string>{-8,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,136},{38,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,382},{28,70}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,133},{28,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{28,74}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,129},{28,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,400},{40,68}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,139},{40,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,470},{38,66}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,155},{38,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,354},{26,72}}</string>
                <key>offset</key>
                <string>{-8,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,157},{26,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,330},{34,68}}</string>
                <key>offset</key>
                <string>{2,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,172},{34,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,248},{58,38}}</string>
                <key>offset</key>
                <string>{1,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,202},{58,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{52,40}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,200},{52,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,312},{56,42}}</string>
                <key>offset</key>
                <string>{-1,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,198},{56,42}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,122},{22,94}}</string>
                <key>offset</key>
                <string>{-6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,125},{22,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleVoidSheet-iphone4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cd11ecad1b434be50a41474966b389e:cf4c6e967e9477960d9eea6ab9e4b7b2:f331b78fda934dc42296e5ee51957f78$</string>
            <key>textureFileName</key>
            <string>gargoyleVoidSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
