<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,218}}</string>
                <key>offset</key>
                <string>{-18,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,248},{52,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,440},{68,212}}</string>
                <key>offset</key>
                <string>{-26,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,254},{68,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,830},{82,184}}</string>
                <key>offset</key>
                <string>{-32,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,280},{82,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{54,216}}</string>
                <key>offset</key>
                <string>{-20,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,250},{54,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,220},{88,206}}</string>
                <key>offset</key>
                <string>{-26,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,261},{88,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,206},{104,166}}</string>
                <key>offset</key>
                <string>{-28,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,299},{104,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,864},{84,158}}</string>
                <key>offset</key>
                <string>{-7,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,354},{84,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,576},{60,128}}</string>
                <key>offset</key>
                <string>{-2,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,353},{60,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,830},{72,136}}</string>
                <key>offset</key>
                <string>{-4,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,352},{72,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,598},{60,156}}</string>
                <key>offset</key>
                <string>{-21,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,356},{60,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{84,164}}</string>
                <key>offset</key>
                <string>{-7,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,323},{84,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{84,212}}</string>
                <key>offset</key>
                <string>{-7,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,256},{84,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{94,216}}</string>
                <key>offset</key>
                <string>{-15,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,253},{94,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{106,202}}</string>
                <key>offset</key>
                <string>{-22,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,266},{106,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,428},{104,168}}</string>
                <key>offset</key>
                <string>{-23,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,298},{104,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{74,158}}</string>
                <key>offset</key>
                <string>{-7,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,354},{74,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,828},{56,136}}</string>
                <key>offset</key>
                <string>{0,-165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,353},{56,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,968},{54,136}}</string>
                <key>offset</key>
                <string>{-9,-166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,354},{54,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,598},{48,156}}</string>
                <key>offset</key>
                <string>{-16,-148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,326},{48,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,654},{48,208}}</string>
                <key>offset</key>
                <string>{-15,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,257},{48,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,162},{46,146}}</string>
                <key>offset</key>
                <string>{-11,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,354},{46,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{48,216}}</string>
                <key>offset</key>
                <string>{-16,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,250},{48,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,630},{72,198}}</string>
                <key>offset</key>
                <string>{-5,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,267},{72,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,974},{46,134}}</string>
                <key>offset</key>
                <string>{-14,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,353},{46,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,162},{90,144}}</string>
                <key>offset</key>
                <string>{-11,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,320},{90,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{94,150}}</string>
                <key>offset</key>
                <string>{-6,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,330},{94,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{80,158}}</string>
                <key>offset</key>
                <string>{-24,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,354},{80,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,330},{122,94}}</string>
                <key>offset</key>
                <string>{-46,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,335},{122,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,168},{94,160}}</string>
                <key>offset</key>
                <string>{-30,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,273},{94,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{82,144}}</string>
                <key>offset</key>
                <string>{-17,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,291},{82,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,582},{58,150}}</string>
                <key>offset</key>
                <string>{-14,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,282},{58,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,428},{56,152}}</string>
                <key>offset</key>
                <string>{0,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,278},{56,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,428},{80,146}}</string>
                <key>offset</key>
                <string>{7,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,294},{80,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,830},{78,142}}</string>
                <key>offset</key>
                <string>{9,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,330},{78,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,374},{52,154}}</string>
                <key>offset</key>
                <string>{-18,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,336},{52,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,756},{72,148}}</string>
                <key>offset</key>
                <string>{4,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,364},{72,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,426},{120,84}}</string>
                <key>offset</key>
                <string>{2,-214}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,428},{120,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,308},{110,88}}</string>
                <key>offset</key>
                <string>{0,-212}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,424},{110,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,734},{114,92}}</string>
                <key>offset</key>
                <string>{-2,-210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,420},{114,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleFire.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,428},{46,200}}</string>
                <key>offset</key>
                <string>{-14,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,265},{46,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleFireSheet-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf15cf07ed1af98e4dbddfc33c060453:fa91c68e73c913d963bd8ec1f2bda7aa:164be3196cf50553b18b51edb4c2d1c8$</string>
            <key>textureFileName</key>
            <string>gargoyleFireSheet-ipadhd.png</string>
        </dict>
    </dict>
</plist>
