<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{28,104}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,116},{28,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{34,100}}</string>
                <key>offset</key>
                <string>{-11,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,119},{34,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,86},{40,88}}</string>
                <key>offset</key>
                <string>{-14,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,130},{40,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,106},{28,102}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,117},{28,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{42,98}}</string>
                <key>offset</key>
                <string>{-12,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,122},{42,98}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,204},{50,80}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,139},{50,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,64},{42,78}}</string>
                <key>offset</key>
                <string>{-3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,162},{42,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,104},{30,62}}</string>
                <key>offset</key>
                <string>{-1,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,162},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,188},{36,66}}</string>
                <key>offset</key>
                <string>{-2,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,162},{36,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,150},{30,76}}</string>
                <key>offset</key>
                <string>{-9,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,164},{30,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,108},{40,76}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,152},{40,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{40,102}}</string>
                <key>offset</key>
                <string>{-3,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,119},{40,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,102}}</string>
                <key>offset</key>
                <string>{-7,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,119},{46,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{50,96}}</string>
                <key>offset</key>
                <string>{-10,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,125},{50,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,86},{50,78}}</string>
                <key>offset</key>
                <string>{-11,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,141},{50,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,32},{34,78}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,162},{34,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,188},{28,66}}</string>
                <key>offset</key>
                <string>{-1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,162},{28,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,176},{26,68}}</string>
                <key>offset</key>
                <string>{-4,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,161},{26,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,110},{24,74}}</string>
                <key>offset</key>
                <string>{-7,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,152},{24,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{24,98}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,121},{24,98}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,182},{22,72}}</string>
                <key>offset</key>
                <string>{-4,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,162},{22,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,100},{26,102}}</string>
                <key>offset</key>
                <string>{-7,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,117},{26,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,46},{38,94}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,125},{38,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,188},{24,66}}</string>
                <key>offset</key>
                <string>{-6,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,162},{24,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,110},{46,68}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,150},{46,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,110},{44,70}}</string>
                <key>offset</key>
                <string>{-2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,155},{44,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,68},{40,74}}</string>
                <key>offset</key>
                <string>{-11,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,166},{40,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,188},{58,46}}</string>
                <key>offset</key>
                <string>{-21,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,157},{58,46}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{44,78}}</string>
                <key>offset</key>
                <string>{-13,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,127},{44,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,110},{38,72}}</string>
                <key>offset</key>
                <string>{-8,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,135},{38,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,182},{28,72}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,133},{28,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,28},{30,74}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,129},{30,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,68},{40,72}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,136},{40,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,28},{38,68}}</string>
                <key>offset</key>
                <string>{4,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,155},{38,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,182},{26,74}}</string>
                <key>offset</key>
                <string>{-7,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,156},{26,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,210},{36,70}}</string>
                <key>offset</key>
                <string>{2,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,170},{36,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,126},{60,40}}</string>
                <key>offset</key>
                <string>{1,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,200},{60,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,188},{54,42}}</string>
                <key>offset</key>
                <string>{0,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,198},{54,42}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,68},{56,44}}</string>
                <key>offset</key>
                <string>{-1,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,196},{56,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,38},{24,94}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,124},{24,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleVoidSheet-iphone4.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfae1402035480eceeb00c2ed619c112:00206510c1a6041d60f38f8272fb6069:b79633a56a6d8af5f11308cbfa529905$</string>
            <key>textureFileName</key>
            <string>gargoyleVoidSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
