<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{52,218}}</string>
                <key>offset</key>
                <string>{-17,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,249},{52,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,222},{68,212}}</string>
                <key>offset</key>
                <string>{-25,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,255},{68,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,414},{82,184}}</string>
                <key>offset</key>
                <string>{-31,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,281},{82,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,218}}</string>
                <key>offset</key>
                <string>{-18,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,249},{54,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{90,206}}</string>
                <key>offset</key>
                <string>{-25,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,262},{90,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,414},{106,168}}</string>
                <key>offset</key>
                <string>{-28,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,298},{106,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,814},{84,158}}</string>
                <key>offset</key>
                <string>{-6,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,352},{84,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,584},{62,128}}</string>
                <key>offset</key>
                <string>{-2,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,352},{62,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,198},{74,134}}</string>
                <key>offset</key>
                <string>{-4,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,353},{74,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,808},{60,158}}</string>
                <key>offset</key>
                <string>{-20,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,354},{60,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,654},{84,158}}</string>
                <key>offset</key>
                <string>{-7,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,324},{84,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,442},{84,212}}</string>
                <key>offset</key>
                <string>{-7,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,257},{84,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{94,216}}</string>
                <key>offset</key>
                <string>{-14,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,254},{94,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,210},{106,202}}</string>
                <key>offset</key>
                <string>{-22,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,267},{106,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,654},{104,166}}</string>
                <key>offset</key>
                <string>{-22,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,300},{104,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,822},{70,160}}</string>
                <key>offset</key>
                <string>{-5,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,352},{70,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,350},{56,136}}</string>
                <key>offset</key>
                <string>{0,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,352},{56,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,880},{56,136}}</string>
                <key>offset</key>
                <string>{-9,-165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,353},{56,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,974},{48,154}}</string>
                <key>offset</key>
                <string>{-15,-146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,325},{48,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,656},{46,206}}</string>
                <key>offset</key>
                <string>{-14,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,260},{46,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,148},{48,144}}</string>
                <key>offset</key>
                <string>{-11,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,354},{48,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{48,218}}</string>
                <key>offset</key>
                <string>{-15,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,249},{48,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{74,198}}</string>
                <key>offset</key>
                <string>{-6,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,268},{74,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,334},{48,132}}</string>
                <key>offset</key>
                <string>{-14,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,354},{48,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,202},{90,146}}</string>
                <key>offset</key>
                <string>{-11,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,318},{90,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,804},{94,150}}</string>
                <key>offset</key>
                <string>{-5,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,330},{94,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,648},{80,158}}</string>
                <key>offset</key>
                <string>{-24,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,354},{80,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,198},{122,90}}</string>
                <key>offset</key>
                <string>{-45,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,339},{122,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,864},{92,158}}</string>
                <key>offset</key>
                <string>{-30,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,275},{92,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{82,144}}</string>
                <key>offset</key>
                <string>{-17,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,291},{82,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,956},{56,150}}</string>
                <key>offset</key>
                <string>{-13,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,283},{56,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,648},{58,154}}</string>
                <key>offset</key>
                <string>{0,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,277},{58,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{82,144}}</string>
                <key>offset</key>
                <string>{7,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,296},{82,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{80,138}}</string>
                <key>offset</key>
                <string>{8,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,333},{80,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,600},{52,154}}</string>
                <key>offset</key>
                <string>{-17,-155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,334},{52,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,408},{74,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,366},{74,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{120,82}}</string>
                <key>offset</key>
                <string>{2,-215}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,430},{120,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,502},{110,86}}</string>
                <key>offset</key>
                <string>{0,-213}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,426},{110,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,384},{116,90}}</string>
                <key>offset</key>
                <string>{-2,-211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,422},{116,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>gargoyleVoid.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{46,198}}</string>
                <key>offset</key>
                <string>{-13,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,268},{46,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleVoidSheet-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c23c68bd1535b7e20a2211714fc39bb:7b29d3d27ca61944827a281b12a7200b:f331b78fda934dc42296e5ee51957f78$</string>
            <key>textureFileName</key>
            <string>gargoyleVoidSheet-ipadhd.png</string>
        </dict>
    </dict>
</plist>
