<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{20,52}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{20,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{26,50}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,60},{26,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{32,44}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,65},{32,44}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{20,52}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{20,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,56},{32,50}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,60},{32,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,148},{38,40}}</string>
                <key>offset</key>
                <string>{-10,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,70},{38,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{30,40}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,80},{30,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,130},{22,32}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,80},{22,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,228},{26,34}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,80},{26,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,84},{24,38}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,82},{24,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,44},{30,38}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,76},{30,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{30,52}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,59},{30,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,52}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,59},{34,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,164},{38,48}}</string>
                <key>offset</key>
                <string>{-8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,62},{38,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,214},{38,40}}</string>
                <key>offset</key>
                <string>{-8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,70},{38,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,90},{26,40}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,80},{26,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,116},{20,34}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,80},{20,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,94},{20,34}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,81},{20,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,42},{18,38}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,75},{18,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{18,50}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,60},{18,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,38},{16,36}}</string>
                <key>offset</key>
                <string>{-3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,81},{16,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,110},{18,52}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,58},{18,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,108},{28,48}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,61},{28,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{18,34}}</string>
                <key>offset</key>
                <string>{-4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{18,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,94},{34,34}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,75},{34,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{34,36}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,77},{34,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,86},{30,38}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,82},{30,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,158},{44,24}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,78},{44,24}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,48},{32,40}}</string>
                <key>offset</key>
                <string>{-10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,63},{32,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,190},{28,36}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,68},{28,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{20,38}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,65},{20,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{22,38}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{22,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{30,36}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,68},{30,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,64},{28,36}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,76},{28,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{20,38}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,77},{20,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,34},{28,36}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,84},{28,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,204},{44,20}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,100},{44,20}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,44},{40,22}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,98},{40,22}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,104},{42,22}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,98},{42,22}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gargoyleVoid.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,54},{18,48}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,62},{18,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleVoidSheet.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b45ad67c53222b002d635faaf741b620:5b89c41bc8d7390b324869d815c2039e:01c4d6b1b912837d2f09d933e4c6457c$</string>
            <key>textureFileName</key>
            <string>gargoyleVoidSheet.png</string>
        </dict>
    </dict>
</plist>
