<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,104}}</string>
                <key>offset</key>
                <string>{-9,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,115},{26,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,74},{32,100}}</string>
                <key>offset</key>
                <string>{-12,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,119},{32,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{40,88}}</string>
                <key>offset</key>
                <string>{-15,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,130},{40,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{26,102}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,117},{26,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{42,98}}</string>
                <key>offset</key>
                <string>{-12,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,121},{42,98}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,226},{50,78}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,140},{50,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,238},{40,76}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,164},{40,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,318},{30,62}}</string>
                <key>offset</key>
                <string>{-1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,164},{30,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,382},{34,64}}</string>
                <key>offset</key>
                <string>{-2,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,165},{34,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,280},{30,74}}</string>
                <key>offset</key>
                <string>{-10,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,166},{30,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{40,78}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,150},{40,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{40,100}}</string>
                <key>offset</key>
                <string>{-3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,120},{40,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{44,102}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,118},{44,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,108},{50,96}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,124},{50,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,186},{50,80}}</string>
                <key>offset</key>
                <string>{-11,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,139},{50,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{34,76}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,164},{34,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,428},{26,66}}</string>
                <key>offset</key>
                <string>{0,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,164},{26,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,418},{26,66}}</string>
                <key>offset</key>
                <string>{-4,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,164},{26,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{24,74}}</string>
                <key>offset</key>
                <string>{-8,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,152},{24,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{22,98}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,120},{22,98}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{22,70}}</string>
                <key>offset</key>
                <string>{-5,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,164},{22,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,48},{24,102}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,117},{24,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{36,94}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,124},{36,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,446},{22,64}}</string>
                <key>offset</key>
                <string>{-6,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,165},{22,64}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,364},{42,68}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,150},{42,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,318},{44,70}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,155},{44,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,278},{38,74}}</string>
                <key>offset</key>
                <string>{-11,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,166},{38,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,180},{58,44}}</string>
                <key>offset</key>
                <string>{-22,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,157},{58,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,102},{44,76}}</string>
                <key>offset</key>
                <string>{-14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,127},{44,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{38,68}}</string>
                <key>offset</key>
                <string>{-8,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,136},{38,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,312},{28,72}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,131},{28,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{26,72}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,130},{26,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,378},{38,68}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,138},{38,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,408},{38,66}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,155},{38,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{26,74}}</string>
                <key>offset</key>
                <string>{-9,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,156},{26,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,342},{34,70}}</string>
                <key>offset</key>
                <string>{2,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,170},{34,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{58,40}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,200},{58,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,448},{52,42}}</string>
                <key>offset</key>
                <string>{0,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,198},{52,42}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,446},{54,44}}</string>
                <key>offset</key>
                <string>{-1,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,196},{54,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleFire.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,160},{24,94}}</string>
                <key>offset</key>
                <string>{-7,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,124},{24,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleFireSheet-iphone4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf15cf07ed1af98e4dbddfc33c060453:fa91c68e73c913d963bd8ec1f2bda7aa:164be3196cf50553b18b51edb4c2d1c8$</string>
            <key>textureFileName</key>
            <string>gargoyleFireSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
