<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,100}}</string>
                <key>offset</key>
                <string>{-11,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,111},{38,100}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{48,96}}</string>
                <key>offset</key>
                <string>{-16,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,114},{48,96}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,402},{58,84}}</string>
                <key>offset</key>
                <string>{-21,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,125},{58,84}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{40,98}}</string>
                <key>offset</key>
                <string>{-12,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,112},{40,98}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,204},{62,94}}</string>
                <key>offset</key>
                <string>{-18,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,117},{62,94}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,386},{72,76}}</string>
                <key>offset</key>
                <string>{-18,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,134},{72,76}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,94},{58,74}}</string>
                <key>offset</key>
                <string>{-4,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,156},{58,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,310},{42,60}}</string>
                <key>offset</key>
                <string>{-1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,155},{42,60}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,212},{50,64}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,155},{50,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,464},{44,74}}</string>
                <key>offset</key>
                <string>{-13,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,156},{44,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,438},{58,72}}</string>
                <key>offset</key>
                <string>{-5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,146},{58,72}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{58,98}}</string>
                <key>offset</key>
                <string>{-5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,114},{58,98}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{64,98}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,114},{64,98}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,102},{72,92}}</string>
                <key>offset</key>
                <string>{-15,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,119},{72,92}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,282},{70,76}}</string>
                <key>offset</key>
                <string>{-15,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,134},{70,76}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{48,74}}</string>
                <key>offset</key>
                <string>{-4,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,156},{48,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,278},{38,64}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,155},{38,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,144},{36,66}}</string>
                <key>offset</key>
                <string>{-5,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,154},{36,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,360},{34,72}}</string>
                <key>offset</key>
                <string>{-10,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,145},{34,72}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,304},{34,96}}</string>
                <key>offset</key>
                <string>{-9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,114},{34,96}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,326},{32,68}}</string>
                <key>offset</key>
                <string>{-7,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,156},{32,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{36,98}}</string>
                <key>offset</key>
                <string>{-10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,112},{36,98}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{52,90}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,120},{52,90}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{34,62}}</string>
                <key>offset</key>
                <string>{-8,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,156},{34,62}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,354},{64,66}}</string>
                <key>offset</key>
                <string>{-6,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,143},{64,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,432},{62,68}}</string>
                <key>offset</key>
                <string>{-3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,148},{62,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{56,72}}</string>
                <key>offset</key>
                <string>{-16,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,158},{56,72}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,300},{84,46}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,149},{84,46}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,176},{62,74}}</string>
                <key>offset</key>
                <string>{-19,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,123},{62,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,240},{54,68}}</string>
                <key>offset</key>
                <string>{-11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,130},{54,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,434},{38,70}}</string>
                <key>offset</key>
                <string>{-9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,127},{38,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,252},{40,72}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,123},{40,72}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,170},{56,68}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,131},{56,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,422},{54,66}}</string>
                <key>offset</key>
                <string>{5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,147},{54,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,360},{36,70}}</string>
                <key>offset</key>
                <string>{-10,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,150},{36,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,76},{52,66}}</string>
                <key>offset</key>
                <string>{2,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,164},{52,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,196},{84,38}}</string>
                <key>offset</key>
                <string>{2,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,192},{84,38}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,360},{76,40}}</string>
                <key>offset</key>
                <string>{0,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,190},{76,40}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,94},{80,42}}</string>
                <key>offset</key>
                <string>{-1,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,188},{80,42}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>gargoyleFire.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{34,92}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,118},{34,92}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleFireSheet.0.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67f4380fba94e35c82ad854d780aba86:896b9b203ed971540c000bfd496b7664:18fba57bd3b09db83b1a5ec1320174aa$</string>
            <key>textureFileName</key>
            <string>gargoyleFireSheet.0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
