<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{20,56}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,62},{20,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,60},{26,54}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,63},{26,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,112},{32,48}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,69},{32,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{22,56}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,61},{22,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{34,52}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,65},{34,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,212},{40,42}}</string>
                <key>offset</key>
                <string>{-10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,75},{40,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,112},{32,42}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,86},{32,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,156},{24,34}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,86},{24,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,138},{28,36}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,86},{28,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,156},{24,42}}</string>
                <key>offset</key>
                <string>{-7,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,86},{24,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,46},{32,40}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,81},{32,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,118},{32,54}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,64},{32,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,56}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,62},{36,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,58},{40,52}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,66},{40,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{40,42}}</string>
                <key>offset</key>
                <string>{-9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,75},{40,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,226},{28,42}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,86},{28,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{22,36}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{22,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,90},{20,36}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,86},{20,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{18,40}}</string>
                <key>offset</key>
                <string>{-5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,81},{18,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{18,54}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,63},{18,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,40},{18,38}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,87},{18,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{20,56}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,61},{20,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{30,50}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,67},{30,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,80},{18,36}}</string>
                <key>offset</key>
                <string>{-4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,86},{18,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,118},{36,36}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,80},{36,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{36,38}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,82},{36,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{32,40}}</string>
                <key>offset</key>
                <string>{-9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,88},{32,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,112},{46,24}}</string>
                <key>offset</key>
                <string>{-17,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,84},{46,24}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,46},{36,42}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,68},{36,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,74},{30,38}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,72},{30,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,88},{22,40}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,70},{22,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,44},{22,40}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,69},{22,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,40},{32,38}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,73},{32,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,156},{30,36}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,83},{30,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{20,40}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,83},{20,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,106},{30,38}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,90},{30,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,162},{48,22}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,106},{48,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,200},{42,22}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,106},{42,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,160},{44,24}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,104},{44,24}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gargoyleFire.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,174},{18,52}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,65},{18,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleFireSheet.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca96b5f17df05e97f2fc434931971392:1394b9d9d20fa8769e549679d901e310:eb8b0c29ed85d90dc54855973a5598ed$</string>
            <key>textureFileName</key>
            <string>gargoyleFireSheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
