<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,104}}</string>
                <key>offset</key>
                <string>{-11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,116},{38,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,316},{50,100}}</string>
                <key>offset</key>
                <string>{-17,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,119},{50,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{60,88}}</string>
                <key>offset</key>
                <string>{-21,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,130},{60,88}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{42,102}}</string>
                <key>offset</key>
                <string>{-13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,117},{42,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,106},{64,98}}</string>
                <key>offset</key>
                <string>{-18,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,122},{64,98}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,400},{74,80}}</string>
                <key>offset</key>
                <string>{-19,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,139},{74,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,84},{60,78}}</string>
                <key>offset</key>
                <string>{-4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,162},{60,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,448},{44,62}}</string>
                <key>offset</key>
                <string>{-1,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,162},{44,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,458},{52,66}}</string>
                <key>offset</key>
                <string>{-2,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,162},{52,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,378},{44,76}}</string>
                <key>offset</key>
                <string>{-13,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,164},{44,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,264},{60,76}}</string>
                <key>offset</key>
                <string>{-5,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,152},{60,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{60,102}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,119},{60,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{68,102}}</string>
                <key>offset</key>
                <string>{-10,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,119},{68,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{74,96}}</string>
                <key>offset</key>
                <string>{-15,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,125},{74,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{74,80}}</string>
                <key>offset</key>
                <string>{-16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,139},{74,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,378},{50,78}}</string>
                <key>offset</key>
                <string>{-4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,162},{50,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,72},{40,66}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,162},{40,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,114},{38,68}}</string>
                <key>offset</key>
                <string>{-6,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,161},{38,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,160},{36,74}}</string>
                <key>offset</key>
                <string>{-10,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,152},{36,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,212},{34,100}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,119},{34,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,376},{32,72}}</string>
                <key>offset</key>
                <string>{-7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,162},{32,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{36,102}}</string>
                <key>offset</key>
                <string>{-10,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,117},{36,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,304},{54,94}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,125},{54,94}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,342},{34,66}}</string>
                <key>offset</key>
                <string>{-8,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,162},{34,66}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{66,68}}</string>
                <key>offset</key>
                <string>{-6,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,150},{66,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,376},{66,70}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,155},{66,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,164},{58,74}}</string>
                <key>offset</key>
                <string>{-16,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,166},{58,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,418},{88,46}}</string>
                <key>offset</key>
                <string>{-32,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,157},{88,46}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,184},{66,78}}</string>
                <key>offset</key>
                <string>{-20,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,127},{66,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,236},{56,72}}</string>
                <key>offset</key>
                <string>{-12,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,135},{56,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{40,74}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,131},{40,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,84},{42,74}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,129},{42,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,316},{58,70}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,138},{58,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,448},{58,68}}</string>
                <key>offset</key>
                <string>{5,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,155},{58,68}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,240},{38,74}}</string>
                <key>offset</key>
                <string>{-11,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,156},{38,74}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,456},{54,70}}</string>
                <key>offset</key>
                <string>{2,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,170},{54,70}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,206},{88,40}}</string>
                <key>offset</key>
                <string>{2,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,200},{88,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,296},{80,42}}</string>
                <key>offset</key>
                <string>{0,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,198},{80,42}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,100},{82,44}}</string>
                <key>offset</key>
                <string>{0,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,196},{82,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>gargoyleVoid.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,206},{34,96}}</string>
                <key>offset</key>
                <string>{-9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,123},{34,96}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleVoidSheet-iphone4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67382c9aba169ce3756323a1cc87d145:abb05801d5ff67cf08ee2b521587b119:01c4d6b1b912837d2f09d933e4c6457c$</string>
            <key>textureFileName</key>
            <string>gargoyleVoidSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
