<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{46,124}}</string>
                <key>offset</key>
                <string>{-14,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,137},{46,124}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{60,118}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,142},{60,118}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,64},{70,104}}</string>
                <key>offset</key>
                <string>{-25,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,154},{70,104}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,80},{48,122}}</string>
                <key>offset</key>
                <string>{-15,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,138},{48,122}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{76,116}}</string>
                <key>offset</key>
                <string>{-22,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,144},{76,116}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,130},{88,94}}</string>
                <key>offset</key>
                <string>{-22,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,165},{88,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,270},{72,90}}</string>
                <key>offset</key>
                <string>{-5,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,193},{72,90}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,230},{52,76}}</string>
                <key>offset</key>
                <string>{-1,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,190},{52,76}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,448},{62,78}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,192},{62,78}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,270},{54,90}}</string>
                <key>offset</key>
                <string>{-16,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,194},{54,90}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,232},{70,90}}</string>
                <key>offset</key>
                <string>{-5,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,180},{70,90}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{72,120}}</string>
                <key>offset</key>
                <string>{-6,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,141},{72,120}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{80,120}}</string>
                <key>offset</key>
                <string>{-12,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,141},{80,120}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,114}}</string>
                <key>offset</key>
                <string>{-18,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,147},{88,114}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,136},{86,94}}</string>
                <key>offset</key>
                <string>{-18,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,166},{86,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,136},{60,92}}</string>
                <key>offset</key>
                <string>{-5,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,192},{60,92}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,358},{46,80}}</string>
                <key>offset</key>
                <string>{0,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,190},{46,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,442},{44,80}}</string>
                <key>offset</key>
                <string>{-7,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,191},{44,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,226},{42,88}}</string>
                <key>offset</key>
                <string>{-12,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,180},{42,88}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,130},{40,118}}</string>
                <key>offset</key>
                <string>{-11,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,141},{40,118}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,310},{38,84}}</string>
                <key>offset</key>
                <string>{-8,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,192},{38,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,50},{42,122}}</string>
                <key>offset</key>
                <string>{-12,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,138},{42,122}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{64,112}}</string>
                <key>offset</key>
                <string>{-3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,147},{64,112}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,350},{40,76}}</string>
                <key>offset</key>
                <string>{-10,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,193},{40,76}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,358},{80,80}}</string>
                <key>offset</key>
                <string>{-8,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,178},{80,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,362},{78,84}}</string>
                <key>offset</key>
                <string>{-4,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,183},{78,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,230},{70,88}}</string>
                <key>offset</key>
                <string>{-20,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,196},{70,88}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{104,54}}</string>
                <key>offset</key>
                <string>{-38,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,186},{104,54}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,136},{78,92}}</string>
                <key>offset</key>
                <string>{-24,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,151},{78,92}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,362},{66,84}}</string>
                <key>offset</key>
                <string>{-14,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,161},{66,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,354},{48,86}}</string>
                <key>offset</key>
                <string>{-11,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,157},{48,86}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,302},{50,88}}</string>
                <key>offset</key>
                <string>{-1,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,153},{50,88}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,440},{68,84}}</string>
                <key>offset</key>
                <string>{5,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,162},{68,84}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,442},{68,80}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,183},{68,80}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,354},{44,86}}</string>
                <key>offset</key>
                <string>{-13,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,186},{44,86}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,448},{62,82}}</string>
                <key>offset</key>
                <string>{3,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,202},{62,82}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,108},{104,48}}</string>
                <key>offset</key>
                <string>{2,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,236},{104,48}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,214},{94,50}}</string>
                <key>offset</key>
                <string>{0,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,234},{94,50}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,304},{98,52}}</string>
                <key>offset</key>
                <string>{-1,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,232},{98,52}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>gargoyleVoid.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,94},{40,112}}</string>
                <key>offset</key>
                <string>{-11,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,147},{40,112}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleVoidSheet-iphone5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67382c9aba169ce3756323a1cc87d145:abb05801d5ff67cf08ee2b521587b119:01c4d6b1b912837d2f09d933e4c6457c$</string>
            <key>textureFileName</key>
            <string>gargoyleVoidSheet-iphone5.png</string>
        </dict>
    </dict>
</plist>
