<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{200,278}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{200,278}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{206,284}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{206,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1074},{154,228}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,43},{154,228}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{208,284}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{208,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{210,284}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{210,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{214,274}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,10},{214,274}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,854},{218,276}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{218,276}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,284},{222,278}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,6},{222,278}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{224,280}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,4},{224,280}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,284}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{226,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{218,284}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{218,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1712},{202,280}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{202,280}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{218,280}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{218,280}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{212,282}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{212,282}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1660},{162,244}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,26},{162,244}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,288},{200,282}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{200,282}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,572},{184,280}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{184,280}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,538},{190,250}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,7},{190,250}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1402},{190,256}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,1},{190,256}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,262},{192,248}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,9},{192,248}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1106},{196,252}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,3},{196,252}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{200,258}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{200,258}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,574},{206,282}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{206,282}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1660},{202,242}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,17},{202,242}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{206,246}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,13},{206,246}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1360},{210,240}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{210,240}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,842},{180,262}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,16},{180,262}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,822},{214,250}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{214,250}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,278},{214,258}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{214,258}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,560},{192,260}}</string>
                <key>offset</key>
                <string>{20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,2},{192,260}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,250},{176,220}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,5},{176,220}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,790},{174,222}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,3},{174,222}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,512},{162,222}}</string>
                <key>offset</key>
                <string>{4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,0},{162,222}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,860},{208,282}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{208,282}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,736},{154,196}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,26},{154,196}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1014},{156,202}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,20},{156,202}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{152,208}}</string>
                <key>offset</key>
                <string>{12,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,14},{152,208}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1956},{116,90}}</string>
                <key>offset</key>
                <string>{31,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,28},{116,90}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1402},{182,264}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,14},{182,264}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1906},{114,94}}</string>
                <key>offset</key>
                <string>{31,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,22},{114,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1958},{54,60}}</string>
                <key>offset</key>
                <string>{2,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,16},{54,60}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1132},{184,268}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,10},{184,268}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1684},{188,270}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,7},{188,270}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1684},{192,272}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,3},{192,272}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1146},{210,282}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{210,282}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,282},{196,276}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{196,276}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1408},{198,274}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{198,274}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1132},{202,274}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{202,274}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,564},{206,276}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{206,276}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>heal.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1430},{208,280}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{208,280}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heal-iphone5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ef63ce321c7bcb85c343408d158e31d:637df41faee644679787a52f3346c5c4:8c54bfe89f4a27d5883fc5e38c249201$</string>
            <key>textureFileName</key>
            <string>heal-iphone5.png</string>
        </dict>
    </dict>
</plist>
