<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{84,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,182},{86,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{86,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,782},{64,96}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{64,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{88,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{90,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{92,116}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{92,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,362},{92,116}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{92,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,186},{94,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{94,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,184},{94,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{94,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,120}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{94,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{92,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{92,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,280},{86,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{86,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{92,118}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{92,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,96},{88,120}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,786},{70,104}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{70,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,358},{84,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,282},{78,118}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{78,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,880},{80,106}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{80,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,622},{80,108}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{80,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,780},{82,104}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{82,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{84,106}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{84,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{84,110}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,94},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,858},{86,102}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{86,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{88,104}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{88,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,786},{88,102}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{88,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,542},{76,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,694},{90,106}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{90,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{90,108}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{90,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,620},{82,110}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{82,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,704},{74,94}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{74,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,704},{74,94}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{74,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,946},{68,94}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{68,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,92},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,876},{64,84}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,10},{64,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,694},{66,86}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{66,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,880},{64,88}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,6},{64,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,582},{50,38}}</string>
                <key>offset</key>
                <string>{13,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,12},{50,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,614},{78,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,532},{48,40}}</string>
                <key>offset</key>
                <string>{13,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,9},{48,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,270},{22,26}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{22,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,540},{80,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{80,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,532},{80,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,456},{82,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{82,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{88,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{82,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{82,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,456},{84,116}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,444},{86,116}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,368},{86,116}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>heal.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,270},{86,118}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{86,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heal.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ef63ce321c7bcb85c343408d158e31d:637df41faee644679787a52f3346c5c4:8c54bfe89f4a27d5883fc5e38c249201$</string>
            <key>textureFileName</key>
            <string>heal.png</string>
        </dict>
    </dict>
</plist>
