<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,706},{168,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{168,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,182},{174,240}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{174,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1378},{130,192}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,37},{130,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,180},{176,240}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{176,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{178,240}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{178,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,876},{182,230}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,10},{182,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,726},{186,232}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,8},{186,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,516},{188,236}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,4},{188,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,188},{190,238}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,2},{190,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,240}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{190,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{184,240}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{184,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{172,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{172,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,534},{184,236}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,4},{184,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{180,238}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,2},{180,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1572},{138,208}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,21},{138,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,380},{168,238}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{168,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,358},{156,238}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{156,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1400},{160,212}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,6},{160,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{160,216}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,1},{160,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1560},{162,210}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{162,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{166,214}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,2},{166,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1234},{168,218}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{168,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,358},{174,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{174,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1566},{172,204}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,15},{172,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1404},{174,208}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,11},{174,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1562},{178,202}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,16},{178,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1060},{152,222}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,13},{152,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1378},{180,212}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,8},{180,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1218},{180,218}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,3},{180,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1214},{162,220}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,1},{162,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1724},{148,186}}</string>
                <key>offset</key>
                <string>{9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,4},{148,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1718},{148,186}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,4},{148,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1580},{136,188}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{136,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{176,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{176,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1868},{130,166}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,21},{130,166}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1868},{132,172}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,16},{132,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1868},{130,176}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{130,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1142},{98,76}}</string>
                <key>offset</key>
                <string>{26,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,23},{98,76}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1078},{154,224}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,11},{154,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1060},{98,80}}</string>
                <key>offset</key>
                <string>{26,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,18},{98,80}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{46,50}}</string>
                <key>offset</key>
                <string>{2,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,14},{46,50}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1060},{156,226}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,9},{156,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{160,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,6},{160,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,914},{162,230}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{162,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{176,238}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{176,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,720},{166,234}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{166,234}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{168,232}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{168,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,888},{170,230}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{170,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{174,232}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{174,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>heal.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,550},{174,236}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{174,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heal-iphone4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ef63ce321c7bcb85c343408d158e31d:637df41faee644679787a52f3346c5c4:8c54bfe89f4a27d5883fc5e38c249201$</string>
            <key>textureFileName</key>
            <string>heal-iphone4.png</string>
        </dict>
    </dict>
</plist>
