<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knightEarth.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,608},{204,208}}</string>
                <key>offset</key>
                <string>{70,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,292},{204,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,632},{200,206}}</string>
                <key>offset</key>
                <string>{67,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,290},{200,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,794},{198,202}}</string>
                <key>offset</key>
                <string>{61,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,289},{198,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,408},{198,210}}</string>
                <key>offset</key>
                <string>{55,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,276},{198,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,224},{198,218}}</string>
                <key>offset</key>
                <string>{49,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,268},{198,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.150.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,324},{220,202}}</string>
                <key>offset</key>
                <string>{8,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,305},{220,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.151.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{192,200}}</string>
                <key>offset</key>
                <string>{-2,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,306},{192,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.152.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{194,198}}</string>
                <key>offset</key>
                <string>{0,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,308},{194,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.154.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{160,238}}</string>
                <key>offset</key>
                <string>{-14,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,268},{160,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,216},{200,236}}</string>
                <key>offset</key>
                <string>{39,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,267},{200,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.170.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,618},{222,174}}</string>
                <key>offset</key>
                <string>{73,-168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,337},{222,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.171.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,550},{208,184}}</string>
                <key>offset</key>
                <string>{59,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,326},{208,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.172.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{232,192}}</string>
                <key>offset</key>
                <string>{52,-157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,317},{232,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.175.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{218,206}}</string>
                <key>offset</key>
                <string>{34,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,304},{218,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.176.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,824},{154,206}}</string>
                <key>offset</key>
                <string>{8,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,304},{154,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,222},{210,234}}</string>
                <key>offset</key>
                <string>{-49,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,276},{210,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,438},{180,220}}</string>
                <key>offset</key>
                <string>{45,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,282},{180,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{238,218}}</string>
                <key>offset</key>
                <string>{-63,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,292},{238,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,212}}</string>
                <key>offset</key>
                <string>{-65,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,297},{242,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{212,242}}</string>
                <key>offset</key>
                <string>{-44,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,269},{212,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,196},{126,226}}</string>
                <key>offset</key>
                <string>{50,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,286},{126,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{236,196}}</string>
                <key>offset</key>
                <string>{119,-157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,315},{236,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.189.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,946},{204,186}}</string>
                <key>offset</key>
                <string>{100,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,324},{204,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,528},{174,210}}</string>
                <key>offset</key>
                <string>{50,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,291},{174,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.190.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,806},{184,180}}</string>
                <key>offset</key>
                <string>{78,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,330},{184,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,372},{158,176}}</string>
                <key>offset</key>
                <string>{64,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,334},{158,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.194.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,814},{158,176}}</string>
                <key>offset</key>
                <string>{70,-166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,334},{158,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.195.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,2},{162,176}}</string>
                <key>offset</key>
                <string>{74,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,334},{162,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.196.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,994},{172,178}}</string>
                <key>offset</key>
                <string>{79,-165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,332},{172,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.197.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,980},{182,180}}</string>
                <key>offset</key>
                <string>{86,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,330},{182,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.198.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,704},{194,182}}</string>
                <key>offset</key>
                <string>{95,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,328},{194,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.199.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,760},{206,184}}</string>
                <key>offset</key>
                <string>{109,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,326},{206,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,620},{176,204}}</string>
                <key>offset</key>
                <string>{53,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,298},{176,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.200.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,434},{222,184}}</string>
                <key>offset</key>
                <string>{118,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,326},{222,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{232,188}}</string>
                <key>offset</key>
                <string>{120,-160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,322},{232,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.204.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,418},{234,198}}</string>
                <key>offset</key>
                <string>{87,-154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,311},{234,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,798},{180,198}}</string>
                <key>offset</key>
                <string>{55,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,305},{180,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,620},{184,198}}</string>
                <key>offset</key>
                <string>{57,-149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,306},{184,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,624},{198,208}}</string>
                <key>offset</key>
                <string>{51,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,297},{198,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,210},{206,218}}</string>
                <key>offset</key>
                <string>{47,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,288},{206,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,192},{214,226}}</string>
                <key>offset</key>
                <string>{42,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,280},{214,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{218,232}}</string>
                <key>offset</key>
                <string>{38,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,275},{218,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.393.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,180},{190,160}}</string>
                <key>offset</key>
                <string>{32,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,352},{190,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.396.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,888},{124,156}}</string>
                <key>offset</key>
                <string>{0,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,356},{124,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.397.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,834},{124,154}}</string>
                <key>offset</key>
                <string>{-1,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,358},{124,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.398.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,988},{126,154}}</string>
                <key>offset</key>
                <string>{-1,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,358},{126,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.399.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,980},{126,152}}</string>
                <key>offset</key>
                <string>{0,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,360},{126,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{224,234}}</string>
                <key>offset</key>
                <string>{38,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,273},{224,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,988},{128,148}}</string>
                <key>offset</key>
                <string>{2,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,364},{128,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1108},{128,146}}</string>
                <key>offset</key>
                <string>{4,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,366},{128,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.404.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1014},{128,142}}</string>
                <key>offset</key>
                <string>{8,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,370},{128,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.405.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,974},{128,146}}</string>
                <key>offset</key>
                <string>{11,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,366},{128,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.406.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,960},{128,152}}</string>
                <key>offset</key>
                <string>{15,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,360},{128,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.409.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,834},{152,152}}</string>
                <key>offset</key>
                <string>{28,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,360},{152,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{226,220}}</string>
                <key>offset</key>
                <string>{45,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,284},{226,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,228},{222,208}}</string>
                <key>offset</key>
                <string>{56,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,296},{222,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,418},{212,204}}</string>
                <key>offset</key>
                <string>{70,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,298},{212,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>knightEarth.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,424},{208,206}}</string>
                <key>offset</key>
                <string>{72,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,296},{208,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>knightEarthSheet-ipadhd.1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14f5ae6c76e7d93b37a40d42f4689b14:40d7e9850a4614efe077941ec718e294:72a1b05d5073b88e4adb219350585cd5$</string>
            <key>textureFileName</key>
            <string>knightEarthSheet-ipadhd.1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
