<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knightWater.151.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{165,171}}</string>
                <key>offset</key>
                <string>{-2,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,259},{165,171}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.152.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{165,169}}</string>
                <key>offset</key>
                <string>{0,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,261},{165,169}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.153.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{165,171}}</string>
                <key>offset</key>
                <string>{-1,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,259},{165,171}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.190.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{157,153}}</string>
                <key>offset</key>
                <string>{66,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,281},{157,153}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.191.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,521},{143,153}}</string>
                <key>offset</key>
                <string>{56,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,281},{143,153}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.192.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,847},{135,151}}</string>
                <key>offset</key>
                <string>{54,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,283},{135,151}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.193.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,328},{133,151}}</string>
                <key>offset</key>
                <string>{57,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,283},{133,151}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.194.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,175},{135,151}}</string>
                <key>offset</key>
                <string>{60,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,283},{135,151}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.195.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,847},{139,151}}</string>
                <key>offset</key>
                <string>{63,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,283},{139,151}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.196.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,692},{147,153}}</string>
                <key>offset</key>
                <string>{67,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,281},{147,153}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,173}}</string>
                <key>offset</key>
                <string>{45,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,254},{151,173}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{153,169}}</string>
                <key>offset</key>
                <string>{47,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,259},{153,169}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{157,169}}</string>
                <key>offset</key>
                <string>{48,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,260},{157,169}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.395.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,471},{109,133}}</string>
                <key>offset</key>
                <string>{1,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,302},{109,133}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.397.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,310},{107,131}}</string>
                <key>offset</key>
                <string>{-1,-152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,304},{107,131}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.398.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,137},{107,131}}</string>
                <key>offset</key>
                <string>{-1,-152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,304},{107,131}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.399.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{109,129}}</string>
                <key>offset</key>
                <string>{-1,-153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,306},{109,129}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.400.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,606},{109,129}}</string>
                <key>offset</key>
                <string>{0,-153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,306},{109,129}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.401.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,270},{111,125}}</string>
                <key>offset</key>
                <string>{1,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,310},{111,125}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.402.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,133},{111,125}}</string>
                <key>offset</key>
                <string>{3,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,310},{111,125}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.403.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{109,123}}</string>
                <key>offset</key>
                <string>{5,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,312},{109,123}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.404.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,697},{109,121}}</string>
                <key>offset</key>
                <string>{7,-157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,314},{109,121}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.405.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,572},{109,123}}</string>
                <key>offset</key>
                <string>{10,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,312},{109,123}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.407.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{111,133}}</string>
                <key>offset</key>
                <string>{15,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,302},{111,133}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.408.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,175},{119,133}}</string>
                <key>offset</key>
                <string>{23,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,302},{119,133}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.410.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,443},{127,121}}</string>
                <key>offset</key>
                <string>{28,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,314},{127,121}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>knightWater.411.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,328},{141,109}}</string>
                <key>offset</key>
                <string>{43,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,326},{141,109}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>knightWaterSheet-iphone5.1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4541a2c9ddeebc5d41f4adc1da26bf31:984a2e4c1e86d81708ed45edae74dc23:771a6ebdf4037f2cd7d5db0a8605b77a$</string>
            <key>textureFileName</key>
            <string>knightWaterSheet-iphone5.1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
