<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,541}}</string>
                <key>sourceSize</key>
                <string>{960,541}</string>
            </dict>
            <key>battleButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,765},{218,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,96}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>battleButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,773},{226,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,103}}</string>
                <key>sourceSize</key>
                <string>{226,103}</string>
            </dict>
            <key>musicButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,788},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>musicButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,707},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>questButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,545},{218,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,96}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>questButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,545},{226,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,103}}</string>
                <key>sourceSize</key>
                <string>{226,103}</string>
            </dict>
            <key>soundButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,626},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>soundButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,545},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>storeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,765},{218,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,96}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>storeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{226,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,103}}</string>
                <key>sourceSize</key>
                <string>{226,103}</string>
            </dict>
            <key>summonButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,545},{218,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,96}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>summonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{226,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,103}}</string>
                <key>sourceSize</key>
                <string>{226,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>landing-iphone4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33607602251a8e8e2fd4cc7fea43afc0:ba1b28b181d8ca1c9dec3d31c4358268:7629672902ef72e6540dbd10c0f4d8e8$</string>
            <key>textureFileName</key>
            <string>landing-iphone4.png</string>
        </dict>
    </dict>
</plist>
