<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battleButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,724},{218,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,96}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>battleButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,724},{226,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,103}}</string>
                <key>sourceSize</key>
                <string>{226,103}</string>
            </dict>
            <key>landingScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,720}}</string>
                <key>sourceSize</key>
                <string>{960,720}</string>
            </dict>
            <key>musicButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,944},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>musicButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,944},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>questButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,724},{218,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,96}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>questButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,724},{226,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,103}}</string>
                <key>sourceSize</key>
                <string>{226,103}</string>
            </dict>
            <key>soundButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,944},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>soundButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,944},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>storeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,724},{218,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,96}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>storeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,724},{226,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,103}}</string>
                <key>sourceSize</key>
                <string>{226,103}</string>
            </dict>
            <key>summonButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,724},{218,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,96}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>summonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{226,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,103}}</string>
                <key>sourceSize</key>
                <string>{226,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>landing-iphone4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcd21afee01cdf8b0f39c29c04b0a6af:67950c39f0c183f7b9d390a2aa428bba:7629672902ef72e6540dbd10c0f4d8e8$</string>
            <key>textureFileName</key>
            <string>landing-iphone4.png</string>
        </dict>
    </dict>
</plist>
