<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>battleButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1122},{258,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,113}}</string>
                <key>sourceSize</key>
                <string>{258,113}</string>
            </dict>
            <key>battleButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,738},{267,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,122}}</string>
                <key>sourceSize</key>
                <string>{267,122}</string>
            </dict>
            <key>cardSummonedFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{968,734}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,61},{968,734}}</string>
                <key>sourceSize</key>
                <string>{1136,852}</string>
            </dict>
            <key>musicButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1330},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>musicButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1258},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>questButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1007},{258,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,113}}</string>
                <key>sourceSize</key>
                <string>{258,113}</string>
            </dict>
            <key>questButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1876},{267,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,122}}</string>
                <key>sourceSize</key>
                <string>{267,122}</string>
            </dict>
            <key>soundButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1237},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>soundButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1237},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>storeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,998},{258,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,113}}</string>
                <key>sourceSize</key>
                <string>{258,113}</string>
            </dict>
            <key>storeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1876},{267,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,122}}</string>
                <key>sourceSize</key>
                <string>{267,122}</string>
            </dict>
            <key>summonButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,738},{258,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,113}}</string>
                <key>sourceSize</key>
                <string>{258,113}</string>
            </dict>
            <key>summonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1876},{267,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,122}}</string>
                <key>sourceSize</key>
                <string>{267,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>landing-iphone5.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fdefaa8cd013a1dacfcce940f17886d:6a70ff9a8900ccc30f30b3f7bd51ae7f:5a2229d185d339a8fe4d4b2303df526a$</string>
            <key>textureFileName</key>
            <string>landing-iphone5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
