<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battleButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,364},{109,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,48}}</string>
                <key>sourceSize</key>
                <string>{109,48}</string>
            </dict>
            <key>battleButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,364},{113,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,52}}</string>
                <key>sourceSize</key>
                <string>{113,52}</string>
            </dict>
            <key>landingScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,360}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>musicButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,456},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>musicButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,414},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>questButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,364},{109,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,48}}</string>
                <key>sourceSize</key>
                <string>{109,48}</string>
            </dict>
            <key>questButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,364},{113,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,52}}</string>
                <key>sourceSize</key>
                <string>{113,52}</string>
            </dict>
            <key>soundButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,456},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>soundButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,414},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>storeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,364},{109,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,48}}</string>
                <key>sourceSize</key>
                <string>{109,48}</string>
            </dict>
            <key>storeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,364},{113,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,52}}</string>
                <key>sourceSize</key>
                <string>{113,52}</string>
            </dict>
            <key>summonButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,364},{109,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,48}}</string>
                <key>sourceSize</key>
                <string>{109,48}</string>
            </dict>
            <key>summonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{113,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,52}}</string>
                <key>sourceSize</key>
                <string>{113,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>landing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcd21afee01cdf8b0f39c29c04b0a6af:67950c39f0c183f7b9d390a2aa428bba:7629672902ef72e6540dbd10c0f4d8e8$</string>
            <key>textureFileName</key>
            <string>landing.png</string>
        </dict>
    </dict>
</plist>
