<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lifeDrain.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1800},{146,196}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,82},{146,196}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,210},{212,280}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{212,280}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{200,266}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,17},{200,266}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{202,276}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{202,276}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,210},{206,282}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,1},{206,282}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{206,282}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,1},{206,282}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,424},{200,272}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,11},{200,272}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{202,282}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,1},{202,282}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{206,282}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,2},{206,282}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1064},{210,254}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,30},{210,254}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1448},{216,244}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,40},{216,244}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1800},{168,210}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,68},{168,210}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1058},{220,254}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{220,254}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,626},{224,266}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{224,266}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,418},{228,278}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{228,278}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,282}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{222,282}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{220,250}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,34},{220,250}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1470},{208,244}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,40},{208,244}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{204,240}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,32},{204,240}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,262},{168,246}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{168,246}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1280},{166,250}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{166,250}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{168,258}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,18},{168,258}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,510},{182,220}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,61},{182,220}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1238},{166,238}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,38},{166,238}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,732},{186,244}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,32},{186,244}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1276},{192,250}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,24},{192,250}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{198,256}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,16},{198,256}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,852},{204,260}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,9},{204,260}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,978},{210,258}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{210,258}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1800},{214,70}}</string>
                <key>offset</key>
                <string>{2,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,189},{214,70}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1800},{220,52}}</string>
                <key>offset</key>
                <string>{2,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,203},{220,52}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1800},{186,50}}</string>
                <key>offset</key>
                <string>{20,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,200},{186,50}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1800},{186,228}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,53},{186,228}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1606},{192,236}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,45},{192,236}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1406},{198,246}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{198,246}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,858},{204,256}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{204,256}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,648},{208,266}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,17},{208,266}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>lifeDrain.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{214,276}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{214,276}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lifeDrain-iphone5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0affb446fc85e84c5010e03d3c195342:fd3c21b3cfd03a4e18859ed644d4dcdd:c33d78fcd024f65f120f1373f84289bb$</string>
            <key>textureFileName</key>
            <string>lifeDrain-iphone5.png</string>
        </dict>
    </dict>
</plist>
