<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leftDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,541}}</string>
                <key>sourceSize</key>
                <string>{482,541}</string>
            </dict>
            <key>loader.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,791},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,528},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1054},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1597},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1334},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,265},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,791},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,528},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1071},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1614},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1351},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,265},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,808},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,545},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1088},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1614},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1351},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>loader.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>rightDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{478,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,541}}</string>
                <key>sourceSize</key>
                <string>{478,541}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading-iphone4.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e707512831f6689a343fc917197fc9cb:48cc8eb793e0e45dfcd07f10911e11c4:eb31fbc7588da243877f621c75aedc98$</string>
            <key>textureFileName</key>
            <string>loading-iphone4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
