<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leftDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,360}}</string>
                <key>sourceSize</key>
                <string>{241,360}</string>
            </dict>
            <key>loader1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,727},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader10.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,147},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader11.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader12.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,437},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader13.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,292},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader14.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,582},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader15.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,147},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader16.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader17.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,437},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader18.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,292},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader19.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,799},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,654},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader20.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,147},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,509},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader5.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,364},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,871},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,726},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,871},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>loader9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>rightDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{239,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,360}}</string>
                <key>sourceSize</key>
                <string>{239,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e13addc9db588b33ab3acfdab75512:9a0a4ece6b7f1f0777de47960d42f126:a93e996566f17c3875bb5062c2300cc5$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
