<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leftDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,852}}</string>
                <key>sourceSize</key>
                <string>{570,852}</string>
            </dict>
            <key>loader.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,959},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,640},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,321},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,321},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,2},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1022},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,682},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1702},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1362},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,342},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1022},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,682},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,342},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1536},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1196},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,856},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1710},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>loader.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{317,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,338}}</string>
                <key>sourceSize</key>
                <string>{317,338}</string>
            </dict>
            <key>rightDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{566,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,852}}</string>
                <key>sourceSize</key>
                <string>{566,852}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading-iphone5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b208aad97412ab3b10a454d3bfd5107:9a0a4ece6b7f1f0777de47960d42f126:a93e996566f17c3875bb5062c2300cc5$</string>
            <key>textureFileName</key>
            <string>loading-iphone5.png</string>
        </dict>
    </dict>
</plist>
