<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leftDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,720}}</string>
                <key>sourceSize</key>
                <string>{482,720}</string>
            </dict>
            <key>loader1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1442},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,290},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,866},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,578},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader14.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1154},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader15.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,290},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader16.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader17.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,866},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader18.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,578},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader19.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1588},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1300},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader20.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,290},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1012},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader5.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,724},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader6.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1734},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1446},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>loader9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{268,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,286}}</string>
                <key>sourceSize</key>
                <string>{268,286}</string>
            </dict>
            <key>rightDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{478,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,720}}</string>
                <key>sourceSize</key>
                <string>{478,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading-iphone4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e13addc9db588b33ab3acfdab75512:9a0a4ece6b7f1f0777de47960d42f126:a93e996566f17c3875bb5062c2300cc5$</string>
            <key>textureFileName</key>
            <string>loading-iphone4.png</string>
        </dict>
    </dict>
</plist>
