<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leftDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{571,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,640}}</string>
                <key>sourceSize</key>
                <string>{571,640}</string>
            </dict>
            <key>loader.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,310},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,310},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,2},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,935},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,624},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1557},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1246},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,313},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,935},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,624},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1577},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1266},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,313},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,955},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,644},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1597},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1286},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1597},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>loader.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{309,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,306}}</string>
                <key>sourceSize</key>
                <string>{309,306}</string>
            </dict>
            <key>rightDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{565,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,640}}</string>
                <key>sourceSize</key>
                <string>{565,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading-iphone5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0deda6d5cafb748363221214c39cc96:48cc8eb793e0e45dfcd07f10911e11c4:a93e996566f17c3875bb5062c2300cc5$</string>
            <key>textureFileName</key>
            <string>loading-iphone5.png</string>
        </dict>
    </dict>
</plist>
