<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,138},{50,34}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,45},{50,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,184},{48,34}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,45},{48,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,174},{48,34}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{48,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,140},{48,34}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,45},{48,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{48,34}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,45},{48,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,148},{48,34}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,45},{48,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,206},{20,4}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,60},{20,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowPoison.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,204},{44,4}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,60},{44,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowPoison.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{48,4}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,60},{48,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowPoison.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,200},{44,4}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,60},{44,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowPoison.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,188},{46,4}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,60},{46,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowPoison.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,44},{42,4}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,60},{42,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowPoison.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{40,4}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,60},{40,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{44,4}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,60},{44,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,192},{40,4}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,60},{40,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,38},{42,4}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,60},{42,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,32},{42,4}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,60},{42,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,186},{40,4}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,60},{40,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>arrowVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,26},{42,4}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,60},{42,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,90},{40,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{40,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,250},{38,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,50},{40,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{40,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{38,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,286},{38,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,250},{38,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,220},{38,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,210},{38,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{38,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,246},{38,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,210},{38,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{38,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ballVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,206},{38,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bomb.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,336},{34,36}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,44},{34,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bomb.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,298},{38,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,43},{38,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bomb.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,290},{38,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,44},{38,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bomb.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,260},{38,36}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,45},{38,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bomb.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,290},{36,36}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{36,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bomb.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{34,34}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,47},{34,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bomb.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,326},{36,32}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,49},{36,32}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bomb.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,140},{38,38}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{38,38}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannonball.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{68,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannonball.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,72},{66,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{66,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannonball.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{66,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{66,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannonball.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{68,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannonball.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,70},{66,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{66,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cannonball.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{66,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{66,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>greenbullet.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,233},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,19}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>greenbullet.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,372},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>greenbullet.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,387},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,269},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>greenbullet.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,380},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,355},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,372},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>greenbullet.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>greenbullet.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,414},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>greenbullet.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,283},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>greenbullet.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,337},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,210},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,20}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>greenbullet.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,360},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,353},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,328},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,326},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,350},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,310},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,407},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>greenbullet.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,242},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>greenbullet.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,297},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>greenbullet.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>greenbullet.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,322},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>greenbullet.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,256},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>greenbullet.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,382},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>greenbullet.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,364},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>magicFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,180},{40,4}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,60},{40,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,20},{42,4}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{42,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{46,4}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,60},{46,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,198},{44,4}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{44,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,194},{44,4}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{44,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,192},{48,4}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,60},{48,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicNormal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,136},{40,4}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,60},{40,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicNormal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,14},{42,4}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,60},{42,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicNormal.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,182},{46,4}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,60},{46,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicNormal.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{46,4}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,60},{46,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicNormal.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,192},{48,4}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,60},{48,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicNormal.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,142},{48,4}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,60},{48,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,130},{40,4}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{40,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{44,4}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,60},{44,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,142},{50,4}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{50,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,8},{42,4}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{42,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,176},{46,4}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{46,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>magicVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{42,4}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{42,4}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missiles.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17ffb4f7e5b2ebeae4a102ef9c43d861:95df40da464af324bf8b49e154a4847c:5fcb3481c80a25b7aeeda331d270019e$</string>
            <key>textureFileName</key>
            <string>missiles.png</string>
        </dict>
    </dict>
</plist>
