<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,446},{54,36}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,48},{54,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,54},{50,36}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,48},{50,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,150},{52,36}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,48},{52,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{50,36}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,48},{50,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,446},{52,36}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,48},{52,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,56},{50,36}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,48},{50,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowNormal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,486},{22,4}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,64},{22,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowNormal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,486},{22,4}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,64},{22,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowPoison.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,444},{46,4}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{46,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowPoison.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{50,4}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{50,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowPoison.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,254},{48,4}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{48,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowPoison.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,204},{48,4}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,64},{48,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowPoison.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,396},{46,4}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{46,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowPoison.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,296},{44,4}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{44,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,348},{46,4}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,64},{46,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,250},{44,4}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,64},{44,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,300},{46,4}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{46,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,204},{44,4}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{44,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,504},{44,4}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,64},{44,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arrowVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,498},{44,4}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,64},{44,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,106},{42,42}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{42,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,150},{42,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{42,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,204},{42,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{42,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,442},{42,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{42,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,386},{42,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{42,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,380},{42,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,47},{42,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,342},{42,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{42,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,336},{42,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,47},{42,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,292},{42,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,47},{42,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,248},{42,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,47},{42,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{42,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,47},{42,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,52},{42,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,47},{42,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ballVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,108},{42,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,47},{42,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bomb.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,194},{36,40}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{36,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bomb.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,290},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{40,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bomb.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,150},{40,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,47},{40,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bomb.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,248},{40,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,48},{40,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bomb.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,466},{38,40}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,48},{38,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bomb.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,46},{38,36}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,51},{38,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bomb.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,96},{38,36}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{38,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bomb.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,424},{40,40}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,47},{40,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cannonball.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{72,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{72,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cannonball.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{70,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{70,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cannonball.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{70,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{70,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cannonball.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{72,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cannonball.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{70,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{70,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cannonball.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{70,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{70,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>greenbullet.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,478},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,21}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>greenbullet.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,337},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>greenbullet.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,165},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>greenbullet.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,392},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>greenbullet.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,421},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>greenbullet.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,308},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>greenbullet.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,279},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>greenbullet.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,250},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>greenbullet.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,221},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>greenbullet.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,86},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>greenbullet.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,136},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>greenbullet.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,308},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>greenbullet.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,332},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>greenbullet.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>greenbullet.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>greenbullet.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,466},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>greenbullet.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,192},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>greenbullet.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,479},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>greenbullet.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,450},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>greenbullet.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,392},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>greenbullet.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,478},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>greenbullet.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,450},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>greenbullet.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,366},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>greenbullet.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,422},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>greenbullet.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,362},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>greenbullet.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,421},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>greenbullet.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,392},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>magicFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,436},{42,4}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,64},{42,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,252},{46,4}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,64},{46,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{48,4}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,64},{48,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{48,4}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,64},{48,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{48,4}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,64},{48,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{52,4}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,64},{52,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicNormal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,430},{42,4}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,64},{42,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicNormal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,492},{44,4}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,64},{44,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicNormal.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{48,4}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,64},{48,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicNormal.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{56,4}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,64},{56,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicNormal.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,506},{52,4}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,64},{52,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicNormal.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,500},{52,4}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,64},{52,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,400},{44,4}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,64},{44,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,204},{46,4}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,64},{46,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{54,4}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,64},{54,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,352},{46,4}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,64},{46,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{48,4}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,64},{48,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magicVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,304},{46,4}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,64},{46,4}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missiles-iphone4.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:146649bcaab1bc8f8e5b94626c5ed458:8986fc7b112e40657d9f30ee96795276:e1b45437e78abc4f2afdb44b643d6ece$</string>
            <key>textureFileName</key>
            <string>missiles-iphone4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
