<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{102,64}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,87},{102,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,884},{98,64}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,87},{98,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,262},{96,64}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,86},{96,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{108,64}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,87},{108,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,782},{100,64}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,87},{100,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,100},{94,64}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,87},{94,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowNormal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,984},{38,6}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,116},{38,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowNormal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,984},{38,6}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,116},{38,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowPoison.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1014},{88,8}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,115},{88,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowPoison.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1004},{88,8}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,115},{88,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowPoison.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,994},{88,8}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,115},{88,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowPoison.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,984},{88,8}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,115},{88,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowPoison.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{84,8}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,115},{84,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowPoison.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{86,8}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,115},{86,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{84,8}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,115},{84,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{90,8}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,115},{90,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,100},{82,8}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,115},{82,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{90,8}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,115},{90,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{84,8}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,115},{84,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{86,8}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,115},{86,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,176},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,262},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,338},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,857},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,781},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,664},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,588},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,512},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,436},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,262},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,360},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,100},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,488},{66,72}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,82},{66,72}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,192},{74,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,83},{74,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,196},{74,64}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,85},{74,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,414},{72,70}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,85},{72,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{70,72}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,86},{70,72}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,634},{66,66}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,90},{66,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,562},{70,64}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,92},{70,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,78},{74,72}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,85},{74,72}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>cannonball.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,57},{128,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>cannonball.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{126,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,57},{126,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>cannonball.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{126,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,57},{126,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>cannonball.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,57},{128,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>cannonball.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{126,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,57},{126,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>cannonball.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{126,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,57},{126,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>greenbullet.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,740},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,39}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>greenbullet.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,856},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>greenbullet.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,154},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,338},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>greenbullet.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,53},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>greenbullet.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,252},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,338},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,390},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,702},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>greenbullet.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,127},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>greenbullet.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,754},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>greenbullet.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,753},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>greenbullet.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,933},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>greenbullet.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,933},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>greenbullet.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,488},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>greenbullet.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,562},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>greenbullet.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,466},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,540},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,614},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,805},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>greenbullet.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,805},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>greenbullet.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,46}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>greenbullet.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,205},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>greenbullet.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,702},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>greenbullet.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,414},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>greenbullet.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>greenbullet.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,76},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>magicFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,100},{76,6}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{76,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,100},{82,6}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{82,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{86,6}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{86,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{88,6}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{88,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{92,6}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{92,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{92,6}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{92,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicNormal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,100},{76,6}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,116},{76,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicNormal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,100},{78,6}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{78,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicNormal.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{86,6}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{86,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicNormal.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{100,6}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,116},{100,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicNormal.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{92,6}}</string>
                <key>offset</key>
                <string>{31,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,116},{92,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicNormal.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{92,6}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{92,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,100},{78,6}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,116},{78,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{86,6}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{86,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{96,6}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,116},{96,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,92},{88,6}}</string>
                <key>offset</key>
                <string>{29,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,116},{88,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{88,6}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{88,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,184},{82,6}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,116},{82,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missiles-iphone5.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:146649bcaab1bc8f8e5b94626c5ed458:8986fc7b112e40657d9f30ee96795276:e1b45437e78abc4f2afdb44b643d6ece$</string>
            <key>textureFileName</key>
            <string>missiles-iphone5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
