<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,13}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{39,13}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,29},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>fireball.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,230},{20,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fireball.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,186},{20,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fireball.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,184},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fireball.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,183},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fireball.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,183},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fireball.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fireball.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,208},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fireball.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,222},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fireball.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,164},{20,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fireball.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,162},{20,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>greenbullet.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,19}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>greenbullet.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>greenbullet.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,83},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>greenbullet.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,56},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,56},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,137},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>greenbullet.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,135},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>greenbullet.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,108},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>greenbullet.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,17},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>greenbullet.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,20}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>greenbullet.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,56},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,29},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,29},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,29},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>greenbullet.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>greenbullet.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,135},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>greenbullet.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,158},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>greenbullet.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,83},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>greenbullet.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,83},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>greenbullet.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>greenbullet.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,110},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>greenbullet.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,108},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missiles.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:411e3729178e27430cd239d1ae8c3b8d:127dc239d05bc30deb96be8faa3f86a3:5fcb3481c80a25b7aeeda331d270019e$</string>
            <key>textureFileName</key>
            <string>missiles.png</string>
        </dict>
    </dict>
</plist>
