<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,265},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>backButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,264},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>facebookButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,882},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>facebookButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>gameCenterButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,90},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>gameCenterButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,882},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>imageFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,753},{127,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,124}}</string>
                <key>sourceSize</key>
                <string>{127,124}</string>
            </dict>
            <key>itemWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{661,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{661,130}}</string>
                <key>sourceSize</key>
                <string>{661,130}</string>
            </dict>
            <key>messageButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,178},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>messageButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,177},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>pokeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{156,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,86}}</string>
                <key>sourceSize</key>
                <string>{156,86}</string>
            </dict>
            <key>pokeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{156,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,86}}</string>
                <key>sourceSize</key>
                <string>{156,86}</string>
            </dict>
            <key>startButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,86}}</string>
                <key>sourceSize</key>
                <string>{162,86}</string>
            </dict>
            <key>startButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,86}}</string>
                <key>sourceSize</key>
                <string>{162,86}</string>
            </dict>
            <key>storeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,257},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>storeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,178},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>tweeterButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,90},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>tweeterButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,90},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>multiplayer-iphone4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49f530cae37ea058fa40012ee6d95f34:bbe2a2c23cf45a8eb2ebb47204f31470:affd5bff65154728d0ee33705323aef0$</string>
            <key>textureFileName</key>
            <string>multiplayer-iphone4.png</string>
        </dict>
    </dict>
</plist>
