<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,135},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>backButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,135},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>facebookButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>facebookButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,446},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>gameCenterButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,91},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>gameCenterButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,47},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>imageFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,380},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>itemWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{331,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,65}}</string>
                <key>sourceSize</key>
                <string>{331,65}</string>
            </dict>
            <key>messageButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,91},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>messageButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,47},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>pokeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>pokeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>startButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{81,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,43}}</string>
                <key>sourceSize</key>
                <string>{81,43}</string>
            </dict>
            <key>startButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,43}}</string>
                <key>sourceSize</key>
                <string>{81,43}</string>
            </dict>
            <key>storeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,132},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>storeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,92},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>tweeterButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,446},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>tweeterButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>multiplayer.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49f530cae37ea058fa40012ee6d95f34:bbe2a2c23cf45a8eb2ebb47204f31470:affd5bff65154728d0ee33705323aef0$</string>
            <key>textureFileName</key>
            <string>multiplayer.png</string>
        </dict>
    </dict>
</plist>
