<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nexus.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,92}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,138},{80,92}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nexusSheet-iphone4.0.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59a97c424739e3e35404aebc55d10ae0:9eb0ffcc7f5d9f77e661212aaffa9f46:642d92a87b34263ec94c5da0a2b98390$</string>
            <key>textureFileName</key>
            <string>nexusSheet-iphone4.0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
