<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ogre.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{60,114}}</string>
                <key>offset</key>
                <string>{13,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,125},{60,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,364},{62,114}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{62,114}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,132},{62,114}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,248},{62,114}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,132},{62,114}}</string>
                <key>offset</key>
                <string>{8,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,630},{62,114}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,756},{62,114}}</string>
                <key>offset</key>
                <string>{11,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,668},{98,114}}</string>
                <key>offset</key>
                <string>{-3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,126},{98,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{84,114}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,126},{84,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,784},{76,114}}</string>
                <key>offset</key>
                <string>{-3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,126},{76,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,118},{60,114}}</string>
                <key>offset</key>
                <string>{13,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,125},{60,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,900},{68,114}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,126},{68,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{64,112}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,126},{64,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,872},{62,110}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,125},{62,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{64,108}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,125},{64,108}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{72,110}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,126},{72,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{80,116}}</string>
                <key>offset</key>
                <string>{12,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,124},{80,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{110,114}}</string>
                <key>offset</key>
                <string>{-16,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,126},{110,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{128,106}}</string>
                <key>offset</key>
                <string>{-24,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,127},{128,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{124,106}}</string>
                <key>offset</key>
                <string>{-23,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,127},{124,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,550},{86,114}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,126},{86,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,364},{58,114}}</string>
                <key>offset</key>
                <string>{14,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,125},{58,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,234},{110,112}}</string>
                <key>offset</key>
                <string>{37,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,121},{110,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,146}}</string>
                <key>offset</key>
                <string>{9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,87},{60,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{58,136}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,100},{58,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{60,134}}</string>
                <key>offset</key>
                <string>{2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,100},{60,134}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{64,130}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,102},{64,130}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,150},{72,130}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,103},{72,130}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,282},{64,124}}</string>
                <key>offset</key>
                <string>{14,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,109},{64,124}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,114},{66,108}}</string>
                <key>offset</key>
                <string>{19,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,125},{66,108}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,480},{58,114}}</string>
                <key>offset</key>
                <string>{14,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,125},{58,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,596},{108,100}}</string>
                <key>offset</key>
                <string>{8,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,126},{108,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,746},{108,100}}</string>
                <key>offset</key>
                <string>{9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,126},{108,100}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,248},{60,114}}</string>
                <key>offset</key>
                <string>{12,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,126},{60,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,902},{78,114}}</string>
                <key>offset</key>
                <string>{16,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,126},{78,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,514},{62,114}}</string>
                <key>offset</key>
                <string>{8,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,640},{62,114}}</string>
                <key>offset</key>
                <string>{9,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,898},{64,114}}</string>
                <key>offset</key>
                <string>{12,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,125},{64,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,706},{78,106}}</string>
                <key>offset</key>
                <string>{18,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,127},{78,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,666},{72,114}}</string>
                <key>offset</key>
                <string>{18,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,126},{72,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{52,116}}</string>
                <key>offset</key>
                <string>{-6,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,124},{52,116}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,782},{64,114}}</string>
                <key>offset</key>
                <string>{12,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,125},{64,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,116},{78,110}}</string>
                <key>offset</key>
                <string>{19,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,123},{78,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,480},{80,108}}</string>
                <key>offset</key>
                <string>{19,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,124},{80,108}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,398},{62,114}}</string>
                <key>offset</key>
                <string>{9,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,856},{80,106}}</string>
                <key>offset</key>
                <string>{17,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,125},{80,106}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,348},{78,108}}</string>
                <key>offset</key>
                <string>{16,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,123},{78,108}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,228},{76,108}}</string>
                <key>offset</key>
                <string>{17,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,123},{76,108}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,118},{68,112}}</string>
                <key>offset</key>
                <string>{18,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,124},{68,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,964},{58,104}}</string>
                <key>offset</key>
                <string>{8,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,136},{58,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,914},{80,90}}</string>
                <key>offset</key>
                <string>{4,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,150},{80,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,814},{86,98}}</string>
                <key>offset</key>
                <string>{-1,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,142},{86,98}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,338},{82,82}}</string>
                <key>offset</key>
                <string>{1,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,158},{82,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,224},{82,72}}</string>
                <key>offset</key>
                <string>{2,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,168},{82,72}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,524},{62,114}}</string>
                <key>offset</key>
                <string>{8,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,282},{62,114}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ogre.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,408},{62,114}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,126},{62,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ogreSheet-iphone4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d21eeafb4214380ea9921bb4397d74d6:a5cf1748a1a4f08373ba6747d27e79e4:c635dc7e99504fb8ffad68e597014ee8$</string>
            <key>textureFileName</key>
            <string>ogreSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
