<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ogre.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1616},{197,213}}</string>
                <key>offset</key>
                <string>{25,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,222},{197,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1401},{189,213}}</string>
                <key>offset</key>
                <string>{28,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,222},{189,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{177,241}}</string>
                <key>offset</key>
                <string>{13,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,179},{177,241}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.101.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,175},{183,235}}</string>
                <key>offset</key>
                <string>{19,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,185},{183,235}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.103.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{217,241}}</string>
                <key>offset</key>
                <string>{42,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,179},{217,241}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.106.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,159},{199,239}}</string>
                <key>offset</key>
                <string>{50,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,181},{199,239}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{163,219}}</string>
                <key>offset</key>
                <string>{45,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,201},{163,219}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1859},{173,211}}</string>
                <key>offset</key>
                <string>{52,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,215},{173,211}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.109.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1061},{185,215}}</string>
                <key>offset</key>
                <string>{60,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,220},{185,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1618},{191,213}}</string>
                <key>offset</key>
                <string>{26,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,222},{191,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1246},{189,213}}</string>
                <key>offset</key>
                <string>{45,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,222},{189,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1043},{199,213}}</string>
                <key>offset</key>
                <string>{26,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,222},{199,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.113.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1831},{197,213}}</string>
                <key>offset</key>
                <string>{25,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,222},{197,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.114.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1451},{197,213}}</string>
                <key>offset</key>
                <string>{25,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,222},{197,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.115.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1666},{197,213}}</string>
                <key>offset</key>
                <string>{25,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,222},{197,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.148.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,637},{217,209}}</string>
                <key>offset</key>
                <string>{51,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,226},{217,209}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.149.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,1674},{207,211}}</string>
                <key>offset</key>
                <string>{35,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,224},{207,211}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.150.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1319},{205,213}}</string>
                <key>offset</key>
                <string>{19,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,222},{205,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1037},{205,213}}</string>
                <key>offset</key>
                <string>{13,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,222},{205,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.169.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,422},{205,215}}</string>
                <key>offset</key>
                <string>{25,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,220},{205,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.170.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,999},{195,215}}</string>
                <key>offset</key>
                <string>{50,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,220},{195,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.171.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1202},{209,213}}</string>
                <key>offset</key>
                <string>{54,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,222},{209,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.172.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,360},{219,213}}</string>
                <key>offset</key>
                <string>{56,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,222},{219,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.173.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,2},{223,213}}</string>
                <key>offset</key>
                <string>{58,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,222},{223,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.175.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{225,207}}</string>
                <key>offset</key>
                <string>{58,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,222},{225,207}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.176.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{225,203}}</string>
                <key>offset</key>
                <string>{56,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,223},{225,203}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.177.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,217},{223,201}}</string>
                <key>offset</key>
                <string>{55,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,223},{223,201}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,217},{221,199}}</string>
                <key>offset</key>
                <string>{53,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,224},{221,199}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,436},{219,199}}</string>
                <key>offset</key>
                <string>{52,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,223},{219,199}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{217,201}}</string>
                <key>offset</key>
                <string>{51,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,222},{217,201}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{215,205}}</string>
                <key>offset</key>
                <string>{51,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,220},{215,205}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,788},{215,211}}</string>
                <key>offset</key>
                <string>{52,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,217},{215,211}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,420},{215,213}}</string>
                <key>offset</key>
                <string>{52,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,218},{215,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,360},{215,217}}</string>
                <key>offset</key>
                <string>{52,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,218},{215,217}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,575},{211,217}}</string>
                <key>offset</key>
                <string>{53,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,218},{211,217}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,786},{205,217}}</string>
                <key>offset</key>
                <string>{54,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,218},{205,217}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,595},{189,219}}</string>
                <key>offset</key>
                <string>{54,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,216},{189,219}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1001},{195,215}}</string>
                <key>offset</key>
                <string>{48,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,220},{195,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.191.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,1859},{203,171}}</string>
                <key>offset</key>
                <string>{17,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,264},{203,171}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.192.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1881},{213,165}}</string>
                <key>offset</key>
                <string>{19,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,270},{213,165}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.194.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,173}}</string>
                <key>offset</key>
                <string>{-3,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,262},{243,173}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.197.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{241,171}}</string>
                <key>offset</key>
                <string>{-7,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,264},{241,171}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.198.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{241,177}}</string>
                <key>offset</key>
                <string>{-6,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,258},{241,177}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1618},{195,213}}</string>
                <key>offset</key>
                <string>{26,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,222},{195,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.200.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{241,155}}</string>
                <key>offset</key>
                <string>{1,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,280},{241,155}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1833},{195,213}}</string>
                <key>offset</key>
                <string>{26,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,222},{195,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1244},{203,211}}</string>
                <key>offset</key>
                <string>{9,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,224},{203,211}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1457},{203,211}}</string>
                <key>offset</key>
                <string>{10,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,224},{203,211}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,1244},{203,211}}</string>
                <key>offset</key>
                <string>{11,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,224},{203,211}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,1449},{203,211}}</string>
                <key>offset</key>
                <string>{12,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,224},{203,211}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,1654},{203,211}}</string>
                <key>offset</key>
                <string>{13,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,224},{203,211}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1041},{203,213}}</string>
                <key>offset</key>
                <string>{14,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,222},{203,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1196},{203,213}}</string>
                <key>offset</key>
                <string>{15,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,222},{203,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1198},{203,213}}</string>
                <key>offset</key>
                <string>{15,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,222},{203,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1248},{201,213}}</string>
                <key>offset</key>
                <string>{17,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,222},{201,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1413},{201,213}}</string>
                <key>offset</key>
                <string>{18,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,222},{201,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{201,213}}</string>
                <key>offset</key>
                <string>{19,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,222},{201,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1041},{201,213}}</string>
                <key>offset</key>
                <string>{20,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,222},{201,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1729},{199,213}}</string>
                <key>offset</key>
                <string>{22,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,222},{199,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1729},{199,213}}</string>
                <key>offset</key>
                <string>{22,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,222},{199,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1403},{197,213}}</string>
                <key>offset</key>
                <string>{24,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,222},{197,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1833},{191,213}}</string>
                <key>offset</key>
                <string>{28,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,222},{191,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,165},{241,213}}</string>
                <key>offset</key>
                <string>{-23,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,222},{241,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,221},{233,213}}</string>
                <key>offset</key>
                <string>{-22,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,222},{233,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,848},{211,215}}</string>
                <key>offset</key>
                <string>{-16,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,220},{211,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,993},{207,215}}</string>
                <key>offset</key>
                <string>{-13,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,220},{207,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1461},{189,213}}</string>
                <key>offset</key>
                <string>{29,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,222},{189,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,629},{205,215}}</string>
                <key>offset</key>
                <string>{-7,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,220},{205,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,635},{205,215}}</string>
                <key>offset</key>
                <string>{-3,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,220},{205,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,637},{203,215}}</string>
                <key>offset</key>
                <string>{1,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,220},{203,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,840},{199,215}}</string>
                <key>offset</key>
                <string>{5,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,220},{199,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,836},{199,215}}</string>
                <key>offset</key>
                <string>{7,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,220},{199,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,842},{197,215}}</string>
                <key>offset</key>
                <string>{6,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,220},{197,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,842},{199,215}}</string>
                <key>offset</key>
                <string>{1,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,220},{199,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,637},{201,215}}</string>
                <key>offset</key>
                <string>{-5,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,220},{201,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,792},{205,215}}</string>
                <key>offset</key>
                <string>{-9,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,220},{205,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,577},{213,215}}</string>
                <key>offset</key>
                <string>{-10,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,220},{213,215}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1676},{189,213}}</string>
                <key>offset</key>
                <string>{29,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,222},{189,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,207},{223,213}}</string>
                <key>offset</key>
                <string>{-12,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,222},{223,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,380},{231,213}}</string>
                <key>offset</key>
                <string>{-14,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,222},{231,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,2},{239,213}}</string>
                <key>offset</key>
                <string>{-15,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,222},{239,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1244},{189,213}}</string>
                <key>offset</key>
                <string>{28,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,222},{189,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,418},{219,217}}</string>
                <key>offset</key>
                <string>{59,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,218},{219,217}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1459},{189,213}}</string>
                <key>offset</key>
                <string>{28,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,222},{189,213}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>ogre.93.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{161,243}}</string>
                <key>offset</key>
                <string>{16,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,181},{161,243}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ogreSheet-iphone5.1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a8a5d7af444b1b5b3c76160dd18331a:a4b7a3e6d685d09fe11877e065bf26af:3c4da1d6f1cc448baaa87791ea41a756$</string>
            <key>textureFileName</key>
            <string>ogreSheet-iphone5.1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
