<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ogre.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1378},{126,242}}</string>
                <key>offset</key>
                <string>{27,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,266},{126,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,890},{128,242}}</string>
                <key>offset</key>
                <string>{18,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,270},{128,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,836},{174,186}}</string>
                <key>offset</key>
                <string>{2,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,326},{174,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,608},{174,156}}</string>
                <key>offset</key>
                <string>{4,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,356},{174,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.102.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,248},{176,152}}</string>
                <key>offset</key>
                <string>{4,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,360},{176,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1138},{128,242}}</string>
                <key>offset</key>
                <string>{17,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,270},{128,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1386},{128,242}}</string>
                <key>offset</key>
                <string>{16,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,270},{128,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1142},{130,242}}</string>
                <key>offset</key>
                <string>{15,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,270},{130,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,646},{128,242}}</string>
                <key>offset</key>
                <string>{15,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,270},{128,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1634},{130,242}}</string>
                <key>offset</key>
                <string>{14,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,270},{130,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1390},{130,242}}</string>
                <key>offset</key>
                <string>{14,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,270},{130,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1636},{130,242}}</string>
                <key>offset</key>
                <string>{14,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,270},{130,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,898},{130,244}}</string>
                <key>offset</key>
                <string>{14,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,268},{130,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,650},{128,244}}</string>
                <key>offset</key>
                <string>{16,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,268},{128,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,394},{124,242}}</string>
                <key>offset</key>
                <string>{28,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,266},{124,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1144},{130,244}}</string>
                <key>offset</key>
                <string>{17,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,268},{130,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1422},{130,246}}</string>
                <key>offset</key>
                <string>{19,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,266},{130,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1918},{128,246}}</string>
                <key>offset</key>
                <string>{21,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,266},{128,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1670},{128,246}}</string>
                <key>offset</key>
                <string>{23,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,266},{128,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,896},{126,244}}</string>
                <key>offset</key>
                <string>{25,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,266},{126,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,650},{178,242}}</string>
                <key>offset</key>
                <string>{0,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,268},{178,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,402},{174,242}}</string>
                <key>offset</key>
                <string>{-6,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,270},{174,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,404},{172,244}}</string>
                <key>offset</key>
                <string>{-8,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,268},{172,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,404},{160,244}}</string>
                <key>offset</key>
                <string>{-6,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,268},{160,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{148,244}}</string>
                <key>offset</key>
                <string>{-3,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,268},{148,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{124,240}}</string>
                <key>offset</key>
                <string>{29,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,267},{124,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{138,244}}</string>
                <key>offset</key>
                <string>{1,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,267},{138,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,638},{132,238}}</string>
                <key>offset</key>
                <string>{5,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,268},{132,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,388},{130,232}}</string>
                <key>offset</key>
                <string>{11,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,268},{130,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{128,232}}</string>
                <key>offset</key>
                <string>{13,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,267},{128,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,622},{132,228}}</string>
                <key>offset</key>
                <string>{6,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,268},{132,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,256},{146,234}}</string>
                <key>offset</key>
                <string>{3,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,267},{146,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,638},{122,242}}</string>
                <key>offset</key>
                <string>{30,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,266},{122,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,394},{120,242}}</string>
                <key>offset</key>
                <string>{30,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,266},{120,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{130,274}}</string>
                <key>offset</key>
                <string>{6,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,220},{130,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,404},{134,270}}</string>
                <key>offset</key>
                <string>{9,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,224},{134,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1698},{152,270}}</string>
                <key>offset</key>
                <string>{24,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,224},{152,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1424},{148,272}}</string>
                <key>offset</key>
                <string>{30,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,222},{148,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,676},{120,248}}</string>
                <key>offset</key>
                <string>{30,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,246},{120,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,244},{136,228}}</string>
                <key>offset</key>
                <string>{42,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,266},{136,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1144},{126,244}}</string>
                <key>offset</key>
                <string>{39,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,266},{126,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1626},{126,242}}</string>
                <key>offset</key>
                <string>{27,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,266},{126,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1622},{124,242}}</string>
                <key>offset</key>
                <string>{27,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,266},{124,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1134},{126,242}}</string>
                <key>offset</key>
                <string>{27,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,266},{126,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,882},{122,240}}</string>
                <key>offset</key>
                <string>{28,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,268},{122,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1382},{126,242}}</string>
                <key>offset</key>
                <string>{27,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,266},{126,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,926},{132,246}}</string>
                <key>offset</key>
                <string>{30,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,266},{132,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,400}}</string>
                <key>offset</key>
                <string>{60,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,88},{178,400}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{132,374}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,103},{132,374}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{132,330}}</string>
                <key>offset</key>
                <string>{-19,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,136},{132,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{132,310}}</string>
                <key>offset</key>
                <string>{-18,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,154},{132,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{128,308}}</string>
                <key>offset</key>
                <string>{-11,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,159},{128,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{252,216}}</string>
                <key>offset</key>
                <string>{51,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,271},{252,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1806},{222,216}}</string>
                <key>offset</key>
                <string>{26,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,274},{222,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1582},{222,216}}</string>
                <key>offset</key>
                <string>{20,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,276},{222,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1630},{126,242}}</string>
                <key>offset</key>
                <string>{25,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,268},{126,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1336},{222,214}}</string>
                <key>offset</key>
                <string>{18,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,275},{222,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,382},{226,210}}</string>
                <key>offset</key>
                <string>{17,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,272},{226,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1354},{226,208}}</string>
                <key>offset</key>
                <string>{18,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,272},{226,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.74.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,652},{200,244}}</string>
                <key>offset</key>
                <string>{28,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,268},{200,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.75.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1176},{134,246}}</string>
                <key>offset</key>
                <string>{33,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,266},{134,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.76.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,404},{130,246}}</string>
                <key>offset</key>
                <string>{17,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,266},{130,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.77.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,676},{130,246}}</string>
                <key>offset</key>
                <string>{16,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,266},{130,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.78.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1174},{130,246}}</string>
                <key>offset</key>
                <string>{22,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,266},{130,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.79.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,898},{132,244}}</string>
                <key>offset</key>
                <string>{29,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,265},{132,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1390},{126,244}}</string>
                <key>offset</key>
                <string>{22,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,268},{126,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.80.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{162,230}}</string>
                <key>offset</key>
                <string>{40,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,272},{162,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.81.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,382},{162,224}}</string>
                <key>offset</key>
                <string>{40,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,274},{162,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.82.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,252},{150,242}}</string>
                <key>offset</key>
                <string>{38,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,270},{150,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.83.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,926},{118,248}}</string>
                <key>offset</key>
                <string>{-1,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,264},{118,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.84.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{128,248}}</string>
                <key>offset</key>
                <string>{0,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,264},{128,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.85.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{132,244}}</string>
                <key>offset</key>
                <string>{27,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,267},{132,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.86.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{158,242}}</string>
                <key>offset</key>
                <string>{38,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,261},{158,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.87.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1874},{168,226}}</string>
                <key>offset</key>
                <string>{41,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,266},{168,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,610},{168,224}}</string>
                <key>offset</key>
                <string>{41,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,268},{168,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.89.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1880},{166,224}}</string>
                <key>offset</key>
                <string>{39,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,268},{166,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,894},{128,242}}</string>
                <key>offset</key>
                <string>{19,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,270},{128,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.90.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1108},{162,226}}</string>
                <key>offset</key>
                <string>{37,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,265},{162,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.91.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1124},{160,228}}</string>
                <key>offset</key>
                <string>{36,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,263},{160,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,852},{160,226}}</string>
                <key>offset</key>
                <string>{37,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,265},{160,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.93.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,878},{158,228}}</string>
                <key>offset</key>
                <string>{37,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,264},{158,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.94.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,248},{144,236}}</string>
                <key>offset</key>
                <string>{38,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,267},{144,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.95.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{128,240}}</string>
                <key>offset</key>
                <string>{32,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,272},{128,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.96.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,246},{140,200}}</string>
                <key>offset</key>
                <string>{19,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,312},{140,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.97.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1080},{168,190}}</string>
                <key>offset</key>
                <string>{9,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,322},{168,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.98.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1560},{182,216}}</string>
                <key>offset</key>
                <string>{-2,-148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,296},{182,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.99.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1866},{178,202}}</string>
                <key>offset</key>
                <string>{-1,-155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,310},{178,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ogreSheet-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2db611e26aa2ff9a95459e31624bce8d:e2914b8c34fbe7ebad874c1182c35b0d:c635dc7e99504fb8ffad68e597014ee8$</string>
            <key>textureFileName</key>
            <string>ogreSheet-ipadhd.png</string>
        </dict>
    </dict>
</plist>
