<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ogre.100.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,756},{206,282}}</string>
                <key>offset</key>
                <string>{16,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,212},{206,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,612},{216,278}}</string>
                <key>offset</key>
                <string>{22,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,216},{216,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.102.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,816},{248,276}}</string>
                <key>offset</key>
                <string>{40,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,218},{248,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,458},{252,282}}</string>
                <key>offset</key>
                <string>{50,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,212},{252,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{254,286}}</string>
                <key>offset</key>
                <string>{55,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,208},{254,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.105.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,506},{248,286}}</string>
                <key>offset</key>
                <string>{58,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,208},{248,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.122.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{298,254}}</string>
                <key>offset</key>
                <string>{73,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,258},{298,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.148.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,760},{256,246}}</string>
                <key>offset</key>
                <string>{60,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,266},{256,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.150.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1804},{242,250}}</string>
                <key>offset</key>
                <string>{23,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,262},{242,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1804},{242,250}}</string>
                <key>offset</key>
                <string>{15,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,262},{242,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.169.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1562},{240,252}}</string>
                <key>offset</key>
                <string>{29,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,260},{240,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.170.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1526},{228,254}}</string>
                <key>offset</key>
                <string>{59,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,258},{228,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.172.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2},{256,250}}</string>
                <key>offset</key>
                <string>{66,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,262},{256,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.173.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1066},{262,250}}</string>
                <key>offset</key>
                <string>{68,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,262},{262,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.174.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,712},{264,246}}</string>
                <key>offset</key>
                <string>{68,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,262},{264,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.175.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,830},{264,242}}</string>
                <key>offset</key>
                <string>{68,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,262},{264,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.177.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1290},{262,234}}</string>
                <key>offset</key>
                <string>{65,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,264},{262,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1326},{258,234}}</string>
                <key>offset</key>
                <string>{63,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,263},{258,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1074},{256,234}}</string>
                <key>offset</key>
                <string>{61,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,262},{256,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1468},{254,236}}</string>
                <key>offset</key>
                <string>{60,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,261},{254,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1232},{252,242}}</string>
                <key>offset</key>
                <string>{60,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,258},{252,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1706},{252,246}}</string>
                <key>offset</key>
                <string>{61,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,257},{252,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{252,250}}</string>
                <key>offset</key>
                <string>{61,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,257},{252,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1310},{250,254}}</string>
                <key>offset</key>
                <string>{62,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,258},{250,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1318},{248,254}}</string>
                <key>offset</key>
                <string>{62,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,258},{248,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,960},{242,256}}</string>
                <key>offset</key>
                <string>{63,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,256},{242,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1008},{222,256}}</string>
                <key>offset</key>
                <string>{63,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,256},{222,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.193.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{272,190}}</string>
                <key>offset</key>
                <string>{10,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,322},{272,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.194.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,650},{286,202}}</string>
                <key>offset</key>
                <string>{-3,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,310},{286,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.195.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,190},{292,216}}</string>
                <key>offset</key>
                <string>{-10,-148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,296},{292,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.196.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,384},{290,220}}</string>
                <key>offset</key>
                <string>{-10,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,292},{290,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.197.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,254},{284,202}}</string>
                <key>offset</key>
                <string>{-9,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,310},{284,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.198.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,606},{282,208}}</string>
                <key>offset</key>
                <string>{-7,-152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,304},{282,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.199.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{280,186}}</string>
                <key>offset</key>
                <string>{-3,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,326},{280,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.200.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,854},{282,182}}</string>
                <key>offset</key>
                <string>{2,-165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,330},{282,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1476},{224,250}}</string>
                <key>offset</key>
                <string>{33,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,262},{224,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{292,250}}</string>
                <key>offset</key>
                <string>{-23,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,262},{292,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{294,250}}</string>
                <key>offset</key>
                <string>{-25,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,262},{294,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{294,250}}</string>
                <key>offset</key>
                <string>{-27,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,262},{294,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,254},{290,250}}</string>
                <key>offset</key>
                <string>{-28,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,262},{290,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,508},{282,250}}</string>
                <key>offset</key>
                <string>{-27,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,262},{282,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,964},{274,250}}</string>
                <key>offset</key>
                <string>{-26,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,262},{274,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,254},{264,252}}</string>
                <key>offset</key>
                <string>{-24,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,260},{264,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1204},{254,252}}</string>
                <key>offset</key>
                <string>{-21,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,260},{254,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1756},{246,252}}</string>
                <key>offset</key>
                <string>{-18,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,260},{246,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1458},{242,252}}</string>
                <key>offset</key>
                <string>{-14,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,260},{242,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1702},{240,252}}</string>
                <key>offset</key>
                <string>{-8,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,260},{240,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1814},{232,252}}</string>
                <key>offset</key>
                <string>{7,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,260},{232,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1702},{240,252}}</string>
                <key>offset</key>
                <string>{-10,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,260},{240,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1756},{250,252}}</string>
                <key>offset</key>
                <string>{-12,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,260},{250,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1216},{262,250}}</string>
                <key>offset</key>
                <string>{-14,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,262},{262,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1038},{272,250}}</string>
                <key>offset</key>
                <string>{-16,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,262},{272,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,244}}</string>
                <key>offset</key>
                <string>{-37,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,268},{304,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.92.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,258},{198,290}}</string>
                <key>offset</key>
                <string>{29,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,207},{198,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.93.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{188,286}}</string>
                <key>offset</key>
                <string>{19,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,213},{188,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.94.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,192},{190,292}}</string>
                <key>offset</key>
                <string>{13,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,209},{190,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.95.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{186,294}}</string>
                <key>offset</key>
                <string>{9,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,208},{186,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.96.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{188,294}}</string>
                <key>offset</key>
                <string>{8,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,207},{188,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.97.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,458},{190,290}}</string>
                <key>offset</key>
                <string>{9,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,207},{190,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.99.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,408},{202,284}}</string>
                <key>offset</key>
                <string>{13,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,210},{202,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ogreSheet-ipadhd.1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a8a5d7af444b1b5b3c76160dd18331a:a4b7a3e6d685d09fe11877e065bf26af:3c4da1d6f1cc448baaa87791ea41a756$</string>
            <key>textureFileName</key>
            <string>ogreSheet-ipadhd.1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
