<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ogre.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{126,242}}</string>
                <key>offset</key>
                <string>{27,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,267},{126,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,252},{132,242}}</string>
                <key>offset</key>
                <string>{14,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,270},{132,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,740},{130,242}}</string>
                <key>offset</key>
                <string>{14,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,270},{130,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{130,242}}</string>
                <key>offset</key>
                <string>{14,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,270},{130,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,246},{130,242}}</string>
                <key>offset</key>
                <string>{16,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,270},{130,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,858},{130,244}}</string>
                <key>offset</key>
                <string>{18,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,268},{130,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1104},{130,244}}</string>
                <key>offset</key>
                <string>{21,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,268},{130,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1596},{128,244}}</string>
                <key>offset</key>
                <string>{24,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,268},{128,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1104},{210,242}}</string>
                <key>offset</key>
                <string>{-7,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,270},{210,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1594},{178,242}}</string>
                <key>offset</key>
                <string>{-8,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,270},{178,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{162,244}}</string>
                <key>offset</key>
                <string>{-6,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,268},{162,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,734},{126,240}}</string>
                <key>offset</key>
                <string>{28,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,268},{126,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1406},{144,244}}</string>
                <key>offset</key>
                <string>{-1,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,268},{144,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{132,238}}</string>
                <key>offset</key>
                <string>{6,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,269},{132,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1462},{128,232}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,269},{128,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,238},{134,228}}</string>
                <key>offset</key>
                <string>{6,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,269},{134,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{154,234}}</string>
                <key>offset</key>
                <string>{1,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,269},{154,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,858},{170,244}}</string>
                <key>offset</key>
                <string>{27,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,268},{170,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1350},{232,242}}</string>
                <key>offset</key>
                <string>{-34,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,270},{232,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{272,222}}</string>
                <key>offset</key>
                <string>{-50,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,273},{272,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,592},{264,222}}</string>
                <key>offset</key>
                <string>{-49,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,273},{264,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{184,244}}</string>
                <key>offset</key>
                <string>{2,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,268},{184,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,984},{122,242}}</string>
                <key>offset</key>
                <string>{30,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,267},{122,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,246},{234,238}}</string>
                <key>offset</key>
                <string>{80,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,260},{234,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,310}}</string>
                <key>offset</key>
                <string>{20,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,186},{126,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{122,286}}</string>
                <key>offset</key>
                <string>{6,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,216},{122,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{126,282}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,216},{126,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,314},{132,276}}</string>
                <key>offset</key>
                <string>{7,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,219},{132,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{152,272}}</string>
                <key>offset</key>
                <string>{24,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,223},{152,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,276},{136,264}}</string>
                <key>offset</key>
                <string>{31,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,232},{136,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1898},{138,228}}</string>
                <key>offset</key>
                <string>{42,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,267},{138,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,490},{122,240}}</string>
                <key>offset</key>
                <string>{29,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,269},{122,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1592},{230,210}}</string>
                <key>offset</key>
                <string>{17,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,272},{230,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,976},{228,210}}</string>
                <key>offset</key>
                <string>{19,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,272},{228,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,246},{126,242}}</string>
                <key>offset</key>
                <string>{25,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,269},{126,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1406},{164,244}}</string>
                <key>offset</key>
                <string>{35,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,268},{164,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1104},{134,244}}</string>
                <key>offset</key>
                <string>{16,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,268},{134,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1350},{132,244}}</string>
                <key>offset</key>
                <string>{19,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,268},{132,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1594},{134,242}}</string>
                <key>offset</key>
                <string>{26,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,267},{134,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1824},{164,220}}</string>
                <key>offset</key>
                <string>{40,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,275},{164,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1652},{152,244}}</string>
                <key>offset</key>
                <string>{38,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,268},{152,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{110,248}}</string>
                <key>offset</key>
                <string>{-13,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,264},{110,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,542},{132,242}}</string>
                <key>offset</key>
                <string>{26,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,267},{132,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1228},{166,232}}</string>
                <key>offset</key>
                <string>{40,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,264},{166,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{170,226}}</string>
                <key>offset</key>
                <string>{41,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,267},{170,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,490},{128,242}}</string>
                <key>offset</key>
                <string>{20,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,270},{128,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1206},{166,226}}</string>
                <key>offset</key>
                <string>{37,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,267},{166,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,732},{162,228}}</string>
                <key>offset</key>
                <string>{35,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,264},{162,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,486},{160,228}}</string>
                <key>offset</key>
                <string>{37,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,264},{160,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1898},{146,238}}</string>
                <key>offset</key>
                <string>{38,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,265},{146,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1588},{124,224}}</string>
                <key>offset</key>
                <string>{16,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,288},{124,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1838},{168,190}}</string>
                <key>offset</key>
                <string>{9,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,322},{168,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1838},{182,210}}</string>
                <key>offset</key>
                <string>{-2,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,302},{182,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1814},{176,176}}</string>
                <key>offset</key>
                <string>{2,-168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,336},{176,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1434},{176,152}}</string>
                <key>offset</key>
                <string>{3,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,360},{176,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,496},{130,242}}</string>
                <key>offset</key>
                <string>{18,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,270},{130,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,786},{130,242}}</string>
                <key>offset</key>
                <string>{16,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,270},{130,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{130,242}}</string>
                <key>offset</key>
                <string>{15,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,270},{130,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ogreSheet-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d21eeafb4214380ea9921bb4397d74d6:a5cf1748a1a4f08373ba6747d27e79e4:c635dc7e99504fb8ffad68e597014ee8$</string>
            <key>textureFileName</key>
            <string>ogreSheet-ipadhd.png</string>
        </dict>
    </dict>
</plist>
