<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poison.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,888},{174,100}}</string>
                <key>offset</key>
                <string>{-2,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,181},{174,100}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{174,240}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,41},{174,240}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,178},{174,254}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,27},{174,254}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,888},{174,100}}</string>
                <key>offset</key>
                <string>{-2,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,181},{174,100}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{174,234}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,47},{174,234}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{174,248}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,33},{174,248}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{176,264}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,17},{176,264}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,356},{178,240}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,41},{178,240}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,354},{180,236}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,45},{180,236}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,882},{182,214}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,67},{182,214}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{174,206}}</string>
                <key>offset</key>
                <string>{-2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,75},{174,206}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,712},{174,220}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,61},{174,220}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{174,220}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,61},{174,220}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,536},{174,234}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,47},{174,234}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,178},{174,224}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,57},{174,224}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1242},{174,156}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,125},{174,156}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,712},{174,216}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,65},{174,216}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,706},{174,228}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,53},{174,228}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,354},{174,242}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,39},{174,242}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{174,258}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,23},{174,258}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,272}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,9},{174,272}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1064},{174,210}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,71},{174,210}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,530},{174,234}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,47},{174,234}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1240},{174,162}}</string>
                <key>offset</key>
                <string>{-2,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,119},{174,162}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{174,168}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,113},{174,168}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1240},{174,178}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,103},{174,178}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1066},{174,188}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,93},{174,188}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1064},{174,198}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,83},{174,198}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{174,210}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,71},{174,210}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,180},{174,248}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,33},{174,248}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{174,262}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,19},{174,262}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,888},{174,204}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,77},{174,204}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{174,218}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,63},{174,218}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,888},{174,214}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,67},{174,214}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,536},{174,228}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,53},{174,228}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poison-iphone5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39ed3c9e54e0e70db410c995da1cd28d:dc48a10a7573734d0375e510422a05c4:e690efd499363d4931f7e56355ae078a$</string>
            <key>textureFileName</key>
            <string>poison-iphone5.png</string>
        </dict>
    </dict>
</plist>
