<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poison.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,732},{316,282}}</string>
                <key>offset</key>
                <string>{17,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,217},{316,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{298,252}}</string>
                <key>offset</key>
                <string>{17,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,229},{298,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1382},{332,294}}</string>
                <key>offset</key>
                <string>{17,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,204},{332,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{346,340}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,81},{346,340}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1060},{350,346}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,62},{350,346}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1050},{330,280}}</string>
                <key>offset</key>
                <string>{-16,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,95},{330,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1408},{334,270}}</string>
                <key>offset</key>
                <string>{-15,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,89},{334,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,302},{138,58}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,234},{138,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{358,374}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,71},{358,374}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{346,306}}</string>
                <key>offset</key>
                <string>{16,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,192},{346,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,732},{358,326}}</string>
                <key>offset</key>
                <string>{16,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,177},{358,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1382},{332,294}}</string>
                <key>offset</key>
                <string>{17,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,204},{332,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{366,342}}</string>
                <key>offset</key>
                <string>{16,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,162},{366,342}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,374},{374,356}}</string>
                <key>offset</key>
                <string>{17,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,147},{374,356}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{380,370}}</string>
                <key>offset</key>
                <string>{17,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,130},{380,370}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,384}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,49},{358,384}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,302},{138,58}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,234},{138,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{358,374}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,71},{358,374}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{346,306}}</string>
                <key>offset</key>
                <string>{16,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,192},{346,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,732},{358,326}}</string>
                <key>offset</key>
                <string>{16,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,177},{358,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{366,342}}</string>
                <key>offset</key>
                <string>{16,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,162},{366,342}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,374},{374,356}}</string>
                <key>offset</key>
                <string>{17,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,147},{374,356}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{380,370}}</string>
                <key>offset</key>
                <string>{17,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,130},{380,370}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>poison.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,384}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,49},{358,384}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poison-ipadhd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9f6a07154eecbbbdbcc7a2b0281a8a3:cd0ad95fd7d70e59d71d654ce9662f1a:e690efd499363d4931f7e56355ae078a$</string>
            <key>textureFileName</key>
            <string>poison-ipadhd.png</string>
        </dict>
    </dict>
</plist>
