<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poison.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,392},{176,156}}</string>
                <key>offset</key>
                <string>{9,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,121},{176,156}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,196},{164,140}}</string>
                <key>offset</key>
                <string>{10,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,127},{164,140}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,202},{184,162}}</string>
                <key>offset</key>
                <string>{9,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,114},{184,162}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,202},{192,188}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,45},{192,188}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{194,192}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{194,192}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,338},{184,156}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{184,156}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,366},{184,150}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,49},{184,150}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,202},{76,32}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,130},{76,32}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{198,208}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,39},{198,208}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{192,170}}</string>
                <key>offset</key>
                <string>{9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,106},{192,170}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,180}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,99},{198,180}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,202},{184,162}}</string>
                <key>offset</key>
                <string>{9,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,114},{184,162}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,202},{202,190}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,90},{202,190}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{208,198}}</string>
                <key>offset</key>
                <string>{9,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,81},{208,198}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,204}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,73},{212,204}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{198,212}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,28},{198,212}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,202},{76,32}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,130},{76,32}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{198,208}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,39},{198,208}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{192,170}}</string>
                <key>offset</key>
                <string>{9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,106},{192,170}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,180}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,99},{198,180}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,202},{202,190}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,90},{202,190}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{208,198}}</string>
                <key>offset</key>
                <string>{9,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,81},{208,198}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,204}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,73},{212,204}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>poison.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{198,212}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,28},{198,212}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poison-iphone5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9f6a07154eecbbbdbcc7a2b0281a8a3:cd0ad95fd7d70e59d71d654ce9662f1a:e690efd499363d4931f7e56355ae078a$</string>
            <key>textureFileName</key>
            <string>poison-iphone5.png</string>
        </dict>
    </dict>
</plist>
