<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scowerer.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,264},{56,46}}</string>
                <key>offset</key>
                <string>{9,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,235},{56,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{64,42}}</string>
                <key>offset</key>
                <string>{11,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,237},{64,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,50},{60,42}}</string>
                <key>offset</key>
                <string>{11,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,236},{60,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,288},{56,44}}</string>
                <key>offset</key>
                <string>{11,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,234},{56,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,366},{54,50}}</string>
                <key>offset</key>
                <string>{11,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,230},{54,50}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,182},{56,56}}</string>
                <key>offset</key>
                <string>{9,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,225},{56,56}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,94},{54,58}}</string>
                <key>offset</key>
                <string>{8,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,223},{54,58}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,86},{52,60}}</string>
                <key>offset</key>
                <string>{8,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,221},{52,60}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,134},{46,60}}</string>
                <key>offset</key>
                <string>{9,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,222},{46,60}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,66},{42,60}}</string>
                <key>offset</key>
                <string>{10,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,222},{42,60}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,86},{40,60}}</string>
                <key>offset</key>
                <string>{12,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,222},{40,60}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,182},{40,56}}</string>
                <key>offset</key>
                <string>{12,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,223},{40,56}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,406},{44,52}}</string>
                <key>offset</key>
                <string>{12,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,224},{44,52}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,462},{50,48}}</string>
                <key>offset</key>
                <string>{11,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,227},{50,48}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,274},{52,46}}</string>
                <key>offset</key>
                <string>{11,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,230},{52,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,240},{56,46}}</string>
                <key>offset</key>
                <string>{10,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,230},{56,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,92},{58,46}}</string>
                <key>offset</key>
                <string>{10,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,232},{58,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,50},{60,44}}</string>
                <key>offset</key>
                <string>{10,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,235},{60,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,86},{60,46}}</string>
                <key>offset</key>
                <string>{10,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,234},{60,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,46},{62,44}}</string>
                <key>offset</key>
                <string>{10,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,236},{62,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{64,42}}</string>
                <key>offset</key>
                <string>{11,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,237},{64,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,230},{56,46}}</string>
                <key>offset</key>
                <string>{9,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,235},{56,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,414},{54,44}}</string>
                <key>offset</key>
                <string>{10,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,237},{54,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,380},{54,44}}</string>
                <key>offset</key>
                <string>{9,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,237},{54,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,128},{52,48}}</string>
                <key>offset</key>
                <string>{9,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,234},{52,48}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{50,50}}</string>
                <key>offset</key>
                <string>{9,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,232},{50,50}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{48,50}}</string>
                <key>offset</key>
                <string>{9,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,232},{48,50}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,322},{46,52}}</string>
                <key>offset</key>
                <string>{9,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,230},{46,52}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,416},{44,52}}</string>
                <key>offset</key>
                <string>{9,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,230},{44,52}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,460},{42,52}}</string>
                <key>offset</key>
                <string>{8,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,230},{42,52}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,460},{42,52}}</string>
                <key>offset</key>
                <string>{6,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,230},{42,52}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{40,52}}</string>
                <key>offset</key>
                <string>{6,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,230},{40,52}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,406},{42,52}}</string>
                <key>offset</key>
                <string>{6,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,230},{42,52}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,418},{44,50}}</string>
                <key>offset</key>
                <string>{8,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,231},{44,50}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,460},{48,48}}</string>
                <key>offset</key>
                <string>{10,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,233},{48,48}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,226},{52,46}}</string>
                <key>offset</key>
                <string>{12,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,235},{52,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,230},{56,46}}</string>
                <key>offset</key>
                <string>{13,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,235},{56,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,182},{56,46}}</string>
                <key>offset</key>
                <string>{14,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,235},{56,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,182},{56,46}}</string>
                <key>offset</key>
                <string>{14,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,235},{56,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,272},{56,46}}</string>
                <key>offset</key>
                <string>{14,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,235},{56,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{64,46}}</string>
                <key>offset</key>
                <string>{16,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,235},{64,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,46}}</string>
                <key>offset</key>
                <string>{18,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,235},{68,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{64,46}}</string>
                <key>offset</key>
                <string>{16,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,234},{64,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{60,44}}</string>
                <key>offset</key>
                <string>{14,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{60,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{58,44}}</string>
                <key>offset</key>
                <string>{12,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,236},{58,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,324},{56,42}}</string>
                <key>offset</key>
                <string>{12,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,238},{56,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,186},{58,42}}</string>
                <key>offset</key>
                <string>{11,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,238},{58,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,150},{58,42}}</string>
                <key>offset</key>
                <string>{11,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,238},{58,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,230},{58,40}}</string>
                <key>offset</key>
                <string>{10,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,240},{58,40}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{58,40}}</string>
                <key>offset</key>
                <string>{10,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,240},{58,40}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,140},{58,40}}</string>
                <key>offset</key>
                <string>{10,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,240},{58,40}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,194},{58,40}}</string>
                <key>offset</key>
                <string>{10,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,240},{58,40}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,174},{58,40}}</string>
                <key>offset</key>
                <string>{9,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,240},{58,40}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,140},{58,40}}</string>
                <key>offset</key>
                <string>{9,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,240},{58,40}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{58,40}}</string>
                <key>offset</key>
                <string>{9,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,240},{58,40}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,356},{56,42}}</string>
                <key>offset</key>
                <string>{9,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,238},{56,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,322},{56,42}}</string>
                <key>offset</key>
                <string>{9,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,238},{56,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,278},{56,44}}</string>
                <key>offset</key>
                <string>{9,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,236},{56,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,368},{54,44}}</string>
                <key>offset</key>
                <string>{9,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,237},{54,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,312},{54,46}}</string>
                <key>offset</key>
                <string>{10,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,235},{54,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,360},{54,44}}</string>
                <key>offset</key>
                <string>{10,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,237},{54,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,334},{54,44}}</string>
                <key>offset</key>
                <string>{10,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,237},{54,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{56,46}}</string>
                <key>offset</key>
                <string>{9,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,235},{56,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,236},{56,46}}</string>
                <key>offset</key>
                <string>{9,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,235},{56,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.74.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,216},{56,46}}</string>
                <key>offset</key>
                <string>{9,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,235},{56,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.75.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,320},{56,44}}</string>
                <key>offset</key>
                <string>{9,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,236},{56,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.76.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,96},{58,44}}</string>
                <key>offset</key>
                <string>{8,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,236},{58,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{58,44}}</string>
                <key>offset</key>
                <string>{7,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,236},{58,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.78.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,128},{58,44}}</string>
                <key>offset</key>
                <string>{7,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,236},{58,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{56,44}}</string>
                <key>offset</key>
                <string>{6,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,236},{56,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.80.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,330},{54,44}}</string>
                <key>offset</key>
                <string>{6,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,236},{54,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.81.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,414},{54,46}}</string>
                <key>offset</key>
                <string>{5,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,234},{54,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.82.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,178},{52,46}}</string>
                <key>offset</key>
                <string>{5,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,234},{52,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.83.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,366},{50,46}}</string>
                <key>offset</key>
                <string>{5,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,234},{50,46}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.84.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,370},{52,44}}</string>
                <key>offset</key>
                <string>{6,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,236},{52,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.85.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,240},{56,40}}</string>
                <key>offset</key>
                <string>{8,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,240},{56,40}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.86.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,298},{56,42}}</string>
                <key>offset</key>
                <string>{11,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,238},{56,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.87.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,142},{58,42}}</string>
                <key>offset</key>
                <string>{13,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,238},{58,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.88.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,278},{56,42}}</string>
                <key>offset</key>
                <string>{14,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,237},{56,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.89.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,284},{56,44}}</string>
                <key>offset</key>
                <string>{15,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,238},{56,44}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.90.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{62,42}}</string>
                <key>offset</key>
                <string>{12,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,240},{62,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.91.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{64,42}}</string>
                <key>offset</key>
                <string>{10,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,240},{64,42}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.92.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,44},{64,40}}</string>
                <key>offset</key>
                <string>{10,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,242},{64,40}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.93.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{64,40}}</string>
                <key>offset</key>
                <string>{10,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,242},{64,40}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.94.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,46},{64,38}}</string>
                <key>offset</key>
                <string>{11,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,244},{64,38}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>scowerer.95.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,46},{62,38}}</string>
                <key>offset</key>
                <string>{12,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,244},{62,38}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scowererSheet-iphone4.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a634ea1e59308872950eb0f20987a82d:ba578c55205632492ff03e5a0b436d41:46e6679e2e1ae26b6ae3f20f6945c760$</string>
            <key>textureFileName</key>
            <string>scowererSheet-iphone4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
