<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scowerer.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{32,38}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,78},{36,36}}</string>
                <key>offset</key>
                <string>{6,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,202},{36,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{34,36}}</string>
                <key>offset</key>
                <string>{6,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,201},{34,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,140},{34,38}}</string>
                <key>offset</key>
                <string>{6,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,199},{34,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{32,42}}</string>
                <key>offset</key>
                <string>{6,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,196},{32,42}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{32,46}}</string>
                <key>offset</key>
                <string>{5,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,193},{32,46}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{32,48}}</string>
                <key>offset</key>
                <string>{4,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,191},{32,48}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{30,52}}</string>
                <key>offset</key>
                <string>{4,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,188},{30,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,74},{26,52}}</string>
                <key>offset</key>
                <string>{5,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,188},{26,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{24,52}}</string>
                <key>offset</key>
                <string>{6,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,188},{24,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,40},{22,52}}</string>
                <key>offset</key>
                <string>{7,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,188},{22,52}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,56},{24,48}}</string>
                <key>offset</key>
                <string>{7,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,189},{24,48}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,414},{26,44}}</string>
                <key>offset</key>
                <string>{6,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,191},{26,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,440},{28,40}}</string>
                <key>offset</key>
                <string>{7,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,194},{28,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,152},{32,40}}</string>
                <key>offset</key>
                <string>{6,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,195},{32,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,386},{32,38}}</string>
                <key>offset</key>
                <string>{6,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,197},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,116},{34,38}}</string>
                <key>offset</key>
                <string>{6,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,198},{34,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,40},{36,38}}</string>
                <key>offset</key>
                <string>{5,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,199},{36,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,40},{36,38}}</string>
                <key>offset</key>
                <string>{5,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,200},{36,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{36,38}}</string>
                <key>offset</key>
                <string>{5,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,200},{36,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,36},{36,38}}</string>
                <key>offset</key>
                <string>{6,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,200},{36,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,374},{32,38}}</string>
                <key>offset</key>
                <string>{6,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,338},{32,38}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,202},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,334},{32,38}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,202},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,310},{30,40}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,200},{30,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,348},{28,42}}</string>
                <key>offset</key>
                <string>{5,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,198},{28,42}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,180},{28,44}}</string>
                <key>offset</key>
                <string>{5,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,196},{28,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{26,44}}</string>
                <key>offset</key>
                <string>{5,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,196},{26,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,426},{26,44}}</string>
                <key>offset</key>
                <string>{4,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,196},{26,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,94},{26,44}}</string>
                <key>offset</key>
                <string>{4,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,196},{26,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,482},{24,44}}</string>
                <key>offset</key>
                <string>{4,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,196},{24,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,152},{24,44}}</string>
                <key>offset</key>
                <string>{3,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,196},{24,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,106},{24,44}}</string>
                <key>offset</key>
                <string>{3,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,196},{24,44}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,460},{26,42}}</string>
                <key>offset</key>
                <string>{4,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,197},{26,42}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,342},{28,42}}</string>
                <key>offset</key>
                <string>{5,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,197},{28,42}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,304},{30,40}}</string>
                <key>offset</key>
                <string>{7,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,199},{30,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,308},{32,38}}</string>
                <key>offset</key>
                <string>{7,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,152},{32,40}}</string>
                <key>offset</key>
                <string>{8,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,199},{32,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{32,40}}</string>
                <key>offset</key>
                <string>{8,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,199},{32,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{32,40}}</string>
                <key>offset</key>
                <string>{8,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,199},{32,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{36,40}}</string>
                <key>offset</key>
                <string>{9,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,199},{36,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{10,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,199},{40,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,34},{38,40}}</string>
                <key>offset</key>
                <string>{9,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,199},{38,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,180},{34,38}}</string>
                <key>offset</key>
                <string>{8,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,201},{34,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,300},{32,38}}</string>
                <key>offset</key>
                <string>{7,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,150},{34,38}}</string>
                <key>offset</key>
                <string>{6,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,201},{34,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,258},{34,36}}</string>
                <key>offset</key>
                <string>{6,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,203},{34,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,230},{34,36}}</string>
                <key>offset</key>
                <string>{6,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,203},{34,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,222},{34,36}}</string>
                <key>offset</key>
                <string>{6,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,203},{34,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,422},{34,34}}</string>
                <key>offset</key>
                <string>{6,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,205},{34,34}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,404},{34,34}}</string>
                <key>offset</key>
                <string>{6,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,205},{34,34}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,386},{34,34}}</string>
                <key>offset</key>
                <string>{5,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,205},{34,34}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,378},{34,34}}</string>
                <key>offset</key>
                <string>{5,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,205},{34,34}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,368},{34,34}}</string>
                <key>offset</key>
                <string>{5,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,205},{34,34}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,222},{34,36}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,203},{34,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{34,36}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,203},{34,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,414},{32,36}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,203},{32,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,270},{32,38}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,268},{32,38}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{32,38}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,346},{32,38}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,334},{32,38}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,298},{32,38}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,266},{32,38}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{32,38}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.75.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,116},{34,38}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,201},{34,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.76.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{34,36}}</string>
                <key>offset</key>
                <string>{4,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,202},{34,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.77.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,234},{34,36}}</string>
                <key>offset</key>
                <string>{4,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,202},{34,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.78.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,140},{34,38}}</string>
                <key>offset</key>
                <string>{4,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,201},{34,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.79.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,294},{32,38}}</string>
                <key>offset</key>
                <string>{4,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.80.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,258},{32,38}}</string>
                <key>offset</key>
                <string>{3,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,201},{32,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.81.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,262},{30,40}}</string>
                <key>offset</key>
                <string>{3,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,199},{30,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.82.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,220},{30,40}}</string>
                <key>offset</key>
                <string>{3,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,199},{30,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.83.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,226},{30,40}}</string>
                <key>offset</key>
                <string>{2,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,199},{30,40}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.84.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,448},{30,38}}</string>
                <key>offset</key>
                <string>{3,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,201},{30,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.85.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,430},{32,36}}</string>
                <key>offset</key>
                <string>{5,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,203},{32,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.86.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,194},{34,36}}</string>
                <key>offset</key>
                <string>{6,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,202},{34,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.87.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,186},{34,36}}</string>
                <key>offset</key>
                <string>{7,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,202},{34,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.88.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,392},{32,36}}</string>
                <key>offset</key>
                <string>{8,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,202},{32,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.89.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,74},{34,38}}</string>
                <key>offset</key>
                <string>{8,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,202},{34,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.90.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,78},{36,36}}</string>
                <key>offset</key>
                <string>{7,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,204},{36,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.91.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,102},{36,36}}</string>
                <key>offset</key>
                <string>{6,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,204},{36,36}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.92.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,186},{36,34}}</string>
                <key>offset</key>
                <string>{6,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,206},{36,34}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.93.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,198},{36,34}}</string>
                <key>offset</key>
                <string>{6,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,206},{36,34}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.94.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,114},{38,34}}</string>
                <key>offset</key>
                <string>{6,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,206},{38,34}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>scowerer.95.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,458},{36,32}}</string>
                <key>offset</key>
                <string>{7,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,208},{36,32}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scowererSheet-iphone4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b782d4e09f68b097144ffe98d2d1bdc9:29180abcc0d02db5ef9d032b20afb6cf:b2bcb330f3a3ac570b68466b8b02c03d$</string>
            <key>textureFileName</key>
            <string>scowererSheet-iphone4.png</string>
        </dict>
    </dict>
</plist>
