<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scowerer.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,394},{85,69}}</string>
                <key>offset</key>
                <string>{14,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,364},{85,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{97,65}}</string>
                <key>offset</key>
                <string>{17,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,365},{97,65}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,69},{93,63}}</string>
                <key>offset</key>
                <string>{17,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,366},{93,63}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,343},{85,69}}</string>
                <key>offset</key>
                <string>{17,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,360},{85,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,282},{83,77}}</string>
                <key>offset</key>
                <string>{17,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,355},{83,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,272},{83,83}}</string>
                <key>offset</key>
                <string>{15,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,350},{83,83}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,197},{81,89}}</string>
                <key>offset</key>
                <string>{13,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,344},{81,89}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,69},{77,91}}</string>
                <key>offset</key>
                <string>{13,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,343},{77,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,63},{71,93}}</string>
                <key>offset</key>
                <string>{14,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,342},{71,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,132},{65,91}}</string>
                <key>offset</key>
                <string>{16,-172}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,344},{65,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,136},{59,91}}</string>
                <key>offset</key>
                <string>{19,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,343},{59,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,333},{61,87}}</string>
                <key>offset</key>
                <string>{19,-169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,343},{61,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,499},{67,79}}</string>
                <key>offset</key>
                <string>{19,-169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,347},{67,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{75,73}}</string>
                <key>offset</key>
                <string>{18,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,351},{75,73}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,349},{81,69}}</string>
                <key>offset</key>
                <string>{17,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,356},{81,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,396},{85,69}}</string>
                <key>offset</key>
                <string>{17,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,357},{85,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,199},{89,69}}</string>
                <key>offset</key>
                <string>{15,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,359},{89,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,132},{91,69}}</string>
                <key>offset</key>
                <string>{15,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,361},{91,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,67},{93,69}}</string>
                <key>offset</key>
                <string>{14,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,362},{93,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,63},{95,67}}</string>
                <key>offset</key>
                <string>{16,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,364},{95,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{97,65}}</string>
                <key>offset</key>
                <string>{17,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,365},{97,65}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,414},{85,69}}</string>
                <key>offset</key>
                <string>{15,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,365},{85,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,284},{83,69}}</string>
                <key>offset</key>
                <string>{15,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,365},{83,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{81,69}}</string>
                <key>offset</key>
                <string>{14,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,365},{81,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,436},{79,73}}</string>
                <key>offset</key>
                <string>{14,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,362},{79,73}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,426},{79,75}}</string>
                <key>offset</key>
                <string>{13,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,360},{79,75}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,432},{75,79}}</string>
                <key>offset</key>
                <string>{13,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,356},{75,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,465},{69,79}}</string>
                <key>offset</key>
                <string>{14,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,356},{69,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,420},{67,81}}</string>
                <key>offset</key>
                <string>{14,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,354},{67,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{65,81}}</string>
                <key>offset</key>
                <string>{12,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,354},{65,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,503},{63,79}}</string>
                <key>offset</key>
                <string>{11,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,356},{63,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,414},{61,79}}</string>
                <key>offset</key>
                <string>{10,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,356},{61,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,509},{63,79}}</string>
                <key>offset</key>
                <string>{10,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,356},{63,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,562},{67,77}}</string>
                <key>offset</key>
                <string>{12,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,356},{67,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,465},{73,75}}</string>
                <key>offset</key>
                <string>{15,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,358},{73,75}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,489},{79,71}}</string>
                <key>offset</key>
                <string>{18,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,362},{79,71}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,351},{83,71}}</string>
                <key>offset</key>
                <string>{21,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,362},{83,71}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,264},{85,71}}</string>
                <key>offset</key>
                <string>{22,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,362},{85,71}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{87,71}}</string>
                <key>offset</key>
                <string>{21,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,362},{87,71}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,75},{87,71}}</string>
                <key>offset</key>
                <string>{21,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,362},{87,71}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{97,71}}</string>
                <key>offset</key>
                <string>{26,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,362},{97,71}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,71}}</string>
                <key>offset</key>
                <string>{28,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,362},{103,71}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{99,71}}</string>
                <key>offset</key>
                <string>{25,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,361},{99,71}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,67},{93,69}}</string>
                <key>offset</key>
                <string>{22,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,363},{93,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,134},{87,67}}</string>
                <key>offset</key>
                <string>{19,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,365},{87,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,207},{87,65}}</string>
                <key>offset</key>
                <string>{17,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,367},{87,65}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,217},{87,65}}</string>
                <key>offset</key>
                <string>{17,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,367},{87,65}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,274},{87,63}}</string>
                <key>offset</key>
                <string>{17,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,369},{87,63}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,264},{87,63}}</string>
                <key>offset</key>
                <string>{16,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,369},{87,63}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,270},{87,61}}</string>
                <key>offset</key>
                <string>{16,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,371},{87,61}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,138},{89,61}}</string>
                <key>offset</key>
                <string>{15,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,371},{89,61}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,201},{89,61}}</string>
                <key>offset</key>
                <string>{15,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,371},{89,61}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,203},{89,59}}</string>
                <key>offset</key>
                <string>{15,-185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,373},{89,59}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,280},{87,61}}</string>
                <key>offset</key>
                <string>{15,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,371},{87,61}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,329},{87,63}}</string>
                <key>offset</key>
                <string>{15,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,369},{87,63}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{87,65}}</string>
                <key>offset</key>
                <string>{14,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,367},{87,65}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,215},{85,65}}</string>
                <key>offset</key>
                <string>{14,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,367},{85,65}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{85,67}}</string>
                <key>offset</key>
                <string>{14,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,365},{85,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,357},{83,67}}</string>
                <key>offset</key>
                <string>{14,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,366},{83,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,339},{83,69}}</string>
                <key>offset</key>
                <string>{15,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,365},{83,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,396},{83,67}}</string>
                <key>offset</key>
                <string>{15,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,366},{83,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,410},{83,67}}</string>
                <key>offset</key>
                <string>{15,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,366},{83,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,355},{83,69}}</string>
                <key>offset</key>
                <string>{15,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,365},{83,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,467},{85,69}}</string>
                <key>offset</key>
                <string>{14,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,364},{85,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.74.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,485},{85,69}}</string>
                <key>offset</key>
                <string>{14,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,364},{85,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.75.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,146},{87,67}}</string>
                <key>offset</key>
                <string>{14,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,365},{87,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.76.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,138},{89,67}}</string>
                <key>offset</key>
                <string>{13,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,365},{89,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.77.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,148},{87,67}}</string>
                <key>offset</key>
                <string>{12,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,365},{87,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.78.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,203},{87,67}}</string>
                <key>offset</key>
                <string>{11,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,365},{87,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.79.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,215},{85,67}}</string>
                <key>offset</key>
                <string>{10,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,365},{85,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{83,67}}</string>
                <key>offset</key>
                <string>{9,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,365},{83,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.81.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,361},{81,69}}</string>
                <key>offset</key>
                <string>{8,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,363},{81,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.82.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{79,71}}</string>
                <key>offset</key>
                <string>{8,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,361},{79,71}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.83.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,426},{79,71}}</string>
                <key>offset</key>
                <string>{7,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,361},{79,71}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.84.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,479},{79,67}}</string>
                <key>offset</key>
                <string>{9,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,365},{79,67}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.85.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,284},{83,63}}</string>
                <key>offset</key>
                <string>{13,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,369},{83,63}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.86.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,331},{87,63}}</string>
                <key>offset</key>
                <string>{17,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,369},{87,63}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.87.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,148},{87,65}}</string>
                <key>offset</key>
                <string>{21,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,366},{87,65}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.88.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,264},{87,65}}</string>
                <key>offset</key>
                <string>{22,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,365},{87,65}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.89.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,75},{87,69}}</string>
                <key>offset</key>
                <string>{22,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,366},{87,69}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.90.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,65},{95,65}}</string>
                <key>offset</key>
                <string>{19,-185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,370},{95,65}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.91.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{97,63}}</string>
                <key>offset</key>
                <string>{16,-186}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,372},{97,63}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.92.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{97,63}}</string>
                <key>offset</key>
                <string>{16,-186}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,372},{97,63}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.93.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,2},{97,61}}</string>
                <key>offset</key>
                <string>{16,-187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,374},{97,61}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.94.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{97,59}}</string>
                <key>offset</key>
                <string>{18,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,376},{97,59}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>scowerer.95.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{97,59}}</string>
                <key>offset</key>
                <string>{18,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,376},{97,59}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scowererSheet-iphone5.0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9389fb08a867489cf50b7eaf3334013:e71ccf9121fc3b4697e6b44daf0262f5:338abd0186d5f27b2dc8bb145eb2314d$</string>
            <key>textureFileName</key>
            <string>scowererSheet-iphone5.0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
