<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scowerer.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,114},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,62},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,52},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{12,12}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{12,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,64},{12,12}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{12,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,12},{12,14}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,46},{12,14}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{12,14}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,46},{12,14}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,50},{10,14}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,46},{10,14}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,50},{10,14}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,46},{10,14}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,50},{10,14}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,46},{10,14}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,26},{10,14}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,46},{10,14}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,126},{10,12}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,47},{10,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,62},{12,12}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,47},{12,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,112},{12,10}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,110},{12,10}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,50},{14,10}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,49},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,38},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,38},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,38},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,50},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,106},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,106},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,98},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,98},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,56},{12,12}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{12,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,42},{12,12}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,48},{12,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,124},{10,12}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,48},{10,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,122},{10,12}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,48},{10,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,118},{10,12}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,48},{10,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,118},{10,12}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,48},{10,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,110},{10,12}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,48},{10,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,110},{10,12}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,48},{10,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{10,12}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,48},{10,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,122},{10,12}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,48},{10,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,110},{12,10}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,102},{12,10}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,100},{12,10}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,98},{12,10}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{14,10}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,40},{14,10}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,10}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{16,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,38},{14,10}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,26},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,26},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,26},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,38},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,28},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,26},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,14},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,14},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,94},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,86},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,86},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,98},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,90},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,88},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,86},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,82},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,74},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,74},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.75.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,86},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.76.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,14},{14,10}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.77.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,26},{14,10}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{14,10}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.79.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,16},{14,10}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.80.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,78},{12,10}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.81.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,76},{12,10}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.82.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,74},{12,10}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.83.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,70},{12,10}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.84.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,62},{12,10}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.85.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,62},{12,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.86.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,14},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.87.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,62},{12,10}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.88.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,74},{12,10}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{12,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.89.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{14,10}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.90.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{14,10}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.91.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.92.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.93.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{14,10}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,50},{14,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.94.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{16,8}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,52},{16,8}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scowerer.95.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{14,8}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,52},{14,8}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scowererSheet.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35ff5be026bfd34efd02a35458f3f397:1f7570fb4f83dee8ed2fd1831b67ac81:b2bcb330f3a3ac570b68466b8b02c03d$</string>
            <key>textureFileName</key>
            <string>scowererSheet.png</string>
        </dict>
    </dict>
</plist>
