<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tapEffect.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,124},{24,42}}</string>
                <key>offset</key>
                <string>{-5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,78},{24,42}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{22,86}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,34},{22,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{22,86}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{22,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,88}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,32},{20,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{18,74}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,46},{18,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{16,70}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,50},{16,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{14,64}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,56},{14,64}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{24,60}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,60},{24,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{14,60}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,59},{14,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,72},{12,50}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,67},{12,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{10,28}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,88},{10,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{1,1}}</string>
                <key>offset</key>
                <string>{-59.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{1,1}}</string>
                <key>offset</key>
                <string>{-59.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,14},{24,68}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{24,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tapEffect.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{22,74}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,46},{22,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tap.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b20740f6ef155b6f52b029073acb6777:53d8eb3f7b36825f0a629858060c4991:84f859de56434a34e5975a71ea5bda4c$</string>
            <key>textureFileName</key>
            <string>tap.png</string>
        </dict>
    </dict>
</plist>
