<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,233},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,25}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>allySelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,88},{180,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,84}}</string>
                <key>sourceSize</key>
                <string>{180,84}</string>
            </dict>
            <key>allySelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,97},{162,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,77}}</string>
                <key>sourceSize</key>
                <string>{162,77}</string>
            </dict>
            <key>allySelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,165},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>allySelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{116,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{116,58}</string>
            </dict>
            <key>allySelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,201},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>allySelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,161},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>allySelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,253},{57,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>allySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,253},{57,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>allySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,161},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>allySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,201},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>allySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{116,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{116,58}</string>
            </dict>
            <key>allySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,165},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>allySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,97},{162,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,77}}</string>
                <key>sourceSize</key>
                <string>{162,77}</string>
            </dict>
            <key>allySelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,88},{180,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,84}}</string>
                <key>sourceSize</key>
                <string>{180,84}</string>
            </dict>
            <key>allySelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{202,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,93}}</string>
                <key>sourceSize</key>
                <string>{202,93}</string>
            </dict>
            <key>characterSelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,176},{40,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,34},{40,26}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{182,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{182,86}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{162,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{162,76}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{138,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{138,66}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{116,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,19},{116,58}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,149},{96,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,22},{96,50}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{78,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,26},{78,42}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,287},{56,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{56,32}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,287},{56,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{56,32}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{78,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,26},{78,42}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,149},{96,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,22},{96,50}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{116,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,19},{116,58}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{138,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{138,66}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{162,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{162,76}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{182,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{182,86}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>characterSelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{202,94}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>enemySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,277},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,25}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>enemySelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{180,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,84}}</string>
                <key>sourceSize</key>
                <string>{180,84}</string>
            </dict>
            <key>enemySelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,90},{162,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,77}}</string>
                <key>sourceSize</key>
                <string>{162,77}</string>
            </dict>
            <key>enemySelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,97},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>enemySelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,240},{116,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{116,58}</string>
            </dict>
            <key>enemySelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,97},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>enemySelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,82},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>enemySelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,253},{57,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>enemySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,218},{57,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>enemySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,82},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>enemySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,97},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>enemySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,240},{116,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{116,58}</string>
            </dict>
            <key>enemySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,97},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>enemySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,90},{162,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,77}}</string>
                <key>sourceSize</key>
                <string>{162,77}</string>
            </dict>
            <key>enemySelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{180,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,84}}</string>
                <key>sourceSize</key>
                <string>{180,84}</string>
            </dict>
            <key>enemySelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{202,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,93}}</string>
                <key>sourceSize</key>
                <string>{202,93}</string>
            </dict>
            <key>movement.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,98},{140,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{140,35}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>movement.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,176},{132,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{132,35}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>movement.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,248},{124,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{124,35}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>movement.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,169},{116,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{116,39}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>movement.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,247},{108,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{108,51}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>movement.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,233},{106,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{106,63}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>movement.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,210},{116,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{116,35}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>movement.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,213},{130,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{130,33}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>swordsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,169},{69,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{69,83}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touch-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52047b31cff19433dc96d115aecc59b5:862399dbb24867c4fe566aa0e879cb37:6af2de8414139ed6aee6de00a908b3c6$</string>
            <key>textureFileName</key>
            <string>touch-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
