<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,288},{41,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,48},{41,26}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>allySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,94},{81,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,39},{81,44}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>allySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,540},{121,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,31},{121,60}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>allySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,458},{169,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{169,80}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>allySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{211,98}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{211,98}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>allySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,196},{197,92}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{197,92}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>allySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,290},{181,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{181,84}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>characterSelect.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,245},{41,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,48},{41,26}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>characterSelect.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,48},{81,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,38},{81,44}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>characterSelect.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{121,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,31},{121,60}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>characterSelect.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{169,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{169,80}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>characterSelect.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{211,98}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{211,98}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>characterSelect.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,140},{197,92}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{197,92}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>characterSelect.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{181,86}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{181,86}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>enemySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,202},{41,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,48},{41,26}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>enemySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{81,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,39},{81,44}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>enemySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{121,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,31},{121,60}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>enemySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,376},{169,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{169,80}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>enemySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,98}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{211,98}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>enemySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,102},{197,92}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{197,92}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>enemySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{181,86}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{181,86}}</string>
                <key>sourceSize</key>
                <string>{233,126}</string>
            </dict>
            <key>movement.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,376},{146,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{146,36}}</string>
                <key>sourceSize</key>
                <string>{154,70}</string>
            </dict>
            <key>movement.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,524},{138,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{138,36}}</string>
                <key>sourceSize</key>
                <string>{154,70}</string>
            </dict>
            <key>movement.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{130,36}}</string>
                <key>sourceSize</key>
                <string>{154,70}</string>
            </dict>
            <key>movement.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,540},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{120,40}}</string>
                <key>sourceSize</key>
                <string>{154,70}</string>
            </dict>
            <key>movement.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,339},{112,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{112,54}}</string>
                <key>sourceSize</key>
                <string>{154,70}</string>
            </dict>
            <key>movement.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,395},{110,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{110,64}}</string>
                <key>sourceSize</key>
                <string>{154,70}</string>
            </dict>
            <key>movement.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,496},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{120,36}}</string>
                <key>sourceSize</key>
                <string>{154,70}</string>
            </dict>
            <key>movement.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{134,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{134,34}}</string>
                <key>sourceSize</key>
                <string>{154,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touch-iphone4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:592d0ebcc4996a3ef2660f5751f4c7d6:99952200850cb31a2d47d2924fa17cf3:fc1c0ddf19f69c9ab4c1a68386da6921$</string>
            <key>textureFileName</key>
            <string>touch-iphone4.png</string>
        </dict>
    </dict>
</plist>
