<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,730},{49,31}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,56},{49,31}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>allySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,803},{95,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,47},{95,51}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>allySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,730},{143,71}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,37},{143,71}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>allySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{201,95}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{201,95}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>allySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{249,115}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{249,115}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>allySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{231,107}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{231,107}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>allySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,440},{213,101}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{213,101}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>characterSelect.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,693},{49,31}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,56},{49,31}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>characterSelect.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,434},{95,51}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,46},{95,51}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>characterSelect.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{143,71}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,36},{143,71}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>characterSelect.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,543},{201,95}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{201,95}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>characterSelect.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{249,115}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{249,115}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>characterSelect.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,228},{231,107}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{231,107}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>characterSelect.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{213,101}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{213,101}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>enemySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,642},{49,31}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,56},{49,31}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>enemySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,337},{95,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,47},{95,51}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>enemySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,663},{143,71}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{143,71}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>enemySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{201,95}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{201,95}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>enemySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,115}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{249,115}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>enemySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,119},{231,107}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{231,107}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>enemySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,337},{213,101}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{213,101}}</string>
                <key>sourceSize</key>
                <string>{275,149}</string>
            </dict>
            <key>movement.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,640},{174,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{174,43}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{164,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{164,43}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,685},{154,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{154,43}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,640},{142,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{142,49}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{132,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{132,63}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,531},{130,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{130,77}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,744},{142,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{142,43}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{158,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{158,41}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touch-iphone5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:592d0ebcc4996a3ef2660f5751f4c7d6:99952200850cb31a2d47d2924fa17cf3:fc1c0ddf19f69c9ab4c1a68386da6921$</string>
            <key>textureFileName</key>
            <string>touch-iphone5.png</string>
        </dict>
    </dict>
</plist>
