<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,117},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>allySelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,65}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>allySelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,145},{126,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,60}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>allySelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,201},{107,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,51}}</string>
                <key>sourceSize</key>
                <string>{107,51}</string>
            </dict>
            <key>allySelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,256},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>allySelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>allySelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>allySelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,435},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>allySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,435},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>allySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>allySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>allySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,256},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>allySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,201},{107,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,51}}</string>
                <key>sourceSize</key>
                <string>{107,51}</string>
            </dict>
            <key>allySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,145},{126,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,60}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>allySelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,65}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>allySelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{157,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,72}}</string>
                <key>sourceSize</key>
                <string>{157,72}</string>
            </dict>
            <key>characterSelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,139},{30,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,28},{30,19}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,76},{140,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{140,67}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,76},{126,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{126,61}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,254},{106,53}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{106,53}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,239},{90,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{90,45}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,168},{76,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,18},{76,39}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,211},{60,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,20},{60,33}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,389},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,25},{44,25}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,389},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,25},{44,25}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,211},{60,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,20},{60,33}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,168},{76,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,18},{76,39}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,239},{90,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{90,45}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,254},{106,53}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{106,53}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,76},{126,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{126,61}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,76},{140,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{140,67}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>characterSelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,73}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>enemySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,95},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>enemySelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{140,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,65}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>enemySelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,139},{126,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,60}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>enemySelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,207},{107,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,51}}</string>
                <key>sourceSize</key>
                <string>{107,51}</string>
            </dict>
            <key>enemySelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,76},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>enemySelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>enemySelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,246},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>enemySelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,280},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>enemySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>enemySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,246},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>enemySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>enemySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,76},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>enemySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,207},{107,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,51}}</string>
                <key>sourceSize</key>
                <string>{107,51}</string>
            </dict>
            <key>enemySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,139},{126,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,60}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>enemySelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{140,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,65}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>enemySelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{157,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,72}}</string>
                <key>sourceSize</key>
                <string>{157,72}</string>
            </dict>
            <key>movement.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,145},{109,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{109,28}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>movement.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,309},{103,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{103,28}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>movement.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,209},{97,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{97,28}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>movement.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{91,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{91,30}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>movement.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{83,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{83,40}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>movement.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,339},{83,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{83,48}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>movement.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,286},{89,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{89,28}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>movement.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,316},{101,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{101,26}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>swordsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{54,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{54,65}}</string>
                <key>sourceSize</key>
                <string>{62,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touch-iphone5.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52047b31cff19433dc96d115aecc59b5:862399dbb24867c4fe566aa0e879cb37:6af2de8414139ed6aee6de00a908b3c6$</string>
            <key>textureFileName</key>
            <string>touch-iphone5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
