<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,656},{48,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,31}}</string>
                <key>sourceSize</key>
                <string>{48,31}</string>
            </dict>
            <key>allySelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,236},{222,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,104}}</string>
                <key>sourceSize</key>
                <string>{222,104}</string>
            </dict>
            <key>allySelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{199,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,94}}</string>
                <key>sourceSize</key>
                <string>{199,94}</string>
            </dict>
            <key>allySelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{169,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,82}}</string>
                <key>sourceSize</key>
                <string>{169,82}</string>
            </dict>
            <key>allySelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,770},{143,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,71}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>allySelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,649},{119,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,61}}</string>
                <key>sourceSize</key>
                <string>{119,61}</string>
            </dict>
            <key>allySelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,431},{95,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,51}}</string>
                <key>sourceSize</key>
                <string>{95,51}</string>
            </dict>
            <key>allySelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,915},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>allySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,915},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>allySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,431},{95,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,51}}</string>
                <key>sourceSize</key>
                <string>{95,51}</string>
            </dict>
            <key>allySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,649},{119,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,61}}</string>
                <key>sourceSize</key>
                <string>{119,61}</string>
            </dict>
            <key>allySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,770},{143,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,71}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>allySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{169,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,82}}</string>
                <key>sourceSize</key>
                <string>{169,82}</string>
            </dict>
            <key>allySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{199,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,94}}</string>
                <key>sourceSize</key>
                <string>{199,94}</string>
            </dict>
            <key>allySelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,236},{222,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,104}}</string>
                <key>sourceSize</key>
                <string>{222,104}</string>
            </dict>
            <key>allySelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,119},{249,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,115}}</string>
                <key>sourceSize</key>
                <string>{249,115}</string>
            </dict>
            <key>characterSelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,606},{48,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,42},{48,32}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{224,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{224,104}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{200,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{200,94}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,438},{170,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,17},{170,82}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,518},{144,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,22},{144,72}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,706},{118,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,27},{118,62}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,236},{96,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,32},{96,52}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,915},{70,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,38},{70,40}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,915},{70,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,38},{70,40}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,236},{96,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,32},{96,52}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,706},{118,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,27},{118,62}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,518},{144,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,22},{144,72}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,438},{170,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,17},{170,82}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{200,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{200,94}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{224,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{224,104}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>characterSelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{250,116}}</string>
                <key>sourceSize</key>
                <string>{254,118}</string>
            </dict>
            <key>enemySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,651},{48,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,31}}</string>
                <key>sourceSize</key>
                <string>{48,31}</string>
            </dict>
            <key>enemySelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{222,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,104}}</string>
                <key>sourceSize</key>
                <string>{222,104}</string>
            </dict>
            <key>enemySelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,342},{199,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,94}}</string>
                <key>sourceSize</key>
                <string>{199,94}</string>
            </dict>
            <key>enemySelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,522},{169,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,82}}</string>
                <key>sourceSize</key>
                <string>{169,82}</string>
            </dict>
            <key>enemySelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,770},{143,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,71}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>enemySelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,528},{119,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,61}}</string>
                <key>sourceSize</key>
                <string>{119,61}</string>
            </dict>
            <key>enemySelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,334},{95,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,51}}</string>
                <key>sourceSize</key>
                <string>{95,51}</string>
            </dict>
            <key>enemySelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,664},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>enemySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,651},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>enemySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,334},{95,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,51}}</string>
                <key>sourceSize</key>
                <string>{95,51}</string>
            </dict>
            <key>enemySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,528},{119,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,61}}</string>
                <key>sourceSize</key>
                <string>{119,61}</string>
            </dict>
            <key>enemySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,770},{143,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,71}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>enemySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,522},{169,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,82}}</string>
                <key>sourceSize</key>
                <string>{169,82}</string>
            </dict>
            <key>enemySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,342},{199,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,94}}</string>
                <key>sourceSize</key>
                <string>{199,94}</string>
            </dict>
            <key>enemySelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{222,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,104}}</string>
                <key>sourceSize</key>
                <string>{222,104}</string>
            </dict>
            <key>enemySelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{249,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,115}}</string>
                <key>sourceSize</key>
                <string>{249,115}</string>
            </dict>
            <key>movement.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,342},{174,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{174,43}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,606},{164,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{164,43}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{154,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{154,43}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,651},{142,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{142,49}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,702},{132,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{132,63}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{130,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{130,77}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,770},{142,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{142,43}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>movement.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{158,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{158,41}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>swordsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{84,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{84,99}}</string>
                <key>sourceSize</key>
                <string>{98,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touch-iphone5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8fb218d456639aaf9d8bfa1aa80e0a3:862399dbb24867c4fe566aa0e879cb37:fc1c0ddf19f69c9ab4c1a68386da6921$</string>
            <key>textureFileName</key>
            <string>touch-iphone5.png</string>
        </dict>
    </dict>
</plist>
