<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dwarvenKnightEarth_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,261},{251,225}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{251,225}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>gargoyleFire_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{247,271}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{247,271}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>orc_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{255,267}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{255,267}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
            <key>tutorialChar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,287}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{257,287}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial-iphone4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a85b1e08d6bdb592c9dd25283627b4c:cd418b01618bf529fca584808f7721f7:35bac000842dc9c8823fc1837cafaeb3$</string>
            <key>textureFileName</key>
            <string>tutorial-iphone4.png</string>
        </dict>
    </dict>
</plist>
