<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dwarvenKnightEarth_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{534,476}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,46},{534,476}}</string>
                <key>sourceSize</key>
                <string>{560,620}</string>
            </dict>
            <key>gargoyleFire_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{524,576}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{524,576}}</string>
                <key>sourceSize</key>
                <string>{560,620}</string>
            </dict>
            <key>orc_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,612},{540,566}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{540,566}}</string>
                <key>sourceSize</key>
                <string>{560,620}</string>
            </dict>
            <key>priestessEarth_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{522,606}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{522,606}}</string>
                <key>sourceSize</key>
                <string>{560,620}</string>
            </dict>
            <key>tutorialChar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{544,608}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{544,608}}</string>
                <key>sourceSize</key>
                <string>{560,620}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64379fdf91e37b6767c04898a7fde544:b519ba39e694b2b0e1be5b7f8395a1af:09be8d594f7576ffb2d8096546882336$</string>
            <key>textureFileName</key>
            <string>tutorial-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
