<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dwarvenKnightEarth_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,342},{297,266}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{297,266}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>gargoyleFire_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{293,320}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{293,320}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>orc_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{301,316}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{301,316}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
            <key>tutorialChar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{303,338}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{303,338}}</string>
                <key>sourceSize</key>
                <string>{311,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial-iphone5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a85b1e08d6bdb592c9dd25283627b4c:cd418b01618bf529fca584808f7721f7:35bac000842dc9c8823fc1837cafaeb3$</string>
            <key>textureFileName</key>
            <string>tutorial-iphone5.png</string>
        </dict>
    </dict>
</plist>
