<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airToAirIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1347},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>airToGroundIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1202},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>buttonDone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,665},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonDonePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,480},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonFight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,295},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonFightPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,110},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonTrain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1003},{269,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,151}}</string>
                <key>sourceSize</key>
                <string>{269,151}</string>
            </dict>
            <key>buttonTrainPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,850},{269,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,151}}</string>
                <key>sourceSize</key>
                <string>{269,151}</string>
            </dict>
            <key>characterPortraitFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,3004},{209,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,202}}</string>
                <key>sourceSize</key>
                <string>{209,202}</string>
            </dict>
            <key>characterPortraitFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,3004},{217,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,210}}</string>
                <key>sourceSize</key>
                <string>{217,210}</string>
            </dict>
            <key>characterPortraitsButtonLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1720},{186,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,249}}</string>
                <key>sourceSize</key>
                <string>{186,249}</string>
            </dict>
            <key>characterPortraitsButtonLeftPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1532},{186,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,249}}</string>
                <key>sourceSize</key>
                <string>{186,249}</string>
            </dict>
            <key>characterPortraitsButtonRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1344},{186,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,249}}</string>
                <key>sourceSize</key>
                <string>{186,249}</string>
            </dict>
            <key>characterPortraitsButtonRightPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1156},{186,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,249}}</string>
                <key>sourceSize</key>
                <string>{186,249}</string>
            </dict>
            <key>characterPortraitsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1676,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1676,252}}</string>
                <key>sourceSize</key>
                <string>{1676,252}</string>
            </dict>
            <key>closeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,3004},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>closeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,3004},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>descriptionWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,2581},{663,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,231}}</string>
                <key>sourceSize</key>
                <string>{663,231}</string>
            </dict>
            <key>elements_0000_void.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1877},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{125,125}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>elements_0001_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1750},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{125,125}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>elements_0002_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1786},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{125,125}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>elements_0003_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1659},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{125,125}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>elements_0004_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1621},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>elements_0005_air.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1532},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{125,125}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>formationFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2306},{712,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,614}}</string>
                <key>sourceSize</key>
                <string>{712,614}</string>
            </dict>
            <key>formationNameFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2004},{576,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,122}}</string>
                <key>sourceSize</key>
                <string>{576,122}</string>
            </dict>
            <key>genericBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>groundToAirIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1057},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>groundToGroundIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,912},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>imageLockedCharacter.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2635},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>imageLockedCharacterSelectTeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2449},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>imageLockedPowerIconLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,721},{132,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,189}}</string>
                <key>sourceSize</key>
                <string>{132,189}</string>
            </dict>
            <key>imageLockedPowerIconSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1492},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>leftArrowFormationName.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,2356},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>leftArrowFormationNamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,2211},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>levelLargeFrame_0000_Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,850},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>levelLargeFrame_0001_Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,850},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>levelLargeFrame_0002_Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,850},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>levelLargeFrame_0003_Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,782},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>levelLargeFrame_0004_Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,670},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>level_0000_Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,558},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>level_0000_Layer-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2306},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0001_Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,446},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>level_0001_Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2793},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0002_Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,334},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>level_0002_Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2582},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0003_Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,222},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>level_0003_Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,3079},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0004_Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,110},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>level_0004_Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,2868},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0005_Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,2501},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>lockedImageCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2306},{551,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,615}}</string>
                <key>sourceSize</key>
                <string>{551,615}</string>
            </dict>
            <key>messageStats.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,2},{347,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,106}}</string>
                <key>sourceSize</key>
                <string>{347,106}</string>
            </dict>
            <key>nextLevelCostFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,256},{463,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,133}}</string>
                <key>sourceSize</key>
                <string>{463,133}</string>
            </dict>
            <key>portraitSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,2136},{233,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,225}}</string>
                <key>sourceSize</key>
                <string>{233,225}</string>
            </dict>
            <key>portraitSmallDarkBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,1908},{233,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,226}}</string>
                <key>sourceSize</key>
                <string>{233,226}</string>
            </dict>
            <key>portraitSmallSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,2363},{233,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,216}}</string>
                <key>sourceSize</key>
                <string>{233,216}</string>
            </dict>
            <key>powerIconLargeFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3004},{170,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,228}}</string>
                <key>sourceSize</key>
                <string>{170,228}</string>
            </dict>
            <key>powerIconLargeSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,3004},{154,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,212}}</string>
                <key>sourceSize</key>
                <string>{154,212}</string>
            </dict>
            <key>powerIconSmallFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2821},{170,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,165}}</string>
                <key>sourceSize</key>
                <string>{170,165}</string>
            </dict>
            <key>powerIconSmallFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,2712},{154,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,149}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>powerIconsDescription.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,3246},{805,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{805,170}}</string>
                <key>sourceSize</key>
                <string>{805,172}</string>
            </dict>
            <key>rightArrowFormationName.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2062},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>rightArrowFormationNamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,1913},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>statsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3246},{959,814}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{959,814}}</string>
                <key>sourceSize</key>
                <string>{959,814}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uiElements-ipadhd.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0729687df5b88e4ba939b7f84aab351e:46e0f1fb435378695146f99b004013b4:9e4b30ac04d74345c82267339582b167$</string>
            <key>textureFileName</key>
            <string>uiElements-ipadhd.png</string>
        </dict>
    </dict>
</plist>
