<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airToAirIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2919,2059},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>airToGroundIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2774,2059},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>backButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2802,1893},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>backButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2191,1987},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>buttonContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2684},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonDone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,1735},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonDonePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1735},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonFight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,2115},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonFightPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2115},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonKikNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2454,1888},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>buttonKikPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2631,1878},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>buttonOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,2693},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonTrain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2115},{269,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,151}}</string>
                <key>sourceSize</key>
                <string>{269,151}</string>
            </dict>
            <key>buttonTrainPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{3264,812},{269,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,151}}</string>
                <key>sourceSize</key>
                <string>{269,151}</string>
            </dict>
            <key>buttonTryAgain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2705},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>canAttackAir.png</key>
            <dict>
                <key>frame</key>
                <string>{{2086,2153},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>canAttackGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{2362,2054},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>characterPortraitFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3264,965},{209,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,202}}</string>
                <key>sourceSize</key>
                <string>{209,202}</string>
            </dict>
            <key>characterPortraitFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,3883},{217,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,210}}</string>
                <key>sourceSize</key>
                <string>{217,210}</string>
            </dict>
            <key>characterPortraitsButtonLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,3018},{183,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,248}}</string>
                <key>sourceSize</key>
                <string>{183,248}</string>
            </dict>
            <key>characterPortraitsButtonLeftBrown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,2679},{187,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,247}}</string>
                <key>sourceSize</key>
                <string>{187,247}</string>
            </dict>
            <key>characterPortraitsButtonLeftPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,1735},{183,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,248}}</string>
                <key>sourceSize</key>
                <string>{183,248}</string>
            </dict>
            <key>characterPortraitsButtonLeftPressedBrown.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,3905},{187,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,247}}</string>
                <key>sourceSize</key>
                <string>{187,247}</string>
            </dict>
            <key>characterPortraitsButtonRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1158},{192,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,247}}</string>
                <key>sourceSize</key>
                <string>{192,247}</string>
            </dict>
            <key>characterPortraitsButtonRightBrown.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1158},{187,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,247}}</string>
                <key>sourceSize</key>
                <string>{187,247}</string>
            </dict>
            <key>characterPortraitsButtonRightPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{192,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,247}}</string>
                <key>sourceSize</key>
                <string>{192,247}</string>
            </dict>
            <key>characterPortraitsButtonRightPressedBrown.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1158},{187,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,247}}</string>
                <key>sourceSize</key>
                <string>{187,247}</string>
            </dict>
            <key>characterPortraitsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{1676,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1676,252}}</string>
                <key>sourceSize</key>
                <string>{1676,252}</string>
            </dict>
            <key>closeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2813,1727},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>closeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2460,1722},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>defeatWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{3079,1173},{990,940}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{990,940}}</string>
                <key>sourceSize</key>
                <string>{990,940}</string>
            </dict>
            <key>descriptionWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3076},{895,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{895,181}}</string>
                <key>sourceSize</key>
                <string>{895,181}</string>
            </dict>
            <key>dialog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2115},{588,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,314}}</string>
                <key>sourceSize</key>
                <string>{588,314}</string>
            </dict>
            <key>dialog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2115},{588,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,224}}</string>
                <key>sourceSize</key>
                <string>{588,224}</string>
            </dict>
            <key>elements_0000_void.png</key>
            <dict>
                <key>frame</key>
                <string>{{2366,2188},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,133}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>elements_0001_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{2086,2287},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,133}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>elements_0002_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2231,2188},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,133}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>elements_0003_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{2325,1707},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,133}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>elements_0004_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{3900,295},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>elements_0005_air.png</key>
            <dict>
                <key>frame</key>
                <string>{{2325,1572},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,133}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>enemies_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2056},{527,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,45}}</string>
                <key>sourceSize</key>
                <string>{527,45}</string>
            </dict>
            <key>facebookButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,3455},{185,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,183}}</string>
                <key>sourceSize</key>
                <string>{185,183}</string>
            </dict>
            <key>facebookButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,3268},{185,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,183}}</string>
                <key>sourceSize</key>
                <string>{185,183}</string>
            </dict>
            <key>formationFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3553,436},{735,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{735,534}}</string>
                <key>sourceSize</key>
                <string>{735,534}</string>
            </dict>
            <key>formationNameFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2115},{576,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,122}}</string>
                <key>sourceSize</key>
                <string>{576,122}</string>
            </dict>
            <key>fullWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,3076},{782,769}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{782,769}}</string>
                <key>sourceSize</key>
                <string>{782,769}</string>
            </dict>
            <key>gameCenterButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,3829},{185,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,181}}</string>
                <key>sourceSize</key>
                <string>{185,181}</string>
            </dict>
            <key>gameCenterButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,3642},{185,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,181}}</string>
                <key>sourceSize</key>
                <string>{185,181}</string>
            </dict>
            <key>genericBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1154}}</string>
                <key>sourceSize</key>
                <string>{2048,1154}</string>
            </dict>
            <key>imageFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,3860},{237,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,233}}</string>
                <key>sourceSize</key>
                <string>{237,233}</string>
            </dict>
            <key>imageLockedCharacter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,3828},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>imageLockedCharacterSelectTeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,3642},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>imageLockedPowerIconSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,1985},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>infoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,2928},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>itemWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,256},{1499,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1499,243}}</string>
                <key>sourceSize</key>
                <string>{1499,243}</string>
            </dict>
            <key>leftArrowFormationName.png</key>
            <dict>
                <key>frame</key>
                <string>{{2625,2044},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>leftArrowFormationNamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2305,1842},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>levelEnemyFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3729,295},{139,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,169}}</string>
                <key>sourceSize</key>
                <string>{139,169}</string>
            </dict>
            <key>levelImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1158},{575,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,533}}</string>
                <key>sourceSize</key>
                <string>{575,533}</string>
            </dict>
            <key>level_0000_Layer-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2321,1361},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0001_Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2162,1721},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0002_Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2178,1361},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0003_Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2035,1361},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0004_Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,1735},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0005_Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,2115},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>lockedImageCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1503},{551,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,615}}</string>
                <key>sourceSize</key>
                <string>{551,615}</string>
            </dict>
            <key>messageButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2834,1544},{183,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,181}}</string>
                <key>sourceSize</key>
                <string>{183,181}</string>
            </dict>
            <key>messageButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2834,1361},{183,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,181}}</string>
                <key>sourceSize</key>
                <string>{183,181}</string>
            </dict>
            <key>messageStats.png</key>
            <dict>
                <key>frame</key>
                <string>{{3730,2},{347,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,106}}</string>
                <key>sourceSize</key>
                <string>{347,106}</string>
            </dict>
            <key>mpstoreButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2642,1712},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>mpstoreButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2642,1546},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>nextLevelCostFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3079,501},{463,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,172}}</string>
                <key>sourceSize</key>
                <string>{463,172}</string>
            </dict>
            <key>pokeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2705},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>pokeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2705},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>portraitSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,3860},{233,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,226}}</string>
                <key>sourceSize</key>
                <string>{233,226}</string>
            </dict>
            <key>portraitSmallDarkBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,3860},{233,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,226}}</string>
                <key>sourceSize</key>
                <string>{233,226}</string>
            </dict>
            <key>portraitSmallSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2449},{233,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,216}}</string>
                <key>sourceSize</key>
                <string>{233,216}</string>
            </dict>
            <key>powerFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2464,1546},{174,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,176}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>powerFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3553,256},{174,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,178}}</string>
                <key>sourceSize</key>
                <string>{174,178}</string>
            </dict>
            <key>powerIconLargeFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2449},{170,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,228}}</string>
                <key>sourceSize</key>
                <string>{170,228}</string>
            </dict>
            <key>powerIconLargeSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,2386},{154,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,212}}</string>
                <key>sourceSize</key>
                <string>{154,212}</string>
            </dict>
            <key>powerIconSmallFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,1946},{170,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,165}}</string>
                <key>sourceSize</key>
                <string>{170,165}</string>
            </dict>
            <key>powerIconSmallFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1347},{154,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,149}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>powerIconsDescription.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,3076},{805,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{805,170}}</string>
                <key>sourceSize</key>
                <string>{805,172}</string>
            </dict>
            <key>powersBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,3076},{828,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{828,203}}</string>
                <key>sourceSize</key>
                <string>{828,203}</string>
            </dict>
            <key>powersBackgroundPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,3076},{827,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,165}}</string>
                <key>sourceSize</key>
                <string>{827,165}</string>
            </dict>
            <key>rightArrowFormationName.png</key>
            <dict>
                <key>frame</key>
                <string>{{2180,1572},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>rightArrowFormationNamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2035,1572},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>startButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3079,812},{345,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,183}}</string>
                <key>sourceSize</key>
                <string>{345,183}</string>
            </dict>
            <key>startButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{3730,110},{345,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,183}}</string>
                <key>sourceSize</key>
                <string>{345,183}</string>
            </dict>
            <key>statsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2115},{959,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{959,750}}</string>
                <key>sourceSize</key>
                <string>{959,750}</string>
            </dict>
            <key>strengthBackgroundFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3973},{446,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,84}}</string>
                <key>sourceSize</key>
                <string>{446,84}</string>
            </dict>
            <key>strengthFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3079,675},{463,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,135}}</string>
                <key>sourceSize</key>
                <string>{463,135}</string>
            </dict>
            <key>strengthMetter.png</key>
            <dict>
                <key>frame</key>
                <string>{{4039,295},{36,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,84}}</string>
                <key>sourceSize</key>
                <string>{36,84}</string>
            </dict>
            <key>theirCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1319},{479,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,157}}</string>
                <key>sourceSize</key>
                <string>{479,157}</string>
            </dict>
            <key>titleDescription.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1361},{843,693}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{843,693}}</string>
                <key>sourceSize</key>
                <string>{843,693}</string>
            </dict>
            <key>tweeterButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2649,1361},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>tweeterButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2464,1361},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>victoryScreenWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,501},{1025,858}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,858}}</string>
                <key>sourceSize</key>
                <string>{1025,858}</string>
            </dict>
            <key>yourCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1158},{479,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,159}}</string>
                <key>sourceSize</key>
                <string>{479,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uiElements-ipadhd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:458c58cb4368e65466d82c5373f2e420:1124f2ea613435fed71cb75dc02a1078:9e4b30ac04d74345c82267339582b167$</string>
            <key>textureFileName</key>
            <string>uiElements-ipadhd.png</string>
        </dict>
    </dict>
</plist>
