<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airToAirIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1649},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>airToGroundIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1745},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>buttonContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1069},{184,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,102}}</string>
                <key>sourceSize</key>
                <string>{184,102}</string>
            </dict>
            <key>buttonDone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1069},{184,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,102}}</string>
                <key>sourceSize</key>
                <string>{184,102}</string>
            </dict>
            <key>buttonDonePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1816},{184,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,102}}</string>
                <key>sourceSize</key>
                <string>{184,102}</string>
            </dict>
            <key>buttonFight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1326},{184,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,102}}</string>
                <key>sourceSize</key>
                <string>{184,102}</string>
            </dict>
            <key>buttonFightPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1816},{184,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,102}}</string>
                <key>sourceSize</key>
                <string>{184,102}</string>
            </dict>
            <key>buttonKikNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1069},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>buttonKikPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1249},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>buttonOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1326},{184,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,102}}</string>
                <key>sourceSize</key>
                <string>{184,102}</string>
            </dict>
            <key>buttonTrain.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,856},{149,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,84}}</string>
                <key>sourceSize</key>
                <string>{149,84}</string>
            </dict>
            <key>buttonTrainPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,856},{149,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,84}}</string>
                <key>sourceSize</key>
                <string>{149,84}</string>
            </dict>
            <key>buttonTryAgain.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1326},{184,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,102}}</string>
                <key>sourceSize</key>
                <string>{184,102}</string>
            </dict>
            <key>canAttackAir.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,1012},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>canAttackGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1012},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>characterPortraitFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1430},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>characterPortraitFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1434},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>characterPortraitsButtonLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,856},{103,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,138}}</string>
                <key>sourceSize</key>
                <string>{103,138}</string>
            </dict>
            <key>characterPortraitsButtonLeftPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,856},{103,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,138}}</string>
                <key>sourceSize</key>
                <string>{103,138}</string>
            </dict>
            <key>characterPortraitsButtonRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,856},{103,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,138}}</string>
                <key>sourceSize</key>
                <string>{103,138}</string>
            </dict>
            <key>characterPortraitsButtonRightPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,856},{103,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,138}}</string>
                <key>sourceSize</key>
                <string>{103,138}</string>
            </dict>
            <key>characterPortraitsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{930,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{930,140}}</string>
                <key>sourceSize</key>
                <string>{930,140}</string>
            </dict>
            <key>closeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1069},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>closeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1255},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>defeatWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,480},{549,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,530}}</string>
                <key>sourceSize</key>
                <string>{549,530}</string>
            </dict>
            <key>descriptionWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1603},{368,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,128}}</string>
                <key>sourceSize</key>
                <string>{368,128}</string>
            </dict>
            <key>dialog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,2},{326,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,174}}</string>
                <key>sourceSize</key>
                <string>{326,174}</string>
            </dict>
            <key>dialog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,178},{326,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,124}}</string>
                <key>sourceSize</key>
                <string>{326,124}</string>
            </dict>
            <key>elements_0000_void.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1608},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>elements_0001_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,1730},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>elements_0002_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1826},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>elements_0003_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1345},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>elements_0004_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1530},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>elements_0005_air.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1430},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>enemies_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1733},{292,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,25}}</string>
                <key>sourceSize</key>
                <string>{292,25}</string>
            </dict>
            <key>formationFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,672},{395,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,341}}</string>
                <key>sourceSize</key>
                <string>{395,341}</string>
            </dict>
            <key>formationNameFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,304},{320,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,68}}</string>
                <key>sourceSize</key>
                <string>{320,68}</string>
            </dict>
            <key>genericBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,852}}</string>
                <key>sourceSize</key>
                <string>{1136,852}</string>
            </dict>
            <key>imageLockedCharacter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1888},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>imageLockedCharacterSelectTeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1784},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>imageLockedPowerIconSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,996},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>infoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1012},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>leftArrowFormationName.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1165},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>leftArrowFormationNamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1165},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>levelEnemyFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1351},{77,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>levelImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,374},{319,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,296}}</string>
                <key>sourceSize</key>
                <string>{319,296}</string>
            </dict>
            <key>level_0000_Layer-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1666},{78,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,116}}</string>
                <key>sourceSize</key>
                <string>{78,116}</string>
            </dict>
            <key>level_0001_Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1430},{78,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,116}}</string>
                <key>sourceSize</key>
                <string>{78,116}</string>
            </dict>
            <key>level_0002_Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1548},{78,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,116}}</string>
                <key>sourceSize</key>
                <string>{78,116}</string>
            </dict>
            <key>level_0003_Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1430},{78,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,116}}</string>
                <key>sourceSize</key>
                <string>{78,116}</string>
            </dict>
            <key>level_0004_Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1430},{78,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,116}}</string>
                <key>sourceSize</key>
                <string>{78,116}</string>
            </dict>
            <key>level_0005_Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1430},{78,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,116}}</string>
                <key>sourceSize</key>
                <string>{78,116}</string>
            </dict>
            <key>lockedImageCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1733},{306,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,341}}</string>
                <key>sourceSize</key>
                <string>{306,341}</string>
            </dict>
            <key>messageStats.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,996},{192,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,59}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>nextLevelCostFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1788},{257,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,74}}</string>
                <key>sourceSize</key>
                <string>{257,74}</string>
            </dict>
            <key>portraitSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1184},{129,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,125}}</string>
                <key>sourceSize</key>
                <string>{129,125}</string>
            </dict>
            <key>portraitSmallDarkBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1057},{129,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,125}}</string>
                <key>sourceSize</key>
                <string>{129,125}</string>
            </dict>
            <key>portraitSmallSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1311},{129,121}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{129,121}}</string>
                <key>sourceSize</key>
                <string>{129,125}</string>
            </dict>
            <key>powerFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1430},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>powerFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1548},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>powerIconLargeFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1603},{94,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,126}}</string>
                <key>sourceSize</key>
                <string>{94,126}</string>
            </dict>
            <key>powerIconLargeSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1434},{85,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,118}}</string>
                <key>sourceSize</key>
                <string>{85,118}</string>
            </dict>
            <key>powerIconSmallFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1649},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>powerIconSmallFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1731},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,83}}</string>
                <key>sourceSize</key>
                <string>{85,83}</string>
            </dict>
            <key>powerIconsDescription.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1548},{447,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,95}}</string>
                <key>sourceSize</key>
                <string>{447,95}</string>
            </dict>
            <key>powersBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1556},{459,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,113}}</string>
                <key>sourceSize</key>
                <string>{459,113}</string>
            </dict>
            <key>powersBackgroundPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1554},{459,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,92}}</string>
                <key>sourceSize</key>
                <string>{459,92}</string>
            </dict>
            <key>rightArrowFormationName.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1899},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>rightArrowFormationNamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1818},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>statsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1069},{532,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,452}}</string>
                <key>sourceSize</key>
                <string>{532,452}</string>
            </dict>
            <key>strengthBackgroundFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1012},{247,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,47}}</string>
                <key>sourceSize</key>
                <string>{247,47}</string>
            </dict>
            <key>strengthFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{257,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,75}}</string>
                <key>sourceSize</key>
                <string>{257,75}</string>
            </dict>
            <key>strengthMetter.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1012},{20,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,47}}</string>
                <key>sourceSize</key>
                <string>{20,47}</string>
            </dict>
            <key>theirCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1548},{266,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,87}}</string>
                <key>sourceSize</key>
                <string>{266,87}</string>
            </dict>
            <key>titleDescription.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,856},{468,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,384}}</string>
                <key>sourceSize</key>
                <string>{468,384}</string>
            </dict>
            <key>victoryScreenWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{569,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,476}}</string>
                <key>sourceSize</key>
                <string>{569,476}</string>
            </dict>
            <key>yourCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1548},{266,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,88}}</string>
                <key>sourceSize</key>
                <string>{266,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uiElements-phone5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3252fa31c9bbeb1af997479193d44b78:712752e8a1ad6734d58b9a73f49c57e0:cd8db75104dbadbb80167fc844a702da$</string>
            <key>textureFileName</key>
            <string>uiElements-phone5.png</string>
        </dict>
    </dict>
</plist>
