<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airToAirIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,2380},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>airToGroundIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,2235},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>buttonContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2255},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonDone.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2255},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonDonePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2255},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonFight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2255},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonFightPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,3604},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonKikNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,2439},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>buttonKikPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2088},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>buttonOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,3604},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>buttonTrain.png</key>
            <dict>
                <key>frame</key>
                <string>{{3232,1376},{269,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,151}}</string>
                <key>sourceSize</key>
                <string>{269,151}</string>
            </dict>
            <key>buttonTrainPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{3079,1376},{269,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,151}}</string>
                <key>sourceSize</key>
                <string>{269,151}</string>
            </dict>
            <key>buttonTryAgain.png</key>
            <dict>
                <key>frame</key>
                <string>{{3730,110},{332,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,183}}</string>
                <key>sourceSize</key>
                <string>{332,183}</string>
            </dict>
            <key>characterPortraitFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2235},{209,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,202}}</string>
                <key>sourceSize</key>
                <string>{209,202}</string>
            </dict>
            <key>characterPortraitFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3730,295},{217,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,210}}</string>
                <key>sourceSize</key>
                <string>{217,210}</string>
            </dict>
            <key>characterPortraitsButtonLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2254},{186,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,249}}</string>
                <key>sourceSize</key>
                <string>{186,249}</string>
            </dict>
            <key>characterPortraitsButtonLeftPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1900},{186,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,249}}</string>
                <key>sourceSize</key>
                <string>{186,249}</string>
            </dict>
            <key>characterPortraitsButtonRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1712},{186,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,249}}</string>
                <key>sourceSize</key>
                <string>{186,249}</string>
            </dict>
            <key>characterPortraitsButtonRightPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{3542,256},{186,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,249}}</string>
                <key>sourceSize</key>
                <string>{186,249}</string>
            </dict>
            <key>characterPortraitsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{1676,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1676,252}}</string>
                <key>sourceSize</key>
                <string>{1676,252}</string>
            </dict>
            <key>closeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2088},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>closeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2088},{169,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,164}}</string>
                <key>sourceSize</key>
                <string>{169,164}</string>
            </dict>
            <key>defeatWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{3079,1701},{990,940}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{990,940}}</string>
                <key>sourceSize</key>
                <string>{990,940}</string>
            </dict>
            <key>descriptionWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,3832},{663,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,231}}</string>
                <key>sourceSize</key>
                <string>{663,231}</string>
            </dict>
            <key>elements_0000_void.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,3568},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,133}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>elements_0001_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,2235},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,133}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>elements_0002_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2120},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,133}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>elements_0003_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1985},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,133}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>elements_0004_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1540},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>elements_0005_air.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1850},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,133}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>enemies_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2589},{527,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,45}}</string>
                <key>sourceSize</key>
                <string>{527,45}</string>
            </dict>
            <key>formationFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2643},{712,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,614}}</string>
                <key>sourceSize</key>
                <string>{712,614}</string>
            </dict>
            <key>formationNameFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,3473},{576,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,122}}</string>
                <key>sourceSize</key>
                <string>{576,122}</string>
            </dict>
            <key>genericBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>groundToAirIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2121},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>groundToGroundIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1987},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>imageLockedCharacter.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2442},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>imageLockedCharacterSelectTeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2442},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>imageLockedPowerIconSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2088},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>infoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,1540},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>leftArrowFormationName.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1838},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>leftArrowFormationNamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1689},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>levelEnemyFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1679},{139,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,169}}</string>
                <key>sourceSize</key>
                <string>{139,169}</string>
            </dict>
            <key>levelImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{3542,1124},{575,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,533}}</string>
                <key>sourceSize</key>
                <string>{575,533}</string>
            </dict>
            <key>level_0000_Layer-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,3357},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0001_Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,3568},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0002_Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,3357},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0003_Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,3568},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0004_Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,3357},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>level_0005_Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3949,295},{141,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,209}}</string>
                <key>sourceSize</key>
                <string>{141,209}</string>
            </dict>
            <key>lockedImageCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{3542,507},{551,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,615}}</string>
                <key>sourceSize</key>
                <string>{551,615}</string>
            </dict>
            <key>messageStats.png</key>
            <dict>
                <key>frame</key>
                <string>{{3730,2},{347,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,106}}</string>
                <key>sourceSize</key>
                <string>{347,106}</string>
            </dict>
            <key>nextLevelCostFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,3604},{463,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,133}}</string>
                <key>sourceSize</key>
                <string>{463,133}</string>
            </dict>
            <key>portraitSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,3832},{233,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,226}}</string>
                <key>sourceSize</key>
                <string>{233,226}</string>
            </dict>
            <key>portraitSmallDarkBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,3597},{233,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,226}}</string>
                <key>sourceSize</key>
                <string>{233,226}</string>
            </dict>
            <key>portraitSmallSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,3597},{233,216}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{233,216}}</string>
                <key>sourceSize</key>
                <string>{233,226}</string>
            </dict>
            <key>powerFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,2440},{174,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,176}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>powerFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2440},{174,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,178}}</string>
                <key>sourceSize</key>
                <string>{174,178}</string>
            </dict>
            <key>powerIconLargeFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3232,1529},{170,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,228}}</string>
                <key>sourceSize</key>
                <string>{170,228}</string>
            </dict>
            <key>powerIconLargeSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,3938},{154,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,212}}</string>
                <key>sourceSize</key>
                <string>{154,212}</string>
            </dict>
            <key>powerIconSmallFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2088},{170,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,165}}</string>
                <key>sourceSize</key>
                <string>{170,165}</string>
            </dict>
            <key>powerIconSmallFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,3938},{154,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,149}}</string>
                <key>sourceSize</key>
                <string>{154,149}</string>
            </dict>
            <key>powerIconsDescription.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{805,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{805,170}}</string>
                <key>sourceSize</key>
                <string>{805,172}</string>
            </dict>
            <key>powersBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2643},{828,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{828,203}}</string>
                <key>sourceSize</key>
                <string>{828,203}</string>
            </dict>
            <key>powersBackgroundPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,2643},{827,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,165}}</string>
                <key>sourceSize</key>
                <string>{827,165}</string>
            </dict>
            <key>preFightWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,256},{1488,1032}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1488,1032}}</string>
                <key>sourceSize</key>
                <string>{1488,1032}</string>
            </dict>
            <key>rightArrowFormationName.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1540},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>rightArrowFormationNamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,3938},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>statsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2643},{959,814}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{959,814}}</string>
                <key>sourceSize</key>
                <string>{959,814}</string>
            </dict>
            <key>strengthBackgroundFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3079,1290},{446,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,84}}</string>
                <key>sourceSize</key>
                <string>{446,84}</string>
            </dict>
            <key>strengthFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,3604},{463,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,135}}</string>
                <key>sourceSize</key>
                <string>{463,135}</string>
            </dict>
            <key>strengthMetter.png</key>
            <dict>
                <key>frame</key>
                <string>{{3079,1647},{36,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,84}}</string>
                <key>sourceSize</key>
                <string>{36,84}</string>
            </dict>
            <key>theirCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,3604},{479,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,157}}</string>
                <key>sourceSize</key>
                <string>{479,157}</string>
            </dict>
            <key>titleDescription.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1540},{843,693}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{843,693}}</string>
                <key>sourceSize</key>
                <string>{843,693}</string>
            </dict>
            <key>victoryScreenWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,1290},{1025,858}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,858}}</string>
                <key>sourceSize</key>
                <string>{1025,858}</string>
            </dict>
            <key>yourCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3604},{479,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,159}}</string>
                <key>sourceSize</key>
                <string>{479,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uiElements-ipadhd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0e3fc50b7d82b8f33eb7eb6b39715f2:07bc484816b6c6789c52791ac04263c5:3b901426a7da9a9665accadeca8b3aef$</string>
            <key>textureFileName</key>
            <string>uiElements-ipadhd.png</string>
        </dict>
    </dict>
</plist>
