<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airToAirIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,437},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>airToGroundIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,436},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>buttonContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,791},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>buttonDone.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,364},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>buttonDonePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,364},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>buttonFight.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,364},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>buttonFightPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,364},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>buttonKikNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,364},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>buttonKikPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,364},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>buttonOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,364},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>buttonTrain.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,987},{63,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,35}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>buttonTrainPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{63,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,35}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>buttonTryAgain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>canAttackAir.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,404},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>canAttackGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,404},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>characterPortraitFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,444},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>characterPortraitFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,444},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>characterPortraitsButtonLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,504},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>characterPortraitsButtonLeftPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,504},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>characterPortraitsButtonRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,504},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>characterPortraitsButtonRightPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>characterPortraitsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{393,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,59}}</string>
                <key>sourceSize</key>
                <string>{393,59}</string>
            </dict>
            <key>closeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,364},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>closeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,932},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>defeatWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,266},{232,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,224}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>descriptionWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,264},{155,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,54}}</string>
                <key>sourceSize</key>
                <string>{155,54}</string>
            </dict>
            <key>dialog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{138,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,74}}</string>
                <key>sourceSize</key>
                <string>{138,74}</string>
            </dict>
            <key>dialog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,209},{138,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,53}}</string>
                <key>sourceSize</key>
                <string>{138,53}</string>
            </dict>
            <key>elements_0000_void.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,506},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>elements_0001_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,472},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>elements_0002_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,474},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>elements_0003_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,470},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>elements_0004_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,437},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>elements_0005_air.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,440},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemies_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,351},{124,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,11}}</string>
                <key>sourceSize</key>
                <string>{124,11}</string>
            </dict>
            <key>formationFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,63},{167,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,144}}</string>
                <key>sourceSize</key>
                <string>{167,144}</string>
            </dict>
            <key>formationNameFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,320},{135,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,29}}</string>
                <key>sourceSize</key>
                <string>{135,29}</string>
            </dict>
            <key>genericBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,360}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>imageLockedCharacter.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,887},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>imageLockedCharacterSelectTeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,842},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>imageLockedPowerIconSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,436},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>infoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,510},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>leftArrowFormationName.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,436},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>leftArrowFormationNamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,404},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>levelEnemyFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,364},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>levelImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,232},{135,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,125}}</string>
                <key>sourceSize</key>
                <string>{135,125}</string>
            </dict>
            <key>level_0000_Layer-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,791},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>level_0001_Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,973},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>level_0002_Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,922},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>level_0003_Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,871},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>level_0004_Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,922},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>level_0005_Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,871},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>lockedImageCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,78},{129,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,144}}</string>
                <key>sourceSize</key>
                <string>{129,144}</string>
            </dict>
            <key>messageStats.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,427},{81,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,25}}</string>
                <key>sourceSize</key>
                <string>{81,25}</string>
            </dict>
            <key>nextLevelCostFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,471},{109,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,31}}</string>
                <key>sourceSize</key>
                <string>{109,31}</string>
            </dict>
            <key>portraitSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>portraitSmallDarkBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,504},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>portraitSmallSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,444},{55,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>powerFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,972},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>powerFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,973},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>powerIconLargeFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,982},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>powerIconLargeSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,444},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>powerIconSmallFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,932},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>powerIconSmallFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,399},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>powerIconsDescription.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,791},{189,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,40}}</string>
                <key>sourceSize</key>
                <string>{189,40}</string>
            </dict>
            <key>powersBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{194,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,48}}</string>
                <key>sourceSize</key>
                <string>{194,48}</string>
            </dict>
            <key>powersBackgroundPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,791},{194,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,39}}</string>
                <key>sourceSize</key>
                <string>{194,39}</string>
            </dict>
            <key>rightArrowFormationName.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,400},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>rightArrowFormationNamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,364},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>statsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{225,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,191}}</string>
                <key>sourceSize</key>
                <string>{225,191}</string>
            </dict>
            <key>strengthBackgroundFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,320},{105,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,20}}</string>
                <key>sourceSize</key>
                <string>{105,20}</string>
            </dict>
            <key>strengthFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,437},{109,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,32}}</string>
                <key>sourceSize</key>
                <string>{109,32}</string>
            </dict>
            <key>strengthMetter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,209},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>theirCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,398},{112,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,37}}</string>
                <key>sourceSize</key>
                <string>{112,37}</string>
            </dict>
            <key>titleDescription.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,364},{198,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,162}}</string>
                <key>sourceSize</key>
                <string>{198,162}</string>
            </dict>
            <key>victoryScreenWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,63},{240,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,201}}</string>
                <key>sourceSize</key>
                <string>{240,201}</string>
            </dict>
            <key>yourCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,359},{112,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,37}}</string>
                <key>sourceSize</key>
                <string>{112,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uiElements.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a444a823bfdf1f6ebc426c4d9a6f463b:30a99c4a1193105082fc3cba1967cc46:3b901426a7da9a9665accadeca8b3aef$</string>
            <key>textureFileName</key>
            <string>uiElements.png</string>
        </dict>
    </dict>
</plist>
