<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airToAirIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>airToGroundIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>buttonDone.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,685},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>buttonDonePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,650},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>buttonFight.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,442},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>buttonFightPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,397},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>buttonTrain.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,687},{63,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,35}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>buttonTrainPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,650},{63,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,35}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>characterPortraitFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,791},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>characterPortraitFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,740},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>characterPortraitsButtonLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,660},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>characterPortraitsButtonLeftPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,660},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>characterPortraitsButtonRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>characterPortraitsButtonRightPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,448},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>characterPortraitsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{393,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,59}}</string>
                <key>sourceSize</key>
                <string>{393,59}</string>
            </dict>
            <key>closeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,840},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>closeButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,810},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>descriptionWindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,425},{155,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,54}}</string>
                <key>sourceSize</key>
                <string>{155,54}</string>
            </dict>
            <key>elements_0000_void.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,829},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>elements_0001_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,758},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>elements_0002_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>elements_0003_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,795},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>elements_0004_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>elements_0005_air.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,756},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>formationFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,481},{167,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,144}}</string>
                <key>sourceSize</key>
                <string>{167,144}</string>
            </dict>
            <key>formationNameFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,508},{135,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,29}}</string>
                <key>sourceSize</key>
                <string>{135,29}</string>
            </dict>
            <key>genericBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,360}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>groundToAirIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,786},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>groundToGroundIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,750},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>imageLockedCharacter.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,777},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>imageLockedCharacterSelectTeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,750},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>imageLockedPowerIconLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,690},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>imageLockedPowerIconSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,724},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>leftArrowFormationName.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>leftArrowFormationNamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,879},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>levelLargeFrame_0000_Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,56},{26,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,4}}</string>
                <key>sourceSize</key>
                <string>{26,4}</string>
            </dict>
            <key>levelLargeFrame_0001_Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,50},{26,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,4}}</string>
                <key>sourceSize</key>
                <string>{26,4}</string>
            </dict>
            <key>levelLargeFrame_0002_Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,44},{26,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,4}}</string>
                <key>sourceSize</key>
                <string>{26,4}</string>
            </dict>
            <key>levelLargeFrame_0003_Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,38},{26,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,4}}</string>
                <key>sourceSize</key>
                <string>{26,4}</string>
            </dict>
            <key>levelLargeFrame_0004_Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,32},{26,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,4}}</string>
                <key>sourceSize</key>
                <string>{26,4}</string>
            </dict>
            <key>level_0000_Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,26},{26,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,4}}</string>
                <key>sourceSize</key>
                <string>{26,4}</string>
            </dict>
            <key>level_0000_Layer-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,723},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>level_0001_Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,20},{26,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,4}}</string>
                <key>sourceSize</key>
                <string>{26,4}</string>
            </dict>
            <key>level_0001_Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,706},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>level_0002_Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,14},{26,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,4}}</string>
                <key>sourceSize</key>
                <string>{26,4}</string>
            </dict>
            <key>level_0002_Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,706},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>level_0003_Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,8},{26,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,4}}</string>
                <key>sourceSize</key>
                <string>{26,4}</string>
            </dict>
            <key>level_0003_Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>level_0004_Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{26,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,4}}</string>
                <key>sourceSize</key>
                <string>{26,4}</string>
            </dict>
            <key>level_0004_Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,791},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>level_0005_Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,397},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>lockedImageCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,539},{129,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,144}}</string>
                <key>sourceSize</key>
                <string>{129,144}</string>
            </dict>
            <key>messageStats.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,62},{81,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,25}}</string>
                <key>sourceSize</key>
                <string>{81,25}</string>
            </dict>
            <key>nextLevelCostFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,364},{109,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,31}}</string>
                <key>sourceSize</key>
                <string>{109,31}</string>
            </dict>
            <key>portraitSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,695},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>portraitSmallDarkBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,685},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>portraitSmallSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,724},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>powerIconLargeFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,730},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>powerIconLargeSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,772},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>powerIconSmallFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,788},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>powerIconSmallFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,842},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>powerIconsDescription.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{189,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,40}}</string>
                <key>sourceSize</key>
                <string>{189,40}</string>
            </dict>
            <key>rightArrowFormationName.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,654},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>rightArrowFormationNamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,618},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>statsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{225,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,191}}</string>
                <key>sourceSize</key>
                <string>{225,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uiElements.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0729687df5b88e4ba939b7f84aab351e:46e0f1fb435378695146f99b004013b4:9e4b30ac04d74345c82267339582b167$</string>
            <key>textureFileName</key>
            <string>uiElements.png</string>
        </dict>
    </dict>
</plist>
