<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfArcherEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1126},{560,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,620}}</string>
                <key>sourceSize</key>
                <string>{560,620}</string>
            </dict>
            <key>elfAssassin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,564},{560,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,620}}</string>
                <key>sourceSize</key>
                <string>{560,620}</string>
            </dict>
            <key>map2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1154}}</string>
                <key>sourceSize</key>
                <string>{2048,1154}</string>
            </dict>
            <key>skeletonArcher_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{560,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,620}}</string>
                <key>sourceSize</key>
                <string>{560,620}</string>
            </dict>
            <key>skeletonArcher_pose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1688},{538,612}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{538,612}}</string>
                <key>sourceSize</key>
                <string>{560,620}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards2-ipadhd.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:427b578e8049084bae4eaf876246495e:68b65dfb4128534c85fb20a2cdc260ad:2bf29494edb8a9d3ce28b3a75b1b2187$</string>
            <key>textureFileName</key>
            <string>cards2-ipadhd.png</string>
        </dict>
    </dict>
</plist>
