<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elfAssassin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,291}}</string>
                <key>sourceSize</key>
                <string>{263,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards2-iphone4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3978271b8ae7c6610fc4ee952eb93969:0b2c50e9509d45c208ee2eb39eafc43f:2bf29494edb8a9d3ce28b3a75b1b2187$</string>
            <key>textureFileName</key>
            <string>cards2-iphone4.png</string>
        </dict>
    </dict>
</plist>
