<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,737},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dragonVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,590},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dwarvenKnightEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,443},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dwarvenKnightFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,296},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dwarvenKnightLife_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,268},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dwarvenKnightVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,268},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>dwarvenKnightWater_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,268},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elementalEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,884},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elementalFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,737},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elementalWater_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,590},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elementalWind_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,443},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elfArcherFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,296},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elfArcherLife_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,149},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elfArcherVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,135},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>elfAssassin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,135},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>gargoyleFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,135},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>gargoyleVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,135},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>goblinKnightBile_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,884},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>goblinKnightBlood_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,737},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>goblinKnightFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,590},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>goblinKnightNormal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,443},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>goblin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,296},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>knightEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,149},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>knightFire_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>knightVoid_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>knightWater_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>necromancer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>ogre_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>orc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>priestessEarth_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>scowerer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>shellback_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>snakeThing_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>spider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>troll_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>wizard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d7eaba822fed3797e68eef64037e3d6:ce5660876fcba1e9b03b824a327f79c2:0afd5d88c1d04885828391deeb2050d9$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
