<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,462},{99,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{99,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,347},{103,141}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{103,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,983},{77,113}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,22},{77,113}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,349},{103,141}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{103,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,244},{105,141}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{105,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,587},{107,135}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{107,135}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,559},{109,137}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{109,137}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{111,139}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{111,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{111,139}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{111,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{111,141}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{111,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,127},{107,141}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,454},{101,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,246},{107,139}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{107,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,355},{105,139}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{105,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,868},{81,121}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,13},{81,121}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,458},{99,139}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{99,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,482},{91,139}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{91,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{95,125}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{95,125}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,866},{95,127}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,1},{95,127}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,884},{97,123}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{97,123}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{97,125}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{97,125}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,767},{99,129}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{99,129}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,377},{103,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{103,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,951},{101,119}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{101,119}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,963},{103,121}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{103,121}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,894},{105,119}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{105,119}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,696},{89,131}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{89,131}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,874},{105,125}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{105,125}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,787},{105,129}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{105,129}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,787},{95,129}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,1},{95,129}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1062},{87,109}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,2},{87,109}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1054},{87,109}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{87,109}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1080},{81,111}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{81,111}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,343},{103,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{103,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1094},{77,97}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,13},{77,97}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1054},{77,101}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,9},{77,101}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1068},{75,103}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,7},{75,103}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,927},{57,45}}</string>
                <key>offset</key>
                <string>{16,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,13},{57,45}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,674},{91,131}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{91,131}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,868},{57,47}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,10},{57,47}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,589},{27,31}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,7},{27,31}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{93,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{93,133}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,777},{95,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{95,133}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,680},{95,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{95,135}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,242},{103,141}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{103,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,668},{97,137}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{97,137}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{99,137}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{99,137}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{101,135}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,575},{103,137}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{103,137}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>heal.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{101,139}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,415},{33,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{33,6}}</string>
                <key>sourceSize</key>
                <string>{39,12}</string>
            </dict>
            <key>shadowMedium.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,415},{25,5}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{25,5}}</string>
                <key>sourceSize</key>
                <string>{29,9}</string>
            </dict>
            <key>shadowSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,138},{18,4}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,4}}</string>
                <key>sourceSize</key>
                <string>{20,6}</string>
            </dict>
            <key>teleport.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,348},{17,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,38}}</string>
                <key>sourceSize</key>
                <string>{17,38}</string>
            </dict>
            <key>teleport.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,729},{22,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,67}}</string>
                <key>sourceSize</key>
                <string>{22,67}</string>
            </dict>
            <key>teleport.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,743},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>teleport.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,674},{24,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,67}}</string>
                <key>sourceSize</key>
                <string>{24,67}</string>
            </dict>
            <key>teleport.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,618},{25,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,67}}</string>
                <key>sourceSize</key>
                <string>{25,67}</string>
            </dict>
            <key>teleport.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,687},{25,40}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,58}</string>
            </dict>
            <key>teleport.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,388},{25,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,8}}</string>
                <key>sourceSize</key>
                <string>{25,8}</string>
            </dict>
            <key>teleport.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,388},{25,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,7}}</string>
                <key>sourceSize</key>
                <string>{25,7}</string>
            </dict>
            <key>teleport.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,280},{17,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,66}}</string>
                <key>sourceSize</key>
                <string>{17,66}</string>
            </dict>
            <key>teleport.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,212},{17,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,66}}</string>
                <key>sourceSize</key>
                <string>{17,66}</string>
            </dict>
            <key>teleport.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,144},{17,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,66}}</string>
                <key>sourceSize</key>
                <string>{17,66}</string>
            </dict>
            <key>teleport.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,70},{18,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,66}}</string>
                <key>sourceSize</key>
                <string>{18,66}</string>
            </dict>
            <key>teleport.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{19,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,66}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>teleport.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,521},{21,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,66}}</string>
                <key>sourceSize</key>
                <string>{21,66}</string>
            </dict>
            <key>teleport.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,798},{20,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,67}}</string>
                <key>sourceSize</key>
                <string>{20,67}</string>
            </dict>
            <key>teleport.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,452},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>voidFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,987},{91,57}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,84},{91,57}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,131},{113,141}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{113,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,242},{105,141}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{105,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,557},{111,137}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{111,137}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,129},{113,141}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{113,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,563},{103,137}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{103,137}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,127},{113,141}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{113,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{123,141}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,670},{115,133}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{115,133}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,549},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{123,137}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,246},{129,139}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{129,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,894},{91,59}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,81},{91,59}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{127,141}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{127,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,141}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{133,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{125,141}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{125,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{129,141}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{129,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{123,141}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{123,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,452},{133,139}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{133,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,448},{99,141}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{99,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,236},{105,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{105,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,123},{117,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{117,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,133},{111,141}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{111,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1001},{91,111}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,30},{91,111}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{119,141}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{119,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,767},{99,129}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{99,129}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1133},{89,95}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,46},{89,95}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,961},{91,117}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{91,117}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,981},{91,121}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{91,121}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,868},{91,125}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{91,125}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,670},{95,131}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{95,131}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,767},{97,133}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{97,133}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>voidFire.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,351},{105,139}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{105,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects2-iphone5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:167e8de63c56cc5cecd75d8e2a5f602e:2afc0bba8c8fd8f2ad6e95cc8978d1a5:c365661718321896f9ee1a2bf588001e$</string>
            <key>textureFileName</key>
            <string>effects2-iphone5.png</string>
        </dict>
    </dict>
</plist>
