<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,888},{125,175}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{125,175}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,459},{131,179}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{131,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1489},{97,143}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{97,143}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,453},{131,179}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{131,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{133,179}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{133,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1003},{135,173}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{135,173}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,999},{139,173}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{139,173}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,858},{139,175}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{139,175}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{141,177}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{141,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,310},{141,179}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{141,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,316},{137,179}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{137,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{127,177}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{127,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,864},{137,175}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{137,175}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,592},{133,177}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{133,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1495},{103,155}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,16},{103,155}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,761},{125,177}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{125,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{115,177}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{115,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1430},{119,157}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,5},{119,157}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1380},{119,161}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,1},{119,161}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{121,157}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,5},{121,157}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1384},{123,159}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,2},{123,159}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1301},{127,163}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{127,163}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,733},{129,177}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{129,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1551},{129,153}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{129,153}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1588},{131,155}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{131,155}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1501},{133,151}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,12},{133,151}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1265},{113,165}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{113,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1328},{135,159}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{135,159}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1163},{133,163}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{133,163}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1309},{121,165}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{121,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1636},{111,139}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,3},{111,139}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1509},{111,139}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{111,139}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1555},{101,139}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{101,139}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,320},{131,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{131,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1658},{97,125}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,15},{97,125}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1749},{99,127}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,13},{99,127}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1622},{97,131}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,9},{97,131}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1982},{73,57}}</string>
                <key>offset</key>
                <string>{19,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,17},{73,57}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,181},{115,167}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{115,167}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1907},{73,59}}</string>
                <key>offset</key>
                <string>{19,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,14},{73,59}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1488},{35,39}}</string>
                <key>offset</key>
                <string>{1,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,9},{35,39}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,666},{117,169}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{117,169}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1263},{119,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,5},{119,169}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1140},{121,171}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{121,171}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,717},{131,177}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{131,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,993},{123,175}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{123,175}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1174},{125,173}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{125,173}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1118},{127,173}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{127,173}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,988},{129,173}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{129,173}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>heal.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,727},{129,177}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{129,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,752},{42,5}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,5}}</string>
                <key>sourceSize</key>
                <string>{50,15}</string>
            </dict>
            <key>shadowMedium.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,717},{33,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{33,6}}</string>
                <key>sourceSize</key>
                <string>{37,12}</string>
            </dict>
            <key>shadowSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,592},{23,4}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,4}}</string>
                <key>sourceSize</key>
                <string>{25,8}</string>
            </dict>
            <key>teleport.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1465},{21,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,49}}</string>
                <key>sourceSize</key>
                <string>{21,49}</string>
            </dict>
            <key>teleport.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1673},{28,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,85}}</string>
                <key>sourceSize</key>
                <string>{28,85}</string>
            </dict>
            <key>teleport.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1612},{29,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,85}}</string>
                <key>sourceSize</key>
                <string>{29,85}</string>
            </dict>
            <key>teleport.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1525},{30,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,85}}</string>
                <key>sourceSize</key>
                <string>{30,85}</string>
            </dict>
            <key>teleport.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1301},{32,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,86}}</string>
                <key>sourceSize</key>
                <string>{32,86}</string>
            </dict>
            <key>teleport.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1389},{32,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,74}}</string>
                <key>sourceSize</key>
                <string>{32,74}</string>
            </dict>
            <key>teleport.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1140},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>teleport.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,888},{32,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,8}}</string>
                <key>sourceSize</key>
                <string>{32,8}</string>
            </dict>
            <key>teleport.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1708},{21,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,84}}</string>
                <key>sourceSize</key>
                <string>{21,84}</string>
            </dict>
            <key>teleport.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1587},{21,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,84}}</string>
                <key>sourceSize</key>
                <string>{21,84}</string>
            </dict>
            <key>teleport.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1501},{22,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,84}}</string>
                <key>sourceSize</key>
                <string>{22,84}</string>
            </dict>
            <key>teleport.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1622},{23,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,84}}</string>
                <key>sourceSize</key>
                <string>{23,84}</string>
            </dict>
            <key>teleport.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1769},{25,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,84}}</string>
                <key>sourceSize</key>
                <string>{25,84}</string>
            </dict>
            <key>teleport.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1596},{26,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,84}}</string>
                <key>sourceSize</key>
                <string>{26,84}</string>
            </dict>
            <key>teleport.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1509},{26,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,85}}</string>
                <key>sourceSize</key>
                <string>{26,85}</string>
            </dict>
            <key>teleport.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1682},{27,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,85}}</string>
                <key>sourceSize</key>
                <string>{27,85}</string>
            </dict>
            <key>voidFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1832},{115,73}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,106},{115,73}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{145,179}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{145,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,455},{133,179}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{133,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,850},{141,175}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{141,175}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,586},{145,177}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{145,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{131,173}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,165},{143,179}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{143,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,159},{155,179}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{155,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{147,169}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{147,169}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1015},{157,173}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{157,173}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{163,177}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{163,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1757},{115,73}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,105},{115,73}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{161,179}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{161,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,179}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{169,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{161,179}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{161,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{165,179}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{165,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{155,179}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{155,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,590},{169,177}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{169,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,588},{127,179}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{127,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,453},{133,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{133,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,169},{149,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{149,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,318},{139,179}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1600},{115,139}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,40},{115,139}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,165},{151,179}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{151,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1368},{125,163}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{125,163}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1721},{113,119}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,59},{113,119}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,837},{115,149}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{115,149}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,511},{115,153}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{115,153}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,350},{115,159}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{115,159}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1247},{119,165}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,14},{119,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1140},{123,169}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,9},{123,169}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>voidFire.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{133,175}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{133,175}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects-iphone5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9da6afe342f8eb9a4d3565486e049b06:2afc0bba8c8fd8f2ad6e95cc8978d1a5:5293d816a0971685391ef2e22c87875e$</string>
            <key>textureFileName</key>
            <string>effects-iphone5.png</string>
        </dict>
    </dict>
</plist>
