<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elementalWind.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{138,146}}</string>
                <key>offset</key>
                <string>{1,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,362},{138,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{148,138}}</string>
                <key>offset</key>
                <string>{-4,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,361},{148,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.125.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,144},{146,144}}</string>
                <key>offset</key>
                <string>{-3,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,362},{146,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{142,142}}</string>
                <key>offset</key>
                <string>{-1,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,363},{142,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.131.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1108},{140,142}}</string>
                <key>offset</key>
                <string>{0,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,364},{140,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.132.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,966},{142,140}}</string>
                <key>offset</key>
                <string>{-2,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,360},{142,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.133.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,276},{146,146}}</string>
                <key>offset</key>
                <string>{-8,-168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,351},{146,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.190.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{138,146}}</string>
                <key>offset</key>
                <string>{2,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,362},{138,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1238},{140,140}}</string>
                <key>offset</key>
                <string>{0,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,363},{140,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.271.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,716},{138,142}}</string>
                <key>offset</key>
                <string>{1,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,363},{138,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.272.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1096},{142,140}}</string>
                <key>offset</key>
                <string>{-2,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,363},{142,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.278.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,696},{134,144}}</string>
                <key>offset</key>
                <string>{-17,-161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,345},{134,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1238},{140,138}}</string>
                <key>offset</key>
                <string>{0,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,363},{140,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,148}}</string>
                <key>offset</key>
                <string>{-1,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,364},{142,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{140,148}}</string>
                <key>offset</key>
                <string>{0,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,364},{140,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{140,148}}</string>
                <key>offset</key>
                <string>{0,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,364},{140,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{140,148}}</string>
                <key>offset</key>
                <string>{0,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,364},{140,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{138,148}}</string>
                <key>offset</key>
                <string>{1,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,364},{138,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,142},{138,148}}</string>
                <key>offset</key>
                <string>{1,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,364},{138,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,144},{138,146}}</string>
                <key>offset</key>
                <string>{1,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,366},{138,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,284},{136,146}}</string>
                <key>offset</key>
                <string>{2,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,366},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,290},{136,146}}</string>
                <key>offset</key>
                <string>{2,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,366},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1228},{142,136}}</string>
                <key>offset</key>
                <string>{-1,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,363},{142,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,422},{134,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,366},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,428},{134,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,366},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,420},{134,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,366},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{134,144}}</string>
                <key>offset</key>
                <string>{3,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,368},{134,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,698},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,828},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,832},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,860},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,424},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,570},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1232},{142,136}}</string>
                <key>offset</key>
                <string>{-1,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,362},{142,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,994},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,834},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,964},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,966},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1096},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1100},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1126},{130,144}}</string>
                <key>offset</key>
                <string>{5,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,368},{130,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,692},{144,134}}</string>
                <key>offset</key>
                <string>{-2,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,363},{144,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,700},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,830},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,832},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,962},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,966},{132,144}}</string>
                <key>offset</key>
                <string>{4,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,368},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,564},{134,144}}</string>
                <key>offset</key>
                <string>{3,-184}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,368},{134,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,424},{134,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,366},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,556},{134,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,366},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,560},{134,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,366},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,144},{146,136}}</string>
                <key>offset</key>
                <string>{-3,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,361},{146,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,558},{134,146}}</string>
                <key>offset</key>
                <string>{3,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,366},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{136,146}}</string>
                <key>offset</key>
                <string>{2,-183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,366},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,282},{136,146}}</string>
                <key>offset</key>
                <string>{2,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,365},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,420},{136,146}}</string>
                <key>offset</key>
                <string>{2,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,364},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.74.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,558},{138,144}}</string>
                <key>offset</key>
                <string>{1,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,364},{138,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{138,142}}</string>
                <key>offset</key>
                <string>{1,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,365},{138,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,282},{146,136}}</string>
                <key>offset</key>
                <string>{-3,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,362},{146,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.91.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1098},{138,142}}</string>
                <key>offset</key>
                <string>{1,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,363},{138,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.92.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1258},{136,142}}</string>
                <key>offset</key>
                <string>{2,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,363},{136,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.93.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,694},{134,144}}</string>
                <key>offset</key>
                <string>{3,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,362},{134,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>elementalWind.94.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,142},{132,148}}</string>
                <key>offset</key>
                <string>{3,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,361},{132,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elementalWindSheet-ipadhd.1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c7fbd82f44834d3c94f181b0b3bd18a:3a64a5a98c67001046cc82444c13d5f0:bdf92e9388a7812edea03456e4aa40a7$</string>
            <key>textureFileName</key>
            <string>elementalWindSheet-ipadhd.1.png</string>
        </dict>
    </dict>
</plist>
