<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,383},{377,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,427}}</string>
                <key>sourceSize</key>
                <string>{377,427}</string>
            </dict>
            <key>board2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{379,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,427}}</string>
                <key>sourceSize</key>
                <string>{379,427}</string>
            </dict>
            <key>board3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{379,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,427}}</string>
                <key>sourceSize</key>
                <string>{379,427}</string>
            </dict>
            <key>board4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{379,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,427}}</string>
                <key>sourceSize</key>
                <string>{379,427}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameboard0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:940d8e326c76540023efb3d3ad706c38:ab65b5d6db310d35afdb29153ce6a491:65936735b695a4d23de3910587e7b045$</string>
            <key>textureFileName</key>
            <string>gameboard0.png</string>
        </dict>
    </dict>
</plist>
