<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1518},{1509,1706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1509,1706}}</string>
                <key>sourceSize</key>
                <string>{1509,1706}</string>
            </dict>
            <key>board6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1514,1706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1514,1706}}</string>
                <key>sourceSize</key>
                <string>{1514,1706}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameboard-ipadhd1.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f884e3a8c6f1b8a2ee4d4da5f46a1762:1e03f2df9f5670346a04b636438db0ec:752bd96adcdca4be20f01c3086bab5d5$</string>
            <key>textureFileName</key>
            <string>gameboard-ipadhd1.png</string>
        </dict>
    </dict>
</plist>
