<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1287,1450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1287,1450}}</string>
                <key>sourceSize</key>
                <string>{1287,1450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameboard-iphone54.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab2f5273318664e2861f0e41dcf42934:1e03f2df9f5670346a04b636438db0ec:7a6808e1aa3d32f1b8d59f1705afe389$</string>
            <key>textureFileName</key>
            <string>gameboard-iphone54.png</string>
        </dict>
    </dict>
</plist>
