<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1132,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1132,1280}}</string>
                <key>sourceSize</key>
                <string>{1132,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameboard-iphone43.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bff9fd59a73df380c1e7d0a25640e67:ab65b5d6db310d35afdb29153ce6a491:ab09f15d39a6579beed151fc3bfd8bcd$</string>
            <key>textureFileName</key>
            <string>gameboard-iphone43.png</string>
        </dict>
    </dict>
</plist>
