<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,189}}</string>
                <key>offset</key>
                <string>{-21,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,210},{71,189}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,380},{91,181}}</string>
                <key>offset</key>
                <string>{-31,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,216},{91,181}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,736},{109,159}}</string>
                <key>offset</key>
                <string>{-39,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,237},{109,159}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{75,185}}</string>
                <key>offset</key>
                <string>{-23,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,212},{75,185}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{115,175}}</string>
                <key>offset</key>
                <string>{-33,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,223},{115,175}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{135,141}}</string>
                <key>offset</key>
                <string>{-35,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,255},{135,141}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,483},{111,139}}</string>
                <key>offset</key>
                <string>{-8,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,295},{111,139}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,127},{79,115}}</string>
                <key>offset</key>
                <string>{-2,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,292},{79,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,927},{93,119}}</string>
                <key>offset</key>
                <string>{-4,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,294},{93,119}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,733},{81,139}}</string>
                <key>offset</key>
                <string>{-24,-148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,296},{81,139}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,624},{107,139}}</string>
                <key>offset</key>
                <string>{-8,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,275},{107,139}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{109,183}}</string>
                <key>offset</key>
                <string>{-9,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,217},{109,183}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{121,185}}</string>
                <key>offset</key>
                <string>{-18,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,215},{121,185}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{135,173}}</string>
                <key>offset</key>
                <string>{-28,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,227},{135,173}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,338},{131,143}}</string>
                <key>offset</key>
                <string>{-28,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,254},{131,143}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{91,141}}</string>
                <key>offset</key>
                <string>{-7,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,294},{91,141}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,728},{71,121}}</string>
                <key>offset</key>
                <string>{0,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,293},{71,121}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,274},{69,121}}</string>
                <key>offset</key>
                <string>{-11,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,294},{69,121}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,288},{63,133}}</string>
                <key>offset</key>
                <string>{-18,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,277},{63,133}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,189},{63,179}}</string>
                <key>offset</key>
                <string>{-17,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,217},{63,179}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,554},{59,129}}</string>
                <key>offset</key>
                <string>{-13,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,294},{59,129}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{65,185}}</string>
                <key>offset</key>
                <string>{-18,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,212},{65,185}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,563},{99,171}}</string>
                <key>offset</key>
                <string>{-5,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,225},{99,171}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,558},{61,119}}</string>
                <key>offset</key>
                <string>{-15,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,294},{61,119}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,897},{121,123}}</string>
                <key>offset</key>
                <string>{-12,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,272},{121,123}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,423},{119,129}}</string>
                <key>offset</key>
                <string>{-6,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,279},{119,129}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,874},{105,135}}</string>
                <key>offset</key>
                <string>{-30,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,300},{105,135}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,370},{157,85}}</string>
                <key>offset</key>
                <string>{-58,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,283},{157,85}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,145},{119,141}}</string>
                <key>offset</key>
                <string>{-36,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,231},{119,141}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,145},{101,127}}</string>
                <key>offset</key>
                <string>{-21,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,247},{101,127}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,288},{73,133}}</string>
                <key>offset</key>
                <string>{-17,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,239},{73,133}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,733},{75,133}}</string>
                <key>offset</key>
                <string>{-1,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,235},{75,133}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,621},{105,127}}</string>
                <key>offset</key>
                <string>{7,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,250},{105,127}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{101,123}}</string>
                <key>offset</key>
                <string>{10,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,280},{101,123}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,423},{67,133}}</string>
                <key>offset</key>
                <string>{-19,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,284},{67,133}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{95,127}}</string>
                <key>offset</key>
                <string>{5,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,308},{95,127}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,179},{157,73}}</string>
                <key>offset</key>
                <string>{4,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,362},{157,73}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,179},{143,77}}</string>
                <key>offset</key>
                <string>{1,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,358},{143,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,529},{149,79}}</string>
                <key>offset</key>
                <string>{-1,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,356},{149,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>gargoyleVoid.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,736},{63,171}}</string>
                <key>offset</key>
                <string>{-17,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,225},{63,171}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleVoidSheet-iphone5.0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0affab221d36ceb90570dfc30955fae:e3d372f311dbf61f0d58e116c202a3ae:e2a83facad047138f41ba7f3cdcd3b30$</string>
            <key>textureFileName</key>
            <string>gargoyleVoidSheet-iphone5.0.png</string>
        </dict>
    </dict>
</plist>
