<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gargoyleVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,166}}</string>
                <key>offset</key>
                <string>{-19,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,186},{62,166}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{80,160}}</string>
                <key>offset</key>
                <string>{-28,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,191},{80,160}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,288},{96,140}}</string>
                <key>offset</key>
                <string>{-34,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,209},{96,140}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{64,164}}</string>
                <key>offset</key>
                <string>{-20,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,187},{64,164}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{102,154}}</string>
                <key>offset</key>
                <string>{-29,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,197},{102,154}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,384},{118,126}}</string>
                <key>offset</key>
                <string>{-30,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,224},{118,126}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{98,122}}</string>
                <key>offset</key>
                <string>{-7,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,261},{98,122}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,902},{70,100}}</string>
                <key>offset</key>
                <string>{-2,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,259},{70,100}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,818},{82,106}}</string>
                <key>offset</key>
                <string>{-3,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,259},{82,106}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,312},{72,122}}</string>
                <key>offset</key>
                <string>{-21,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,262},{72,122}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,504},{94,122}}</string>
                <key>offset</key>
                <string>{-7,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,243},{94,122}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,68},{96,162}}</string>
                <key>offset</key>
                <string>{-8,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,191},{96,162}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{108,162}}</string>
                <key>offset</key>
                <string>{-16,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,191},{108,162}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,166},{120,154}}</string>
                <key>offset</key>
                <string>{-25,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,199},{120,154}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,386},{116,126}}</string>
                <key>offset</key>
                <string>{-25,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,225},{116,126}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,436},{82,124}}</string>
                <key>offset</key>
                <string>{-7,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,260},{82,124}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{64,106}}</string>
                <key>offset</key>
                <string>{0,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,259},{64,106}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,902},{60,106}}</string>
                <key>offset</key>
                <string>{-9,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,260},{60,106}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{56,118}}</string>
                <key>offset</key>
                <string>{-16,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,244},{56,118}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,112},{54,158}}</string>
                <key>offset</key>
                <string>{-15,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,192},{54,158}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,672},{52,114}}</string>
                <key>offset</key>
                <string>{-11,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,260},{52,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{56,164}}</string>
                <key>offset</key>
                <string>{-16,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,187},{56,164}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,224},{86,150}}</string>
                <key>offset</key>
                <string>{-4,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,200},{86,150}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{54,104}}</string>
                <key>offset</key>
                <string>{-13,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,260},{54,104}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,722},{106,108}}</string>
                <key>offset</key>
                <string>{-10,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,240},{106,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,668},{104,114}}</string>
                <key>offset</key>
                <string>{-5,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,246},{104,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,562},{92,118}}</string>
                <key>offset</key>
                <string>{-26,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,266},{92,118}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{138,74}}</string>
                <key>offset</key>
                <string>{-51,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,251},{138,74}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,504},{104,124}}</string>
                <key>offset</key>
                <string>{-32,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,204},{104,124}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,726},{90,112}}</string>
                <key>offset</key>
                <string>{-19,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,218},{90,112}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,656},{64,116}}</string>
                <key>offset</key>
                <string>{-15,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,212},{64,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,600},{66,118}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,207},{66,118}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{92,112}}</string>
                <key>offset</key>
                <string>{6,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,221},{92,112}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,774},{90,108}}</string>
                <key>offset</key>
                <string>{9,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,248},{90,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,610},{60,118}}</string>
                <key>offset</key>
                <string>{-18,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,250},{60,118}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{84,112}}</string>
                <key>offset</key>
                <string>{4,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,272},{84,112}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{140,64}}</string>
                <key>offset</key>
                <string>{3,-160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,320},{140,64}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{126,68}}</string>
                <key>offset</key>
                <string>{1,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,316},{126,68}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,312},{132,70}}</string>
                <key>offset</key>
                <string>{-1,-157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,314},{132,70}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>gargoyleVoid.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,168},{54,152}}</string>
                <key>offset</key>
                <string>{-15,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,198},{54,152}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gargoyleVoidSheet-ipadhd.0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a72cfbfe3a97878a8c14622c75041b66:e3d372f311dbf61f0d58e116c202a3ae:e2a83facad047138f41ba7f3cdcd3b30$</string>
            <key>textureFileName</key>
            <string>gargoyleVoidSheet-ipadhd.0.png</string>
        </dict>
    </dict>
</plist>
