<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,68},{102,64}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,87},{102,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,200},{98,64}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,87},{98,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,258},{96,64}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{96,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{108,64}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,87},{108,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,134},{100,64}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,87},{100,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,274},{94,64}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,87},{94,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowNormal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,324},{38,6}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,116},{38,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowNormal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,324},{38,6}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,116},{38,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowPoison.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,258},{88,8}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,115},{88,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowPoison.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,258},{88,8}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,115},{88,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowPoison.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,258},{88,8}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,115},{88,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowPoison.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,186},{88,8}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,115},{88,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowPoison.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,286},{84,8}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,115},{84,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowPoison.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,364},{86,8}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,115},{86,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,284},{84,8}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,115},{84,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,94},{90,8}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,115},{90,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,276},{82,8}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,115},{82,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{90,8}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,115},{90,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{84,8}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,115},{84,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>arrowVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,276},{86,8}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,115},{86,8}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,456},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,454},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,400},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,380},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,378},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,304},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,302},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,348},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>ballVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,324},{74,74}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{74,74}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,424},{66,72}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,82},{66,72}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,348},{74,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,83},{74,68}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,424},{74,64}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,85},{74,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,476},{72,70}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,85},{72,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,532},{70,72}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,86},{70,72}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,548},{66,66}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,90},{66,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,490},{70,64}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,92},{70,64}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>bomb.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,530},{74,72}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,85},{74,72}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>cannonball.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,57},{128,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>cannonball.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,132},{126,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,57},{126,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>cannonball.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{126,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,57},{126,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>cannonball.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,57},{128,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>cannonball.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,130},{126,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,57},{126,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>cannonball.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{126,128}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,57},{126,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>greenbullet.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,666},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,39}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>greenbullet.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>greenbullet.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,616},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,593},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>greenbullet.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,692},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>greenbullet.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,604},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,604},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,605},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>greenbullet.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,657},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>greenbullet.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,606},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>greenbullet.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,655},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>greenbullet.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,504},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>greenbullet.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,492},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>greenbullet.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,555},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>greenbullet.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,556},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>greenbullet.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,705},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,656},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,655},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>greenbullet.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,654},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>greenbullet.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,654},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>greenbullet.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,604},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,46}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>greenbullet.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,706},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>greenbullet.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,452},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>greenbullet.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,543},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>greenbullet.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,605},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>greenbullet.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,642},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>magicFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,296},{76,6}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{76,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,294},{82,6}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,116},{82,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,276},{86,6}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,116},{86,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{88,6}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,116},{88,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,340},{92,6}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,116},{92,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,382},{92,6}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{92,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicNormal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,296},{76,6}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,116},{76,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicNormal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,268},{78,6}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,116},{78,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicNormal.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{86,6}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,116},{86,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicNormal.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,186},{100,6}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{100,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicNormal.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,288},{92,6}}</string>
                <key>offset</key>
                <string>{31,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,116},{92,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicNormal.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,274},{92,6}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{92,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,260},{78,6}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,116},{78,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,268},{86,6}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,116},{86,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,266},{96,6}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,116},{96,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,260},{88,6}}</string>
                <key>offset</key>
                <string>{29,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,116},{88,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{88,6}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,116},{88,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>magicVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{82,6}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,116},{82,6}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missiles-iphone5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3947ec49daff65107717c620fd440cb:8986fc7b112e40657d9f30ee96795276:5fcb3481c80a25b7aeeda331d270019e$</string>
            <key>textureFileName</key>
            <string>missiles-iphone5.png</string>
        </dict>
    </dict>
</plist>
