<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,286},{112,72}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,96},{112,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{108,72}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,96},{108,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,362},{106,72}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,96},{106,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,160},{120,72}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,96},{120,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,282},{112,72}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,96},{112,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,288},{108,72}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,96},{108,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowNormal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,480},{42,4}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,131},{42,4}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowNormal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,480},{42,4}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,131},{42,4}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowPoison.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{98,8}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,128},{98,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowPoison.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{98,8}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,128},{98,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowPoison.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{96,8}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,128},{96,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowPoison.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{98,8}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,128},{98,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowPoison.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,360},{94,8}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,128},{94,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowPoison.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{96,8}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,128},{96,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,360},{94,8}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,128},{94,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{100,8}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,128},{100,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{102,8}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,128},{102,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,286},{108,8}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,128},{108,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,378},{92,8}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,128},{92,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>arrowVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{96,8}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,128},{96,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,522},{84,84}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,92},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,608},{82,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,91},{82,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{84,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,91},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,474},{84,84}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,91},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,436},{84,84}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,91},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,540},{84,82}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,93},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballFire.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,388},{84,84}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,91},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{84,82}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,93},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,692},{82,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,93},{82,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,624},{82,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,93},{82,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,560},{82,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,93},{82,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,504},{82,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,93},{82,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ballVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{82,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,93},{82,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{74,80}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,92},{74,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{82,78}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,91},{82,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,588},{82,72}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,94},{82,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,456},{82,80}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,93},{82,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,644},{78,80}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,96},{78,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,84},{74,74}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,100},{74,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,708},{78,72}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,102},{78,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,396},{82,80}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,95},{82,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cannonball.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,142}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{142,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cannonball.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,144},{140,142}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,63},{140,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cannonball.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,146},{140,140}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,65},{140,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cannonball.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,142}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{142,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cannonball.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{140,140}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,65},{140,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cannonball.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{140,142}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,63},{140,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>greenbullet.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,667},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,44}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>greenbullet.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,886},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>greenbullet.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,782},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>greenbullet.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,832},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>greenbullet.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,780},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>greenbullet.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,774},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>greenbullet.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,942},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>greenbullet.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>greenbullet.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>greenbullet.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,344},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>greenbullet.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,724},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>greenbullet.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,560},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>greenbullet.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,718},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>greenbullet.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,662},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>greenbullet.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,662},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>greenbullet.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,776},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>greenbullet.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,400},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>greenbullet.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,773},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>greenbullet.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,773},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>greenbullet.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,942},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>greenbullet.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,612},{53,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,47}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>greenbullet.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,942},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>greenbullet.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,718},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>greenbullet.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,718},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>greenbullet.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,288},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>greenbullet.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>greenbullet.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,886},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>magicFire.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,370},{94,6}}</string>
                <key>offset</key>
                <string>{29,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,130},{94,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicFire.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,494},{90,8}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,128},{90,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicFire.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{94,8}}</string>
                <key>offset</key>
                <string>{31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,128},{94,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicFire.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{98,6}}</string>
                <key>offset</key>
                <string>{31,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,130},{98,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicFire.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,394},{102,8}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,128},{102,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicFire.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,390},{102,8}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,128},{102,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicNormal.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,450},{84,6}}</string>
                <key>offset</key>
                <string>{25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,130},{84,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicNormal.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,396},{86,6}}</string>
                <key>offset</key>
                <string>{26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,130},{86,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicNormal.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{96,6}}</string>
                <key>offset</key>
                <string>{30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,130},{96,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicNormal.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{110,6}}</string>
                <key>offset</key>
                <string>{38,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,130},{110,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicNormal.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{102,6}}</string>
                <key>offset</key>
                <string>{34,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,130},{102,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicNormal.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,286},{102,8}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,128},{102,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicVoid.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,360},{88,6}}</string>
                <key>offset</key>
                <string>{26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,130},{88,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicVoid.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,404},{98,6}}</string>
                <key>offset</key>
                <string>{32,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,130},{98,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicVoid.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,286},{106,8}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,128},{106,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicVoid.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{102,6}}</string>
                <key>offset</key>
                <string>{34,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,130},{102,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicVoid.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{96,6}}</string>
                <key>offset</key>
                <string>{32,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,130},{96,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magicVoid.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{106,6}}</string>
                <key>offset</key>
                <string>{35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,130},{106,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missiles-ipadhd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29c404f79faf108aa6ccedf713e56d62:8986fc7b112e40657d9f30ee96795276:5fcb3481c80a25b7aeeda331d270019e$</string>
            <key>textureFileName</key>
            <string>missiles-ipadhd.png</string>
        </dict>
    </dict>
</plist>
