<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ogre.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{234,246}}</string>
                <key>offset</key>
                <string>{18,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,266},{234,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.189.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,238},{236,244}}</string>
                <key>offset</key>
                <string>{39,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,268},{236,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,246}}</string>
                <key>offset</key>
                <string>{16,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,266},{236,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.190.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{220,226}}</string>
                <key>offset</key>
                <string>{18,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,286},{220,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ogre.191.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{238,200}}</string>
                <key>offset</key>
                <string>{20,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,312},{238,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ogreSheet-ipadhd.3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:157f59e71cdea015d5b5b5aee4b0fb94:a4b7a3e6d685d09fe11877e065bf26af:949e069e1d33d5780beda4eb468e706e$</string>
            <key>textureFileName</key>
            <string>ogreSheet-ipadhd.3.png</string>
        </dict>
    </dict>
</plist>
