<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider.170.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,196}}</string>
                <key>offset</key>
                <string>{6,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,185},{158,196}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{158,194}}</string>
                <key>offset</key>
                <string>{-3,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,186},{158,194}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,200},{158,194}}</string>
                <key>offset</key>
                <string>{-8,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,186},{158,194}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{148,192}}</string>
                <key>offset</key>
                <string>{13,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,191},{148,192}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.335.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{136,194}}</string>
                <key>offset</key>
                <string>{-11,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,190},{136,194}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.336.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,396},{164,188}}</string>
                <key>offset</key>
                <string>{-10,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,196},{164,188}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.337.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,788},{176,190}}</string>
                <key>offset</key>
                <string>{-16,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,194},{176,190}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.340.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,586},{178,180}}</string>
                <key>offset</key>
                <string>{-8,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,204},{178,180}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.342.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{166,170}}</string>
                <key>offset</key>
                <string>{-3,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,213},{166,170}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.343.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,768},{170,164}}</string>
                <key>offset</key>
                <string>{-1,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,220},{170,164}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.344.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,182},{176,158}}</string>
                <key>offset</key>
                <string>{4,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,226},{176,158}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.346.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,186},{178,150}}</string>
                <key>offset</key>
                <string>{8,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,234},{178,150}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.347.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{178,144}}</string>
                <key>offset</key>
                <string>{8,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,240},{178,144}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.348.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,366},{178,130}}</string>
                <key>offset</key>
                <string>{7,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,254},{178,130}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.349.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,386},{180,132}}</string>
                <key>offset</key>
                <string>{6,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,252},{180,132}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.350.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{182,132}}</string>
                <key>offset</key>
                <string>{2,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,252},{182,132}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.351.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,198},{186,132}}</string>
                <key>offset</key>
                <string>{-1,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,252},{186,132}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.352.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,594},{190,130}}</string>
                <key>offset</key>
                <string>{-2,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,254},{190,130}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.353.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{192,130}}</string>
                <key>offset</key>
                <string>{-3,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,254},{192,130}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>spider.354.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{196,128}}</string>
                <key>offset</key>
                <string>{-1,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,256},{196,128}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spiderSheet-ipadhd.1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef263e11a6d805d779cb7934c63bc686:fdc080e57c3ee0aaf09dcaa333ff3fe4:ee86260e51286157002e25a6eadd0267$</string>
            <key>textureFileName</key>
            <string>spiderSheet-ipadhd.1.png</string>
        </dict>
    </dict>
</plist>
