<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,137},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>allySelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,110},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>allySelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{90,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,43}}</string>
                <key>sourceSize</key>
                <string>{90,43}</string>
            </dict>
            <key>allySelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,243},{76,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,37}}</string>
                <key>sourceSize</key>
                <string>{76,37}</string>
            </dict>
            <key>allySelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,282},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>allySelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,334},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>allySelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,92},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>allySelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,332},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>allySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,332},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>allySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,92},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>allySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,334},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>allySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,282},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>allySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,243},{76,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,37}}</string>
                <key>sourceSize</key>
                <string>{76,37}</string>
            </dict>
            <key>allySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{90,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,43}}</string>
                <key>sourceSize</key>
                <string>{90,43}</string>
            </dict>
            <key>allySelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,110},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>allySelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,56},{112,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,52}}</string>
                <key>sourceSize</key>
                <string>{112,52}</string>
            </dict>
            <key>characterSelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,110},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{23,13}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{101,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{101,47}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{91,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{91,43}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,204},{77,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{77,37}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{67,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{67,33}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{55,27}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,47},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,15},{43,23}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,159},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,18},{33,17}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,159},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,18},{33,17}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,47},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,15},{43,23}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{55,27}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{67,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{67,33}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,204},{77,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{77,37}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{91,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{91,43}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{101,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{101,47}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>characterSelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>enemySelection.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,125},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>enemySelection.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>enemySelection.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,159},{90,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,43}}</string>
                <key>sourceSize</key>
                <string>{90,43}</string>
            </dict>
            <key>enemySelection.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,237},{76,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,37}}</string>
                <key>sourceSize</key>
                <string>{76,37}</string>
            </dict>
            <key>enemySelection.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>enemySelection.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,207},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>enemySelection.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>enemySelection.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,317},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>enemySelection.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,297},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>enemySelection.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>enemySelection.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,207},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>enemySelection.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>enemySelection.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,237},{76,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,37}}</string>
                <key>sourceSize</key>
                <string>{76,37}</string>
            </dict>
            <key>enemySelection.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,159},{90,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,43}}</string>
                <key>sourceSize</key>
                <string>{90,43}</string>
            </dict>
            <key>enemySelection.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>enemySelection.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{112,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,52}}</string>
                <key>sourceSize</key>
                <string>{112,52}</string>
            </dict>
            <key>movement.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,153},{78,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{78,19}}</string>
                <key>sourceSize</key>
                <string>{82,37}</string>
            </dict>
            <key>movement.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,276},{74,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{74,19}}</string>
                <key>sourceSize</key>
                <string>{82,37}</string>
            </dict>
            <key>movement.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{68,19}}</string>
                <key>sourceSize</key>
                <string>{82,37}</string>
            </dict>
            <key>movement.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,141},{64,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{64,21}}</string>
                <key>sourceSize</key>
                <string>{82,37}</string>
            </dict>
            <key>movement.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,316},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{60,29}}</string>
                <key>sourceSize</key>
                <string>{82,37}</string>
            </dict>
            <key>movement.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,297},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{60,35}}</string>
                <key>sourceSize</key>
                <string>{82,37}</string>
            </dict>
            <key>movement.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,266},{64,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{64,19}}</string>
                <key>sourceSize</key>
                <string>{82,37}</string>
            </dict>
            <key>movement.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{72,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{72,19}}</string>
                <key>sourceSize</key>
                <string>{82,37}</string>
            </dict>
            <key>swordsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,337},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{38,45}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touch-iphone4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cba240353ed8ae9d1e4237b84d293168:862399dbb24867c4fe566aa0e879cb37:fc1c0ddf19f69c9ab4c1a68386da6921$</string>
            <key>textureFileName</key>
            <string>touch-iphone4.png</string>
        </dict>
    </dict>
</plist>
