<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_left_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2025},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>arrow_left_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2025},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>arrow_right_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1599},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>arrow_right_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1599},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1279},{432,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,74}}</string>
                <key>sourceSize</key>
                <string>{432,74}</string>
            </dict>
            <key>bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{1236,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1236,29}}</string>
                <key>sourceSize</key>
                <string>{1236,29}</string>
            </dict>
            <key>bar_fill_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{1232,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1232,25}}</string>
                <key>sourceSize</key>
                <string>{1232,25}</string>
            </dict>
            <key>bar_fill_while_loading_end-image.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1582},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>bar_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{1260,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1260,53}}</string>
                <key>sourceSize</key>
                <string>{1260,53}</string>
            </dict>
            <key>bar_shadow_particles.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1310,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1310,106}}</string>
                <key>sourceSize</key>
                <string>{1310,106}</string>
            </dict>
            <key>bottom_left_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,299},{146,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,145}</string>
            </dict>
            <key>bottom_right_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,151},{146,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,145}</string>
            </dict>
            <key>button_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,895},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>button_left_decoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1063},{73,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,38}}</string>
                <key>sourceSize</key>
                <string>{73,38}</string>
            </dict>
            <key>button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,789},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>button_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,683},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>button_right_decoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1807},{73,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,38}}</string>
                <key>sourceSize</key>
                <string>{73,38}</string>
            </dict>
            <key>button_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1623},{122,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,48}}</string>
                <key>sourceSize</key>
                <string>{122,48}</string>
            </dict>
            <key>checkbox_cheked.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1658},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>checkbox_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1658},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>checkbox_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1658},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>cont_flag_seperator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2041},{300,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,4}}</string>
                <key>sourceSize</key>
                <string>{300,4}</string>
            </dict>
            <key>container_background_fill_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1103},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>container_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{316,336}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{316,336}}</string>
                <key>sourceSize</key>
                <string>{358,336}</string>
            </dict>
            <key>container_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,566},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>container_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{358,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,131}}</string>
                <key>sourceSize</key>
                <string>{358,131}</string>
            </dict>
            <key>container_middle_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1305},{316,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{316,53}}</string>
                <key>sourceSize</key>
                <string>{358,53}</string>
            </dict>
            <key>container_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,447},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>container_top_gradient.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1992},{336,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,47}}</string>
                <key>sourceSize</key>
                <string>{336,47}</string>
            </dict>
            <key>decorated.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1279},{224,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,24}}</string>
                <key>sourceSize</key>
                <string>{224,24}</string>
            </dict>
            <key>header_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1305},{224,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,34}}</string>
                <key>sourceSize</key>
                <string>{224,34}</string>
            </dict>
            <key>header_decoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1305},{292,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,38}}</string>
                <key>sourceSize</key>
                <string>{292,38}</string>
            </dict>
            <key>icon_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2025},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>ih_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1305},{320,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,71}}</string>
                <key>sourceSize</key>
                <string>{320,71}</string>
            </dict>
            <key>inner_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1103},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>input_arrows_grad_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1531},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,25}}</string>
                <key>sourceSize</key>
                <string>{49,25}</string>
            </dict>
            <key>input_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1236},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>left_arrow_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1847},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>left_arrow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1845},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>left_arrow_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1826},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>msg_gradient_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1279},{596,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,67}}</string>
                <key>sourceSize</key>
                <string>{596,67}</string>
            </dict>
            <key>msg_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1001},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>msg_icon_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1713},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>red_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1847},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>right_arrow_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1807},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>right_arrow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2025},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>right_arrow_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2025},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>select_arrow_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2025},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>select_arrow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2025},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>select_arrow_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2025},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>select_arrow_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1240},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>simple.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1264},{304,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,13}}</string>
                <key>sourceSize</key>
                <string>{304,13}</string>
            </dict>
            <key>text_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1627},{64,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,29}}</string>
                <key>sourceSize</key>
                <string>{64,29}</string>
            </dict>
            <key>top_left_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{147,146}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{165,164}</string>
            </dict>
            <key>top_right_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1877},{147,146}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{165,164}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1847},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>yellow_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1658},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleFlag.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c2623ad37a98f063509df4886727783:1/1$</string>
            <key>textureFileName</key>
            <string>battleFlag.png</string>
        </dict>
    </dict>
</plist>
