<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cont_flag_seperator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{300,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,4}}</string>
                <key>sourceSize</key>
                <string>{300,4}</string>
            </dict>
            <key>container_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{316,336}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{316,336}}</string>
                <key>sourceSize</key>
                <string>{358,336}</string>
            </dict>
            <key>container_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,131}}</string>
                <key>sourceSize</key>
                <string>{358,131}</string>
            </dict>
            <key>container_middle_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,135},{316,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{316,53}}</string>
                <key>sourceSize</key>
                <string>{358,53}</string>
            </dict>
            <key>decorated.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{224,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,24}}</string>
                <key>sourceSize</key>
                <string>{224,24}</string>
            </dict>
            <key>inner_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>simple.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{304,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,13}}</string>
                <key>sourceSize</key>
                <string>{304,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleFlag.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c7818c0dd797c9325b00308fca8dbb5:1/1$</string>
            <key>textureFileName</key>
            <string>battleFlag.png</string>
        </dict>
    </dict>
</plist>
