<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueRadius.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,77},{11,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,4}}</string>
                <key>sourceSize</key>
                <string>{11,4}</string>
            </dict>
            <key>blueRadius.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,305},{23,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,8}}</string>
                <key>sourceSize</key>
                <string>{23,8}</string>
            </dict>
            <key>blueRadius.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,325},{25,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,9}}</string>
                <key>sourceSize</key>
                <string>{25,9}</string>
            </dict>
            <key>blueRadius.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,325},{27,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,9}}</string>
                <key>sourceSize</key>
                <string>{27,9}</string>
            </dict>
            <key>blueRadius.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,166},{29,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,10}}</string>
                <key>sourceSize</key>
                <string>{29,10}</string>
            </dict>
            <key>blueRadius.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,133},{31,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,11}}</string>
                <key>sourceSize</key>
                <string>{31,11}</string>
            </dict>
            <key>blueRadius.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,207},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>blueRadius.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,295},{36,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,13}}</string>
                <key>sourceSize</key>
                <string>{36,13}</string>
            </dict>
            <key>blueRadius.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,310},{38,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,13}}</string>
                <key>sourceSize</key>
                <string>{38,13}</string>
            </dict>
            <key>blueRadius.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,197},{41,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,14}}</string>
                <key>sourceSize</key>
                <string>{41,14}</string>
            </dict>
            <key>blueRadius.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,243},{44,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,15}}</string>
                <key>sourceSize</key>
                <string>{44,15}</string>
            </dict>
            <key>blueRadius.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,63},{12,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,5}}</string>
                <key>sourceSize</key>
                <string>{12,5}</string>
            </dict>
            <key>blueRadius.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,251},{46,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,16}}</string>
                <key>sourceSize</key>
                <string>{46,16}</string>
            </dict>
            <key>blueRadius.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,90},{49,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,17}}</string>
                <key>sourceSize</key>
                <string>{49,17}</string>
            </dict>
            <key>blueRadius.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,240},{53,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,18}}</string>
                <key>sourceSize</key>
                <string>{53,18}</string>
            </dict>
            <key>blueRadius.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,299},{55,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,19}}</string>
                <key>sourceSize</key>
                <string>{55,19}</string>
            </dict>
            <key>blueRadius.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,224},{59,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,20}}</string>
                <key>sourceSize</key>
                <string>{59,20}</string>
            </dict>
            <key>blueRadius.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,151},{61,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,21}}</string>
                <key>sourceSize</key>
                <string>{61,21}</string>
            </dict>
            <key>blueRadius.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{66,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,23}}</string>
                <key>sourceSize</key>
                <string>{66,23}</string>
            </dict>
            <key>blueRadius.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,285},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,24}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>blueRadius.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,305},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>blueRadius.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>blueRadius.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,47},{14,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,5}}</string>
                <key>sourceSize</key>
                <string>{14,5}</string>
            </dict>
            <key>blueRadius.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,274},{84,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,29}</string>
            </dict>
            <key>blueRadius.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,241},{89,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,31}}</string>
                <key>sourceSize</key>
                <string>{89,31}</string>
            </dict>
            <key>blueRadius.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,207},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>blueRadius.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{97,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,33}}</string>
                <key>sourceSize</key>
                <string>{97,33}</string>
            </dict>
            <key>blueRadius.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,170},{101,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{101,35}</string>
            </dict>
            <key>blueRadius.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>blueRadius.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{101,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{101,35}</string>
            </dict>
            <key>blueRadius.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,131},{108,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,37}}</string>
                <key>sourceSize</key>
                <string>{108,37}</string>
            </dict>
            <key>blueRadius.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,90},{113,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,39}}</string>
                <key>sourceSize</key>
                <string>{113,39}</string>
            </dict>
            <key>blueRadius.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{118,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,41}}</string>
                <key>sourceSize</key>
                <string>{118,41}</string>
            </dict>
            <key>blueRadius.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,188},{15,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,6}}</string>
                <key>sourceSize</key>
                <string>{15,6}</string>
            </dict>
            <key>blueRadius.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,46},{122,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,42}}</string>
                <key>sourceSize</key>
                <string>{122,42}</string>
            </dict>
            <key>blueRadius.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>blueRadius.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{118,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,41}}</string>
                <key>sourceSize</key>
                <string>{118,41}</string>
            </dict>
            <key>blueRadius.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{123,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,42}}</string>
                <key>sourceSize</key>
                <string>{123,42}</string>
            </dict>
            <key>blueRadius.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,336},{67,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,23}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>blueRadius.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,25}}</string>
                <key>sourceSize</key>
                <string>{72,25}</string>
            </dict>
            <key>blueRadius.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{75,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,26}}</string>
                <key>sourceSize</key>
                <string>{75,26}</string>
            </dict>
            <key>blueRadius.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{79,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,27}}</string>
                <key>sourceSize</key>
                <string>{79,27}</string>
            </dict>
            <key>blueRadius.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,170},{16,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,6}}</string>
                <key>sourceSize</key>
                <string>{16,6}</string>
            </dict>
            <key>blueRadius.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,242},{18,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,7}}</string>
                <key>sourceSize</key>
                <string>{18,7}</string>
            </dict>
            <key>blueRadius.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,330},{19,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,7}}</string>
                <key>sourceSize</key>
                <string>{19,7}</string>
            </dict>
            <key>blueRadius.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,214},{21,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,8}}</string>
                <key>sourceSize</key>
                <string>{21,8}</string>
            </dict>
            <key>blueRadius.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,141},{22,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,8}}</string>
                <key>sourceSize</key>
                <string>{22,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blueRadius.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89064bdaa9d04897b09ff7268a149bd4:1/1$</string>
            <key>textureFileName</key>
            <string>blueRadius.png</string>
        </dict>
    </dict>
</plist>
