<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonBlack.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,688},{180,52}}</string>
                <key>offset</key>
                <string>{-19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,217},{180,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,422},{180,170}}</string>
                <key>offset</key>
                <string>{-18,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,93},{180,170}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,578},{180,122}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,141},{180,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,594},{180,92}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,172},{180,92}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,878},{178,48}}</string>
                <key>offset</key>
                <string>{-17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,222},{178,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,928},{176,144}}</string>
                <key>offset</key>
                <string>{-17,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,218},{176,144}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1052},{174,142}}</string>
                <key>offset</key>
                <string>{-16,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,216},{174,142}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,994},{176,130}}</string>
                <key>offset</key>
                <string>{-17,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,217},{176,130}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{178,116}}</string>
                <key>offset</key>
                <string>{-18,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,221},{178,116}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,582},{180,104}}</string>
                <key>offset</key>
                <string>{-19,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,224},{180,104}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{180,110}}</string>
                <key>offset</key>
                <string>{-20,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,221},{180,110}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,590},{180,78}}</string>
                <key>offset</key>
                <string>{-20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,188},{180,78}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.189.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,268},{180,178}}</string>
                <key>offset</key>
                <string>{-19,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,87},{180,178}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.190.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,420},{180,178}}</string>
                <key>offset</key>
                <string>{-19,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,87},{180,178}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.191.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{174,132}}</string>
                <key>offset</key>
                <string>{-21,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,140},{174,132}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.192.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1326},{162,84}}</string>
                <key>offset</key>
                <string>{-23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,180},{162,84}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.193.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1540},{138,94}}</string>
                <key>offset</key>
                <string>{-19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,195},{138,94}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.194.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1026},{118,160}}</string>
                <key>offset</key>
                <string>{-17,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,184},{118,160}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.195.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{100,150}}</string>
                <key>offset</key>
                <string>{-13,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,176},{100,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.196.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1440},{98,154}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,182},{98,154}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.197.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1210},{172,86}}</string>
                <key>offset</key>
                <string>{-34,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,204},{172,86}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.198.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,44},{184,114}}</string>
                <key>offset</key>
                <string>{-22,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,193},{184,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.199.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1624},{132,98}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,221},{132,98}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,804},{178,52}}</string>
                <key>offset</key>
                <string>{-18,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,217},{178,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.200.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,772},{114,118}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,210},{114,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{134,134}}</string>
                <key>offset</key>
                <string>{-9,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,208},{134,134}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.202.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,892},{132,120}}</string>
                <key>offset</key>
                <string>{-8,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,206},{132,120}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{162,110}}</string>
                <key>offset</key>
                <string>{-20,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,207},{162,110}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.204.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,876},{178,116}}</string>
                <key>offset</key>
                <string>{-24,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,211},{178,116}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.205.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,74},{182,112}}</string>
                <key>offset</key>
                <string>{-22,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,148},{182,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,242},{180,178}}</string>
                <key>offset</key>
                <string>{-19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,86},{180,178}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1034},{172,174}}</string>
                <key>offset</key>
                <string>{-15,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,91},{172,174}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1196},{172,128}}</string>
                <key>offset</key>
                <string>{-18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,137},{172,128}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,708},{178,94}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,171},{178,94}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,228},{182,44}}</string>
                <key>offset</key>
                <string>{-17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,220},{182,44}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,688},{178,140}}</string>
                <key>offset</key>
                <string>{-19,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,219},{178,140}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{178,144}}</string>
                <key>offset</key>
                <string>{-20,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,216},{178,144}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,448},{180,132}}</string>
                <key>offset</key>
                <string>{-20,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,218},{180,132}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{176,124}}</string>
                <key>offset</key>
                <string>{-18,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,219},{176,124}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{182,112}}</string>
                <key>offset</key>
                <string>{-20,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,223},{182,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{180,124}}</string>
                <key>offset</key>
                <string>{-19,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,216},{180,124}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,412},{176,70}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,196},{176,70}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,702},{178,172}}</string>
                <key>offset</key>
                <string>{-17,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,92},{178,172}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,858},{176,174}}</string>
                <key>offset</key>
                <string>{-17,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,91},{176,174}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1126},{174,132}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,134},{174,132}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1260},{168,96}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,172},{168,96}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1272},{166,52}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,218},{166,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1298},{164,140}}</string>
                <key>offset</key>
                <string>{-13,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,219},{164,140}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{166,146}}</string>
                <key>offset</key>
                <string>{-13,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,216},{166,146}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1074},{174,134}}</string>
                <key>offset</key>
                <string>{-16,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,217},{174,134}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,452},{180,124}}</string>
                <key>offset</key>
                <string>{-18,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,219},{180,124}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{182,118}}</string>
                <key>offset</key>
                <string>{-19,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,216},{182,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,742},{178,134}}</string>
                <key>offset</key>
                <string>{-17,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,205},{178,134}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,240},{170,74}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,191},{170,74}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,882},{168,176}}</string>
                <key>offset</key>
                <string>{-13,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,88},{168,176}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.231.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,50},{182,176}}</string>
                <key>offset</key>
                <string>{-19,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,88},{182,176}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.236.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{180,172}}</string>
                <key>offset</key>
                <string>{-19,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,93},{180,172}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.237.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{182,180}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,91},{182,180}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.238.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1326},{158,140}}</string>
                <key>offset</key>
                <string>{-17,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,180},{158,140}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.239.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1412},{158,100}}</string>
                <key>offset</key>
                <string>{-62,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,212},{158,100}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.240.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1464},{150,138}}</string>
                <key>offset</key>
                <string>{-39,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,224},{150,138}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.241.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1358},{164,104}}</string>
                <key>offset</key>
                <string>{-25,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,212},{164,104}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,274},{180,176}}</string>
                <key>offset</key>
                <string>{-19,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,89},{180,176}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,240},{180,178}}</string>
                <key>offset</key>
                <string>{-19,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,91},{180,178}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1300},{158,144}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,148},{158,144}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1514},{108,146}}</string>
                <key>offset</key>
                <string>{-30,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,161},{108,146}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1188},{110,126}}</string>
                <key>offset</key>
                <string>{-22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,167},{110,126}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1636},{94,126}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,159},{94,126}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1604},{68,136}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,145},{68,136}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1468},{48,148}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,142},{48,148}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1208},{62,166}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,136},{62,166}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1460},{70,150}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,138},{70,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1518},{134,130}}</string>
                <key>offset</key>
                <string>{-32,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,160},{134,130}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{202,70}}</string>
                <key>offset</key>
                <string>{-34,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,216},{202,70}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{208,40}}</string>
                <key>offset</key>
                <string>{-37,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,245},{208,40}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{208,52}}</string>
                <key>offset</key>
                <string>{-38,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,240},{208,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.256.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,44}}</string>
                <key>offset</key>
                <string>{-37,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,247},{212,44}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.257.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{210,46}}</string>
                <key>offset</key>
                <string>{-37,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,246},{210,46}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,654},{180,52}}</string>
                <key>offset</key>
                <string>{-18,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,217},{180,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,830},{178,50}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,219},{178,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,600},{180,52}}</string>
                <key>offset</key>
                <string>{-18,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,217},{180,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,214},{182,52}}</string>
                <key>offset</key>
                <string>{-19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,217},{182,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,188},{182,52}}</string>
                <key>offset</key>
                <string>{-19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,217},{182,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,186},{182,52}}</string>
                <key>offset</key>
                <string>{-19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,217},{182,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonBlack.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,160},{182,52}}</string>
                <key>offset</key>
                <string>{-19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,217},{182,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonBlackSheet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a654a0cfcf293e3801420b3a19ac6cdf:1/1$</string>
            <key>textureFileName</key>
            <string>dragonBlackSheet.png</string>
        </dict>
    </dict>
</plist>
