<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonRed.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,336},{180,50}}</string>
                <key>offset</key>
                <string>{-19,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,218},{180,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.178.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,320},{180,156}}</string>
                <key>offset</key>
                <string>{-19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,107},{180,156}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.179.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,520},{180,108}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,156},{180,108}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.180.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,810},{178,74}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,190},{178,74}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.181.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{178,74}}</string>
                <key>offset</key>
                <string>{-17,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,220},{178,74}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.182.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{176,150}}</string>
                <key>offset</key>
                <string>{-17,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,218},{176,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.183.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,942},{174,132}}</string>
                <key>offset</key>
                <string>{-16,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,217},{174,132}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.184.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{176,126}}</string>
                <key>offset</key>
                <string>{-17,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,218},{176,126}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.185.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,696},{178,112}}</string>
                <key>offset</key>
                <string>{-19,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,221},{178,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.186.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,466},{180,108}}</string>
                <key>offset</key>
                <string>{-20,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,224},{180,108}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.187.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{180,90}}</string>
                <key>offset</key>
                <string>{-20,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,220},{180,90}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.188.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,342},{180,122}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,143},{180,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.189.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{180,178}}</string>
                <key>offset</key>
                <string>{-19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,86},{180,178}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.190.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,478},{178,172}}</string>
                <key>offset</key>
                <string>{-19,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,96},{178,172}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.191.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1156},{170,106}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,165},{170,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.192.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1282},{150,70}}</string>
                <key>offset</key>
                <string>{-21,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,196},{150,70}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.193.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1562},{128,132}}</string>
                <key>offset</key>
                <string>{-18,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,193},{128,132}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.194.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1262},{110,152}}</string>
                <key>offset</key>
                <string>{-16,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,182},{110,152}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.195.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1354},{96,146}}</string>
                <key>offset</key>
                <string>{-12,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,174},{96,146}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.196.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1374},{102,142}}</string>
                <key>offset</key>
                <string>{-5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,192},{102,142}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.197.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,56},{192,96}}</string>
                <key>offset</key>
                <string>{-44,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,203},{192,96}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.198.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1478},{138,98}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,199},{138,98}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.199.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1536},{110,106}}</string>
                <key>offset</key>
                <string>{13,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,218},{110,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,518},{178,50}}</string>
                <key>offset</key>
                <string>{-18,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,218},{178,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.200.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1416},{118,142}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,209},{118,142}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.201.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1514},{134,124}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,206},{134,124}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.202.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{142,114}}</string>
                <key>offset</key>
                <string>{-12,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,208},{142,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.203.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1150},{170,110}}</string>
                <key>offset</key>
                <string>{-23,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,207},{170,110}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.204.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,782},{178,92}}</string>
                <key>offset</key>
                <string>{-23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,212},{178,92}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.205.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,50},{182,160}}</string>
                <key>offset</key>
                <string>{-21,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,102},{182,160}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.206.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,576},{168,178}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,86},{168,178}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.207.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1120},{170,160}}</string>
                <key>offset</key>
                <string>{-16,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,105},{170,160}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.208.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1042},{172,112}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,153},{172,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.209.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,496},{180,78}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,186},{180,78}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{182,64}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,220},{182,64}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.211.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,630},{178,150}}</string>
                <key>offset</key>
                <string>{-19,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,218},{178,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.212.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,206},{180,134}}</string>
                <key>offset</key>
                <string>{-21,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,217},{180,134}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{178,130}}</string>
                <key>offset</key>
                <string>{-20,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,218},{178,130}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.214.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,576},{178,118}}</string>
                <key>offset</key>
                <string>{-19,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,221},{178,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.215.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{182,114}}</string>
                <key>offset</key>
                <string>{-20,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,224},{182,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.216.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,746},{178,108}}</string>
                <key>offset</key>
                <string>{-18,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,214},{178,108}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.217.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,886},{176,100}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,165},{176,100}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.218.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,856},{176,176}}</string>
                <key>offset</key>
                <string>{-17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,88},{176,176}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.219.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,876},{176,164}}</string>
                <key>offset</key>
                <string>{-17,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,101},{176,164}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.220.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1034},{172,114}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,153},{172,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{166,80}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,188},{166,80}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.222.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,822},{166,66}}</string>
                <key>offset</key>
                <string>{-14,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,220},{166,66}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.223.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1264},{166,150}}</string>
                <key>offset</key>
                <string>{-13,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,218},{166,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.224.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{168,136}}</string>
                <key>offset</key>
                <string>{-14,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,217},{168,136}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.225.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,988},{174,130}}</string>
                <key>offset</key>
                <string>{-16,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,218},{174,130}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.226.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,376},{180,118}}</string>
                <key>offset</key>
                <string>{-19,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,221},{180,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.227.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,212},{182,126}}</string>
                <key>offset</key>
                <string>{-19,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,211},{182,126}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.228.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,822},{176,118}}</string>
                <key>offset</key>
                <string>{-16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,202},{176,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.229.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1262},{168,106}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,158},{168,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.230.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,652},{168,178}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,86},{168,178}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.231.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,162},{180,156}}</string>
                <key>offset</key>
                <string>{-19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,107},{180,156}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.236.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,340},{180,178}}</string>
                <key>offset</key>
                <string>{-19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,86},{180,178}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.237.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{168,182}}</string>
                <key>offset</key>
                <string>{-25,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,111},{168,182}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.238.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1138},{122,130}}</string>
                <key>offset</key>
                <string>{-32,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,188},{122,130}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.239.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{158,102}}</string>
                <key>offset</key>
                <string>{-59,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,220},{158,102}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.240.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1346},{146,140}}</string>
                <key>offset</key>
                <string>{-31,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,223},{146,140}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.241.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1076},{174,86}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,187},{174,86}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,196},{180,178}}</string>
                <key>offset</key>
                <string>{-19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,86},{180,178}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{174,158}}</string>
                <key>offset</key>
                <string>{-19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,112},{174,158}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,990},{128,146}}</string>
                <key>offset</key>
                <string>{-29,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,158},{128,146}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1452},{108,136}}</string>
                <key>offset</key>
                <string>{-29,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,163},{108,136}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1488},{106,122}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,167},{106,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1452},{82,130}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,153},{82,130}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1450},{62,138}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,145},{62,138}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,596},{48,154}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,140},{48,154}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1164},{64,158}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,134},{64,158}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1370},{78,146}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,146},{78,146}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1230},{152,114}}</string>
                <key>offset</key>
                <string>{-39,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,176},{152,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{208,52}}</string>
                <key>offset</key>
                <string>{-36,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,231},{208,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,48},{206,42}}</string>
                <key>offset</key>
                <string>{-39,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,245},{206,42}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,46}}</string>
                <key>offset</key>
                <string>{-37,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,243},{210,46}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.256.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{210,44}}</string>
                <key>offset</key>
                <string>{-37,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,247},{210,44}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.257.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,46}}</string>
                <key>offset</key>
                <string>{-37,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,246},{210,46}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,416},{178,50}}</string>
                <key>offset</key>
                <string>{-18,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,218},{178,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,154},{180,50}}</string>
                <key>offset</key>
                <string>{-19,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,219},{180,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,234},{180,50}}</string>
                <key>offset</key>
                <string>{-19,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,219},{180,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,154},{182,50}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,219},{182,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,144},{182,50}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,219},{182,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,92},{182,50}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,219},{182,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>dragonRed.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,50},{182,50}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,218},{182,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragonRedSheet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23d9fd864d7134f80223cd6c78d22e71:1/1$</string>
            <key>textureFileName</key>
            <string>dragonRedSheet.png</string>
        </dict>
    </dict>
</plist>
