<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airToAirIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,916},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>airToGroundIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,917},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>buttonDone.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,837},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>buttonTrain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,953},{63,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,35}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>characterPortraitFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,726},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>characterPortraitFrameSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,781},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>characterPortraitsButtonLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,953},{34,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>characterPortraitsButtonRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,953},{34,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>characterPortraitsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,953},{393,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,59}}</string>
                <key>sourceSize</key>
                <string>{393,59}</string>
            </dict>
            <key>closeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,876},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>genericBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{480,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,360}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>groundToAirIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,917},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>groundToGroundIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,917},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>messageStats.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{81,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,25}}</string>
                <key>sourceSize</key>
                <string>{81,25}</string>
            </dict>
            <key>nextLevelCostFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,726},{109,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,31}}</string>
                <key>sourceSize</key>
                <string>{109,31}</string>
            </dict>
            <key>powerIconLargeFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,726},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>powerIconSmallFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,834},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>powerIconsDescription.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,726},{189,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,40}}</string>
                <key>sourceSize</key>
                <string>{189,40}</string>
            </dict>
            <key>selectEditTeamScreenS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,360}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>statsFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{225,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,181}}</string>
                <key>sourceSize</key>
                <string>{225,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>editTeam.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb8d9afcebce1818702fb9d81195577d:1/1$</string>
            <key>textureFileName</key>
            <string>editTeam.png</string>
        </dict>
    </dict>
</plist>
