<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,560},{78,84}}</string>
                <key>offset</key>
                <string>{-6,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,172},{78,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{112,166}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,90},{112,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,166}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,90},{114,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{112,148}}</string>
                <key>offset</key>
                <string>{-4,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,108},{112,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,734},{88,102}}</string>
                <key>offset</key>
                <string>{-5,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,154},{88,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,340},{112,148}}</string>
                <key>offset</key>
                <string>{-4,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,108},{112,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,448},{110,144}}</string>
                <key>offset</key>
                <string>{-4,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,112},{110,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{110,136}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,120},{110,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{104,134}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,122},{104,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{98,126}}</string>
                <key>offset</key>
                <string>{-6,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,130},{98,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,862},{94,124}}</string>
                <key>offset</key>
                <string>{-6,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,132},{94,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,668},{82,94}}</string>
                <key>offset</key>
                <string>{-5,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,162},{82,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,646},{72,86}}</string>
                <key>offset</key>
                <string>{-9,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,170},{72,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,858},{92,110}}</string>
                <key>offset</key>
                <string>{-4,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,146},{92,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,734},{98,122}}</string>
                <key>offset</key>
                <string>{-4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,134},{98,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{100,126}}</string>
                <key>offset</key>
                <string>{-4,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,130},{100,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,562},{104,134}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,122},{104,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,560},{106,136}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,120},{106,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,454},{106,140}}</string>
                <key>offset</key>
                <string>{-5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,116},{106,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,340},{106,148}}</string>
                <key>offset</key>
                <string>{-4,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,108},{106,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{108,152}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,104},{108,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,230},{108,154}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,102},{108,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,228},{110,160}}</string>
                <key>offset</key>
                <string>{-4,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,96},{110,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,116},{110,162}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,94},{110,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{112,162}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,94},{112,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,116},{112,162}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,94},{112,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>explosion.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{112,164}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,92},{112,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9d7168f811c943a4f06c89a0fb41675:1/1$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
