<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>forestElf.242.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{30,114}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,166},{30,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.243.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,374},{48,114}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,166},{48,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.244.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{60,114}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,165},{60,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.245.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,490},{72,106}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,165},{72,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.246.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,228},{80,108}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,168},{80,108}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.247.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,338},{50,106}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,171},{50,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.248.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,560},{64,106}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,170},{64,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.249.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,490},{72,106}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,169},{72,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.250.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{56,108}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,171},{56,108}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.251.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,258},{64,114}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,165},{64,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.252.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,668},{74,96}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,175},{74,96}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.253.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,904},{66,104}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,174},{66,104}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.254.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,458},{80,100}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,161},{80,100}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.255.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,112},{88,96}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,156},{88,96}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.256.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,224},{90,96}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,154},{90,96}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.257.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,456},{90,96}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,153},{90,96}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.258.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,554},{88,94}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,154},{88,94}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.259.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{86,96}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,154},{86,96}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.260.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,460},{86,100}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,157},{86,100}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.261.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,114},{74,108}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,170},{74,108}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.262.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{48,110}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,169},{48,110}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.263.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,118},{62,114}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,165},{62,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.422.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,230},{50,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{50,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.423.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,344},{50,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{50,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.424.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{50,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{50,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.425.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,790},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.426.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,676},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.427.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,790},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.428.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,562},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.429.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,676},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.430.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,562},{52,112}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.431.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,792},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.432.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,678},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.433.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,564},{52,112}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.434.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,792},{52,112}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.435.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,678},{52,112}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.436.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,564},{52,112}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.437.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,792},{52,112}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.438.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,678},{52,112}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.439.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,792},{52,112}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.440.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{52,112}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.441.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,116},{52,112}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.442.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,230},{52,112}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.443.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,346},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.444.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.445.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,116},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.446.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,232},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.447.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,348},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.448.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,564},{52,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.449.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,116},{50,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{50,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.450.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,230},{50,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{50,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.451.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,344},{50,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{50,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.452.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,972},{50,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,168},{50,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.453.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,972},{50,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,168},{50,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.454.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,972},{50,112}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,168},{50,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.455.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{58,112}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{58,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.456.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,118},{64,112}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,168},{64,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.457.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,702},{64,134}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,146},{64,134}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.458.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{62,138}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,142},{62,138}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{62,138}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,142},{62,138}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.460.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,138}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,142},{62,138}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.461.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{58,138}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,142},{58,138}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.462.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,140}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,140},{62,140}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.463.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{68,138}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,142},{68,138}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.464.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,564},{72,136}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,144},{72,136}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{70,136}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,144},{70,136}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.466.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,842},{64,136}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,144},{64,136}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{76,136}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,144},{76,136}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.468.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,838},{74,132}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,148},{74,132}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.469.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,284},{66,122}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,158},{66,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.470.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,678},{56,112}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,168},{56,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.471.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,972},{50,112}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,168},{50,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.472.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,678},{52,112}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.473.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,116},{58,110}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,170},{58,110}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.474.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,906},{64,108}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,172},{64,108}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.475.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,344},{74,110}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,170},{74,110}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.476.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,142},{72,114}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,166},{72,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.477.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{70,114}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,166},{70,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.478.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,234},{64,112}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,168},{64,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.479.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,906},{64,110}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,170},{64,110}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.480.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,564},{68,112}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,168},{68,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.481.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,408},{66,114}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,166},{66,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>forestElf.482.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,374},{58,114}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,166},{58,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forestElfSheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc9e644863c2beaa5e659da5e1004990:1/1$</string>
            <key>textureFileName</key>
            <string>forestElfSheet.png</string>
        </dict>
    </dict>
</plist>
