<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttonHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,701},{245,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,87}}</string>
                <key>sourceSize</key>
                <string>{245,87}</string>
            </dict>
            <key>buttonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,701},{245,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,87}}</string>
                <key>sourceSize</key>
                <string>{245,87}</string>
            </dict>
            <key>buttonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{245,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,87}}</string>
                <key>sourceSize</key>
                <string>{245,87}</string>
            </dict>
            <key>imageFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,701},{368,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,147}}</string>
                <key>sourceSize</key>
                <string>{368,147}</string>
            </dict>
            <key>labelLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,948},{67,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,13}}</string>
                <key>sourceSize</key>
                <string>{67,13}</string>
            </dict>
            <key>labelRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{67,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,13}}</string>
                <key>sourceSize</key>
                <string>{67,13}</string>
            </dict>
            <key>loadingBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,701},{153,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,147}}</string>
                <key>sourceSize</key>
                <string>{153,147}</string>
            </dict>
            <key>separator.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,948},{356,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,39}}</string>
                <key>sourceSize</key>
                <string>{356,39}</string>
            </dict>
            <key>skullTeeth.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,948},{49,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,14}}</string>
                <key>sourceSize</key>
                <string>{49,14}</string>
            </dict>
            <key>titleBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,856},{406,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,90}}</string>
                <key>sourceSize</key>
                <string>{406,90}</string>
            </dict>
            <key>window.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{463,697}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,697}}</string>
                <key>sourceSize</key>
                <string>{463,697}</string>
            </dict>
            <key>windowSkull.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{370,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,136}}</string>
                <key>sourceSize</key>
                <string>{370,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nightmare.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de69be33767c84257ef7de28e40f48a7:1/1$</string>
            <key>textureFileName</key>
            <string>nightmare.png</string>
        </dict>
    </dict>
</plist>
