<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Orge.Idle.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{218,282}}</string>
                <key>offset</key>
                <string>{28,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,196},{218,282}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,490},{212,282}}</string>
                <key>offset</key>
                <string>{27,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,196},{212,282}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,714},{216,282}}</string>
                <key>offset</key>
                <string>{24,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,198},{216,282}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,494},{218,282}}</string>
                <key>offset</key>
                <string>{21,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,198},{218,282}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,272},{220,282}}</string>
                <key>offset</key>
                <string>{18,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,198},{220,282}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,528},{220,282}}</string>
                <key>offset</key>
                <string>{15,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,198},{220,282}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,988},{222,280}}</string>
                <key>offset</key>
                <string>{13,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,200},{222,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,978},{222,280}}</string>
                <key>offset</key>
                <string>{11,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,200},{222,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,760},{224,280}}</string>
                <key>offset</key>
                <string>{9,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,200},{224,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,704},{224,280}}</string>
                <key>offset</key>
                <string>{8,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,200},{224,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{226,280}}</string>
                <key>offset</key>
                <string>{7,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,200},{226,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,542},{216,282}}</string>
                <key>offset</key>
                <string>{29,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,195},{216,282}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,932},{226,280}}</string>
                <key>offset</key>
                <string>{6,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,200},{226,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,760},{226,280}}</string>
                <key>offset</key>
                <string>{5,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,200},{226,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,750},{226,280}}</string>
                <key>offset</key>
                <string>{4,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,200},{226,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,532},{226,280}}</string>
                <key>offset</key>
                <string>{4,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,200},{226,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1198},{226,278}}</string>
                <key>offset</key>
                <string>{3,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,202},{226,278}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,274},{214,282}}</string>
                <key>offset</key>
                <string>{30,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,195},{214,282}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{214,282}}</string>
                <key>offset</key>
                <string>{30,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,195},{214,282}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{212,280}}</string>
                <key>offset</key>
                <string>{31,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,196},{212,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,986},{210,280}}</string>
                <key>offset</key>
                <string>{31,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,196},{210,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,976},{210,280}}</string>
                <key>offset</key>
                <string>{31,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,196},{210,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,930},{210,280}}</string>
                <key>offset</key>
                <string>{30,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,196},{210,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Idle.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1160},{212,280}}</string>
                <key>offset</key>
                <string>{29,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,197},{212,280}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{318,266}}</string>
                <key>offset</key>
                <string>{-30,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,205},{318,266}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{252,268}}</string>
                <key>offset</key>
                <string>{-20,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,207},{252,268}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,704},{244,270}}</string>
                <key>offset</key>
                <string>{-16,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,205},{244,270}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1442},{234,268}}</string>
                <key>offset</key>
                <string>{-12,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,206},{234,268}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1212},{228,270}}</string>
                <key>offset</key>
                <string>{-8,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,207},{228,270}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1658},{226,266}}</string>
                <key>offset</key>
                <string>{-3,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,214},{226,266}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1472},{224,258}}</string>
                <key>offset</key>
                <string>{0,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,222},{224,258}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1678},{224,256}}</string>
                <key>offset</key>
                <string>{-1,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,224},{224,256}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1426},{230,258}}</string>
                <key>offset</key>
                <string>{-7,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,222},{230,258}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1412},{242,260}}</string>
                <key>offset</key>
                <string>{-10,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,220},{242,260}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1188},{252,262}}</string>
                <key>offset</key>
                <string>{-12,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,218},{252,262}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{324,268}}</string>
                <key>offset</key>
                <string>{-34,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,208},{324,268}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1638},{266,264}}</string>
                <key>offset</key>
                <string>{-15,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,216},{266,264}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1142},{278,268}}</string>
                <key>offset</key>
                <string>{-18,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,212},{278,268}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,270},{292,270}}</string>
                <key>offset</key>
                <string>{-21,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,210},{292,270}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{304,270}}</string>
                <key>offset</key>
                <string>{-23,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,207},{304,270}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{316,258}}</string>
                <key>offset</key>
                <string>{-27,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,205},{316,258}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,264}}</string>
                <key>offset</key>
                <string>{-37,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,216},{326,264}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{320,256}}</string>
                <key>offset</key>
                <string>{-37,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,224},{320,256}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{310,258}}</string>
                <key>offset</key>
                <string>{-36,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,222},{310,258}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,262},{298,264}}</string>
                <key>offset</key>
                <string>{-34,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,216},{298,264}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,262},{284,268}}</string>
                <key>offset</key>
                <string>{-31,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,212},{284,268}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1202},{272,268}}</string>
                <key>offset</key>
                <string>{-28,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,211},{272,268}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>Orge.Run.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1374},{262,268}}</string>
                <key>offset</key>
                <string>{-24,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,209},{262,268}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ogre.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daa125206e744e406a44a3c051e514a3$</string>
            <key>textureFileName</key>
            <string>ogre.png</string>
        </dict>
    </dict>
</plist>
