<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orge.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1160},{140,184}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,116},{140,184}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1530},{154,168}}</string>
                <key>offset</key>
                <string>{39,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,136},{154,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,618},{130,278}}</string>
                <key>offset</key>
                <string>{2,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,10},{130,278}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,750},{138,236}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,52},{138,236}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{132,232}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,56},{132,232}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{282,160}}</string>
                <key>offset</key>
                <string>{75,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,149},{282,160}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,374},{244,172}}</string>
                <key>offset</key>
                <string>{46,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,152},{244,172}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,200},{244,172}}</string>
                <key>offset</key>
                <string>{43,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,153},{244,172}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,172},{248,168}}</string>
                <key>offset</key>
                <string>{42,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,152},{248,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{248,168}}</string>
                <key>offset</key>
                <string>{44,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,152},{248,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1544},{158,168}}</string>
                <key>offset</key>
                <string>{35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,137},{158,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1678},{150,168}}</string>
                <key>offset</key>
                <string>{37,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,135},{150,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,696},{180,160}}</string>
                <key>offset</key>
                <string>{45,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,138},{180,160}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,310},{178,162}}</string>
                <key>offset</key>
                <string>{50,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,136},{178,162}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1364},{138,178}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,133},{138,178}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1320},{150,170}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,135},{150,170}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1472},{146,166}}</string>
                <key>offset</key>
                <string>{34,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,136},{146,166}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1868},{146,166}}</string>
                <key>offset</key>
                <string>{34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,136},{146,166}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1824},{146,166}}</string>
                <key>offset</key>
                <string>{34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,136},{146,166}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1700},{146,166}}</string>
                <key>offset</key>
                <string>{34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,136},{146,166}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1848},{148,166}}</string>
                <key>offset</key>
                <string>{36,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,137},{148,166}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{272,168}}</string>
                <key>offset</key>
                <string>{-42,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,133},{272,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1160},{182,164}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,134},{182,164}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,422},{186,162}}</string>
                <key>offset</key>
                <string>{42,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,136},{186,162}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,532},{180,162}}</string>
                <key>offset</key>
                <string>{37,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,136},{180,162}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,474},{174,164}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,134},{174,164}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1326},{176,162}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,136},{176,162}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1714},{162,166}}</string>
                <key>offset</key>
                <string>{44,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,132},{162,166}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1160},{138,202}}</string>
                <key>offset</key>
                <string>{40,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,154},{138,202}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,870},{186,154}}</string>
                <key>offset</key>
                <string>{65,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,207},{186,154}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,548},{196,146}}</string>
                <key>offset</key>
                <string>{62,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,180},{196,146}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,200},{194,142}}</string>
                <key>offset</key>
                <string>{69,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,198},{194,142}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,168}}</string>
                <key>offset</key>
                <string>{-54,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,134},{310,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1066},{198,92}}</string>
                <key>offset</key>
                <string>{70,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,229},{198,92}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,438},{196,92}}</string>
                <key>offset</key>
                <string>{71,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,231},{196,92}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,344},{196,92}}</string>
                <key>offset</key>
                <string>{71,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,231},{196,92}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,96},{196,92}}</string>
                <key>offset</key>
                <string>{71,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,231},{196,92}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{196,92}}</string>
                <key>offset</key>
                <string>{71,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,231},{196,92}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1066},{196,92}}</string>
                <key>offset</key>
                <string>{71,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,231},{196,92}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1676},{146,168}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,135},{146,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1830},{144,164}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,135},{144,164}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1830},{140,162}}</string>
                <key>offset</key>
                <string>{37,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,136},{140,162}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1156},{140,162}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,136},{140,162}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{302,168}}</string>
                <key>offset</key>
                <string>{-52,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,134},{302,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,858},{144,166}}</string>
                <key>offset</key>
                <string>{31,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,137},{144,166}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,696},{150,172}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,138},{150,172}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1004},{150,174}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,139},{150,174}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{150,178}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,138},{150,178}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1004},{152,180}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,138},{152,180}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,696},{192,172}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,140},{192,172}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{196,182}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,147},{196,182}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1346},{180,182}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,147},{180,182}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1158},{160,176}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,142},{160,176}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1676},{152,166}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,141},{152,166}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,890},{174,204}}</string>
                <key>offset</key>
                <string>{55,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,94},{174,204}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1620},{148,160}}</string>
                <key>offset</key>
                <string>{19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,152},{148,160}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1882},{152,160}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,150},{152,160}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1504},{170,166}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,145},{170,166}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{192,172}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,140},{192,172}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,190},{118,192}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,107},{118,192}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{126,186}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,113},{126,186}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>orge.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,870},{132,182}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,117},{132,182}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orgeSheet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccf41223d3b74768918a01cf66e7b03b:1/1$</string>
            <key>textureFileName</key>
            <string>orgeSheet.png</string>
        </dict>
    </dict>
</plist>
