<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redGargoyle.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,628},{58,206}}</string>
                <key>offset</key>
                <string>{-31,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,76},{58,206}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{58,202}}</string>
                <key>offset</key>
                <string>{-30,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,79},{58,202}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{70,204}}</string>
                <key>offset</key>
                <string>{-35,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,78},{70,204}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,596},{98,168}}</string>
                <key>offset</key>
                <string>{-48,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,110},{98,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,210},{76,204}}</string>
                <key>offset</key>
                <string>{-39,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,78},{76,204}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,738},{78,106}}</string>
                <key>offset</key>
                <string>{-47,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,158},{78,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,238},{62,112}}</string>
                <key>offset</key>
                <string>{-50,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,139},{62,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,376},{100,86}}</string>
                <key>offset</key>
                <string>{-33,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,145},{100,86}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{168,136}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,138},{168,136}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{154,90}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,228},{154,90}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,116},{66,106}}</string>
                <key>offset</key>
                <string>{-16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,189},{66,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,512},{66,114}}</string>
                <key>offset</key>
                <string>{-32,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,176},{66,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,478},{84,84}}</string>
                <key>offset</key>
                <string>{-42,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,167},{84,84}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,412},{88,182}}</string>
                <key>offset</key>
                <string>{-25,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,69},{88,182}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,822},{68,192}}</string>
                <key>offset</key>
                <string>{-30,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,65},{68,192}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,822},{94,182}}</string>
                <key>offset</key>
                <string>{-47,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,99},{94,182}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,132},{96,124}}</string>
                <key>offset</key>
                <string>{-42,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,146},{96,124}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,764},{56,124}}</string>
                <key>offset</key>
                <string>{-21,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,174},{56,124}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,530},{52,112}}</string>
                <key>offset</key>
                <string>{-26,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,175},{52,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,596},{58,166}}</string>
                <key>offset</key>
                <string>{-30,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,115},{58,166}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,208}}</string>
                <key>offset</key>
                <string>{-31,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,74},{60,208}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,416},{86,202}}</string>
                <key>offset</key>
                <string>{-36,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,80},{86,202}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,818},{112,162}}</string>
                <key>offset</key>
                <string>{-38,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,119},{112,162}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,644},{94,104}}</string>
                <key>offset</key>
                <string>{-28,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,173},{94,104}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,300},{76,118}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,172},{76,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,300},{74,118}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,170},{74,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,750},{90,106}}</string>
                <key>offset</key>
                <string>{-44,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,173},{90,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,850},{88,106}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,173},{88,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,822},{88,164}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,118},{88,164}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{94,206}}</string>
                <key>offset</key>
                <string>{-20,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,77},{94,206}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,620},{108,200}}</string>
                <key>offset</key>
                <string>{-30,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,83},{108,200}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,822},{120,162}}</string>
                <key>offset</key>
                <string>{-38,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,120},{120,162}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,760},{88,106}}</string>
                <key>offset</key>
                <string>{-22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,173},{88,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,532},{62,120}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,171},{62,120}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,258},{58,116}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,172},{58,116}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,424},{62,104}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,174},{62,104}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,380},{58,168}}</string>
                <key>offset</key>
                <string>{-30,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,113},{58,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,766},{54,124}}</string>
                <key>offset</key>
                <string>{-25,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,172},{54,124}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,420},{58,206}}</string>
                <key>offset</key>
                <string>{-30,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,76},{58,206}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,596},{110,166}}</string>
                <key>offset</key>
                <string>{-43,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,112},{110,166}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,378},{88,138}}</string>
                <key>offset</key>
                <string>{-21,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,193},{88,138}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{98,118}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,186},{98,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,208},{82,202}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,74},{82,202}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{120,186}}</string>
                <key>offset</key>
                <string>{-41,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,82},{120,186}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,376},{64,134}}</string>
                <key>offset</key>
                <string>{-18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,174},{64,134}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,258},{58,116}}</string>
                <key>offset</key>
                <string>{-28,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,175},{58,116}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{58,206}}</string>
                <key>offset</key>
                <string>{-30,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,76},{58,206}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{64,206}}</string>
                <key>offset</key>
                <string>{-15,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,76},{64,206}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,376},{48,118}}</string>
                <key>offset</key>
                <string>{-23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,172},{48,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,592},{106,132}}</string>
                <key>offset</key>
                <string>{-24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,140},{106,132}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,134},{106,128}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,155},{106,128}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{130,106}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,167},{130,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,376},{132,94}}</string>
                <key>offset</key>
                <string>{-56,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,158},{132,94}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,564},{106,100}}</string>
                <key>offset</key>
                <string>{-57,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,125},{106,100}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,596},{96,140}}</string>
                <key>offset</key>
                <string>{-29,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,83},{96,140}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,158},{68,140}}</string>
                <key>offset</key>
                <string>{-28,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,77},{68,140}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,764},{52,126}}</string>
                <key>offset</key>
                <string>{-13,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,86},{52,126}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{84,128}}</string>
                <key>offset</key>
                <string>{-6,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,88},{84,128}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,380},{96,150}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,87},{96,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,318},{62,104}}</string>
                <key>offset</key>
                <string>{-31,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,174},{62,104}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,518},{72,112}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,161},{72,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,158},{140,76}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,218},{140,76}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,988},{160,34}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,250},{160,34}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,172},{160,42}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,238},{160,42}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.74.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,334},{160,44}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,254},{160,44}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.75.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,550},{160,44}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,255},{160,44}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.76.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,172},{160,46}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,255},{160,46}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.77.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,172},{160,46}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,255},{160,46}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.78.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{90,172}}</string>
                <key>offset</key>
                <string>{-25,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,85},{90,172}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.79.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,822},{92,168}}</string>
                <key>offset</key>
                <string>{-26,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,88},{92,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,596},{58,144}}</string>
                <key>offset</key>
                <string>{-30,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,136},{58,144}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.80.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,380},{92,150}}</string>
                <key>offset</key>
                <string>{-25,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,105},{92,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.81.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,224},{92,64}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,188},{92,64}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.82.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{92,112}}</string>
                <key>offset</key>
                <string>{-25,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,187},{92,112}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.83.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,666},{92,106}}</string>
                <key>offset</key>
                <string>{-25,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,186},{92,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.84.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,850},{92,90}}</string>
                <key>offset</key>
                <string>{-26,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,188},{92,90}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.85.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,122},{90,114}}</string>
                <key>offset</key>
                <string>{-25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,141},{90,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.86.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,206},{94,172}}</string>
                <key>offset</key>
                <string>{-26,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,84},{94,172}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>redGargoyle.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{58,206}}</string>
                <key>offset</key>
                <string>{-31,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,76},{58,206}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redGargoyleSheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86955f998f36105848a1a58eb9315146:1/1$</string>
            <key>textureFileName</key>
            <string>redGargoyleSheet.png</string>
        </dict>
    </dict>
</plist>
