<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scowerer.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,52},{76,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,185},{76,58}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,174},{70,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,186},{70,56}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.100.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,320},{68,52}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,190},{68,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.101.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,214},{70,52}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,190},{70,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.102.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,108},{76,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,189},{76,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,54}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,189},{80,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.104.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,62},{76,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,189},{76,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.105.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,52}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,191},{80,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.106.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,270},{70,50}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,193},{70,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.107.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,374},{66,50}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,194},{66,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{64,52}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,193},{64,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.109.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,432},{64,52}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,192},{64,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{76,58}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,185},{76,58}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.110.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,486},{64,50}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,193},{64,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.111.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,376},{66,54}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,190},{66,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.112.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,284},{68,54}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,189},{68,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.113.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,426},{64,56}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,188},{64,56}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.114.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,224},{70,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,192},{70,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.115.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,268},{70,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,196},{70,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.116.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,412},{68,44}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,199},{68,44}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.117.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,548},{62,52}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,191},{62,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.118.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,458},{64,52}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,191},{64,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.119.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,566},{62,48}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,194},{62,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.120.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,484},{64,48}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,195},{64,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.121.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,484},{64,50}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,192},{64,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.122.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,512},{62,52}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,190},{62,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.123.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,388},{68,48}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,195},{68,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.124.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,390},{66,48}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,195},{66,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{64,48}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,194},{64,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.126.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,552},{62,46}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,195},{62,46}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.127.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,166},{64,46}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,195},{64,46}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.128.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,168},{72,48}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,194},{72,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.129.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,118},{74,48}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,195},{74,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.130.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,112},{74,50}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,194},{74,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.131.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,122},{72,50}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,195},{72,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.132.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,114},{72,50}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,195},{72,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{68,50}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,195},{68,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.134.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,340},{68,48}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,197},{68,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.158.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,494},{62,52}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,191},{62,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.159.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,512},{62,50}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,192},{62,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.160.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,324},{68,50}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,193},{68,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.161.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,432},{64,50}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,193},{64,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.162.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,440},{64,52}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,191},{64,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.163.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{62,52}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,191},{62,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.164.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,538},{62,52}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,191},{62,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.165.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,358},{68,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,191},{68,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.166.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,536},{62,52}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,191},{62,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.167.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,322},{68,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,192},{68,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.168.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,232},{70,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,191},{70,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,164},{72,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,186},{72,56}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,302},{68,54}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,187},{68,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,278},{68,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,187},{68,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,62},{74,58}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,184},{74,58}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{78,58}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,186},{78,58}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{74,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,186},{74,58}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,232},{68,56}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,186},{68,56}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.81.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,374},{66,56}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,186},{66,56}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.82.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{68,54}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,187},{68,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.83.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,334},{68,52}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,190},{68,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{70,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,192},{70,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.85.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,222},{70,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,192},{70,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.86.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,274},{70,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,194},{70,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.87.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,218},{70,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,192},{70,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.88.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,164},{72,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,194},{72,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.89.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{76,48}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,195},{76,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,166},{70,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,186},{70,56}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.90.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{78,50}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,193},{78,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.91.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{78,48}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,195},{78,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.92.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,56},{78,50}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,194},{78,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.93.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{76,50}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,194},{76,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.94.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,62},{72,50}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,194},{72,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.95.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{72,50}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,194},{72,50}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{66,52}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,193},{66,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.97.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,494},{62,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,189},{62,56}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.98.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,534},{62,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,189},{62,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>scowerer.99.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,438},{64,54}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,188},{64,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scowererSheet.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08b4ef40f2fa8241da9938832548452c:1/1$</string>
            <key>textureFileName</key>
            <string>scowererSheet.png</string>
        </dict>
    </dict>
</plist>
