<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,460},{74,122}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,139},{74,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,170},{78,122}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,139},{78,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,432},{76,122}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,139},{76,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.112.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,380},{78,122}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,140},{78,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.113.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,414},{106,118}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,150},{106,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.114.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,246},{128,106}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,155},{128,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.115.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,334},{110,98}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,166},{110,98}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{120,86}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,179},{120,86}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.117.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,314},{126,64}}</string>
                <key>offset</key>
                <string>{17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,203},{126,64}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.118.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,244},{128,68}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,200},{128,68}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.119.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,188},{132,56}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,210},{132,56}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,358},{76,122}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,139},{76,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.120.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{140,62}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,205},{140,62}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.121.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{138,66}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,202},{138,66}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.122.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,66},{138,64}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,203},{138,64}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.123.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,128},{138,62}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,205},{138,62}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.124.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{136,60}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,207},{136,60}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.125.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,64},{136,56}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,211},{136,56}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.126.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,132},{136,54}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,213},{136,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.127.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,122},{136,54}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,213},{136,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.128.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,114},{136,54}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,213},{136,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,328},{76,122}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,139},{76,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,436},{74,122}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,139},{74,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,256},{76,122}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,139},{76,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,354},{76,122}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,139},{76,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,536},{76,120}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,141},{76,120}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,280},{76,122}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,139},{76,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,192},{128,122}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,139},{128,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,120},{140,122}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,139},{140,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{108,118}}</string>
                <key>offset</key>
                <string>{23,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,143},{108,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,486},{104,118}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,143},{104,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,316},{118,122}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,139},{118,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,512},{76,120}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,141},{76,120}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{118,122}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,139},{118,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,522},{100,118}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,143},{100,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,446},{102,118}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,143},{102,118}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,156},{134,122}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,139},{134,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{148,122}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,139},{148,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.65.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,250},{76,122}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,139},{76,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.66.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,588},{72,116}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,144},{72,116}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.67.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,70},{84,136}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,124},{84,136}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{108,140}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,120},{108,140}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.69.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{142,124}}</string>
                <key>offset</key>
                <string>{43,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,137},{142,124}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,510},{76,120}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,141},{76,120}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.70.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{150,116}}</string>
                <key>offset</key>
                <string>{48,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,144},{150,116}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,114}}</string>
                <key>offset</key>
                <string>{51,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,146},{152,114}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.72.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{136,110}}</string>
                <key>offset</key>
                <string>{43,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,150},{136,110}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.73.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,590},{106,110}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,151},{106,110}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.74.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,436},{76,120}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,141},{76,120}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,406},{78,120}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,141},{78,120}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.86.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,550},{116,104}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,156},{116,104}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.87.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,614},{106,108}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,152},{106,108}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.88.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,514},{80,116}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,145},{80,116}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.89.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,178},{76,122}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,139},{76,122}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>spider.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,334},{78,120}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,141},{78,120}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spiderSheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5ff7663432506a0e7d13cf406ea639f:1/1$</string>
            <key>textureFileName</key>
            <string>spiderSheet.png</string>
        </dict>
    </dict>
</plist>
