<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>troll.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,168},{88,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,213},{88,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,114},{88,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,213},{88,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,406},{64,56}}</string>
                <key>offset</key>
                <string>{-22,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,211},{64,56}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,224},{86,54}}</string>
                <key>offset</key>
                <string>{11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,213},{86,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{88,52}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,215},{88,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.15.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,472},{70,54}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,213},{70,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.16.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,504},{60,54}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,213},{60,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.17.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,280},{82,54}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,213},{82,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.18.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,224},{84,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,213},{84,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.19.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,114},{88,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,213},{88,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{88,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,213},{88,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.20.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,112},{88,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,213},{88,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.21.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,374},{68,70}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,197},{68,70}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.22.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,412},{70,62}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,205},{70,62}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.23.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,332},{50,74}}</string>
                <key>offset</key>
                <string>{-16,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,210},{50,74}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.24.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,112},{88,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,213},{88,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.25.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,170},{88,52}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,215},{88,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.26.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,170},{88,52}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,215},{88,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{88,52}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,215},{88,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.28.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,222},{88,52}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,215},{88,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.29.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,58},{88,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,213},{88,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{56,80}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,187},{56,80}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.30.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,154},{86,58}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,209},{86,58}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{70,70}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,207},{70,70}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.32.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,310},{54,72}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,209},{54,72}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{56,68}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,215},{56,68}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.34.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,414},{70,56}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,211},{70,56}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.35.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,528},{66,58}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,209},{66,58}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.36.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,446},{54,62}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,209},{54,62}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.37.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,78},{74,48}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,223},{74,48}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.38.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,280},{74,52}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,233},{74,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.39.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{74,44}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,231},{74,44}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,54}}</string>
                <key>offset</key>
                <string>{14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,213},{94,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,336},{74,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,238},{74,38}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.41.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,366},{74,38}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,238},{74,38}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.42.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,334},{74,38}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,238},{74,38}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.43.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,376},{74,36}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,239},{74,36}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.44.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,374},{74,36}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,239},{74,36}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.45.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,336},{74,36}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,239},{74,36}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.46.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,58},{88,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,213},{88,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.47.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{90,52}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,215},{90,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.48.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{90,52}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,215},{90,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.49.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{90,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,213},{90,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{86,54}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,213},{86,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.50.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{90,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,213},{90,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{88,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,213},{88,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.52.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,224},{86,54}}</string>
                <key>offset</key>
                <string>{11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,213},{86,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.53.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,168},{88,52}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,215},{88,52}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.54.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,56},{88,54}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,213},{88,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.55.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,476},{66,58}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,203},{66,58}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.56.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,464},{62,62}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,205},{62,62}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.57.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,502},{60,60}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,211},{60,60}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.58.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,466},{60,60}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,213},{60,60}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.59.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,444},{66,58}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,202},{66,58}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,280},{74,54}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,213},{74,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.60.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,384},{66,60}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,205},{66,60}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{62,64}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,211},{62,64}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.62.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,406},{64,58}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,212},{64,58}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.63.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,242},{66,58}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,203},{66,58}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{70,54}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,213},{70,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,276},{82,54}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,213},{82,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>troll.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,56},{88,54}}</string>
                <key>offset</key>
                <string>{11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,213},{88,54}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trollSheet.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08507f1ec8fedb4cdb93b64c91fe299f:1/1$</string>
            <key>textureFileName</key>
            <string>trollSheet.png</string>
        </dict>
    </dict>
</plist>
