<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,140},{173,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,64}}</string>
                <key>sourceSize</key>
                <string>{173,64}</string>
            </dict>
            <key>bar 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,298},{289,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,44}}</string>
                <key>sourceSize</key>
                <string>{289,44}</string>
            </dict>
            <key>bar 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{776,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{776,145}}</string>
                <key>sourceSize</key>
                <string>{776,145}</string>
            </dict>
            <key>box negetive.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,149},{92,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,104}}</string>
                <key>sourceSize</key>
                <string>{92,104}</string>
            </dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,477},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>check2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,477},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,503},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,398},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,206},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>danger.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,206},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>decor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{693,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,153}}</string>
                <key>sourceSize</key>
                <string>{693,153}</string>
            </dict>
            <key>dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,149},{49,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{49,67}</string>
            </dict>
            <key>frame 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,149},{319,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,384}}</string>
                <key>sourceSize</key>
                <string>{319,384}</string>
            </dict>
            <key>frame 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,608},{346,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,563}}</string>
                <key>sourceSize</key>
                <string>{346,563}</string>
            </dict>
            <key>green button blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,218},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>grey bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,107},{192,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,31}}</string>
                <key>sourceSize</key>
                <string>{192,31}</string>
            </dict>
            <key>heart sharp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{122,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,38}}</string>
                <key>sourceSize</key>
                <string>{122,38}</string>
            </dict>
            <key>horizontal bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,993},{289,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,18}}</string>
                <key>sourceSize</key>
                <string>{289,18}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,149},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,293},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>plus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,149},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>progressive.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,2},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>purple bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,104},{192,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,31}}</string>
                <key>sourceSize</key>
                <string>{192,31}</string>
            </dict>
            <key>sl 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,344},{281,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,65}}</string>
                <key>sourceSize</key>
                <string>{281,65}</string>
            </dict>
            <key>sl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,956},{281,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,64}}</string>
                <key>sourceSize</key>
                <string>{281,64}</string>
            </dict>
            <key>sl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,293},{281,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,64}}</string>
                <key>sourceSize</key>
                <string>{281,64}</string>
            </dict>
            <key>sl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,411},{281,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,64}}</string>
                <key>sourceSize</key>
                <string>{281,64}</string>
            </dict>
            <key>vertical bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{18,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,289}}</string>
                <key>sourceSize</key>
                <string>{18,289}</string>
            </dict>
            <key>wood blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{205,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,103}}</string>
                <key>sourceSize</key>
                <string>{205,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Windows.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:617f48dc0f2efa9be5c037eabbba315f:1/1$</string>
            <key>textureFileName</key>
            <string>Windows.png</string>
        </dict>
    </dict>
</plist>
